{% extends "_layout.njk" %}

{% set primaryNavId = "schools" %}

{% set title = (schoolCount | numeral("0,0")) + " results found for ‘" + searchTerm + "’" %}
{% set caption = "Add school" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# {% set headingHtml %} #}
        {% include "_includes/page-heading.njk" %}
      {# {% endset %} #}

      {% if schoolCount > 15 %}
        <p class="govuk-body">
          Showing the first 15 results below. <a class="govuk-link" href="{{ actions.back }}">Try narrowing down your search</a> if the school you’re looking for is not listed.
        </p>
      {% else %}
        <p class="govuk-body">
          <a class="govuk-link" href="{{ actions.back }}">Try changing your search</a> if the school you’re looking for is not listed.
        </p>
      {% endif %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukRadios({
          idPrefix: "school",
          name: "school",
          fieldset: {
            legend: {
              text: "School",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Results for ‘" + searchTerm + "’"
          } if 1 == 0,
          errorMessage: errors | getErrorMessage("school"),
          items: schoolItems
        }) }}

        {# {% if schoolCount > 15 %}
          {% set insetMessage  %}
            {{ schoolCount | numeral("0,0") }} more schools match your search for ‘{{ searchTerm }}’. Try narrowing down your search if the school you’re looking for is not listed.
          {% endset %}
          {{ govukInsetText({
            text: insetMessage
          }) }}
        {% endif %} #}

        {# <p class="govuk-body govuk-!-margin-bottom-7">
          <a class="govuk-link" href="{{ actions.back }}">The school is not listed - search again</a>
        </p> #}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
