
{% extends "layout.html" %}
{% set title = 'Iteration – 24 August' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="heading-xlarge">{{ title }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>The <a href="/history/iteration-aug-23">previous iteration</a> which placed a new emphasis on ‘About your organisation’ on the homepage tested well.</p>
      <p>In this design we:</p>
      <ul class="list list-bullet">
        <li>made the steps more explicit</li>
        <li>added more detail about what the user needs to do</li>
        <li>included a prompt about copying courses</li>
      </ul>
    </div>
  </div>

  {% set contents = [
    { text: 'Organisation', id: 'organisation' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('Organisation', 'organisation', '/public/images/history/organisation-iteration-aug-24/thumbnails/01-organisation.png', '/public/images/history/organisation-iteration-aug-24/01-organisation.png', '') }}

</main>
{% endblock %}
