{% extends "_layout.njk" %}

{% set primaryNavId = "accreditedBodies" %}

{% set title = "Check your answers" %}
{% set caption = "Add accredited provider" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% set permissionsHtml %}
          {% if accreditedBody.permissions.length %}
            <ul class="govuk-list">
              {% for permission in accreditedBody.permissions %}
                <li>
                  {{ permission | getPermissionLabel }}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p class="govuk-body">None - view only</p>
          {% endif %}
        {% endset %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Accredited provider"
              },
              value: {
                text: accreditedProvider.name
              },
              actions: {
                items: [
                  {
                    href: actions.change + "?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "accredited provider"
                  }
                ]
              }
            },
            {
              key: {
                text: "Description"
              },
              value: {
                text: (accreditedProvider.description | nl2br | markdownToHtml | safe) if accreditedProvider.description.length else "Not entered",
                classes: "govuk-hint" if not accreditedProvider.description.length
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/description?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "description"
                  }
                ]
              }
            },
            {
              key: {
                text: "Permissions"
              },
              value: {
                html: permissionsHtml
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/permissions?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "permissions"
                  }
                ]
              }
            } if 1 == 0
          ]
        }) }}

        {{ govukWarningText({
          text: "All users at " + accreditedProvider.name + " will be sent an email to let them know they've been added.",
          iconFallbackText: "Warning"
        }) }}

        {{ govukButton({
          text: "Add accredited provider"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
