<h2 class="govuk-heading-l">Access and UCAS contacts</h2>
<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
    <a href="/invite-user">Request access for someone</a>
  </h2>
  <p>Request a DfE Sign-in account for others who manage your courses.</p>
</div>
<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m">
    <a href="/ucas/apply-preferences">UCAS Apply settings</a>
  </h2>
  <p>These are settings that relate to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>what UCAS sends to successful applicants</li>
    <li>what happens when you receive an application</li>
    <li>who UCAS can contact</li>
  </ul>
</div>
