.app-table {
  @include govuk-media-query($until: tablet) {
    // offset-x | offset-y | blur-radius | spread-radius | color
    box-shadow: 0 0 0 1px govuk-colour("mid-grey");
    display: block;
    margin: 0 auto;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
  }
}

.app-table--vertical-align-middle .govuk-table__cell,
.app-table--vertical-align-middle .govuk-table__header {
  vertical-align: middle;
}

.app-govuk-table__cell--actions {
  white-space: nowrap;

  .govuk-link + .govuk-link {
    display: inline-block;
    margin-left: govuk-spacing(3);
  }
}
