{% extends "_layout.njk" %}

{% set primaryNavId = "studySites" %}

{% set title = "Study sites" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {{ govukButton({
        text: "Add study site",
        href: actions.new
      }) }}

      {% if studySites.length %}
        <table class="govuk-table app-table--vertical-align-middle">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header">Study site name</th>
              <th class="govuk-table__header">
                <abbr class="app-!-text-decoration-underline-dotted" title="Unique reference number">
                  URN
                </abbr>
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

            {% for studySite in studySites %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell app-table--courses__course-name">
                  <a class="govuk-link govuk-heading-s govuk-!-margin-bottom-0" href="{{ actions.view }}/{{ studySite.id }}">
                    {{ studySite.name }}
                  </a>
                </td>
                <td class="govuk-table__cell {{- ' govuk-hint' if not studySite.urn }}">
                  {{ studySite.urn if studySite.urn else "Not entered" }}
                </td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      {% else %}
        <p class="govuk-body">There are no study sites for {{ organisation.name if organisation.name else "your organisation" }}.</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
