{% extends "layout.html" %}
{% set title = 'Pick the courses that use this template' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="/template/fields" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        <span class="heading-secondary">Template: {{ data['template-name'] }}</span>
        {{ title }}
      </h1>
    </div>
  </div>

  <form action="/template/apply" method="post">
  {% for accrediting in data['accreditors'] %}
    {% if data['accreditors'][0]['name'] != data['training-provider-name'] %}
      <h3 class="heading-medium">
        <span style="color: #777; font-weight: normal">Accrediting provider</span><br />
        {{ accrediting.name }}
      </h3>
    {% endif %}

    <div class="body-text">
      <table class="ucas-info-table">
        <thead>
          <tr>
            <th style="width: 30px"><input type="checkbox" value="{{ accrediting.slug }}-all" /></th>
            <th class="code-col" style="width: 40px">Code</th>
            <th class="subject-col" style="width: 30%">Subject</th>
            <th class="type-col">Type</th>
            <th class="template-col" style="width: 30%">Template</th>
          </tr>
        </thead>
        <tbody>
          {% set subjectName = '' %}
          {% for course in data['ucasCourses'] %}
            {% if course.accrediting == accrediting.name %}
              <tr>
                <td>
                  {{ data[course.progammeCode + '-template'] }}
                  {% set checkboxName = course.programmeCode + '-template' %}
                  <input type="checkbox" name="{{ checkboxName }}" value="yes" {{ checked(checkboxName, 'yes') }} />
                </td>
                <td>{{ course.programmeCode }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.options }}</td>
                <td>
                  {% if data[checkboxName] == 'yes' %}
                    {{ data['template-name'] }}
                  {% endif %}
                </td>
              </tr>
              {% set subjectName = course.name %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}

  <div class="form-group" style="margin-top: 60px">
    <input type="submit" class="button" value="Save changes" />
  </div>

  <a href="#">Cancel changes</a>
  </form>

</main>

{% endblock %}
