{% extends "layout.html" %}
{% set title = 'Course length and fees' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="/template/fields" class="link-back">Back</a>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">Template: {{ data['template-name'] }}</span>
    {{ title }}
  </h1>

  <form action="/template/fields" method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h3 class="heading-large remove-top-margin">Course length</h3>
        {% set fields = [
            {
              name: '1 year'
            },
            {
              name: 'Up to 2 years'
            },
            {
              name: 'Other'
            }
          ]
        %}

        {{ macros.radioGroup('template-duration', fields) }}
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h3 class="heading-large remove-top-margin">Course fees</h3>
        {{ macros.textbox('template-fee', 'Fee for UK and EU students in £', null, 'form-control-xsmall') }}
        {{ macros.textbox('template-fee-international', 'Fee for international students in £ (optional)', null, 'form-control-xsmall') }}
      </div>
    </div>

    <div class="add-top-margin add-double-bottom-margin">
      <input type="submit" class="button" value="Save" />
    </div>

    <a href="/template/fields">Cancel changes</a>
  </form>
</main>

{% endblock %}
