{% extends "_layout.njk" %}

{% set primaryNavId = "accreditedProviders" %}

{% if hasCourses %}
  {% set title = "You cannot remove this accredited provider" %}
{% else %}
  {% set title = "Are you sure you want to remove this accredited provider?" %}
{% endif %}

{% set caption = accreditedBody.name %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% if hasCourses %}

          <p class="govuk-body">{{ accreditedBody.name }} is an accredited provider for courses run by {{ organisation.name }}. At least one of these courses is currently published on Find.</p>

          <p class="govuk-body">If you need to change an accredited provider for a course which is published, please contact us at <a href="mailto:becomingateacher@digital.education.gov.uk" class="govuk-link">becomingateacher@digital.education.gov.uk</a>.</p>

        {% else %}

          {{ govukButton({
            text: "Remove accredited provider",
            classes: "govuk-button--warning"
          }) }}

        {% endif %}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
