{% extends "_layout.njk" %}

{% set primaryNavId = "accreditedBodies" %}

{% set title = "Accredited providers" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "_includes/page-heading.njk" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ govukButton({
        text: "Add accredited provider",
        href: actions.new + "/accredited-providers/new"
      }) }}

      {% for accreditedBody in organisation.accreditedBodies %}

        {% set permissionsHtml %}
          {% if accreditedBody.permissions.length %}
            <ul class="govuk-list">
              {% for permission in accreditedBody.permissions %}
                <li>
                  {{ permission | getPermissionLabel }}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p class="govuk-body">None - view only</p>
          {% endif %}
        {% endset %}

        {{ govukSummaryList({
          card: {
            title: {
              text: accreditedBody.name
            },
            actions: {
              items: [
                {
                  href: actions.change + "/accredited-providers/" + accreditedBody.id + "/delete",
                  text: "Delete",
                  visuallyHiddenText: accreditedBody.name,
                  classes: "app-link--destructive"
                }
              ]
            }
          },
          rows: [
            {
              key: {
                text: "Description"
              },
              value: {
                text: (accreditedBody.description | nl2br | markdownToHtml | safe) if accreditedBody.description.length else "Not entered",
                classes: "govuk-hint" if not accreditedBody.description.length
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/accredited-providers/" + accreditedBody.id + "/description?referrer=change",
                    text: "Change",
                    visuallyHiddenText: "accredited provider description"
                  }
                ]
              }
            },
            {
              key: {
                text: "Permissions"
              },
              value: {
                html: permissionsHtml
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/accredited-providers/" + accreditedBody.id + "/permissions?referrer=change",
                    text: "Change",
                    visuallyHiddenText: "accredited provider permission"
                  }
                ]
              }
            } if 1 == 0
          ]
        }) }}

      {% endfor %}

    </div>
  </div>

{% endblock %}
