{% extends "_layout.njk" %}

{% set primaryNavId = "accreditedProviders" %}

{% set title = "Permissions" %}

{% if referrer == "change" %}
  {% set caption = accreditedBody.name %}
  <!-- + " (" + accreditedBody.code + ")" -->
{% else %}
  {% set caption = "Add accredited provider" %}
{% endif %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        {% include "_includes/page-heading.njk" %}
        <p class="govuk-body">You can give {{ accreditedBody.name if accreditedBody.name else (accreditedBody.id | getOrganisationLabel) }} permission to make changes to your courses in their account.</p>
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukCheckboxes({
          idPrefix: "accredited-body-permissions",
          name: "accreditedBody[permissions]",
          fieldset: {
            legend: {
              html: headingHtml
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: permissionsOptions
        }) }}

        {% if referrer == "change" %}
          {{ govukWarningText({
            text: "All users at " + accreditedBody.name + " will be sent an email to let them know their permissions have changed.",
            iconFallbackText: "Warning"
          }) }}

          {{ govukButton({
            text: "Update permissions"
          }) }}
        {% else %}
          {{ govukButton({
            text: "Continue"
          }) }}
        {% endif %}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
