{% macro screenshot(title, id, thumbnail, full, text = '') %}
<div class="design-history-item">
  <h2 class="heading-large" id="{{ id }}">{{ title }}</h2>
  <div class="grid-row">
    <div class="column-two-thirds design-history-screenshot">
      <a href="{{ full }}">
        <img src="{{ thumbnail }}" width="630" alt="Screenshot of {{ title }}" />
      </a>
    </div>
    <div class="column-one-third design-history-text">
      {{ text | safe }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro orgHeading(activeTab, message = '') %}
<div class="breadcrumbs">
  {% if value('multi-organisation') %}
  <ol>
    <li><a href="/">Organisations</a></li>
  </ol>
  {% endif %}
</div>

{{ message | safe }}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      {{ value('training-provider-name') }}
    </h1>
  </div>
</div>

{% set tabs = [
    {
      text: 'Courses',
      href: '/'
    },
    {
      text: 'Course templates',
      href: '/templates'
    },
    {
      text: 'About your organisation',
      href: '/about-your-organisation'
    },
    {
      text: 'Request access for someone else',
      href: '/request-access'
    }
  ] %}

<ul class="tabs">
  {% for tab in tabs %}
    <li {% if activeTab == tab.text %}class="active"{% endif %}>
      <a href="{{ tab.href }}">{{ tab.text }}</a>
    </li>
  {% endfor %}
</ul>
{% endmacro %}

{#
  field:
    name:
    text:
    more:
#}
{% macro radioGroup(name, fields) %}
  <div class="form-group">
  {% for field in fields %}
    <div class="multiple-choice" data-target="radio-{{ name }}-part-{{ loop.index }}-extra">
      <input
        id="radio-{{ name }}-part-{{ loop.index }}"
        type="radio"
        name="{{ name }}"
        value="{{ field.name }}"
        {{ checked(name, field.name) }}
      >
      <label for="radio-{{ name }}-part-{{ loop.index }}">
        {% if field.text %}
          <span class="bold">{{ field.name }}</span>
          {{ field.text | safe }}
        {% else %}
          {{ field.name }}
        {% endif %}
      </label>
    </div>
    {% if field.more %}
      <div class="panel panel-border-wide js-hidden" id="radio-{{ name }}-part-{{ loop.index }}-extra">
        {{ field.more | safe }}
      </div>
    {% endif %}
  {% endfor %}
  </div>
{% endmacro %}

{% macro checkboxGroup(name, fields) %}
<div class="form-group">
  {% for field in fields %}
    <div class="multiple-choice" data-target="checkbox-part-{{ loop.index }}-extra">
      <input
        id="checkbox-part-{{ loop.index }}"
        type="checkbox"
        name="{{ name }}"
        value="{{ field.name }}"
        {{ checked(name, field.name) }}
      >
      <label for="checkbox-part-{{ loop.index }}">
        <span {% if field.text %}class="bold"{% endif %}>{{ field.name }}</span>
        {% if field.text %}
          <br />{{ field.text | safe }}
        {% endif %}
      </label>
    </div>
    {% if field.more %}
      <div class="panel panel-border-wide js-hidden" id="checkbox-part-{{ loop.index }}-extra">
        {{ field.more | safe }}
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endmacro %}

{% macro textbox(id, label, helpText = false, size = '') %}
<div class="form-group">
  <label class="form-label" for="{{id}}">{{label | safe}}</label>
  {% if helpText %}
    <span class="form-hint">{{helpText | safe}}</span>
  {% endif %}
  <input class="form-control {{ size }}" name="{{id}}" type="text" id="{{id}}" value="{{ value(id) }}">
</div>
{% endmacro %}

{% macro textboxWithoutValue(id, label, helpText = false, size = '') %}
<div class="form-group">
  <label class="form-label" for="{{id}}">{{label | safe}}</label>
  {% if helpText %}
    <span class="form-hint">{{helpText | safe}}</span>
  {% endif %}
  <input class="form-control {{ size }}" name="{{id}}" type="text" id="{{id}}">
</div>
{% endmacro %}

{% macro textareaBasic(id, label, rows, helpText = false) %}
<div class="form-group">
  <label class="form-label" for="{{id}}">{{label}}</label>
  {% if helpText %}
    <span class="form-hint">{{helpText}}</span>
  {% endif %}
  <textarea class="form-control form-control-full" rows="{{ rows }}" name="{{ id }}" id="{{ id }}">{{ value(id) }}</textarea>
</div>
{% endmacro %}

{% macro textarea(id, label, rows, helpText = false, maxWords = 50) %}
<div class="form-group">
  <label class="form-label form-label-bold" for="{{id}}">{{label}}</label>
  {% if helpText %}
    <span class="form-hint">{{helpText}}</span>
  {% endif %}
  <textarea class="form-control form-control-full js-char-count" rows="{{ rows }}" name="{{ id }}" id="{{ id }}" data-maxwords="{{ maxWords }}">{{ value(id) }}</textarea>
</div>
{% endmacro %}

{% macro datefields(id, label) %}
<div class="form-group">
  <fieldset>
    <legend>
      <span class="form-label-bold">
        {{ label }}
      </span>
      <span class="form-hint">For example, 10 9 2019</span>
    </legend>
    <div class="form-date">
      <div class="form-group form-group-day">
        <label class="form-label" for="{{id}}-day">Day</label>
        <input class="form-control" id="{{id}}-day" name="{{id}}-day" type="number" pattern="[0-9]*" value="{{ value(id + '-day') }}">
      </div>
      <div class="form-group form-group-month">
        <label class="form-label" for="{{id}}-month">Month</label>
        <input class="form-control" id="{{id}}-month" name="{{id}}-month" type="number" pattern="[0-9]*" value="{{ value(id + '-month') }}">
      </div>
      <div class="form-group form-group-year">
        <label class="form-label" for="{{id}}-year">Year</label>
        <input class="form-control" id="{{id}}-year" name="{{id}}-year" type="number" pattern="[0-9]*" value="{{ value(id + '-year') }}">
      </div>
    </div>
  </fieldset>
</div>
{% endmacro %}

{% macro coursePart(id, label) %}
<div>
  <dt class="course-part-label">
    {{ label }}
  </dt>
  {% if (value(id)) %}
    <dd class="course-part-value">
      {{ value(id) }}
    </dd>
  {% else %}
    <dd class="course-part-value course-part-value--empty">
      This field is empty
    </dd>
  {% endif %}
</div>
{% endmacro %}

{% macro previewPart(id) %}
  {% if (value(id)) %}
    <pre class="preview-pre">{{ value(id) }}</pre>
  {% else %}
    <p class="missing-section">
      Please add details for this section.
    </p>
  {% endif %}
{% endmacro %}
