{% macro screenshotContents(contents, title = 'Screenshots') %}
  <div class="govuk-!-margin-top-4 govuk-!-margin-bottom-9">
    <h2 class="govuk-heading-m">{{ title }}</h2>
    <ul class="govuk-list">
      {% for c in contents %}
        <li><a href="#{{ c.id }}">{{ c.text }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endmacro %}

{% macro designHistoryBreadcrumbs() %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  <div class="dont-print">
    {{
      govukBreadcrumbs({
        items: [
          {
            href: "/history",
            text: "Design history"
          }
        ]
      })
    }}
  </div>
{% endmacro %}

{% macro backLink(href = "/", text = "Back") %}
  {% from "back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({ text: text, href: href }) }}
{% endmacro %}

{% macro screenshot(title, id, thumbnail, full, text = '', headingClass = 'govuk-heading-l', headingLevel = 'h2') %}
<div class="design-history-item govuk-!-margin-bottom-9">
  <{{headingLevel}} class="{{headingClass}}" id="{{ id }}">{{ title }}</{{headingLevel}}>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds design-history-screenshot">
      <div class="govuk-!-margin-bottom-6">
        <a href="{{ full }}">
          <img src="{{ thumbnail }}" width="630" alt="Screenshot of {{ title }}" />
        </a>
      </div>
      <div class="design-history-text">
        {{ text | safe }}
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro formatting() %}
<h3 class="govuk-heading-m remove-top-margin">Formatting</h3>
<h4 class="govuk-heading-s">Links</h4>
<p>Use square brackets [] around the link text and round brackets () around the link URL. Make sure there are no spaces between the brackets.</p>

<p>For example:<br /> [GOV.UK](https://gov.uk/)</p>

<h4 class="govuk-heading-s">Lists</h4>
<p>To create a bulleted list:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>use asterisks (*) to create a bullet point (hyphens also work)</li>
  <li>make sure there is one space after the asterisk</li>
  <li>leave 1 empty line space before the bullets start, and one after</li>
</ul>

<p>For example:</p>
<p>* list item 1<br/>* list item 2</p>
{% endmacro %}

{% macro copyContent() %}
<form data-module="copy-content">
  <div class="status-box">
    <h3 class="govuk-heading-m remove-top-margin">
      <span class="js-cant-copy" style="display: none">Use this content again</span>
      <span class="js-can-copy" style="display: none">Copy content from another course</span>
    </h3>

    <div class="success-summary success-summary-small js-success-copy" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1" style="display: none;">
      <h3 class="govuk-heading-s success-summary-heading govuk-!-margin-bottom-4 remove-top-margin" id="success-summary-heading-example-1">
        Fields copied:
      </h3>
      <div class="js-what-copied"></div>
    </div>
    <div class="error-summary error-summary-small js-error-copy" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1" style="display: none">
      <h3 class="govuk-heading-s error-summary-heading" id="error-summary-heading-example-1">
        There was no content to copy.
      </h3>
    </div>

    <div class="js-can-copy" style="display: none">
      <p>Fill in this page with content from another course.</p>

      <label class="govuk-label govuk-label--s" for="copy-from">Copy from</label>
      <select id="copy-from" name="copy-from" class="govuk-select add-double-bottom-margin" style="background: #fff">
        {{ courseOptions() | safe }}
      </select>
      <input type="submit" class="govuk-button" value="Copy content" />
    </div>
    <div class="js-cant-copy" style="display: none">
      <p>When you’ve added content to this page, you can copy it to other courses</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />

    {{ formatting() }}
  </div>
</form>
{% endmacro %}

{% macro formattingBox() %}
<div class="add-double-bottom-margin status-box">
  {{ formatting() }}
</div>
{% endmacro %}

{% macro aboutYourOrgPublish(state = 'new', publishedBefore = false, publishLink = '#') %}
<div class="add-double-bottom-margin status-box">
  {% if state == 'draft' %}
    <div class="unpublished-changes">
      <span class="govuk-tag phase-tag-draft govuk-!-margin-bottom-4">Draft</span>
      <p>You have unpublished changes.</p>
      <p class="add-top-margin">Last saved:<br />{{ today() }} by Jane Doe</p>
    </div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />
  {% endif %}

  {% if state == 'published' %}
    <span class="govuk-tag phase-tag-published govuk-!-margin-bottom-4">Published</span>
  {% endif %}
  {% if publishedBefore or state == 'published' %}
    <p>Last published:<br />{{ today() }} by Rita Cosca</p>

    {% if state == 'draft' %}<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />{% endif %}
  {% endif %}

  {% if state == 'new' %}
    <span class="govuk-tag phase-tag-no-content govuk-!-margin-bottom-4">Empty</span>
    <p>You need to complete and publish this information.</p>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />
  {% endif %}

  {% if state == 'new' or state == 'draft' %}
    <h3 class="govuk-heading-m">Preview on a course</h3>
    <p>This information will show on all your courses.</p>
    <p>Preview any course to see how it will look to applicants.</p>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />

    <h3 class="govuk-heading-m">Publish</h3>
    <p>You can make changes to this after publishing it.</p>
    <a href="{{ publishLink }}" class="govuk-button govuk-!-margin-bottom-2">Publish</a>
  {% endif %}
</div>
{% endmacro %}

{% macro coursePublish(state = 'new', publishedBefore = false, providerCode = '', courseCode = '') %}
  {% set linkPath = providerCode + '/' + courseCode %}
  <div class="add-double-bottom-margin status-box">
    <h3 class="govuk-heading-m">Status</h3>
    {% if state == 'draft' %}
      <span class="govuk-tag phase-tag-draft govuk-!-margin-bottom-4">Draft</span>
    {% elseif state == 'new' %}
      <span class="govuk-tag phase-tag-no-content govuk-!-margin-bottom-4">New</span>
    {% elseif state == 'published' %}
      <span class="govuk-tag phase-tag-published govuk-!-margin-bottom-4">Published</span>
    {% elseif state == 'published-with-changes' %}
    <span class="govuk-tag phase-tag-small phase-tag-table phase-tag-published govuk-!-margin-bottom-2">Published&nbsp;*</span>
    <p>* With unpublished&nbsp;changes</p>
    {% endif %}

    <h3 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-0">Is it on Find?</h3>
    <p>
      {% if publishedBefore or state == 'published' %}
        <a href="#">Yes – view online</a>
      {% else %}
        No – still in draft
      {% endif %}
    </p>

    {% if publishedBefore or state == 'published' %}
      <h3 class="govuk-heading-s govuk-!-margin-0">Applications</h3>
      <p>
        Open
      </p>

      <h3 class="govuk-heading-s govuk-!-margin-0">Vacancies</h3>
      <p>
        Yes (<a href="/course/{{ linkPath }}/vacancies">Edit</a>)
      </p>
    {% endif %}

    {% if state != 'published' %}
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />
      <h3 class="govuk-heading-m">Preview</h3>
      <p>See how your unpublished changes look.</p>
      <p>Preview your course to check for mistakes before publishing.</p>
      <p>
        <a href="/preview/{{ linkPath }}">Preview course</a>
      </p>
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />

      <h3 class="govuk-heading-m">Publish</h3>
      <p>Publish your changes.</p>

      <a href="/publish/{{ linkPath }}" class="govuk-button govuk-!-margin-bottom-2">Publish</a>
    {% endif %}

    {% if state != 'new'%}
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />
    {% endif %}

    {% if state == 'draft' or state == 'published-with-changes' %}
      <p class="add-top-margin">Last saved:<br />{{ today() }} by Jane Doe</p>
    {% endif %}

    {% if publishedBefore or state == 'published' %}
      <p>Last published:<br />{{ today() }} by Rita Cosca</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />

      <h3 class="govuk-heading-m">Withdraw</h3>

      <p>Remove this course from Find and close applications.</p>

      <p class="remove-bottom-margin">
        <a href="/course/{{ linkPath }}/withdraw">Withdraw course</a>
      </p>
    {% endif %}
  </div>
{% endmacro %}

{% macro orgHeading(activeTab, message = '') %}
{{ message | safe }}

<h1 class="govuk-heading-xl">
  {{ activeTab }}
</h1>
{% endmacro %}

{% macro select(name, label, options, helpText = false, emptyOption = true, errors = false, autocomplete = false) %}
  <div class="govuk-form-group">
    <label class="govuk-label" for="{{ name }}">{{ label | safe }}</label>
    {% if helpText %}
      <span class="govuk-hint">{{helpText | safe}}</span>
    {% endif %}
    <select class="govuk-select" id="{{ name }}" name="{{ name }}">
      {% if emptyOption %}
        <option></option>
      {% endif %}
      {% for o in options %}
        {% if o.name %}
          <option value="{{ o.name }}" {% if (o.name == value(name)) %}selected{% endif %}>{{ o.name }}</option>
        {% else %}
          <option value="{{ o }}" {% if (o == value(name)) %}selected{% endif %}>{{ o }}</option>
        {% endif %}
      {% endfor %}
    </select>
    {% if autocomplete %}
    <script>
      document.addEventListener("DOMContentLoaded", function(){
        accessibleAutocomplete.enhanceSelectElement({
          showAllValues: true,
          selectElement: document.querySelector('#{{ name }}')
        })
      });
    </script>
    {% endif %}
  </div>
{% endmacro %}

{#
  field:
    name:
    text:
    more:
#}
{% macro radioGroup(name, fields, errors = false, index = 0) %}
  {% set e = error(name, errors) %}
  <div class="govuk-form-group {% if e %} govuk-form-group--error{% endif %}">
    {% if e %}
      <span class="govuk-error-message">
        {{ e.text }}
      </span>
    {% endif %}

    <div class="govuk-radios govuk-radios--conditional" data-module="radios">
      {% for field in fields %}
        {% set i = loop.index + index %}
        {% if field.or %}
          <div class="govuk-radios__divider">or</div>
        {% else %}
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="radio-{{ name }}-part-{{ i }}"
              type="radio"
              name="{{ name }}"
              value="{{ field.name }}"
              {% if field.more %}data-aria-controls="radio-{{ name }}-part-{{ i }}-extra"{% endif %}
              {% if field.selected %}
                checked
              {% else %}
                {{ checked(name, field.name) }}
              {% endif %}
            >
            <label
              class="govuk-label govuk-radios__label{% if field.text %} govuk-label--s{% endif %}"
              for="radio-{{ name }}-part-{{ i }}"
              {% if field.text %}aria-describedby="radio-{{ name }}-part-{{ i }}-hint"{% endif %}
            >
              {{ field.name | safe }}
            </label>
            {% if field.text %}
              <span
                class="govuk-hint govuk-radios__hint"
                id="radio-{{ name }}-part-{{ i }}-hint">
                  {{ field.text | safe }}
              </span>
            {% endif %}
          </div>
          {% if field.more %}
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="radio-{{ name }}-part-{{ i }}-extra">
              {{ field.more | safe }}
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro checkboxGroup(name, fields, errors = false, index = 0) %}
  {% set e = error(name, errors) %}
  <div class="govuk-form-group {% if e %} govuk-form-group--error{% endif %}">
    {% if e %}
      <span class="govuk-error-message">
        {{ e.text }}
      </span>
    {% endif %}
    <div class="govuk-checkboxes" data-module="checkboxes">
      {% for field in fields %}
        {% set i = loop.index + index %}
        <div class="govuk-checkboxes__item">
          <input
            id="checkbox-part-{{ i }}"
            type="checkbox"
            name="{{ name }}"
            value="{{ field.name }}"
            class="govuk-checkboxes__input"
            {% if field.more %}data-aria-controls="checkbox-part-{{ i }}-extra"{% endif %}
            {% if field.selected %}checked="checked"{% else %}{{ checked(name, field.name) }}{% endif %}
          >
          <label
            for="checkbox-part-{{ i }}"
            class="govuk-label govuk-checkboxes__label{% if field.text %} govuk-label--s{% endif %}"
            {% if field.text %}aria-describedby="checkbox-part-{{ i }}-extra-hint"{% endif %}
          >
            {{ field.name }}
          </label>
          {% if field.text %}
            <span
              class="govuk-hint govuk-checkboxes__hint"
              id="checkbox-{{ name }}-part-{{ i }}-hint">
                {{ field.text | safe }}
            </span>
          {% endif %}
        </div>
        {% if field.more %}
          <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="checkbox-part-{{ i }}-extra">
            {{ field.more | safe }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro textbox(id, label, helpText = false, size = '', prefix = false, errors = false, v = false) %}
  {% set e = error(id, errors) %}
  <div class="govuk-form-group {% if e %} govuk-form-group--error{% endif %}">
    <label class="govuk-label" for="{{id}}">{{label | safe}}</label>
    {% if helpText %}
      <span class="govuk-hint">{{helpText | safe}}</span>
    {% endif %}
    {% if e %}
      <span class="govuk-error-message">
        {{ e.text }}
      </span>
    {% endif %}
    {% if prefix %}
      <span class="govuk-prefix-input">{{ prefix }}</span>
    {% endif %}
    <input class="govuk-input {{ size or 'govuk-input--width-20' }}" name="{{id}}" type="text" id="{{id}}" value="{{ v or value(id) }}">
  </div>
{% endmacro %}

{% macro textboxWithoutValue(id, label, helpText = false, size = '') %}
<div class="form-group">
  <label class="form-label" for="{{id}}">{{label | safe}}</label>
  {% if helpText %}
    <span class="form-hint">{{helpText | safe}}</span>
  {% endif %}
  <input class="form-control {{ size }}" name="{{id}}" type="text" id="{{id}}">
</div>
{% endmacro %}

{% macro textareaBasic(id, label, rows, helpText = false) %}
  <div class="govuk-form-group">
    <label class="govuk-label" for="{{id}}">{{label}}</label>
    {% if helpText %}
      <span class="govuk-hint">{{helpText}}</span>
    {% endif %}
    <textarea class="govuk-textarea" rows="{{ rows }}" name="{{ id }}" id="{{ id }}">{{ value(id) }}</textarea>
  </div>
{% endmacro %}

{% macro textarea(id, label, rows, helpText = false, maxWords = 50, errors = false) %}
  {% set e = error(id, errors) %}
  <div class="govuk-character-count" data-module="character-count" data-maxwords="{{ maxWords }}">
    <div class="govuk-form-group{% if e %} govuk-form-group--error{% endif %}">
      <label class="govuk-label govuk-label--s" for="{{id}}">{{label}}</label>
      {% if helpText %}
        <span class="govuk-hint">{{helpText}}</span>
      {% endif %}
      {% if e %}
        <span class="govuk-error-message">
          {{ e.text }}
        </span>
      {% endif %}
      <div class="textarea-wrapper">
        <textarea
          class="govuk-textarea js-character-count"
          rows="{{ rows }}"
          name="{{ id }}"
          id="{{ id }}">{{ value(id) }}</textarea>
      </div>
      <span id="{{ id }}-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
        You can enter up to {{ maxWords }} words
      </span>
    </div>
  </div>
{% endmacro %}

{% macro datefields(id, label) %}
<div class="form-group">
  <fieldset>
    <legend>
      <span class="form-label-bold">
        {{ label }}
      </span>
      <span class="form-hint">For example, 10 9 2019</span>
    </legend>
    <div class="form-date">
      <div class="form-group form-group-day">
        <label class="form-label" for="{{id}}-day">Day</label>
        <input class="form-control" id="{{id}}-day" name="{{id}}-day" type="number" pattern="[0-9]*" value="{{ value(id + '-day') }}">
      </div>
      <div class="form-group form-group-month">
        <label class="form-label" for="{{id}}-month">Month</label>
        <input class="form-control" id="{{id}}-month" name="{{id}}-month" type="number" pattern="[0-9]*" value="{{ value(id + '-month') }}">
      </div>
      <div class="form-group form-group-year">
        <label class="form-label" for="{{id}}-year">Year</label>
        <input class="form-control" id="{{id}}-year" name="{{id}}-year" type="number" pattern="[0-9]*" value="{{ value(id + '-year') }}">
      </div>
    </div>
  </fieldset>
</div>
{% endmacro %}

{% macro coursePart(id, label, errors, truncate = true) %}
  {% set e = error(id, errors) %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key {% if e %}govuk-summary-list__key--error{% endif %}">
      {{ label }}
      {% if e %}<br /><a href="{{ e.href }}">{{ e.text }}</a>{% endif %}
    </dt>
    <dd class="govuk-summary-list__value {% if truncate %}govuk-summary-list__value--truncate{% endif %} {% if not value(id) %}empty{% endif %}">
      {% if (value(id)) %}
        {{ value(id) }}
      {% else %}
        Empty
      {% endif %}
    </dd>
  </div>
{% endmacro %}

{% macro feesCoursePart(id, label, errors) %}
  {% set e = error(id, errors) %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key {% if e %}govuk-summary-list__key--error{% endif %}">
      {{ label }}
      {% if e %}<br /><a href="{{ e.href }}">{{ e.text }}</a>{% endif %}
    </dt>
    <dd class="govuk-summary-list__value {% if not value(id) %}empty{% endif %}">
      {% if (value(id)) %}
        £{{ value(id) }}
      {% else %}
        Empty
      {% endif %}
    </dd>
  </div>
{% endmacro %}

{% macro previewPart(id, org = false) %}
  {% if (value(id)) %}
    <div class="markdown">
      {{ markdown(id) | safe }}
    </div>
  {% else %}
    <p class="missing-section">
      {% if org %}
        Please add details <a href="/about-your-organisation">about your organisation</a>.
      {% else %}
        Please add details for this section.
      {% endif %}
    </p>
  {% endif %}
{% endmacro %}
