{% macro screenshotContents(contents) %}
<h2 class="heading-medium">Screenshots</h2>
<ul class="list">
  {% for c in contents %}
    <li><a href="#{{ c.id }}">{{ c.text }}</a></li>
  {% endfor %}
</ul>
{% endmacro %}

{% macro screenshot(title, id, thumbnail, full, text = '', headingClass = 'heading-large', headingLevel = 'h2') %}
<div class="design-history-item">
  <{{headingLevel}} class="{{headingClass}}" id="{{ id }}">{{ title }}</{{headingLevel}}>
  <div class="grid-row">
    <div class="column-two-thirds design-history-screenshot">
      <a href="{{ full }}">
        <img src="{{ thumbnail }}" width="630" alt="Screenshot of {{ title }}" />
      </a>
    </div>
    <div class="column-one-third design-history-text">
      {{ text | safe }}
    </div>
  </div>
</div>
{% endmacro %}

{% macro formatting() %}
<div class="add-double-bottom-margin status-box">
  <h3 class="heading-medium remove-top-margin">Formatting</h3>
  <p>You can use paragraphs, lists and links in your content.</p>
  <a href="#">Formatting help</a>
</div>
{% endmacro %}

{% macro aboutYourOrgPublish(state = 'new', publishedBefore = false) %}
<div class="add-double-bottom-margin status-box">
  {% if publishedBefore or state == 'published' %}
    <p>Last published on {{ today() }}</p>
  {% endif %}

  {% if state == 'new' or state == 'draft' %}

    {% if state == 'new' %}
      <p>You need to complete and publish this information.</p>
    {% endif %}

    {% if state == 'draft' %}
      <p>You have unpublished changes.</p>
    {% endif %}
    <hr />

    {# <h3 class="heading-medium remove-top-margin">Preview</h3>
    <p>Preview your information to check for mistakes before publishing.</p>
    <a href="/preview/about-your-organisation">Preview</a>

    <hr /> #}

    <h3 class="heading-medium remove-top-margin">Publish</h3>
    <p>New information will show on all {{ value('training-provider-name') }} courses.</p>
    <p>
      <a href="#" class="button">Publish</a>
    </p>
  {% endif %}

  <hr />
  <h3 class="heading-medium remove-top-margin">Formatting</h3>
  <p>You can use paragraphs, lists and links in your content.</p>
  <a href="#">Formatting help</a>
</div>
{% endmacro %}

{% macro coursePublish(state = 'new', publishedBefore = false, previewLink = '#', publishLink = '#') %}
<div class="add-double-bottom-margin status-box">
  {% if publishedBefore or state == 'published' %}
    <p>Last published on {{ today() }}</p>
  {% endif %}

  {% if state == 'draft' %}
    <p>You have unpublished changes.</p>
    <hr />
  {% endif %}

  {% if state == 'new' or state == 'draft' %}
    <h3 class="heading-medium remove-top-margin">Preview</h3>
    <p>See how this course looks with your changes.</p>
    <p>Preview your course to check for mistakes before publishing.</p>
    <a href="{{ previewLink }}">Preview course</a>
    <hr />

    <h3 class="heading-medium remove-top-margin">Publish</h3>
    <p>Publish your changes for applicants to see them.</p>
    <a href="{{ publishLink }}" class="button">Publish</a>
  {% endif %}

  <hr />
  <h3 class="heading-medium remove-top-margin">View on website</h3>
  <p>See how this course currently looks to applicants:</p>
  <a href="#">View on website</a>
</div>
{% endmacro %}

{% macro orgHeading(activeTab, message = '') %}
<div class="breadcrumbs">
  {% if value('multi-organisation') %}
  <ol>
    <li><a href="/">Organisations</a></li>
  </ol>
  {% endif %}
</div>

{{ message | safe }}

<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      {{ value('training-provider-name') }}
    </h1>
  </div>
</div>

{% set tabs = [
    {
      text: 'Courses',
      href: '/'
    },
    {
      text: 'About your organisation',
      href: '/about-your-organisation'
    },
    {
      text: 'Request access for someone else',
      href: '/request-access'
    }
  ] %}

<ul class="tabs">
  {% for tab in tabs %}
    <li {% if activeTab == tab.text %}class="active"{% endif %}>
      <a href="{{ tab.href }}">{{ tab.text }}</a>
    </li>
  {% endfor %}
</ul>
{% endmacro %}

{#
  field:
    name:
    text:
    more:
#}
{% macro radioGroup(name, fields, errors = false) %}
  {% set e = error(name, errors) %}
  <div class="form-group {% if e %} form-group-error{% endif %}">
  {% if e %}
    <span class="error-message">
      {{ e.title }}
    </span>
  {% endif %}
  {% for field in fields %}
    <div class="multiple-choice" data-target="radio-{{ name }}-part-{{ loop.index }}-extra">
      <input
        id="radio-{{ name }}-part-{{ loop.index }}"
        type="radio"
        name="{{ name }}"
        value="{{ field.name }}"
        {{ checked(name, field.name) }}
      >
      <label for="radio-{{ name }}-part-{{ loop.index }}">
        {% if field.text %}
          <span class="bold">{{ field.name }}</span><br />
          {{ field.text | safe }}
        {% else %}
          {{ field.name }}
        {% endif %}
      </label>
    </div>
    {% if field.more %}
      <div class="panel panel-border-wide js-hidden" id="radio-{{ name }}-part-{{ loop.index }}-extra">
        {{ field.more | safe }}
      </div>
    {% endif %}
  {% endfor %}
  </div>
{% endmacro %}

{% macro checkboxGroup(name, fields) %}
<div class="form-group">
  {% for field in fields %}
    <div class="multiple-choice" data-target="checkbox-part-{{ loop.index }}-extra">
      <input
        id="checkbox-part-{{ loop.index }}"
        type="checkbox"
        name="{{ name }}"
        value="{{ field.name }}"
        {{ checked(name, field.name) }}
      >
      <label for="checkbox-part-{{ loop.index }}">
        <span {% if field.text %}class="bold"{% endif %}>{{ field.name }}</span>
        {% if field.text %}
          <br />{{ field.text | safe }}
        {% endif %}
      </label>
    </div>
    {% if field.more %}
      <div class="panel panel-border-wide js-hidden" id="checkbox-part-{{ loop.index }}-extra">
        {{ field.more | safe }}
      </div>
    {% endif %}
  {% endfor %}
</div>
{% endmacro %}

{% macro textbox(id, label, helpText = false, size = '', prefix = false, errors = false) %}
{% set e = error(id, errors) %}
<div class="form-group {% if e %} form-group-error{% endif %}">
  <label class="form-label" for="{{id}}">{{label | safe}}</label>
  {% if e %}
    <span class="error-message">
      {{ e.title }}
    </span>
  {% endif %}
  {% if helpText %}
    <span class="form-hint">{{helpText | safe}}</span>
  {% endif %}
  {% if prefix %}
    <span class="form-control-prefix">{{ prefix }}</span>
  {% endif %}
  <input class="form-control {{ size }}" name="{{id}}" type="text" id="{{id}}" value="{{ value(id) }}">
</div>
{% endmacro %}

{% macro textboxWithoutValue(id, label, helpText = false, size = '') %}
<div class="form-group">
  <label class="form-label" for="{{id}}">{{label | safe}}</label>
  {% if helpText %}
    <span class="form-hint">{{helpText | safe}}</span>
  {% endif %}
  <input class="form-control {{ size }}" name="{{id}}" type="text" id="{{id}}">
</div>
{% endmacro %}

{% macro textareaBasic(id, label, rows, helpText = false) %}
<div class="form-group">
  <label class="form-label" for="{{id}}">{{label}}</label>
  {% if helpText %}
    <span class="form-hint">{{helpText}}</span>
  {% endif %}
  <textarea class="form-control form-control-full" rows="{{ rows }}" name="{{ id }}" id="{{ id }}">{{ value(id) }}</textarea>
</div>
{% endmacro %}

{% macro textarea(id, label, rows, helpText = false, maxWords = 50, errors = false) %}
{% set e = error(id, errors) %}

<div class="form-group{% if e %} form-group-error{% endif %}">
  <label class="form-label form-label-bold" for="{{id}}">{{label}}</label>
  {% if e %}
    <span class="error-message">
      {{ e.title }}
    </span>
  {% endif %}
  {% if helpText %}
    <span class="form-hint">{{helpText}}</span>
  {% endif %}
  <textarea class="form-control form-control-full js-char-count" rows="{{ rows }}" name="{{ id }}" id="{{ id }}" data-maxwords="{{ maxWords }}">{{ value(id) }}</textarea>
</div>
{% endmacro %}

{% macro datefields(id, label) %}
<div class="form-group">
  <fieldset>
    <legend>
      <span class="form-label-bold">
        {{ label }}
      </span>
      <span class="form-hint">For example, 10 9 2019</span>
    </legend>
    <div class="form-date">
      <div class="form-group form-group-day">
        <label class="form-label" for="{{id}}-day">Day</label>
        <input class="form-control" id="{{id}}-day" name="{{id}}-day" type="number" pattern="[0-9]*" value="{{ value(id + '-day') }}">
      </div>
      <div class="form-group form-group-month">
        <label class="form-label" for="{{id}}-month">Month</label>
        <input class="form-control" id="{{id}}-month" name="{{id}}-month" type="number" pattern="[0-9]*" value="{{ value(id + '-month') }}">
      </div>
      <div class="form-group form-group-year">
        <label class="form-label" for="{{id}}-year">Year</label>
        <input class="form-control" id="{{id}}-year" name="{{id}}-year" type="number" pattern="[0-9]*" value="{{ value(id + '-year') }}">
      </div>
    </div>
  </fieldset>
</div>
{% endmacro %}

{% macro coursePart(id, label, errors, coursePath) %}
{% set e = error(id, errors) %}

<div {% if e %}class="course-part-error"{% endif %}>
  <dt class="course-part-label">
    {{ label }}
    {% if e %}<a href="{{ coursePath }}{{ e.link }}" class="course-part-label-error">{{ e.title }}</a>{% endif %}
  </dt>
  {% if (value(id)) %}
    <dd class="course-part-value">
      {{ value(id) }}
    </dd>
  {% else %}
    <dd class="course-part-value course-part-value--empty">
      This field is empty
    </dd>
  {% endif %}
</div>
{% endmacro %}

{% macro feesCoursePart(id, label, errors) %}
{% set e = error(id, errors) %}
<div {% if e %}class="course-part-error"{% endif %}>
  <dt class="course-part-label">
    {{ label }}
    {% if e %}<a href="{{ coursePath }}{{ e.link }}" class="course-part-label-error">{{ e.title }}</a>{% endif %}
  </dt>
  {% if (value(id)) %}
    <dd class="course-part-value">
      £{{ value(id) }}
    </dd>
  {% else %}
    <dd class="course-part-value course-part-value--empty">
      This field is empty
    </dd>
  {% endif %}
</div>
{% endmacro %}

{% macro previewPart(id, org = false) %}
  {% if (value(id)) %}
    <div class="markdown">
      {{ markdown(id) | safe }}
    </div>
  {% else %}
    <p class="missing-section">
      {% if org %}
        Please add details <a href="/about-your-organisation">about your organisation</a>.
      {% else %}
        Please add details for this section.
      {% endif %}
    </p>
  {% endif %}
{% endmacro %}
