// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Not in design system:
$button-colour: #00823b;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import 'patterns/simplemde-theme';
@import 'patterns/success-summary';
@import "patterns/destructive-button";
@import "components/map";

blockquote {
  margin: 0;
}

.multiple-choice [type=checkbox] + label::before {
  background: #fff;
}

.not-running-notice {
  border: 5px solid govuk-colour("light-grey");
  padding: 20px;
}

#proposition-links {
  color: govuk-colour("white");
  font-weight: bold;
}

table thead th {
  border-bottom-width: 2px;
  border-color: govuk-colour("black");
}

.table-small {
  th {
    @include govuk-font(16, $weight: bold);
  }

  td {
    @include govuk-font(16);
  }
}

.phase-tag-small {
  padding: 4px 8px 1px;
}

.phase-tag-no-content {
  background: govuk-colour("white");
  color: govuk-colour("dark-grey");
  border: 2px solid lighten(govuk-colour("dark-grey"), 10%);
  margin-top: -1px;
  margin-bottom: -1px;
}

.phase-tag-not-running {
  background: govuk-colour("light-grey");
  color: govuk-colour("black");
  margin-top: -1px;
  margin-bottom: -1px;
}

.phase-tag-draft {
  background: govuk-colour("orange");
}

.phase-tag-published {
  background: $button-colour;
}

.empty {
  color: govuk-colour("dark-grey");
}

.status {
  background: govuk-colour("light-grey");
  padding: 20px;
}

.status-box {
  background-color: govuk-colour("light-grey");
  padding: 20px;
}

.who-saved {
  @include govuk-font(16);
}

.doc-image {
  max-width: 100%;
  border: 1px solid $govuk-border-colour;
  margin-bottom: $govuk-gutter * 2;
}

.remove-top-margin {
  margin-top: 0;
}

.remove-bottom-margin {
  margin-bottom: 0;
}

.add-double-bottom-margin {
  margin-bottom: $govuk-gutter;
}

.add-top-margin {
  margin-top: $govuk-gutter / 2;
}

.form-control-xsmall {
  width: 120px;
}

.form-control-small {
  width: 200px;
}

dt,
dd {
  display: inline;
}

dt {
  margin-right: 0.25em;
}

dl.aligned {
  overflow: hidden;
  @include govuk-font(19);
}

dl.aligned dt {
  width: 30%;
  float: left;
  margin: 0;
  clear: both;
}

dl.aligned dd {
  width: 70%;
  float: right;
  margin: 0;

  .govuk-details {
    margin-bottom: 0;
  }
}

dl.aligned.course-part-tasks dd {
  width: 60%;
}

.fake-email {
  margin-left: 15px;
  margin-top: 20px;
  border: 5px solid $govuk-border-colour;
  padding: 60px;
}

.missing-section {
  border: 5px solid $govuk-border-colour;
  padding: $govuk-gutter / 2;
}

.preview-pre {
  white-space: pre-wrap;
}

.no-wrap,
.nowrap {
  white-space: nowrap;
}

.textarea-wrapper {
  position: relative;

  .custom-toolbar {
    text-align: right;
    width: 320px;
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 2;

    label {
      @include govuk-font(16);
      display: inline;
      margin-right: 5px;
    }

    select {
      @include govuk-font(16);
      width: 220px;
    }
  }
}

.govuk-prefix-input {
  @include govuk-font($size: 19, $weight: bold);
  bottom: 7px;
  left: 15px;
  position: absolute;
}

.autocomplete__menu {
  @include govuk-font(19);
}

.markdown ul {
  @extend .govuk-list;
  @extend .govuk-list--bullet;
}

.govuk-summary-list--short {
  margin-top: govuk-spacing(6);
  margin-bottom: govuk-spacing(8);

  .govuk-summary-list__key {
    width: 50%;
  }

  // .govuk-summary-list__row:last-child {
  //   .govuk-summary-list__key,
  //   .govuk-summary-list__actions,
  //   .govuk-summary-list__value {
  //     border: none;
  //   }
  // }
}

.govuk-summary-list__key--error {
  color: $govuk-error-colour;
  border-left: 5px solid $govuk-error-colour !important;
  padding-left: 10px;

  a {
    font-weight: normal;
  }
}

.govuk-summary-list__value--truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 295px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
  margin-bottom: -8px;
}

.govuk-heading-27 {
  @include govuk-font(27, $weight: bold);
}

.interruption-card {
  background: $govuk-brand-colour;
  padding: govuk-spacing(7) govuk-spacing(6) govuk-spacing(2);

  p, h1, h2, h3, ul, a:visited, a:link  {
    color: govuk-colour("white");
  }

  .govuk-button {
    background: govuk-colour("white");
    color: $govuk-brand-colour !important;
    font-weight: bold;
  }
}

.location-list {
  margin-bottom: govuk-spacing(8);
}

.location-list li {
  border-bottom: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(2);

  &:last-child {
    border: none;
  }
}

.course-tabs {
  .govuk-tabs__tab {
    font-weight: bold;
    color: $govuk-link-colour;
    text-align: left;
  }

  .govuk-tabs__tab--selected {
    color: $govuk-text-colour;
    background-color: govuk-colour('white');
    border-top: 5px solid govuk-colour('blue');
    padding-top: govuk-spacing(3) - 5;

    text-decoration: none;
    a {
      outline-offset: -3px;
    }
  }

  .govuk-tabs__panel {
    border: none;
    padding: 30px 0 0;
  }
}

.timeline {
  padding-left: 0;
  list-style-type: none;

  .edition-timeline {
    padding-left: 0;
    list-style-type: none;
  }

  .timeline-day-wrapper {
    border-left: 5px solid govuk-colour("mid-grey");
    position: relative;
    margin-top: 10px;
  }

  .timeline-day {
    margin-bottom: 40px;
    padding-left: 30px;
    position: relative;
    top: -10px;

    &:before {
      content: " ";
      height: 5px;
      width: 15px;
      background: govuk-colour("mid-grey");
      display: inline-block;
      position: absolute;
      top: 10px;
      left: 0;
    }
  }

  .events {
    padding-left: 0;
    list-style-type: none;
  }

  .event {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    h4 {
      margin-bottom: 0;
    }
  }

  .metadata {
    color: $govuk-secondary-text-colour;
    display: inline-block;
    margin-bottom: 5px;
  }
}

.error .govuk-warning-text__icon {
  background-color: $govuk-error-colour;
  border-color: $govuk-error-colour;
}
