// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: "/govuk/assets/";

// Get into teaching
$git-brand-colour: #159964;

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
@import "components/advice";
@import "components/application-card";
@import "components/copy-content";
@import "components/course-tabs";
@import "components/description-list";
@import "components/header";
@import "components/inset-text";
@import "components/link";
@import "components/list";
@import "components/map";
@import "components/overrides";
@import "components/phase-tag";
@import "components/summary-list";
@import "components/table";
@import "components/table-container";
@import "components/timeline";

.status-box {
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(4);
}

.missing-section {
  border: $govuk-border-width solid $govuk-border-colour;
  padding: govuk-spacing(4);
}

abbr[title] {
  text-decoration: underline;
  text-decoration-style: dotted;
}
