// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/simplemde-theme';
@import 'patterns/check-your-answers';
@import 'patterns/task-list';
@import 'patterns/course-parts';
@import 'patterns/success-summary';
@import 'patterns/character-counts';

.not-running-notice {
  border: 5px solid $govuk-blue;
  padding: 20px;
}

#proposition-links {
  color: $white;
  font-weight: bold;
}

table thead th {
  border-bottom-width: 2px;
  border-color: $black;
}

.empty {
  color: $grey-1;
}

.status {
  background: $grey-3;
  padding: 20px;
}

.status-box {
  background-color: $grey-4;
  padding: 20px;
  border-top: 5px solid $govuk-blue;

  .unpublished-changes {
    background: $govuk-blue;
    color: $white;
    margin: -20px -20px 30px;
    padding: 10px 20px 20px;

    p {
      margin-bottom: 0;
      @include bold-19;
    }
  }
}

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.doc-image {
  max-width: 100%;
  border: 1px solid $border-colour;
  margin-bottom: $gutter * 2;
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.remove-top-margin {
  margin-top: 0;
}

.remove-bottom-margin {
  margin-bottom: 0;
}

.add-bottom-margin {
  margin-bottom: $gutter / 2;
}

.add-double-bottom-margin {
  margin-bottom: $gutter;
}

.add-top-margin {
  margin-top: $gutter / 2;
}

.add-margin-for-label {
  margin-top: 25px;
}

.add-margin-for-label-with-help {
  margin-top: 45px;
}

.form-control-full {
  width: 100%;
}

.results-item {
  margin-bottom: $gutter;
}

.metadata dt,
.metadata dd {
  display: inline-block;
}

.metadata dt {
  width: 20%;
}

.metadata dd {
  width: 79%;
  margin-left: 0;
}

.filter-category {
  background-color: $grey-3;
  padding: 12px;
  margin-bottom: 10px;
}

.filters {
  background-color: $white;
  padding: 10px;
}

.filter-heading {
  margin-top: 3px;
}

.filter-link {
  padding-top: 10px;
}

.tabs {
  padding-left: 0;
  border-bottom: 1px solid $border-colour;
  font-size: 19px;
  margin-bottom: $gutter;

  li {
    margin-bottom: -1px;
    display: inline-block;
  }

  a {
    display: block;
    padding: 15px 20px;
  }

  .active a {
    border: 1px solid $border-colour;
    border-bottom-color: #fff;
    text-decoration: none;

    &:link,
    &:visited {
      color: $text-colour;
    }
  }
}

.form-control-xsmall {
  width: 120px;
}

.form-control-small {
  width: 200px;
}

dt,
dd {
  display: inline;
}

dt {
  margin-right: 0.25em;
}

dl.aligned {
  overflow: hidden;
}

dl.aligned dt {
    width: 30%;
    float: left;
    margin: 0;
    clear: both;
}

dl.aligned.course-part-tasks dt {
  width: 40%;
}


dl.aligned dd {
    width: 70%;
    float: right;
}

dl.aligned.course-part-tasks dd {
  width: 60%;
}

.tabs {
  padding-left: 0;
  border-bottom: 1px solid $border-colour;
  font-size: 19px;

  li {
    margin-bottom: -1px;
    display: inline-block;
  }

  a {
    display: block;
    padding: 15px 20px;
  }

  .active a {
    border: 1px solid $border-colour;
    border-bottom-color: #fff;
    text-decoration: none;

    &:link,
    &:visited {
      color: $text-colour;
    }
  }
}

.study-options-table-code {
  width: 120px;
}

.study-options-table-vacancies {
  width: 120px;
}

.multiple-options li {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.fake-email {
  margin-left: 15px;
  margin-top: 20px;
  border: 5px solid $border-colour;
  padding: 60px;
}

.ucas-info-table tr:last-child td {
  border-bottom: 0;
}

.ucas-info-table  {
  .subject-col {
    width: 25%;
  }

  .code-col {
    width: 10%;
  }

  .type-col {
    width: 40%;
  }

  .status-col {
    width: 25%;
  }

  .ucas-view-link {
    text-align: right;
  }
}

.missing-section {
  border: 5px solid $border-colour;
  padding: $gutter / 2;
}

.preview-pre {
  white-space: pre-wrap;
}

.textarea-wrapper {
  position: relative;

  .custom-toolbar {
    text-align: right;
    width: 320px;
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 2;

    label {
      @include core-16;
      display: inline;
      margin-right: 5px;
    }

    select {
      @include core-16;
      width: 220px;
    }
  }
}
