// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';
@import 'patterns/course-parts';
@import 'patterns/success-summary';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

.doc-image {
  max-width: 100%;
  border: 1px solid $border-colour;
  margin-bottom: $gutter * 2;
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.remove-top-margin {
  margin-top: 0;
}

.remove-bottom-margin {
  margin-bottom: 0;
}

.add-bottom-margin {
  margin-bottom: $gutter / 2;
}

.add-double-bottom-margin {
  margin-bottom: $gutter;
}

.add-top-margin {
  margin-top: $gutter / 2;
}

.add-margin-for-label {
  margin-top: 25px;
}

.add-margin-for-label-with-help {
  margin-top: 45px;
}

.form-control-full {
  width: 100%;
}

.results-item {
  margin-bottom: $gutter;
}

.metadata dt,
.metadata dd {
  display: inline-block;
}

.metadata dt {
  width: 20%;
}

.metadata dd {
  width: 79%;
  margin-left: 0;
}

.filter-category {
  background-color: $grey-3;
  padding: 12px;
  margin-bottom: 10px;
}

.filters {
  background-color: $white;
  padding: 10px;
}

.filter-heading {
  margin-top: 3px;
}

.filter-link {
  padding-top: 10px;
}

.tabs {
  padding-left: 0;
  border-bottom: 1px solid $border-colour;
  font-size: 19px;
  margin-bottom: $gutter;

  li {
    margin-bottom: -1px;
    display: inline-block;
  }

  a {
    display: block;
    padding: 15px 20px;
  }

  .active a {
    border: 1px solid $border-colour;
    border-bottom-color: #fff;
    text-decoration: none;

    &:link,
    &:visited {
      color: $text-colour;
    }
  }
}

.form-control-xsmall {
  width: 120px;
}

.form-control-small {
  width: 200px;
}

dt,
dd {
  display: inline;
}

dt {
  margin-right: 0.25em;
}

dl.aligned {
  overflow: hidden;
}

dl.aligned dt {
    width: 30%;
    float: left;
    margin: 0;
    clear: both;
}

dl.aligned dd {
    width: 70%;
    float: right;
}

.tabs {
  padding-left: 0;
  border-bottom: 1px solid $border-colour;
  font-size: 19px;

  li {
    margin-bottom: -1px;
    display: inline-block;
  }

  a {
    display: block;
    padding: 15px 20px;
  }

  .active a {
    border: 1px solid $border-colour;
    border-bottom-color: #fff;
    text-decoration: none;

    &:link,
    &:visited {
      color: $text-colour;
    }
  }
}

.study-options-table-code {
  width: 120px;
}

.study-options-table-vacancies {
  width: 120px;
}

.multiple-options li {
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
