.dont-print {
  display: none;
}

.preview-pre {
  white-space: pre-wrap;
  font-family: sans-serif;
}

.govuk-template {
  background: none;
}

.govuk-footer,
.govuk-phase-banner {
  display: none;
}
