.dont-print {
  display: none;
}

.preview-pre {
  white-space: pre-wrap;
  font-family: sans-serif;
}

.design-history-text {
  display: none;
}

.design-history-item {
  page-break-before: always;

  a:after {
    display: none;
  }
}

.govuk-footer,
.govuk-phase-banner {
  display: none;
}
