
{% extends "layout.html" %}
{% set title = 'Simplified university view' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="heading-xlarge">{{ title }}</h1>

  {{ macros.screenshot('Courses', 'courses', '/public/images/history/simplified-university-view/thumbnails/01-courses.png', '/public/images/history/simplified-university-view/01-courses.png', '') }}
  
  {{ macros.screenshot('Course', 'course', '/public/images/history/simplified-university-view/thumbnails/02-course.png', '/public/images/history/simplified-university-view/02-course.png', '') }}
  
  {{ macros.screenshot('Course details from ucas', 'course-details-from-ucas', '/public/images/history/simplified-university-view/thumbnails/03-course-details-from-ucas.png', '/public/images/history/simplified-university-view/03-course-details-from-ucas.png', '') }}
  
  {{ macros.screenshot('About this course', 'about-this-course', '/public/images/history/simplified-university-view/thumbnails/04-about-this-course.png', '/public/images/history/simplified-university-view/04-about-this-course.png', '') }}
  
  {{ macros.screenshot('About this training provider', 'about-this-training-provider', '/public/images/history/simplified-university-view/thumbnails/05-about-this-training-provider.png', '/public/images/history/simplified-university-view/05-about-this-training-provider.png', '') }}
  
  {{ macros.screenshot('Course requirements', 'course-requirements', '/public/images/history/simplified-university-view/thumbnails/06-course-requirements.png', '/public/images/history/simplified-university-view/06-course-requirements.png', '') }}
  
  {{ macros.screenshot('Organisation', 'organisation', '/public/images/history/simplified-university-view/thumbnails/07-organisation.png', '/public/images/history/simplified-university-view/07-organisation.png', '') }}
  
</main>
{% endblock %}
