{% extends "layout.njk" %}
{% set title = "Request sent" %}
{% set backLink = "/allocations" %}

{% set requestingProviderName %}
  {% if data.requestingProvider != "Find an organisation not listed above" %}
    {{ data.requestingProvider }}
  {% else %}
    {{ data.schoolList }}
  {% endif %}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">
          {{ title }}
        </h1>
        <div class="govuk-panel__body">You’ve confirmed that {{ requestingProviderName }} would like to offer PE in 2022 to 23</div>
      </div>

      <h2 class="govuk-heading-m">What happens now?</h2>
      <p class="govuk-body">You have until 10 July to change this request. After this date, we’ll send an email to (insert email address) confirming your choice and setting out next steps.</p>
      <h2 class="govuk-heading-m">How many places will be allocated?</h2>
      <p class="govuk-body">In September we’ll let you know how many places we’ve allocated for this course.</p>
      <p class="govuk-body">If you have any questions, contact <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p>
      <p class="govuk-body govuk-!-margin-top-6"><a class="govuk-link govuk-!-font-weight-bold govuk-link--no-visited-state" href="/allocations/">Return to Request PE courses for 2022 to 2023</a></p>
    </div>
  </div>
{% endblock %}
