{% extends "layout.njk" %}
{% set title = "Who are you requesting for?" %}
{% set backLink = "/allocations" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/allocations/request-places" method="post" class="form">
        <div class="govuk-form-group govuk-!-margin-bottom-2">
          <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-6">
              Who are you requesting a course for?
            </h1>
            <p>This should be the name of the organisation offering the course - eg a lead school, or your own organisation if you’re offering it yourselves.</p>
          </legend>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="item1" name="requestingProvider" type="radio" value="Featherstone High School">
              <label class="govuk-label govuk-radios__label" for="item1">
                Featherstone High School
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="item2" name="requestingProvider" type="radio" value="Greenwood Academies Trust">
              <label class="govuk-label govuk-radios__label" for="item2">
                Greenwood Academies Trust
              </label>
            </div>
            <div class="govuk-radios__divider">or</div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="item3" name="requestingProvider" type="radio" value="Find an organisation not listed above" data-aria-controls="conditional-item3">
              <label class="govuk-label govuk-radios__label" for="item3">
                Find an organisation not listed above
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-item3">
              <div class="govuk-form-group">
                <div class="govuk-!-margin-bottom-6">
                  <label class="govuk-label" for="provider-name">Organisation name</label>
                  <div id="tt-default" class="autocomplete-wrapper"></div>
                </div>
              </div>
            </div>
          </div>
          <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">Continue</button>
          </fieldset>
        </div>
      </form>

      <p>To add a new provider to Publish, you should contact <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a></p>
    </div>
  </div>

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>

<script type="text/javascript">
  var providers = [
    "2Schools Consortium",
    "4Derbyshire Teaching School Alliance",
    "AA Teamworks West Yorkshire SCITT",
    "AIM Alliance Schools",
    "ARK Teacher Training",
    "ARK Teacher Training",
    "ASSET Education",
    "ATT Partnership",
    "Abbey Infants' School",
    "Abbey MAT Primary Alliance",
    "Abbey Primary Community School",
    "Abraham Darby Academy",
    "Abraham Moss High School",
    "Academies Enterprise Trust: Eastern",
    "Academies Enterprise Trust: London",
    "Academies Enterprise Trust: North East",
    "Academies Enterprise Trust: South East",
    "Academies Enterprise Trust: West Midlands",
    "Academies Enterprise Trust: Yorkshire & Humber",
    "Academy Transformation Trust",
    "Achieve with TELA",
    "Acklam Grange Teaching School",
    "Acorns Teaching School Alliance",
    "Advance Learning Partnership",
    "Affinity Teaching School Alliance (Somerset)",
    "Agnus Dei Teaching School Alliance",
    "Aireborough Learning Partnership (Queensway Primary School)",
    "Aireborough Partnership",
    "Alban Federation",
    "Alban Federation",
    "Alderman White School and Language College",
    "Alfreton Nursery School",
    "All Hallows Catholic College",
    "All Hallows Catholic School",
    "All Saints Church of England Aided Junior School",
    "All Saints RC School",
    "All Saints Teaching School",
    "Alliance for Learning SCITT",
    "Alliance of Leading Learning",
    "Alperton Community School",
    "Altius Alliance",
    "Alton Schools Teaching Alliance",
    "Altrincham Grammar School For Girls",
    "Ambitions Teaching School",
    "Amwell View School",
    "Angel Islington Teaching School Alliance",
    "Anglesey Primary Academy",
    "Anglia Ruskin University",
    "Anglian Gateway Teaching Schools Alliance",
    "Anglo European School",
    "Anton Andover Alliance",
    "Anton Junior School",
    "Applied Minds Teaching School",
    "Aquila",
    "Arch Alliance - All Souls' CE Primary",
    "Archbishop Blanch School",
    "Archbishop Tenison's CofE High School",
    "Archbishop Tenison's School",
    "Arden Alliance",
    "Ark Boulton Teacher Training",
    "ArrowITT",
    "Arthur Mellows Village College",
    "Arthur Terry School",
    "Ash Field Teaching School Alliance School Direct",
    "Ash Green Community Primary School",
    "Ashbourne Dove Valley TSA",
    "Ashcroft Technology Academy",
    "Ashfield School ITT",
    "Ashford Oaks Community Primary School",
    "Ashford Teaching Alliance",
    "Ashlawn Teaching School",
    "Ashley CofE Aided Primary School",
    "Ashmead Combined School",
    "Ashmole Academy (North London Teaching Alliance)",
    "Ashton Teacher Training Partnership",
    "Ashton on Mersey School SCITT",
    "Ashton-on-Mersey School",
    "Aspirational Teaching Alliance of St. Helens",
    "Aspire Education Alliance",
    "Aspire Teaching Alliance",
    "Aspire Teaching Trust",
    "Aspirer School Direct",
    "Associated Merseyside Partnership SCITT",
    "Aston Community Education Trust",
    "Aston Manor Academy",
    "Astor College (A Specialist College for the Arts)",
    "Astra Amersham Hub",
    "Astra Aylesbury Hub",
    "Astra Marlow Hub",
    "Astra SCITT",
    "Atlantic Coast Cooperative Trust",
    "Aurum Schools Partnership",
    "Avenue Primary Academy",
    "Axbridge C of E First School Academy",
    "BHSSA",
    "BLT SCITT",
    "BTSA - Brent Teaching School Alliance",
    "Balcarras School",
    "Balksbury Infant School",
    "Bankside Primary School",
    "Bannockburn Primary School",
    "Barr Beacon SCITT",
    "Barr Beacon School",
    "Barrow CEVC Primary School",
    "Basingstoke Alliance SCITT",
    "Bath Spa University",
    "Baylis Court School",
    "Beacon Community College",
    "Beal High School (NELTA)",
    "Beatrix Potter Primary School",
    "Bedgrove Infant School",
    "Bedlington West End First School",
    "Beech HIll",
    "Beech Hill Junior and Infant School",
    "Belle Vue Girls' Academy",
    "Belle Vue Infant School",
    "Belleville Primary School",
    "Bemrose School",
    "Benfield Primary School",
    "Benfleet Teaching School Alliance",
    "Bengeworth Multi-Academy Trust",
    "Bennett Memorial Diocesan School",
    "Bensham Manor School",
    "Benton Dene School",
    "Berkshire Teaching Alliance",
    "Berkshire Teaching School Alliance",
    "Bethnal Green Academy",
    "Bexley Teaching School Alliance",
    "Bexton Primary School",
    "Biddenham Upper School and Sports College",
    "Biddulph High School",
    "Billericay Educational Consortium",
    "Billericay School",
    "Bilton School",
    "Bingley Grammar School Direct",
    "Binstead Primary School",
    "Birches Head High School",
    "Birkenhead North Schools Partnership",
    "Birmingham City University",
    "Birmingham Nursery Schools Teaching School Alliance",
    "Birmingham Primary Training Partnership",
    "Birmingham Primary Training Partnership SCITT",
    "Bishop Bronescombe CofE School",
    "Bishop Challoner Teaching School Alliance",
    "Bishop Grosseteste University",
    "Bishop Luffa",
    "Bishop Ramsey CE School",
    "Bishop Rawstorne School Direct Programme",
    "Bishop Winnington-Ingram CE Primary",
    "Bishop's Hatfield Girls' School",
    "Bishop's Stortford Education Trust (BSET) SCITT",
    "Bishop's Stortford SCITT",
    "Bitterne Park Teaching School Alliance",
    "Black Pear Trust Alliance",
    "Black Pear Trust Alliance",
    "Blackburn Team Alliance",
    "Blackburn The Redeemer CofE Primary",
    "Blackburn with Darwen Alliance",
    "Blackfriars Teaching School Alliance",
    "Blackpool Teaching School Alliance",
    "Blessed George Napier Catholic School and Sports College",
    "Blessed Thomas Holford Catholic College",
    "Blue Kite Academy Trust",
    "Blue Sky Teaching School",
    "Bluecoat Academy",
    "Bluecoat SCITT Alliance Nottingham",
    "Boarshaw Community Primary School",
    "Boldmere Teaching School Alliance",
    "Bolingbroke Excellence Alliance",
    "Bonneygrove Primary School",
    "Bordesley Green Girls' School TSA",
    "Boston West Primary School",
    "Bourne Westfield (for the Deepings SCITT)",
    "Bourne Westfield Primary Academy",
    "Bournemouth Poole & Dorset Teacher Training Partnership",
    "Bournville Village Primary School",
    "Bourton Meadow Academy",
    "Bourton Meadow Initial Teacher Training Centre",
    "Bower Grove School",
    "Bowes Primary School",
    "Boxgrove Primary School",
    "Boxgrove Primary School",
    "Bracknell Forest Secondary Schools Partnership",
    "Bradfields School",
    "Bradford Birth to 19 SCITT",
    "Bradford College",
    "Bradford South Partnership",
    "Bradley Barton Primary School And Nursery Unit",
    "Brampton Manor Academy",
    "Bransgore Church of England Primary School",
    "Bransgore Church of England Primary School",
    "Bransgore Church of England Primary School",
    "Brays Teaching School",
    "Breck Primary School",
    "Brent Teaching School Alliance",
    "Bridgewater High School",
    "Bridging the Tamar Learning Alliance",
    "Bridgnorth Endowed School",
    "Brighouse High School",
    "Brindishe Green School",
    "Brindishe Green School",
    "Brine Leas School",
    "Bristol Cathedral",
    "Bristol E-ACT Partnership",
    "Bristol Early Years Teaching Consortium",
    "Bristol Metropolitan Academy",
    "Bristol Primary Teaching School Alliance: Whitehall Primary/Ashley Down Primary",
    "Bristol Redcliffe Open Interchange",
    "Britannia Teaching School Alliance at Belgrave St Bartholomew's Academy",
    "Broadfields Primary School",
    "Broadwater CofE First and Middle School",
    "Broadway Academy",
    "Bromley Schools  Collegiate",
    "Bromley Schools' Collegiate (Beaverwood School for Girls)",
    "Bromley Schools' Collegiate Eliot Bank Gordonbrock",
    "Bromley Schools' Collegiate School Direct",
    "Bromsgrove Primary Teaching School Alliance",
    "Brooke Weston Teaching School Alliance",
    "Brookhill Leys Primary And Nursery School",
    "Brookside Infant School",
    "Brunel University London",
    "Brunswick Park Alliance",
    "Buckingham Partnership",
    "Buckinghamshire Teaching School Partnership",
    "Buile Hill VA College SCITT",
    "Buile Hill Visual Arts College",
    "Burlish Park Primary School",
    "Burnham Teaching Partnership",
    "Burnt Mill Academy",
    "Burton Morewood CofE Primary School",
    "Bury St Edmunds County Upper School",
    "Bury Teaching Schools Alliance",
    "Butlers Court School",
    "Buttsbury Infant School",
    "Buxton Community School",
    "Byron Primary School",
    "CAPITAL (Sefton)",
    "CAT Teaching School",
    "CECET Alliance",
    "CHM Teaching School Alliance",
    "CLASS",
    "CMAT Stamford Welland Academy",
    "CMAT West Town Primary",
    "CREC Early Years Partnership",
    "CREC Early Years Partnership",
    "CTC Kingshurst Academy",
    "CTSN - Cambridge Teaching Schools Network",
    "Cabot Learning Federation",
    "Cabot Learning Federation SCITT",
    "Calthorpe Park North East Hants Consortium",
    "Calthorpe School Sports College",
    "Caludon Castle School",
    "Cambridge & Suffolk Schools Alliance (CASSA)",
    "Cambridge Early Years Teaching School Alliance (CEYTSA)",
    "Cambridge Meridian Academies Trust & Swavesey Village College",
    "Campus Stockton Teaching Alliance",
    "Cannock Chase High School",
    "Canterbury Christ Church University",
    "Canterbury Teaching Alliance",
    "Canterbury and Swale Teacher Training Alliance",
    "Cardinal Hume Catholic School",
    "Cardinal Newman College",
    "Carlisle School Direct",
    "Carmel College",
    "Carmel Teacher Training (SCITT)",
    "Carmel Teacher Training Partnership (CTTP)",
    "Carter Community School",
    "Castle Consortium",
    "Castle Hill Infant School",
    "Castle Hill School",
    "Castle Newnham Partnership",
    "Castle View Enterprise Teaching Alliance",
    "Castledown Primary School",
    "Catalyst Teaching School Alliance",
    "Catholic Coastal Partnership",
    "Catholic Schools Teaching School Alliance School Direct",
    "Catholic Teaching Alliance (North)",
    "Catholic Teaching Alliance (South East London)",
    "Catholic Teaching Schools Alliance",
    "Cawston Voluntary Controlled Primary School",
    "Celtic Cross Education",
    "Central Learning Partnership Trust Teaching School Alliance",
    "Chace Community School",
    "Chadsgrove Teaching School Alliance",
    "Chadsmoor Community Infants And Nursery School",
    "Chailey School",
    "Challoners High Bucks Hub",
    "Change through Learning Teaching School Alliance",
    "Charles Dickens Primary School",
    "Charlotte Sharman Primary School",
    "Charlton Park Academy",
    "Charlton School",
    "Chauncy Training Partnership",
    "Cheadle Hulme High School",
    "Cheadle and Marple College Network",
    "Cheam Park Farm Junior School",
    "Chellaston Academy",
    "Chepping View Primary Academy",
    "Chepping View Primary Academy SCITT",
    "Cheshire East SCITT",
    "Cheshire Leadership & Teaching Alliance",
    "Cheshire Vale Teaching School Alliance",
    "Chichester High School",
    "Child First Partnership",
    "Chiltern Teaching School Alliance",
    "Chiltern Training Group",
    "Chiltern Training Group part of the Chiltern Learning trust",
    "Chingford Academies Trust",
    "Chipping Norton School",
    "Chorus Education Trust and Sheffield Teaching School Alliance",
    "Christ Church CE VA Primary School",
    "Christ Church CofE Primary School",
    "Christ Church Primary School, Hampstead",
    "Christ The King Catholic Primary School",
    "Christ The King Catholic Primary School",
    "Christ The King College",
    "Christleton High School",
    "Church Drive ITT/GAPS",
    "Churchfield Primary School, Gateway TSA (North London)",
    "Churchfields Junior School",
    "Churwell Primary School",
    "City Excellence in Teaching",
    "City Learning Trust",
    "City of Liverpool College",
    "City of Westminster College",
    "Claremont Primary School",
    "Claydon High School",
    "Clayton-le-Moors All Saints Church of England Primary School",
    "Cleeve Park School",
    "Cleves School",
    "Cliff Lane Primary School",
    "Co-op Academies Trust School Direct - Primary",
    "Coastal Teaching Partnership South",
    "Cobham Free School",
    "Colchester Royal Grammar School",
    "Colchester Teacher Training (CTTC)",
    "Colchester Teacher Training Consortium",
    "Coldfall Teaching School",
    "Colegrave Primary School (SCITTELS)",
    "Collingwood College",
    "Collingwood School & Media Arts College",
    "Colmore Partnership Teaching School Alliance",
    "Coloma Convent Girls' School",
    "Colston's Girls' School BS6 5RD",
    "Compton SCITT",
    "Congleton education Community Partnership",
    "Conisborough College",
    "Conisbrough Ivanhoe Primary Academy",
    "Connect Teaching Partnership",
    "Connect Teaching School Alliance",
    "ConnectEd Partnership",
    "Consilium SCITT",
    "Consortium Multi Academy Trust",
    "Coombe Hill Junior School",
    "Copleston High School",
    "Coppice Primary Academy",
    "Cornerstone Academy Trust",
    "Cornwall SCITT Partnership (3-11)",
    "Cornwall School Centred Initial Teacher Training. (Cornwall SCITT)",
    "Cornwall Teaching School",
    "Cornwallis Academy",
    "Cornwallis Academy",
    "Corpus Christi Catholic Academy Trust Alliance",
    "Corpus Christi Catholic Primary School",
    "Cotgrave Candleby Lane School",
    "Cotswold Edge Teaching Alliance",
    "Coundon Court",
    "Court Moor Partnership",
    "Coventry University",
    "Cramlington Learning Village",
    "Cramlington Teaching School Alliance SCITT",
    "Crampton School",
    "Cranford Community College",
    "Cricket Green School",
    "Crispin School with the Mid Somerset Consortium",
    "Cromwell Community College",
    "Cromwell Community College; an Active Learning Trust school",
    "Cuckoo Hall Academies Trust (CHAT)",
    "Cuckoo Hall Academies Trust (CHAT)",
    "Culcheth Campus",
    "Culcheth High School",
    "Cullompton Community College",
    "Cumbria Primary Teacher Training",
    "Dacorum Schools Alliance",
    "Dale Hall Primary School",
    "Dale Teaching School Alliance",
    "Dales TSA",
    "Dallam Teaching Alliance",
    "Dame Alice Owen's School",
    "Darlinghurst Primary and Nursery School",
    "Darlington West Park Partnership",
    "Dartford Grammar School",
    "Dartford Grammar School",
    "Dartmoor Federation",
    "Dartmoor Teaching School Alliance",
    "Davies Lane Teaching School",
    "Dawlish Learning Partnership",
    "De La Salle School and Language College",
    "De Stafford School",
    "Deaf Hill Primary School",
    "Deansfield Community School, Specialists In Media Arts",
    "Debden Park High School",
    "Delta Teaching School Alliance",
    "Denbigh Teaching School Alliance",
    "Derby City Schools Alliance",
    "Derby Teaching Schools Alliance",
    "Devon And Cornwall Cooperative Alliance",
    "Devon Moorland Schools Partnership",
    "Devon Primary SCITT",
    "Devon Primary SCITT School Direct",
    "Devon Secondary Teacher Training Group (DSTTG)",
    "Devon and Cornwall Cooperative Alliance",
    "Devonport High School for Boys",
    "Deyes High School",
    "Dial Park Primary School",
    "Diocese of Leeds BKCAT Alliance",
    "Diocese of Middlesbrough Teaching School Alliance",
    "Diocese of Salisbury Academy Trust",
    "Diocese of Truro",
    "Diocese of Truro",
    "Dixons Multi-Academy Trust (DMAT)",
    "Djanogly City Academy",
    "Doncaster ITT Partnership",
    "Doncaster Partners in Learning TSA",
    "Doncaster Regional Alliance For Teacher Training Secondary",
    "Doncaster Regional Alliance for Teacher Training (Secondary)",
    "Doncaster Regional Alliance for Teacher Training Secondary",
    "Dorridge Alliance",
    "Dorset Teacher Training Partnership",
    "Dorset Teaching School Alliance",
    "Dove House School Academy Trust",
    "Dover, Deal and Sandwich Partnership",
    "Downton CofE VA Primary School",
    "Droitwich Spa High School and Sixth Form Centre",
    "Durand Academy",
    "Durants School",
    "Durham SCITT",
    "Durham Schools Together",
    "Durham St Margaret's",
    "Durham University",
    "Dyke House Sports and Technology College",
    "ELIP",
    "ELTSA School Direct",
    "ENCOMPASS The Inclusive Teaching School",
    "Ealing Primary Teaching School Alliance",
    "Ealing Teaching School Alliance",
    "Early Foundations Teaching School Alliance",
    "East Cheshire School Direct Partnership",
    "East Herts Partnership",
    "East Kent Learning Alliance",
    "East Lancashire Inclusion Partnership",
    "East London Alliance SCITT",
    "East London Alliance SCITT (School Direct)",
    "East London Early Years and Schools Partnership",
    "East London Teaching School Alliance",
    "East Midland's Primary Catholic Academies",
    "East Midlands Teacher Training Partnership",
    "East One Partnership",
    "East Riding College",
    "East Sussex Teacher Training Partnership",
    "East Sussex Teacher Training Partnership SCITT IK",
    "East Sussex Teacher Training Partnership SCITT RSW",
    "East Sussex Teacher Training Partnership School Direct Salaried TH",
    "East of England Teacher Training",
    "Eastborough Junior Infant And Nursery School",
    "Eastbourne Area School Direct Alliance",
    "Eastgate Academy",
    "Eastwood Park Academy Trust",
    "Eatock School Direct",
    "Eaton House the Manor School",
    "EborHope Teaching Schools Alliance",
    "Eden Learning Trust",
    "Edge Hill University",
    "Edgewick Community Primary School",
    "Educate Teacher Training",
    "Education Teaching Alliance Lewisham",
    "Edward Worlledge Community Junior School",
    "Edwards Hall Primary School",
    "Eldon Infant School",
    "Eleanor Palmer Primary School",
    "Eliot Bank Primary School",
    "Ellis Guilford School and Sports College",
    "Ellison Boulters Church of England Primary School",
    "Elmhurst Teaching School Alliance",
    "Elmridge Primary School",
    "Elston Hall & St Bartholomew's Teaching School Alliance",
    "Emersons Green Primary School",
    "Emmanuel Teaching School Alliance",
    "Emmaus TSA",
    "Encompass",
    "Encompass Learning Alliance (Berkshire)",
    "Encompass Learning Alliance Berkshire",
    "Endeavour Learning SCITT",
    "Endeavour TSA",
    "Enfield County School",
    "Epinay Teaching School Partnership",
    "Equate Teaching School Alliance",
    "Ernesettle Community School",
    "Esher CofE High School",
    "Esk Valley Alliance",
    "Essendine Primary School Alliance",
    "Essex Primary SCITT",
    "Essex School Direct",
    "Essex Teacher Training",
    "Essex and Thames Primary SCITT",
    "Excalibur TSA",
    "Exceed Partnership",
    "Exceed SCITT",
    "Exeter Consortium",
    "Exning Primary School",
    "Fairfax Academy",
    "Fairfield Infant School",
    "Fairfields Teaching School",
    "Fakenham Academy Partnership",
    "Fareham and Gosport Primary SCITT",
    "Farlingaye & Kesgrave Teaching School Alliance",
    "Fazakerley High School",
    "Featherstone High School",
    "Felsted Primary School",
    "Fenland Teaching School Alliance",
    "Field Junior School",
    "Field Lane J I & N School",
    "Fields of Learning Teaching School Alliance",
    "Five Towns ITT Partnership",
    "Flying High Partnership",
    "Forest Hill Schools Partnership",
    "Forest Independent Primary Collegiate SCITT",
    "Forest Learning Alliance",
    "Forest Of Galtres Anglican/Methodist Primary School",
    "Forest Way Teaching School Alliance",
    "Forge TSA",
    "Forsbrook CofE Controlled Primary School",
    "Fort Pitt Grammar School",
    "Forty Hill CofE Primary School",
    "Fox Primary School",
    "Foxes Piece School",
    "Framwellgate School Durham",
    "Frank Wise School",
    "Frederick Bird Primary School",
    "Freebrough Academy",
    "Freemantle Church of England Community Academy",
    "Friern Barnet School",
    "Furley Park",
    "Future Stars TSA",
    "Fylde Coast Teaching School SCITT",
    "GLF Schools' Teacher Training",
    "Gateshead Primary SCITT",
    "Gateshead SCITT Alliance (Dunston Hill School Direct)",
    "Gateshead SCITT Alliance (Falla Park School Direct)",
    "Gateway Alliance (Midlands)",
    "Gateway Teaching School Alliance",
    "Gatley Primary School",
    "Gearies Primary School",
    "Geoffrey Field Junior School",
    "George Abbot SCITT",
    "George Abbot SCITT School Direct",
    "George Spencer Academy SCITT",
    "George Spencer Academy SCITT",
    "George Stephenson Teaching School Alliance",
    "Giffards Primary School",
    "Gipsey Bridge Academy",
    "Gipsy Hill Federation",
    "Gladesmore Community School",
    "Glapton Primary and Nursery School",
    "Glen Hills Primary School",
    "Glenthorne High School",
    "Gloucestershire Initial Teacher Education Partnership (GITEP)",
    "Gloucestershire Initial Teacher Education Partnership (School Direct)",
    "Glyn School",
    "Godalming Learning Partnership",
    "Golborne Trinity",
    "Goldington Academy",
    "Goldington Green Academy",
    "Goldsmiths, University of London",
    "Gorse SCITT",
    "Gorseland Primary School",
    "Gorsemoor Primary School",
    "Gorsey Bank Partnership",
    "Gosport and Fareham Multi-Academy Trust",
    "Grange Park Primary School",
    "Grantham and South Lincolnshire ITT Partnership",
    "Graveney School",
    "Grazebrook Primary School",
    "Great Sankey Teaching School Alliance",
    "Great Torrington School",
    "Great Yarmouth High School",
    "Green Lanes Primary School",
    "Green Light Alliance",
    "Green Oak CofE Primary School And Nursery",
    "Green Park Primary School",
    "Greenbank Primary Liverpool",
    "Greengate Lane Academy",
    "Greenholm Primary School",
    "Greenland Community Primary School",
    "Greenwood Academies Trust",
    "Greet Teaching School Alliance",
    "Grey Court Teaching School Alliance",
    "Grimley and Holt CE Primary School",
    "Grimsdyke School",
    "Groby and Partners",
    "Growing Expert Teachers",
    "Gumley House RC Convent School FCJ",
    "Gunnersbury Catholic School",
    "Guru Nanak Academy",
    "HART Alliance, North Yorkshire",
    "HART School Direct Partnership",
    "HART of Yorkshire",
    "Haberdashers' Aske's Hatcham College",
    "Hackney Teaching Schools' Alliance",
    "Hales Valley Teaching School",
    "Hall Mead School",
    "Halstow Primary School",
    "Halterworth Teaching School Partnership",
    "Hampshire LEARN SCITT Partnership (School Direct)",
    "Hampton Hargate Primary School",
    "Hampton Vale Primary School",
    "Hamwic SCITT",
    "Harborne Primary School Teaching Alliance",
    "Harbourside",
    "Harewood Primary School",
    "Harleston CofE VA Primary School",
    "Harlow Teacher Training Partnership",
    "Harrington Nursery School",
    "Harris ITE",
    "Harris Initial Teacher Education",
    "Harrison Primary School",
    "Harrow Collegiate Teaching School Alliance",
    "Harrow First",
    "Hartismere School",
    "Harton Teaching School Alliance",
    "Hastings Academies Trust",
    "Hatton Teaching School Alliance",
    "Havering Train2Teach",
    "Hawkley Hall High School",
    "Hawksmoor School",
    "Haybridge Alliance SCITT",
    "Haybridge Teaching School Alliance",
    "Haydon School",
    "Hayesfield Girls School",
    "Hazel Oak School",
    "Hazel Wood Infant School",
    "Hazelwick School",
    "Hazelwood Infant School",
    "Heartlands Academy",
    "Heathland Whitefriars Federation",
    "Heaton Park Primary School",
    "Heckmondwike Grammar School",
    "Hellesdon High School",
    "Helsby High School",
    "Hempstalls-KNSTE",
    "Henry Maynard Primary School",
    "Henry Maynard Training E17",
    "Hereteach Alliance",
    "Heronsgate Primary School",
    "Hertswood Academy",
    "Hethersett Academy",
    "High Force Education (SCITT)",
    "High Force Education SCITT",
    "Higham Lane School Partnership",
    "Highbury Fields School Direct Partnership",
    "Highdown School and Sixth Form Centre",
    "Hildenborough Church of England Primary School",
    "Hillborough Junior School",
    "Hillcross Primary School",
    "Hillingdon SCITT",
    "Hillside School",
    "Hillview School For Girls",
    "Hitchin Boys' School",
    "Holbrook Primary School",
    "Holland Park School",
    "Holmes Chapel Comprehensive School",
    "Holt Heath Teaching Alliance",
    "Holt Heath Teaching Alliance",
    "Holtsmere End Infant and Nursery School",
    "Holy Trinity CE Primary",
    "Holy Trinity Church of England Primary School",
    "Holy Trinity CofE Primary School",
    "Holy Trinity CofE VA Primary School",
    "Homewood School And Sixth Form Centre",
    "Hope Valley College",
    "Horizon Learning Network",
    "Horrabridge Primary & Nursery School",
    "Horton Grange Primary School",
    "Howard Park Community School",
    "Howe Dell Primary School",
    "Huddersfield Horizon SCITT",
    "Hudson Primary School",
    "Hull College",
    "Hull SCITT",
    "Hull SCITT salaried",
    "Humber Teaching School",
    "Hungerhill School",
    "Hursthead Junior School Alliance",
    "Hurstmere School",
    "Husborne Crawley Lower School",
    "INSPIRIT, St Thomas More TSA, Bedford",
    "IPLCN",
    "Ignite TSA",
    "Ignite Teaching School",
    "Ilkley All Saints' Teacher Training Partnership",
    "Inner London Teacher Training Alliance",
    "Innovate Multi Academy Trust",
    "Innovation Teaching School",
    "Inspiration Teacher Training",
    "Inspiration Trust Norwich",
    "Inspire (Warwickshire)",
    "Inspire Multi Academy Trust Teaching Alliance",
    "Inspire Northamptonshire",
    "Inspire Partnership",
    "Inspire and Bosco TSA Sussex",
    "Inspiring Leaders Teacher Training",
    "Iqra Community Primary School",
    "Iqra Primary School",
    "Islamia Schools ITT Partnership",
    "Islamiyah School",
    "Island Teaching Alliance",
    "Isle of Wight SCITT",
    "JFS",
    "James Brindley School",
    "Jewish Schools Direct Primary Consortium",
    "Jewish Teacher Training Partnership",
    "Jewish Teacher Training Partnership",
    "Jewish Teacher Training Partnership (Jewish Secondary School Consortium)",
    "John Ball Primary School",
    "John Donne Primary School",
    "John F Kennedy Special School",
    "John King Infant School",
    "John Mason School",
    "John Port School",
    "John Spence Community High School",
    "Joseph Leckie Academy",
    "Joseph Whitaker (Nottinghamshire, Derbyshire)",
    "Jurassic Coast Teaching Schools' Alliance",
    "KCSP Teaching School",
    "Kaizen Teaching School Alliance",
    "Keele University",
    "Keele and North Staffordshire Teacher Education",
    "Kelsale Church of England Voluntary Controlled Primary School",
    "Kelvedon St Marys - Essex and Thames Primary SCITT",
    "Kemnal Technology College",
    "Kendal Primary Partnership",
    "Kenilworth Partnership",
    "Kent Oaks Consortium",
    "Kent Oaks Consortium",
    "Kent Oaks Consortium",
    "Kent and Medway Training",
    "Kernow Teaching School Alliance KTSA",
    "Kesteven And Sleaford High School Selective Academy",
    "King Alfred's (A Specialist Sports College)",
    "King Edward VII School",
    "King Edward Vi High School For Girls",
    "King Edward's Consortium",
    "King Edward's Consortium (School Direct)",
    "King's College London (University of London)",
    "Kings Langley School",
    "Kings Science Academy",
    "Kingsbridge EIP SCITT",
    "Kingsbridge EIP SCITT",
    "Kingsbury High School",
    "Kingsmead Primary School",
    "Kingston School Direct",
    "Kingston University",
    "Kingsway Primary School",
    "Kirk Hallam Community Technology and Sports College",
    "Kirkbie Kendal School",
    "Kirkby Primary Partnership",
    "Kirklees and Calderdale SCITT",
    "Kyra Teaching School Alliance",
    "LEAD Equate TSA",
    "LEAF",
    "LVS Hassocks",
    "Lacewood Primary School",
    "Lady Boswell's Church of England Voluntary Aided Primary School, Sevenoaks",
    "Lady Hawkins School and Sixth Form Centre",
    "Ladycross Infant School",
    "Ladywood School Direct",
    "Lambeth Teaching Schools' Alliance, Lilian Baylis Technology School",
    "Lambeth Teaching Schools' Alliance, Wyvil Primary School",
    "Lampton Academy",
    "Lampton LWA SCITT",
    "Lancaster and Fylde Schools' Alliance",
    "Landau Forte College Derby SCITT",
    "Landau Forte College Derby SCITT",
    "Langley Park School For Boys",
    "Langtons Junior Academy",
    "Latchmere Teaching School Alliance",
    "Launceston College MAT and Duchy Academy Trust",
    "Laurance Haines School",
    "Lawrence Sheriff School",
    "Learn-AT School Direct",
    "Learners First Schools Partnership",
    "Learning Futures Partnership",
    "Learning Unlimited Teaching School Alliance",
    "Learning for All Alliance",
    "Ledbury Primary School",
    "Lee Chapel Teaching School Alliance",
    "Leeds Beckett University",
    "Leeds City Training Alliance",
    "Leeds East Primary Partnership",
    "Leeds SCITT",
    "Leeds Trinity University",
    "Leicester & Leicestershire SCITT",
    "Leicester City Partnership",
    "Leicester and Leicestershire SCITT School Direct OLP TSA",
    "Leicestershire Learning Alliance",
    "Leicestershire Secondary SCITT",
    "Leicestershire and Leicester SCITT (School Direct)",
    "Lightwoods Teaching School Alliance",
    "Lime Trust",
    "Lincoln Christ's Hospital School",
    "Lincolnshire Schools ITT Partnership",
    "Lincolnshire Schools ITT Partnership",
    "Lincolnshire Teaching School Alliance SCITT",
    "Lincroft Academy",
    "Lindens",
    "Linwood Teaching School Alliance",
    "Lionel Walden Primary School",
    "Lionwood Teaching School",
    "Litcham School",
    "Littleover Community School",
    "Littleton CofE Infant School",
    "Littleton CofE Infant School",
    "Liverpool College Teaching Partnership",
    "Liverpool Hope University",
    "Liverpool John Moores University",
    "London East Teacher Training Alliance",
    "London East Teacher Training Alliance",
    "London Metropolitan University",
    "London South Bank University",
    "Longcroft School and Sixth Form",
    "Longford Park School",
    "Lord Scudamore Primary Academy",
    "Lordship Lane Primary School",
    "Lordswood Girls' School and Sixth Form Centre",
    "Loreto School Direct Alliance",
    "Loughborough Federation Trust",
    "Loughborough Learning Alliance",
    "Loughborough University",
    "Loxford School of Science and Technology",
    "Luton Futures",
    "Lutterworth College",
    "Lyng Hall School",
    "Lytham St Annes Technology And Performing Arts College",
    "MAITT (Merseyside Alliance Initial Teacher Training)",
    "MAITT (Merseyside Alliance Initial Teacher Training)",
    "MOSAIC Teacher Training Calderdale",
    "Macmillan Academy Teaching School",
    "Malaga Learning Partnership",
    "Manchester Communication Academy",
    "Manchester Communication Primary Academy",
    "Manchester Health Academy",
    "Manchester Nexus SCITT",
    "Manchester Teaching School Alliance",
    "Manor Green Primary and Nursery School",
    "Manor Primary School",
    "Maplefields Academy (Mainstream and Special Needs)",
    "Marine Academy Plymouth",
    "Marine Park Primary School",
    "Mark Rutherford School",
    "Marlbrook Teaching School",
    "Marsden Heights Community College",
    "Mascalls Training Partnership",
    "Matrix TSA",
    "Matthew Moss High School",
    "Matthew Moss ITT Partnership",
    "Mauldeth Road Primary School",
    "Meadowgate School",
    "Meadows School",
    "Meanwood Church Of England Primary School",
    "Medlock Valley Community School",
    "Medway Teaching School Alliance",
    "Medway Valley Training Partnership",
    "Mercia Learning Alliance",
    "Merrylands Teacher Training Partnership",
    "Mersey Boroughs ITT Partnership",
    "Mersey Boroughs ITT Partnership (School Direct)",
    "Merseyside SEN Teaching School Alliance",
    "Merseyside, Cheshire and Greater Manchester Teacher Training Consortium",
    "Merton Special Teaching Alliance",
    "Meryfield Primary School",
    "Mickle Trafford Alliance",
    "Mid Essex Initial Teacher Training",
    "Mid Somerset Consortium for Teacher Training",
    "Middlefield Primary Academy",
    "Middlesbrough Schools' Teaching Alliance",
    "Middlesex University",
    "Milestones Academy",
    "Milford Primary School",
    "Mill Hill School",
    "Millennium Primary School",
    "Mills Hill Primary School [Schools with Schools Teaching School Alliance]",
    "Monk Fryston Church of England Primary School",
    "Monk's Walk School",
    "Monkfrith Primary School",
    "Monkwearmouth Academy",
    "Montpelier Primary School",
    "Montsaye Community Learning Partnership",
    "Moor End Academy",
    "Moorside High School",
    "Mordiford CofE Primary School",
    "Mornington Primary School",
    "Morris Teaching School Alliance",
    "Mossbourne Community Academy",
    "Mowbray Education Trust",
    "Muswell Hill Primary School",
    "NELTA (North East London Teaching Alliance)",
    "NESCOT",
    "NET Academies",
    "NETT",
    "National Forest Teaching School",
    "National Online Teacher Training",
    "Nelmes Primary School",
    "Nene Park Academy",
    "Nene Park Academy",
    "Nene and Ramnoth",
    "Neston Primary and Secondary ITT Partnership",
    "New Collaborative",
    "New Horizons Training Partnership",
    "New Wave Teaching School Alliance",
    "Newcroft School Direct",
    "Newlands Spring Primary School",
    "Newman University",
    "Newport Junior School",
    "Nicholas Postgate Catholic Academy Trust",
    "Ninestiles, an Academy",
    "Norfolk Academies",
    "Norfolk GTP Provider",
    "Norfolk Teacher Training Centre",
    "Norfolk Teacher Training Centre",
    "North Avon Teaching School Alliance",
    "North Beckton Primary School",
    "North Charnwood Learning Partnership",
    "North Devon Teaching School Alliance",
    "North Dorset Teaching School Alliance",
    "North East Essex Teaching School Alliance",
    "North East Lincolnshire ITT Partnership",
    "North East Partnership SCITT (Physical Education)",
    "North East Schools Teaching Alliance",
    "North Essex Teacher Training",
    "North Essex Teacher Training (NETT)",
    "North Herts Catholic Primary Alliance",
    "North Kesteven School",
    "North Lincolnshire SCITT Partnership",
    "North Liverpool Academy",
    "North Liverpool Teaching School Partnership",
    "North London New River Teaching Alliance",
    "North Manchester ITT Partnership",
    "North Sefton Teaching School Alliance",
    "North Shropshire Teaching School Alliance",
    "North Somerset Teaching Alliance",
    "North Staffordshire School Direct",
    "North Star",
    "North Tyneside SCITT",
    "North Tyneside SCITT (New York Primary School Direct)",
    "North West Learning Partnership",
    "North West Leicestershire and South Derbyshire",
    "North West SHARES SCITT",
    "North West Teacher Training Partnership",
    "North West Teaching School Alliance",
    "North Wiltshire SCITT",
    "North Wiltshire SCITT (School Direct)",
    "Northampton School for Boys",
    "Northampton Teacher Training Partnership",
    "Northern Alliance",
    "Northern Lights SCITT",
    "Northern Lincolnshire Education Consortium (NLEC)",
    "Northern Schools Training Consortium",
    "Northgate International Teaching School Alliance",
    "Northumberland CofE Academy",
    "Northwick Park Primary School",
    "Notley High School And Braintree Sixth Form",
    "Notre Dame Catholic College",
    "Notre Dame High School",
    "Notre Dame High School, Norwich",
    "Nottingham Catholic Teaching School Alliance",
    "Nottingham City Primary SCITT",
    "Nottingham Trent University",
    "Nottinghamshire TORCH SCITT",
    "Nunnery Wood High School",
    "ORTU Trust (Gable Hall)",
    "OWLS",
    "Oak Academy",
    "Oak Grove College",
    "Oak Grove College",
    "Oakfield Infant School",
    "Oakham Alliance",
    "Oakthorpe Primary School",
    "Oakwood Academy",
    "Oasis Academy Brightstowe",
    "Oasis Academy Enfield",
    "Oasis Academy Henderson Avenue",
    "Oasis Academy Warndon",
    "Oasis Foundry Teacher Training",
    "Oasis Innovation",
    "Odyssey Teaching School Alliance",
    "Okehampton Primary School",
    "Old Fletton Primary School",
    "One Sixth Form College",
    "Onslow St Audrey's School",
    "Optimus Alliance",
    "Orchard Teaching School Alliance",
    "Oriel High School",
    "Orleans Park Teaching Alliance",
    "Ormiston Bushfield Academy",
    "Ormiston Forge Academy",
    "Ormiston Sir Stanley Matthews Academy",
    "Orwell Teaching School",
    "Our Lady Immaculate Catholic Primary School",
    "Our Lady Queen of Martyrs Roman Catholic Voluntary Aided Primary School",
    "Our Lady and St Hubert's Catholic Primary School",
    "Our Lady of Pity RC Primary School",
    "Ouseburn Learning Trust",
    "Owls",
    "Oxford Brookes University",
    "Oxford University",
    "Oxfordshire Teacher Training",
    "Oxon-Bucks SCITT",
    "Oxted School",
    "PTSA - Plymouth Teaching School Alliance",
    "Paget High School Business And Enterprise College",
    "Painsley Teaching School Alliance",
    "Palace Fields Primary Academy",
    "Palmerston School",
    "Pan Enfield  Alliance",
    "Paradigm Teaching School",
    "Paradigm Trust: Old Ford Primary Academy and Ipswich Academy",
    "Parbold Douglas Church of England Academy",
    "Parish Church CofE Junior School",
    "Park Community School",
    "Park Community School",
    "Park Hall Junior Academy",
    "Park House School",
    "Park Junior School",
    "Park View School The Academy Of Mathematics And Science",
    "Parkinson Lane School Direct Partnership (Calderdale)",
    "Parklands Infants school",
    "Parkside - KNSTE",
    "Parkwood Primary School",
    "Parliament Hill School",
    "Parmiter's School",
    "Partnership London SCITT (PLS)",
    "Pathways",
    "Pathways Partnership",
    "Pegasus Academy Trust",
    "Pegasus Primary School Blackbird Academy Trust",
    "Pen Green Centre for Children and Their Families",
    "Peninsula SCITT",
    "Peninsula Teaching School",
    "Penistone Area Partnership",
    "Penistone Area Partnership",
    "Penistone Grammar School",
    "Pennine Lancashire Alliance",
    "Pennine Lancashire SCITT",
    "Pennine Teaching Alliance",
    "Penrice Community College",
    "Perins Innov-8",
    "Perry Beeches SCITT",
    "Perry Beeches The Academy",
    "Perry Hall Primary School",
    "Perton Primary Academy",
    "Peter Pan Teaching School",
    "Peterlee Partnership Teaching School Alliance",
    "Petersfield School",
    "Phoenix Primary School",
    "Pickwick Learning",
    "Pimlico Academy",
    "Pinkwell Primary School",
    "Pinnacle, South Craven",
    "Pioneer Learning Trust",
    "Pioneers Partnership SCITT",
    "Pioneers Partnership SCITT",
    "Plantsbrook Teaching School Alliance",
    "Plume Community Teaching Partnership",
    "Plymouth Marjon University",
    "Plymstock School",
    "Polaris",
    "Ponteland Community Middle School",
    "Pool Hayes Arts and Community School",
    "Poole High School",
    "Poole SCITT",
    "Poole SCITT Lower Primary",
    "Poole Teaching School Alliance",
    "Portishead Teaching School Alliance (Primary)",
    "Portsmouth High School",
    "Portsmouth Primary SCITT",
    "Portsmouth Teaching School Alliance",
    "Portswood Primary School",
    "Positive Regard Teaching School Alliance",
    "Powell's Church Of England Primary School",
    "Powers Hall Academy",
    "Prendergast School",
    "Prenton Primary School",
    "President Kennedy Teaching School Alliance",
    "Prestolee Primary School",
    "Prestolee SCITT",
    "Preston Teaching School Alliance",
    "Priestmead and Harrow Teaching School Alliance",
    "Primary Advantage",
    "Primary Catholic Partnership SCITT",
    "Primary Excellence Teaching School Alliance",
    "Primary TS Alliance",
    "Prince Albert Junior and Infant School",
    "Prince Bishops Community Primary School",
    "Prince Bishops Teaching School Alliance - Benedict Biscop C of E Academy",
    "Prince Bishops Teaching School Alliance - Whitburn Church of England Academy",
    "Prince Henry's High School & South Worcestershire SCITT",
    "Princess Frederica CofE Primary School",
    "Princess May Primary School",
    "Priory School",
    "Priory School",
    "Professional Learning Network (Lyons Hall)",
    "Prospect School",
    "Pudsey Primrose Hill",
    "QE School, Wimborne",
    "Quantock Teaching Alliance",
    "Quarrydale Academy",
    "Quayside Teaching Alliance",
    "Queen Elizabeth II Silver Jubilee School, Horsham",
    "Queen Elizabeth School",
    "Queen Elizabeth's Grammar School, Horncastle",
    "Queen's Park Academy",
    "Queen's Park High School",
    "Queensmill School",
    "Quintin Kynaston School",
    "RAISE",
    "RSA Academies' Teaching School Alliance",
    "RSA Academy",
    "RTSA",
    "Rattlesden Church of England Voluntary Controlled School",
    "Ray Lodge Primary School",
    "Reading School",
    "Reaside Academy",
    "Red Kite Primary School Direct (Leeds)",
    "Red Kite Secondary School Direct",
    "Red Kite Teacher Training",
    "Red Kite Teacher Training (School Direct)",
    "Redborne Upper School And Community College",
    "Redcar and Cleveland Teacher Training Partnership",
    "Redhill Primary Teacher Training",
    "Redhill Secondary Teacher Training",
    "Redmoor High School",
    "Redriff Primary School",
    "Redwell Primary School",
    "Redwell Primary School",
    "Richard Hale School/The Sele School Partnership",
    "Richmond Primary Teaching School Alliance",
    "Richmond School",
    "Richmond School",
    "Richmond Teaching School Alliance",
    "Riding Forward TSA",
    "Ringwood School Teaching Alliance",
    "Ripley St Thomas Church Of England Academy",
    "Ripley TSA SCITT",
    "Risley Avenue Primary School",
    "River Wye Teaching School",
    "Riverley Primary School",
    "Rivington School Direct",
    "Robert Bloomfield Academy",
    "Rockliffe Manor Cluster",
    "Rodillian",
    "Roehampton University",
    "Roman Hill Primary School",
    "Rosecroft Primary School",
    "Rother Teaching School Alliance",
    "Rothley Church Of England Primary School",
    "Round House Primary Academy",
    "Royal Academy of Dance",
    "Rugby 11 Consortium",
    "Rugby Primary Learning Consortium 12",
    "Ruislip High School",
    "Runshaw College",
    "Runshaw College",
    "Runwell Community Primary School",
    "Rushall Junior Mixed and Infant School",
    "Rushcliffe School",
    "Rushey Mead Academy",
    "Rushey Mead School",
    "Ryders Hayes Teaching School",
    "SAF Initial Teacher Training",
    "SCITT in East London Schools (SCITTELS)",
    "SCLA Primary",
    "SCLP Alliance",
    "SD at Turton",
    "SEND Teaching School",
    "SERA",
    "SJPTSA",
    "SPARKLE ALLIANCE",
    "STAGE TSA",
    "STAR Teaching School Alliance",
    "STEP Teaching School Alliance School Direct",
    "SUPA SOUTHAMPTON",
    "SUPA Salisbury",
    "SUPA Southampton",
    "Sacred Heart Catholic High School",
    "Sacred Heart Newcastle SCITT",
    "Sacred Heart Roman Catholic Secondary School",
    "Sacred Heart Secondary with Redcar and Cleveland Teacher Training Partnership",
    "Sacred Heart of Jesus & St Joseph Teaching School Alliance",
    "Saint Bede's Catholic Va Primary School",
    "Saint Francis of Assisi Catholic Primary School",
    "Saint George's Church of England School",
    "Saint Joan of Arc Catholic School",
    "Salford Alliance of Learning Schools",
    "Salisbury Primary Teaching Alliance",
    "Saltash.net community school",
    "Saltford CofE Primary School",
    "Samuel Pepys School",
    "Sandwell Community School",
    "Sarah Bonnell School",
    "Scarborough Teaching Alliance",
    "Scarborough Teaching Alliance Secondary",
    "School Direct Reading Area",
    "Scientia Academy",
    "Seabridge-KNSTE",
    "Sedlescombe CofE Primary School",
    "Services for Education",
    "Seven Kings Teaching School Alliance",
    "Severn Teaching School Alliance",
    "Severnside Learning Partnership",
    "Seymour Park Community Primary School",
    "Shaftesbury High School",
    "Shanidar - West Yorkshire",
    "Sharing Excellence Partnership Dunraven School Streatham",
    "Sheffield Hallam University",
    "Sheffield South East Learning Partnership (SSELP)",
    "Sheffield South Primary Partnership",
    "Shepway Teaching School Alliance",
    "Sherbourne Fields School",
    "Sheridan School",
    "Sheringham High School",
    "Sheringham Primary School",
    "Sheringham Primary School",
    "Sheringham Primary Teaching School Alliance",
    "ShiNE Teaching School Alliance",
    "Shipston-on-Stour Primary School",
    "Shirebrook Academy",
    "Shireland Teaching School Alliance",
    "Shires Teaching School Alliance",
    "Shotton Hall SCITT",
    "Sidney Stringer Academy",
    "Silk Alliance",
    "Silver Birch Academy Trust",
    "Simon Balle School",
    "Sir Harry Smith Community College",
    "Sir John Cass Partnership",
    "Sir Robert Geffery's School",
    "Skipton Girls' High School",
    "Smestow School A Specialist Sports College",
    "Societas - KNSTE",
    "Solihull Secondaries Alliance",
    "Somers Park Primary School",
    "Somerset SCITT Consortium",
    "South Axholme Academy",
    "South Birmingham SCITT",
    "South Bradford Partnership",
    "South Bromsgrove High Teaching School",
    "South Coast SCITT",
    "South Cumbria SCITT",
    "South Cumbria School Direct",
    "South Deeside (Pensby) Schools Federation",
    "South Durham Teaching Alliance",
    "South East Learning Alliance",
    "South Farnborough Junior",
    "South Glos Teaching School Alliance",
    "South London Consortium",
    "South Otterington Church of England Voluntary Controlled Primary School",
    "South Thames Early Education Partnership & Goldsmiths University (STEEPtsa)",
    "South West Teacher Training",
    "South Worcestershire and ITT Consortium",
    "South of Tyne Primary Alliance",
    "Southam Teaching Alliance",
    "Southampton Inclusion Partnership",
    "Southend High School for Girls",
    "Southend SCITT",
    "Southfields Academy",
    "Southfields Academy Teaching School SCITT",
    "Southgate School",
    "Southwark Primary School",
    "Sparkenhoe School Direct",
    "Speldhurst CE Primary School",
    "Spindle Point Primary School",
    "Spiral Partnership Trust",
    "Spires Academy Teaching Alliance",
    "Sponne School",
    "Spring Bank Primary School",
    "Spring Vale Primary Schools Direct Alliance",
    "Springboard",
    "Springfield Community Primary School",
    "Springfield Junior School",
    "Springwell Community College",
    "Springwood High School",
    "St Ambrose Barlow",
    "St Andrew and St Francis CofE Primary School",
    "St Andrews CE Primary School",
    "St Andrews CE Primary Teaching School",
    "St Ann's Primary School",
    "St Anne's Catholic Primary School",
    "St Anthony's Catholic Primary School, Beeston",
    "St Anthony's Girls' Catholic Academy",
    "St Augustine Academy",
    "St Augustine's CofE High School",
    "St Augustine's RC Primary School",
    "St Barnabas and St Philip's CofE Primary School",
    "St Bede Academy",
    "St Bede's Catholic College",
    "St Bede's Catholic Comprehensive School and Sixth Form College, Lanchester",
    "St Bede's Deanery Alliance",
    "St Bede's Deanery Teaching Alliance",
    "St Bede's Roman Catholic Voluntary Aided Primary School, Sacriston",
    "St Bernadettes Roman Catholic Primary School Aided",
    "St Bernard's School Direct Training",
    "St Brendan's Catholic Primary School",
    "St Catherine's Catholic School For Girls",
    "St Christopher's Catholic Primary School",
    "St Clement's Teaching School",
    "St Cuthbert's High School",
    "St Edmund's Nursery School & Children's Centre",
    "St Edmunds Catholic Academy",
    "St Edward's Church of England Primary School",
    "St Francis School",
    "St Francis Xavier Teaching School Alliance",
    "St Francis of Assisi Catholic Primary School",
    "St Francis of Assisi Catholic Primary School",
    "St George RC School",
    "St George the Martyr CE Primary School",
    "St George's Academy",
    "St George's Academy",
    "St George's CofE VA Primary",
    "St George's Primary School",
    "St Helens ONE - Grange Valley Primary",
    "St Helens ONE Bleak Hill",
    "St Hugh's School",
    "St James' Partnership",
    "St James's Hatcham Church of England Primary School",
    "St John Bosco",
    "St John Bosco Catholic Primary School",
    "St John Bosco Teaching School Alliance",
    "St John Fisher Catholic High School",
    "St John Houghton",
    "St John The Baptist Church Of England Junior School",
    "St John Vianney RC Primary School",
    "St John's Catholic Comprehensive",
    "St John's Church of England First School, Wimborne",
    "St John's CofE Middle School Academy",
    "St John's CofE Primary School BD4 6JF",
    "St John's Primary School",
    "St John's School and Sixth Form College",
    "St John's Teaching School Alliance",
    "St Johns Church Of England Primary School",
    "St Joseph's Alliance",
    "St Joseph's Catholic Primary School",
    "St Joseph's College SCITT",
    "St Joseph's College SCITT (School Direct)",
    "St Joseph's RC Lower School",
    "St Lawrence CE(A) Junior",
    "St Louis Roman Catholic Primary School",
    "St Luke's CofE Primary School",
    "St Luke's Science and Sports College",
    "St Margaret Ward Catholic Academy",
    "St Mark's Catholic School",
    "St Marks's teaching School Partnership",
    "St Martin at Shouldham CE VA Primary School",
    "St Mary And St Pancras Church Of England Primary School",
    "St Mary and St Thomas Aquinas Catholic Primary School",
    "St Mary's Catholic Academy - KNSTE",
    "St Mary's Catholic High School",
    "St Mary's Catholic High School, A Catholic Voluntary Academy",
    "St Mary's Catholic Primary School, Buckfast",
    "St Mary's Catholic School",
    "St Mary's CofE Primary School",
    "St Mary's CofE VA Primary School - KNSTE",
    "St Mary's College",
    "St Mary's School Direct Partnership Programme",
    "St Mary's Teaching School",
    "St Mary's University, Twickenham",
    "St Marylebone Teaching School Alliance",
    "St Marys C of E Primary and Nursery, Academy, Handsworth",
    "St Marys Menston",
    "St Matthew's CofE Primary School",
    "St Matthew's School, Westminster",
    "St Matthew's Teaching School",
    "St Michael's CE Primary",
    "St Michael's Catholic Grammar School",
    "St Michael's VA Junior School",
    "St Monica's Catholic Teaching School Alliance",
    "St Ninian Catholic Federation",
    "St Olave's and St Saviour's Grammar School",
    "St Patrick's Greater Manchester Alliance",
    "St Paul's And All Hallows CofE Junior School",
    "St Paul's Caritas Christi",
    "St Paul's CofE Primary School",
    "St Paul's CofE Primary School Nw7",
    "St Paul's Whitechapel CE Primary School",
    "St Paul's and St Timothy's Catholic Infant School",
    "St Pauls Nursery School & Children's Centre",
    "St Peter's Catholic Primary School",
    "St Peter's Eaton Square CofE Primary School",
    "St Peter's London Docks CofE Primary School",
    "St Peter's Solihull Teaching School Alliance",
    "St Peter's Teaching School",
    "St Philip's CofE Primary School, Atherton",
    "St Polycarp's CTSA",
    "St Stephen's Church of England Primary School",
    "St Stephen's CofE Primary School",
    "St Thomas More Catholic Primary School, Birmingham",
    "St Thomas More Catholic School",
    "St Thomas More Catholic Voluntary Academy",
    "St Thomas More's Catholic Primary School, Colchester",
    "St. Andrew's Teaching Alliance",
    "St. Anne's Primary, Brown Edge",
    "St. Edward's Catholic Primary Teaching School",
    "St. George's Academy Partnership",
    "St. James's Teaching School Partnership",
    "St. Joseph's College Stoke Secondary Partnership",
    "St. Mary's TSA",
    "St. Michael's Federation",
    "Stafford Hub",
    "Stafford Primary Schools' Teaching Partnership",
    "Staffordshire University",
    "Stamford ITE Cluster",
    "Star Teachers SCITT",
    "Step Academy Trust",
    "Stevenage Schools' Partnership",
    "Stockton-on-Tees Teacher Training Partnership",
    "Stoke Damerel Community College",
    "Stour Vale Academy Trust",
    "Stourport SCITT",
    "Stradbroke Church of England Primary School IP21 5HH",
    "Stradbroke Primary School",
    "Stranton Primary School",
    "Stretford High School",
    "Suffolk and Norfolk Primary SCITT",
    "Suffolk and Norfolk Secondary SCITT",
    "Sunderland Aim High Alliance",
    "Sunderland Nursery Schools",
    "Sunningdale School",
    "Surrey County Council",
    "Surrey South Farnham SCITT",
    "Surrey South Farnham SCITT",
    "Sutton Park SCITT",
    "Sutton SCITT",
    "Swansfield Park First School",
    "Swanwick Hall School",
    "Swindon Initial Teacher Education",
    "Swindon Initial Teacher Education in Gloucester",
    "Swindon SCITT",
    "Swindon Teacher Training Partnership",
    "Swiss Cottage Teaching School Alliance",
    "Sydney Russell Teaching School Alliance",
    "TADSS ITT Partnership",
    "TEACH Poole School Direct Salaried",
    "TESLA, Bohunt School",
    "TKAT SCITT",
    "TTSA (St. Clere's)",
    "Talentum learning Trust",
    "Tall Oaks Academy Trust",
    "Tame Valley Academy",
    "Tameside Alliance",
    "Tandridge Teaching Alliance",
    "Tanglewood Nursery School",
    "Tarleton Academy",
    "Tauheedul Islam Girls High School",
    "Tauheedul Islam Girls High School",
    "Taunton Teaching Alliance (Heathfield School)",
    "Teach Bolton",
    "Teach Cheshire",
    "Teach East",
    "Teach East London",
    "Teach East London Teaching School Alliance",
    "Teach Kent & Sussex",
    "Teach London South East",
    "Teach Maidenehead",
    "Teach Maidenhead",
    "Teach Manchester",
    "Teach North: North Yorkshire",
    "Teach North: Tees Valley",
    "Teach North: West Yorkshire",
    "Teach North: Yorkshire & Humber",
    "Teach South West (SWTSA)",
    "Teach SouthEast",
    "Teach SouthEast",
    "Teach Thurrock Primary Partnership",
    "Teach Wimbledon",
    "Teach in Kent",
    "Teach in Redbridge - Mayespark",
    "Teach@SJB",
    "Teach@Salesian",
    "Teach@Salesian (Schools Direct)",
    "TeachSlough",
    "Teacher Training @ Knutsford",
    "Teaching London: LDBS SCITT",
    "Teaching School Alliance 24",
    "Telford Partnership",
    "Temple Newsam Learning Partnership",
    "Temple Primary School",
    "Tendring Hundred Primary SCITT (School Direct)",
    "Tendring Teaching School Alliance",
    "Tes Institute",
    "Thames Teaching Alliance",
    "Thames Teaching Alliance, Gravesham",
    "Thamesmead SCITT",
    "Thamesmead School",
    "The 3 Rivers Teaching School Alliance",
    "The Academy at Shotton Hall",
    "The Acorn Teaching School",
    "The Amberley Partnership",
    "The Angmering School",
    "The Arnewood School Academy",
    "The Arthur Terry School SCITT",
    "The Aspirations Academies Trust",
    "The Augustine Partnership",
    "The Bardney Church Of England And Methodist Primary School",
    "The Basingstoke Alliance SCITT",
    "The Bath and Mendip Partnership Teaching School",
    "The Bawburgh School",
    "The Bay Church of England Primary",
    "The Beach Teaching School",
    "The Beauchamp Lionheart Training Partnership",
    "The Beckfoot School Direct Partnership",
    "The Bedfordshire Schools  Training Partnership",
    "The Bracknell Forest Partnership",
    "The Bridge AP Academy",
    "The Bridge Education Centre",
    "The Bridge London TSA",
    "The Broxbourne School",
    "The Buckingham Partnership",
    "The Buckingham Partnership (School Direct)",
    "The Cambridge Partnership",
    "The Cambridge Teaching Schools Network SCITT",
    "The Catholic High School, Chester A Specialist Science College",
    "The Catholic Schools Partnership Teaching School Alliance",
    "The Cavendish School",
    "The Chafford School",
    "The Chalfonts Community College",
    "The Cheadle Academy",
    "The Cherwell OTSA SCITT",
    "The City Academy, Hackney",
    "The City of Leicester College",
    "The Co-Operative Primary Academy Of Leeds",
    "The Compton School",
    "The Costello School",
    "The Cotswold Teaching School Partnership",
    "The Coventry Blue Coat Church of England School and Music College",
    "The Coventry SCITT",
    "The Dales School",
    "The Deepings SCITT",
    "The Deepings School",
    "The Downland Alliance",
    "The Duston Education Trust",
    "The Duston School",
    "The Duston School",
    "The E-ACT Crest Academy",
    "The Earls High School",
    "The English Martyrs School and Sixth Form College",
    "The Evolve Trust",
    "The Federation of Greenways Schools",
    "The Forge Trust",
    "The GORSE Academies Trust",
    "The Gainsborough Parish Church Primary School",
    "The Giles Academy",
    "The Grand Union Training Partnership",
    "The Hampshire LEARN SCITT Partnership",
    "The Harefield Academy",
    "The Havering Teacher Training Partnership",
    "The Hayesbrook School",
    "The Heath Consortium",
    "The Henrietta Barnett School",
    "The Hereford Academy",
    "The Hermitage Academy School Direct",
    "The Hillcrest School and Community College",
    "The Hollyfield School",
    "The Holy Cross School",
    "The Iceni Academy",
    "The JCB Academy",
    "The John Henry Newman Catholic School",
    "The John Taylor SCITT",
    "The John Wallis Church of England Academy",
    "The John Warner School",
    "The Joseph Whitaker School",
    "The King's CofE (VA) School",
    "The King's School Specialising In Mathematics And Computing",
    "The Kingsway School",
    "The Lark Teaching School Alliance",
    "The Latymer School",
    "The Learning Institute South West",
    "The Learning Institute South West (School Direct)",
    "The Learning Institute South West [School Direct]",
    "The Learning Institute South West [School Direct]",
    "The Learning Partnership",
    "The Leigh Academy",
    "The Lion Alliance",
    "The London Diocesan Board For Schools",
    "The London-Exeter Partnership",
    "The Loyne Specialist School",
    "The Lozells School Direct Programme",
    "The Manchester Metropolitan University",
    "The Mead National Teaching School",
    "The Midland Academies Trust",
    "The Millais Alliance",
    "The Minster Teaching School Alliance",
    "The National Mathematics and Physics SCITT",
    "The National Modern Languages SCITT",
    "The National SCITT in Outstanding Primary Schools",
    "The Northworthy Alliance",
    "The Norwich Teaching School",
    "The OAKS (Ormiston and Keele SCITT)",
    "The Oldham Academy North",
    "The Open University",
    "The Orchards Community Middle School",
    "The Park Primary School",
    "The Pathfinder Teaching School Alliance",
    "The Petchey Academy",
    "The Phoenix School",
    "The Phoenix School",
    "The Pimlico-London SCITT",
    "The Port Alliance",
    "The Potteries Teaching Alliance - KNSTE",
    "The Primary First Trust",
    "The Priory Academy LSST",
    "The Priory Learning Trust",
    "The Priory Ruskin Academy",
    "The Priory School, A Business and Enterprise College",
    "The Queen Katherine School",
    "The Radclyffe School",
    "The Radclyffe School",
    "The Raleigh School",
    "The Ravensbourne School",
    "The Ravensbourne School",
    "The Rayleigh Primary School Academy Trust",
    "The Reach Free School",
    "The Robert Owen Society",
    "The Rosedale Hewens Academy Trust",
    "The Royal Borough Teaching School Alliance",
    "The Royal Borough of Windsor and Maidenhead SCITT",
    "The Royal Central School of Speech and Drama",
    "The Royal Greenwich Teaching School Alliance",
    "The Royal Greenwich Teaching School Alliance",
    "The Rural Schools Alliance",
    "The Rutland Teaching Alliance",
    "The Sanctuary at St Chads CE Primary School",
    "The Sele School",
    "The Shared Learning Trust",
    "The Sheffield SCITT",
    "The Shire Foundation",
    "The Solent SCITT",
    "The Solent SCITT - Warblington School and Partnership",
    "The Solent Scitt",
    "The South Downs SCITT",
    "The South Downs School Direct Partnership",
    "The South Wolds Academy",
    "The Spinney Primary School",
    "The St. Mary's Schools Consortium",
    "The Steiner Academy Hereford",
    "The Streetly Academy",
    "The Sutton Academy",
    "The Swaledale Alliance",
    "The Tamworth Teaching and Learning Partnership",
    "The Three Rivers Teaching School Alliance",
    "The Tommy Flowers SCITT Milton Keynes",
    "The Trinity Partnership",
    "The University of Aberdeen",
    "The University of Buckingham",
    "The University of Edinburgh",
    "The University of Gloucestershire",
    "The University of Hull",
    "The University of Manchester",
    "The University of Nottingham",
    "The University of Reading",
    "The University of Sheffield",
    "The University of Strathclyde",
    "The University of Warwick",
    "The University of York",
    "The Urmston Alliance",
    "The Viridis Schools Partnership",
    "The Warwick Partnership",
    "The Warwickshire Consortium",
    "The Warwickshire Teaching School Alliance",
    "The West Bridgford School",
    "The West Grantham Academy St Hugh's",
    "The Wickford Church of England School",
    "The Wider Ponteland Partnership",
    "The Willows Primary School",
    "The Windsor Boys' School",
    "The Wokingham Federation",
    "The Wroxham School",
    "The Yorkshire Rose Teaching Alliance",
    "The de Ferrers Trust",
    "Think North East School Direct Partnership",
    "Thomas Bennett Community College",
    "Thorndown Primary School",
    "Thorpe St Andrew School and Sixth Form",
    "Three  Rivers Academy",
    "Three Counties Alliance SCITT",
    "Thrussington Church Of England Primary School",
    "Thurston Community College",
    "Thurton Primary School",
    "Tidal Teaching School",
    "Titan Partnership Ltd",
    "Tollbar Academy",
    "Tonbridge Grammar School",
    "Toot Hill School (Nottinghamshire Torch SCITT)",
    "Torbay Teaching School Alliance",
    "Torfield School",
    "Town End Teaching School",
    "Town Farm Primary School",
    "Train to Teach North London",
    "Transform Teaching School  Derby",
    "Transform Teaching School Alliance",
    "Trenance Learning Academy",
    "Trent Valley Teaching School Alliance",
    "Trinity TSA",
    "Tudor Grange SCITT",
    "Tudor Grange SCITT",
    "Tudor Grange SCITT (School Direct)",
    "Tweedmouth Prior Park First School",
    "Two Counties",
    "Two Mile Ash ITT Partnership",
    "Two Mile Ash School",
    "Two Rivers High School",
    "Two Rivers Primary School",
    "Twynham Learning (School Direct)",
    "Tykes TSA",
    "Tyne Valley Teaching School Alliance",
    "Tyssen Community Primary School",
    "UCAT Trust",
    "Middlesex University",
    "UTC Reading",
    "Uckfield Community Technology College",
    "United Teaching National SCITT",
    "Unity College",
    "Unity Schools Partnership",
    "Unity Teaching School Alliance",
    "University Campus Barnsley",
    "University Campus Oldham",
    "University Centre Colchester at Colchester Institute",
    "University Centre Doncaster",
    "University Centre Grimsby",
    "University College Birmingham",
    "University College London (UCL)",
    "University of Bath",
    "University of Bedfordshire",
    "University of Birmingham",
    "University of Brighton",
    "University of Brighton Academies Trust School Direct Programme",
    "University of Bristol",
    "University of Cambridge",
    "University of Central Lancashire",
    "University of Chester",
    "University of Chester Academies Trust",
    "University of Chichester",
    "University of Chichester Academy Trust School Direct Partnership",
    "University of Cumbria",
    "University of Derby",
    "University of Dundee",
    "Middlesex University",
    "University of East London",
    "University of Exeter",
    "University of Glasgow",
    "University of Greenwich",
    "University of Hertfordshire",
    "University of Huddersfield",
    "University of Leicester",
    "University of Newcastle Upon Tyne",
    "University of Northampton",
    "University of Northumbria at Newcastle",
    "University of Plymouth",
    "University of Portsmouth",
    "University of South Wales (formerly University of Wales, Newport)",
    "University of Southampton",
    "University of Sunderland",
    "University of Sussex",
    "University of Wales Trinity Saint David (UWTSD Swansea)",
    "University of Winchester",
    "University of Wolverhampton",
    "University of Worcester",
    "University of the Highlands and Islands",
    "University of the West of England, Bristol",
    "University of the West of Scotland",
    "Upton Hall School FCJ",
    "Upton Meadows Primary School",
    "Ursuline College",
    "Uttoxeter Learning Trust Teaching School",
    "Vale Of Evesham School",
    "Valentines High School",
    "Valley Invicta Teaching School Alliance",
    "Valley Teaching School Alliance",
    "Valley Trust (formerly TRISIS)",
    "Ventrus Teaching School Alliance",
    "Venture",
    "Victoria Academies Trust",
    "Victoria Park Primary",
    "Vita London",
    "WCPSD",
    "WGSPschoolsdirect",
    "Wade Deacon High School Innovation Enterprise Alliance",
    "Wadsworth Field Primary School",
    "Wakefield City Academy",
    "Wakefield Regional Partnership For Initial Teacher Training",
    "Walderslade Girls' School",
    "Walsall Nursery School Alliance",
    "Waltham Forest Teaching School Alliance",
    "Walton High School",
    "Wandle Teaching School Alliance",
    "Wandsworth Primary Schools  Consortium",
    "Warden Park School",
    "Warren Dell Primary School",
    "Warrington Teaching School Alliance",
    "Warrington Wire Alliance",
    "Washington Academy",
    "Washwood Heath School Direct",
    "Watergate School",
    "Waterton Academy Trust",
    "Watford Grammar School for Girls",
    "Watton-at-Stone Primary",
    "Waverley School Direct",
    "Wayland Academy",
    "Wealden Partnership",
    "Weatherhead High School",
    "Weaverham High School",
    "Wednesbury Teaching School Alliance",
    "Wednesfield High School A Specialist Engineering College",
    "Welford-on-Avon Primary School",
    "Wembley High Technology College",
    "Wensum Junior Partnership",
    "Wessex Schools Training Partnership",
    "West Berkshire Training Partnership",
    "West Berkshire Training Partnership",
    "West Coast Teaching School Alliance",
    "West Country Teaching School Alliance",
    "West Cumbria and North Lakes School Direct",
    "West Ealing Primary Partnership",
    "West Essex SCITT",
    "West Essex SCITT (St John's C of E Primary School)",
    "West Exe SD",
    "West Exe School EX2 9JU",
    "West Hertfordshire Teaching School",
    "West Hove Junior School",
    "West Ipswich Teaching School",
    "West Lakes Teaching School Alliance",
    "West London Teaching School Alliance (Primary Roehampton)",
    "West London Teaching School Alliance (Primary St Mary's)",
    "West London Teaching School Alliance (Secondary)",
    "West Midlands Consortium",
    "West Midlands Consortium",
    "West Park School",
    "West Raynham Church of England Primary School",
    "West Suffolk College",
    "West Thornton Primary Academy",
    "West Wilts Alliance",
    "West Yorkshire Teaching Alliance",
    "Westbourne Primary School",
    "Westdene Primary School",
    "Western Community Primary School",
    "Westerton Partnership",
    "Westerton Primary School",
    "Westfield Junior School",
    "Westlands Teaching School Alliance",
    "Westwood College",
    "Weydon School",
    "Whitburn Village Primary Partnership",
    "White Meadows Primary School",
    "White Rose Alliance",
    "White Woman Lane Junior School",
    "Whitefield Academy Trust",
    "Whitefield Alliance",
    "Whitefield Alliance",
    "Whitehill Community Academy",
    "Whitehill Junior School",
    "Whitley Bay Teaching School Alliance",
    "Wigan and West Lancashire Catholic School Direct",
    "Wildern Partnership",
    "Wildern School",
    "Wildern School",
    "William De Ferrers",
    "William Law CofE (Aided) Primary School",
    "William Shrewsbury Primary Partnership",
    "Willows School Direct Partnership",
    "Wilmslow High School",
    "Wilson Stuart School",
    "Wincheap Foundation Primary School",
    "Winchester Schools Partnership",
    "Winchester Teaching School Alliance",
    "Winchmore School",
    "Windmill Primary School",
    "Windsor Academy Trust",
    "Windsor High School and Sixth Form",
    "Windsor Teaching Alliance",
    "Windsor, Ascot and Maidenhead Consortium",
    "Winhills Primary Academy",
    "Winifred Holtby Academy",
    "Wistaston Green Primary and Nursery School",
    "Witchford Village College",
    "Wold Academy",
    "Wolds Teaching School Alliance",
    "Wollaston Community Primary School",
    "Wolstonbury Teaching Schools Alliance",
    "Wood Green ITT Alliance",
    "Woodberry Down Community Primary School",
    "Woodbridge Primary School",
    "Woodchurch High School Engineering College",
    "Woodfield School",
    "Woodham Academy",
    "Woodland Academy Teacher Training",
    "Woodland Academy Teacher Training",
    "Woodland Community Primary School",
    "Woodlands Primary School",
    "Woodlands School",
    "Woodlands School",
    "Woodloes Teaching Partnership",
    "Woodrush Teaching School Alliance",
    "Woodside Academy",
    "Woolenwick Infant and Nursery School",
    "Woolwich Poly",
    "Wootey Junior School",
    "Working together",
    "Worlingham Church of England Voluntary Controlled Primary School",
    "Wren Academy",
    "Wycombe High School",
    "Wyndham Primary School",
    "Yarlside Teaching School Alliance",
    "Yarrow Teaching School Alliance",
    "Yeovil Area Teacher Training Alliance",
    "York College",
    "York St John University",
    "Yorkshire Anglican Teaching School Alliance",
    "Yorkshire Inclusive TSA",
    "Yorkshire Special Education Partnership (YSEP)",
    "Yorkshire Teaching School Alliance",
    "Yorkshire Wolds Teacher Training",
    "Yorkshire and Humber School Direct",
    "Yorkshire and Humber Teacher Training",
    "bat 1",
    "e-Qualitas",
    "everyonelearning@LimeTree,Hawthorns,MossleyHollins Teaching Partnership",
    "i2i Teaching Partnership"
  ]
</script>

<script type="text/javascript">
  var element = document.querySelector('#tt-default')
  var id = 'autocomplete-default'
  accessibleAutocomplete({
    element: element,
    id: id,
    source: providers,
    name: "schoolList"
  })
</script>

{% endblock %}

