{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% extends "layout.html" %}
{% set title = 'Offer PE' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems())}}{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a prototype of a new service. Some parts of this prototype do not work yet. '
}) }}

{{ govukBackLink({
  text: "Request PE courses",
  href: "/pe-allocations"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/pe-allocation/offer-pe-e" method="post" class="form">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-xl">Enfield County School for Girls</span>
            Do you want to request PE for this organisation?
          </h1>
        </legend>
        <div class="govuk-radios govuk-!-margin-top-6">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="first-time-e-yes" name="first-time-e" type="radio" value="Yes" {{ checked("first-time-e", "Yes") }}>
            <label class="govuk-label govuk-radios__label" for="first-time-yes">
              Yes 
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="first-time-e-no" name="first-time-e" type="radio" value="No" {{ checked("first-time-e", "No") }}>
            <label class="govuk-label govuk-radios__label" for="first-time-no">
              No
            </label>
          </div>
        </div>
        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>

  </div>
</div>

{% endblock %}
