{% extends "layouts/main.njk" %}

{% set headerNavId = "account" %}

{% set hidePrimaryNavigation = true %}
{% set hideOrganisationSwitcher = true %}

{% set title = "Your email notifications" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    text: "Home",
    href: "/"
  }, {
    text: "Your account",
    href: "/account"
  }, {
    text: title
  }]
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {% for organisation in user.organisations %}

        {% if user.organisations.length > 1 %}
          <h2 class="govuk-heading-m {{- ' govuk-!-margin-top-9' if loop.index > 1 }}">{{ organisation.name }}</h2>
        {% endif %}

        <p class="govuk-body">
          <a class="govuk-link" href="/account/notifications/organisations/{{ organisation.id }}/edit">
            Change email notifications<span class="govuk-visually-hidden"> for {{ organisation.name }}</span>
          </a>
        </p>

        <dl class="govuk-summary-list">
          {% for notification in notificationOptions %}
            {% if organisation.type in notification.providerTypes %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
                  {{ notification.name }}
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ "On" if (organisation.notifications and notification.code in organisation.notifications) else "Off" }}
                </dd>
              </div>
            {% endif %}
          {% endfor %}
        </dl>

      {% endfor %}

    </div>
  </div>

{% endblock %}
