{% extends "layouts/main.njk" %}

{% set headerNavId = "account" %}

{% set hidePrimaryNavigation = true %}
{% set hideOrganisationSwitcher = true %}

{% set title = "Your email notifications" %}
{% set caption = "Update your email notifications" %}
{% if user.organisations.length > 1 %}
  {% set caption = caption + " - " + organisation.name %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% for notification in notificationOptions %}
          {% if organisation.type in notification.providerTypes %}
            {{ govukRadios({
              idPrefix: "notifications",
              name: "notifications[" + notification.code + "]",
              fieldset: {
                legend: {
                  text: notification.name,
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "on",
                  text: "On",
                  checked: true if (notifications and notification.code in notifications) else false
                },
                {
                  value: "off",
                  text: "Off",
                  checked: true if (notifications and notification.code not in notifications) else false
                }
              ],
              hint: {
                text: notification.hint
              } if notification.hint,
              classes: "govuk-radios--inline"
            }) }}
          {% endif %}

        {% endfor %}

        {{ govukButton({
          text: "Update email notifications"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
