
{% extends "layout.html" %}
{% set title = 'Preview course' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>Screenshots showing different preview states based on type and completeness of course.</p>
      <p>The <a href="https://github.com/fofr/manage-courses-prototype/blob/master/app/views/preview.html">prototype preview logic</a> may also help when building this.</p>
    </div>
  </div>

  {% set contents = [
    { text: 'Preview of fee paying course with all fields', id: 'preview-of-fee-paying-course-with-all-fields' },
    { text: 'Preview of fee paying course with only required fields', id: 'preview-of-fee-paying-course-with-only-required-fields' },
    { text: 'Preview of empty fee paying course', id: 'preview-of-empty-fee-paying-course' },
    { text: 'Preview of salaried course with all fields', id: 'preview-of-salaried-course-with-all-fields' },
    { text: 'Preview of salaried course with only required fields', id: 'preview-of-salaried-course-with-only-required-fields' },
    { text: 'Preview of empty salaried course', id: 'preview-of-empty-salaried-course' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('Preview of fee paying course with all fields', 'preview-of-fee-paying-course-with-all-fields', '/public/images/history/preview-course/thumbnails/01-preview-of-fee-paying-course-with-all-fields.png', '/public/images/history/preview-course/01-preview-of-fee-paying-course-with-all-fields.png', '') }}

  {{ macros.screenshot('Preview of fee paying course with only required fields', 'preview-of-fee-paying-course-with-only-required-fields', '/public/images/history/preview-course/thumbnails/02-preview-of-fee-paying-course-with-only-required-fields.png', '/public/images/history/preview-course/02-preview-of-fee-paying-course-with-only-required-fields.png', '') }}

  {{ macros.screenshot('Preview of empty fee paying course', 'preview-of-empty-fee-paying-course', '/public/images/history/preview-course/thumbnails/03-preview-of-empty-fee-paying-course.png', '/public/images/history/preview-course/03-preview-of-empty-fee-paying-course.png', '') }}

  {{ macros.screenshot('Preview of salaried course with all fields', 'preview-of-salaried-course-with-all-fields', '/public/images/history/preview-course/thumbnails/04-preview-of-salaried-course-with-all-fields.png', '/public/images/history/preview-course/04-preview-of-salaried-course-with-all-fields.png', '') }}

  {{ macros.screenshot('Preview of salaried course with only required fields', 'preview-of-salaried-course-with-only-required-fields', '/public/images/history/preview-course/thumbnails/05-preview-of-salaried-course-with-only-required-fields.png', '/public/images/history/preview-course/05-preview-of-salaried-course-with-only-required-fields.png', '') }}

  {{ macros.screenshot('Preview of empty salaried course', 'preview-of-empty-salaried-course', '/public/images/history/preview-course/thumbnails/01-preview-of-empty-salaried-course.png', '/public/images/history/preview-course/01-preview-of-empty-salaried-course.png', '') }}
</main>
{% endblock %}
