{% extends "layout.html" %}
{% set title = 'Design history' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">{{ title }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">Exploratory designs</h2>

      <h3 class="heading-small">
        <a href="/history/course-with-variants">Course with fields to explain a user’s choice</a>
      </h3>
      <p>
        Exploration of a course page with fields to capture variants of a course and the differences between them. It’s unclear how courses vary between qualification, funding, subject and accrediting provider – use fields on a course page to allow providers to help candidates make an informed choice.
      </p>

      <h3 class="heading-small">
        <a href="/history/courses-and-tabs">Courses and tabs</a>
      </h3>
      <p>
        Exploration of a home page view with tabs for courses, schools, default course and organisation details.
      </p>

      <h3 class="heading-small">
        <a href="/history/original-onboarding">Original onboarding</a>
      </h3>
      <p>
        The spreadsheet sent to providers rendered as a single page form.
      </p>

      <h3 class="heading-small">
        <a href="/history/course-with-parts">Course with parts</a>
      </h3>
      <p>
        A course listing and a course view where data is broken down into parts to complete.
      </p>

      <h3 class="heading-small">
        <a href="/history/new-course-wizard">Experimental new course wizard</a>
      </h3>
      <p>
        Breaking down data required for each course into a page-per-thing wizard.
      </p>
    </div>
  </div>
</main>
{% endblock %}
