{% extends "layout.html" %}
{% set title = 'Design history' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/">Home</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">{{ title }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-medium">August 2018</h2>

      <h3 class="heading-small">
        <a href="/history/user-research-aug-22">User research - 22 August</a>
      </h3>
      <p>
        Testing markdown, SimpleMDE and publishing workflow
      </p>

      <h3 class="heading-small">
        <a href="/history/who-did-what-when">Who did what and when</a>
      </h3>
      <p>
        The beginnings of an audit trail for content.
      </p>

      <h3 class="heading-small">
        <a href="/history/needs-behind-fields">Fields we ask for and why</a>
      </h3>
      <p>
        Documentation of needs around each course field
      </p>

      <h3 class="heading-small">
        <a href="/history/copy-content-from-another-course">Copy content from another course</a>
      </h3>
      <p>
        Design for copying form values from one course to another
      </p>

      <h3 class="heading-small">
        <a href="/history/terms-agreement">Terms agreement</a>
      </h3>
      <p>
        A user must agree to terms before enriching.
      </p>

      <h3 class="heading-small">
        <a href="/history/formatting">Formatting</a>
      </h3>
      <p>
        Paragraphs, lists and links.
      </p>

      <h3 class="heading-small">
        <a href="/history/no-more-folding">No more course folding</a>
      </h3>
      <p>
        Reasoning behind not folding courses and unfolded course designs.
      </p>

      <h3 class="heading-small">
        <a href="/history/success-messaging">Success messaging</a>
      </h3>
      <p>
        Messages we show after a successful save or publish.
      </p>

      <h3 class="heading-small">
        <a href="/history/course-not-running">Course statuses – Iteration 3 August 2018</a>
      </h3>
      <p>
        A more indepth look at UCAS course status and how it’ll affect publishing.
      </p>

      <h3 class="heading-small">
        <a href="/history/story-map-aug-1">Story map – 1 August 2018</a>
      </h3>
      <p>
        Screenshots of the end to end journey from publish courses to search and compare.
      </p>

      <h2 class="heading-medium">July 2018</h2>

      <h3 class="heading-small">
        <a href="/history/validating-on-publish">Validating on publish</a>
      </h3>
      <p>
        How validation works when a user tries to publish without the required fields.
      </p>

      <h3 class="heading-small">
        <a href="/history/publish-changes">Publishing workflow</a>
      </h3>
      <p>
        Workflow and designs for different publish states.
      </p>

      <h3 class="heading-small">
        <a href="/history/ucas-course-status">Course statuses</a>
      </h3>
      <p>
        An iteration on the <a href="/history/check-ucas-data">onboarding design</a> (read-only) to include course status.
      </p>

      <h3 class="heading-small">
        <a href="/history/salary-and-fees">Salary and fees</a>
      </h3>
      <p>
        Designs for different fields for salaried and fee paying courses.
      </p>

      <h3 class="heading-small">
        <a href="/history/no-known-organisation">When a user isn’t recognised</a>
      </h3>
      <p>
        Designs for when a user’s email isn’t in our whitelist.
      </p>

      <h3 class="heading-small">
        <a href="/history/templates">Course templates</a>
      </h3>
      <p>
        Use templates to share information between courses.
      </p>

      <h3 class="heading-small">
        <a href="/history/about-your-organisation">About your organisation</a>
      </h3>
      <p>
        Share organisation information between courses and split the organisation page across tabs.
      </p>

      <h3 class="heading-small">
        <a href="/history/multiple-organisations">Managing multiple organisations</a>
      </h3>
      <p>
        Some users will be responsible for courses from multiple organisations. eg SCITT-schools.
      </p>

      <h3 class="heading-small">
        <a href="/history/request-access-iteration-june-29">Request access</a>
      </h3>
      <p>
        Request access for users.
      </p>

      <h2 class="heading-medium">June 2018</h2>

      <h3 class="heading-small">
        <a href="/history/check-ucas-data">Check your UCAS data (Initial launch)</a>
      </h3>
      <p>
        A read-only version of the tool where users can validate their imported courses and request access for users.
      </p>

      <h3 class="heading-small">
        <a href="/history/iteration-june-28">Iteration 28 June 2018</a>
      </h3>
      <p>
        Add character counts and refine preview.
      </p>

      <h3 class="heading-small">
        <a href="/history/iteration-june-26">Iteration 26 June 2018</a>
      </h3>
      <p>
        Separate courses by accrediting provider. Provide explicit fields for each course offered.
      </p>

      <h3 class="heading-small">
        <a href="/history/read-only">Draft of a read only version</a>
      </h3>
      <p>
        An initial pass at what a read only view of the service could have looked like.
      </p>

      <h3 class="heading-small">
        <a href="/history/qa-draft">Draft of the QA process</a>
      </h3>
      <p>
        Submit to QA and example pass and fail emails
      </p>

      <h3 class="heading-small">
        <a href="/history/school-direct-view">School Direct view</a>
      </h3>
      <p>
        School Direct routes are the most complex. List schools, show multiple UCAS courses per subject, show folded course summary.
      </p>

      <h3 class="heading-small">
        <a href="/history/simplified-university-view">A university’s view</a>
      </h3>
      <p>
        Universities are the simplest provider. There are no schools to apply to and <a href="/history/imported-from-ucas">no course folding</a>.
      </p>

      <h3 class="heading-small">
        <a href="/history/course-field-guidance">Contextual guidance for course fields</a>
      </h3>
      <p>
        A first pass at providing some guidance for each course field. Starting from the <a href="/history/original-onboarding">original onboarding</a> guidance.
      </p>

      <h3 class="heading-small">
        <a href="/history/details-from-ucas">Course page showing what’s been imported from UCAS</a>
      </h3>
      <p>
        Indicate the raw information we’ve received from UCAS, begin to explain where this must be edited and how we are handling that information.
      </p>

      <h3 class="heading-small">
        <a href="/history/sign-in-pre-register-user">Sign-in: Invite a user</a>
      </h3>
      <p>This is the approach we attempted first. Because of limitations with the invite email and users ending up at a dead-end, we switched to self-registration.</p>

      <h3 class="heading-small">
        <a href="/history/sign-in-self-serve-registration">Sign-in: User registers themself</a>
      </h3>
      <p>We send users a sign-up link so they can register and then be forwarded on to our service.</p>

      <h2 class="heading-medium">May 2018 and earlier</h2>

      <h3 class="heading-small">
        <a href="/history/imported-from-ucas">Course folding and UCAS course details</a>
      </h3>
      <p>Following the definition of a course, documentation on how we might fold courses based on UCAS data.</p>

      <h3 class="heading-small">
        <a href="/history/what-is-a-course">What is a course?</a>
      </h3>
      <p>Work to define our definition of a course.</p>

      <h3 class="heading-small">
        <a href="/history/course-with-variants">Course with variants and field guidance</a>
      </h3>
      <p>
        Based on UCAS course descriptions it’s often unclear how courses vary between qualification, funding, subject and accrediting provider – use fields on a course page to prompt providers to indicate these differences, helping candidates make an informed choice.
      </p>

      <h3 class="heading-small">
        <a href="/history/courses-and-tabs">Courses and tabs</a>
      </h3>
      <p>
        Exploration of a home page view with tabs for courses, schools, default course and organisation details.
      </p>

      <h3 class="heading-small">
        <a href="/history/original-onboarding">Original onboarding</a>
      </h3>
      <p>
        The spreadsheet sent to providers rendered as a single page form.
      </p>

      <h3 class="heading-small">
        <a href="/history/course-with-parts">Course with parts</a>
      </h3>
      <p>
        A course listing and a course view where data is broken down into parts to complete.
      </p>

      <h3 class="heading-small">
        <a href="/history/new-course-wizard">Experimental new course wizard</a>
      </h3>
      <p>
        Breaking down data required for each course into a page-per-thing wizard.
      </p>
    </div>
  </div>
</main>
{% endblock %}
