{% extends "layout.html" %}
{% set title = 'Fields we ask for and why' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">{{ title }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">About this course</h2>

      <h3 class="heading-medium">About this course</h3>

      <h3 class="heading-medium">Interview process (optional)</h3>

      <h3 class="heading-medium">How school placements work</h3>

      <h2 class="heading-large">Course length, fees and salary</h2>

      <h3 class="heading-medium">Fees for UK and EU students</h3>

      <h3 class="heading-medium">Fees for international students (optional)</h3>

      <h3 class="heading-medium">Fee details (optional)</h3>

      <h3 class="heading-medium">Financial support you offer (optional)</h3>

      <h2 class="heading-large">Requirements</h2>

      <h3 class="heading-medium">Qualifications needed</h3>

      <h3 class="heading-medium">Personal qualities (optional)</h3>

      <h3 class="heading-medium">Other requirements (optional)</h3>

      <h2 class="heading-large">About your organisation</h2>

      <h3 class="heading-medium">Training with you</h3>

      <h3 class="heading-medium">About your accrediting provider (optional)</h3>

      <h3 class="heading-medium">Training with a disability</h3>
    </div>
  </div>
</main>
{% endblock %}
