{% extends "layout.html" %}
{% set title = 'Rethinking the publish workflow' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">{{ title }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>Publishing before transition was complicated. Each training location had a state and a publish flag, which determines if the course appears in Find and can be applied to on UCAS Apply. Then the content has its own state – Empty, Draft or Published.</p>

      <p>You could write and publish content for new courses on Publish, they’d be labelled green, but they would not appear online if the user hadn’t set their training locations to running in UCAS (or if UCAS hadn’t approved this by <a href="  /history/course-not-running-oct-15">setting the publish flag to yes</a>).</p>
    </div>
  </div>

  <h2 class="heading-large">Example states</h2>
  <table class="ucas-info-table">
    <thead>
      <tr>
        <th class="subject-col">Course</th>
        <th class="status-col" style="width: 120px">Status</th>
        <th class="published-col">Published</th>
        <th class="applications-col">Applications</th>
        <th class="type-col">Vacancies?</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">New course, just added (N123)</a>
          <br>
          <span class="font-xsmall">QTS full time</span>
        </td>
        <td>
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-no-content">New</span>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">Draft course, not published (DD23)</a>
          <br>
          <span class="font-xsmall">QTS full time</span>
        </td>
        <td>
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-draft">Draft</span>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">Draft course, published before (D123)</a>
          <br>
          <span class="font-xsmall">QTS full time – <a href="#">View on website</a></span>
        </td>
        <td>
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-draft">Draft #2</span>
        </td>
        <td>
          10 August
        </td>
        <td>
          Open
        </td>
        <td>
          Yes (<a href="#">Edit</a>)
        </td>
      </tr>
      <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">Published course (P123)</a>
          <br>
          <span class="font-xsmall">QTS full time – <a href="#">View on website</a></span>
        </td>
        <td>
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-published">Published</span>
        </td>
        <td>
          10 August
        </td>
        <td>
          Open
        </td>
        <td>
          Yes (<a href="#">Edit</a>)
        </td>
      </tr>
      <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">Published before applications open (PP23)</a>
          <br>
          <span class="font-xsmall">QTS full time – <a href="#">View on website</a></span>
        </td>
        <td>
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-published">Published</span>
        </td>
        <td>
          10 August
        </td>
        <td>
          Opens on<br />6 October
        </td>
        <td>
          Yes (<a href="#">Edit</a>)
        </td>
      </tr>
      <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">Published but full (PC23)</a>
          <br>
          <span class="font-xsmall">QTS full time – <a href="#">View on website</a></span>
        </td>
        <td>
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-published">Published</span>
        </td>
        <td>
          10 August
        </td>
        <td>
          Closed
        </td>
        <td>
          No (<a href="#">Edit</a>)
        </td>
      </tr>
      <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">Withdrawn course (W123)</a>
          <br>
          <span class="font-xsmall">QTS full time</span>
        </td>
        <td>
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-not-running">Withdrawn</span>
        </td>
        <td>
          10 August
        </td>
        <td>
          Closed
        </td>
        <td>
          No (<a href="#">Edit</a>)
        </td>
      </tr>
      <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">Rolled over course (R123)</a>
          <br>
          <span class="font-xsmall">QTS full time</span>
        </td>
        <td>
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-no-content">Rollover</span>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>

</main>
{% endblock %}
