{% extends "layouts/main.njk" %}

{% set primaryNavId = "trainingPartners" %}
{% set subNavId = "description" %}

{% set title = course.name + " (" + course.code + ")" %}
{% set caption = partner.name %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {% if caption.length %}
          <span class="govuk-caption-l">
            {{ caption }}
          </span>
        {% endif %}
        {{ title }}
        {{ govukTag({
          text: course.status | getCourseStatusLabel,
          classes: course.status | getCourseStatusClasses
        }) }}
      </h1>

      {% include "./_actions.njk" %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "../../courses/_sub-navigation.njk" %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">
        Course information
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "About this course"
            },
            value: {
              text: (course.aboutCourse | nl2br | markdownToHtml | safe) if course.aboutCourse.length else "Not entered",
              classes: "govuk-hint" if not course.aboutCourse.length
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "about this course"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          },
          {
            key: {
              text: "Interview process"
            },
            value: {
              text: (course.interviewProcess | nl2br | markdownToHtml | safe) if course.interviewProcess.length else "Not entered",
              classes: "govuk-hint" if not course.interviewProcess.length
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "interview process"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          },
          {
            key: {
              text: "How school placements work"
            },
            value: {
              text: (course.howSchoolPlacementsWork | nl2br | markdownToHtml | safe) if course.howSchoolPlacementsWork.length else "Not entered",
              classes: "govuk-hint" if not course.howSchoolPlacementsWork.length
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "how school placements work"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Course length and fees
      </h2>

      {% set courseLengthText %}
        {% if course.courseLength.length %}
          {% if course.courseLength == "other" %}
            {{ course.courseLengthOther }}
          {% else %}
            {{ course.courseLength | getCourseLengthLabel }}
          {% endif %}
        {% else %}
          Not entered
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Course length"
            },
            value: {
              text: courseLengthText,
              classes: "govuk-hint" if not course.courseLength.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/course-length",
                  text: "Change",
                  visuallyHiddenText: "course length"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          },
          {
            key: {
              text: "Fee for UK students"
            },
            value: {
              text: "£" + course.feesUK | numeral('0,0.[00]') if course.feesUK else "Not entered",
              classes: "govuk-hint" if not course.feesUK
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "fee for UK student"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          } if course.fundingType == "fee",
          {
            key: {
              text: "Fee for international students"
            },
            value: {
              text: "£" + course.feesInternational | numeral('0,0.[00]') if course.feesInternational else "Not entered",
              classes: "govuk-hint" if not course.feesInternational
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "fee for international students"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          } if course.fundingType == "fee",
          {
            key: {
              text: "Fee details"
            },
            value: {
              text: (course.feeDetails | nl2br | markdownToHtml | safe) if course.feeDetails.length else "Not entered",
              classes: "govuk-hint" if not course.feeDetails.length
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "fee details"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          } if course.fundingType == "fee",
          {
            key: {
              text: "Financial support you offer"
            },
            value: {
              text: (course.financialSupport | nl2br | markdownToHtml | safe) if course.financialSupport.length else "Not entered",
              classes: "govuk-hint" if not course.financialSupport.length
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "financial support you offer"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          } if course.fundingType == "fee",
          {
            key: {
              text: "Salary details"
            },
            value: {
              text: (course.salaryDetails | nl2br | markdownToHtml | safe) if course.salaryDetails.length else "Not entered",
              classes: "govuk-hint" if not course.salaryDetails.length
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "salary details"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          } if course.fundingType == "salary"
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Requirements and eligibility
      </h2>

      {% set degreeHtml %}
        {% if course.degreeGrade %}
          <ul class="govuk-list">
            <li>{{ course.degreeGrade | getDegreeGradeLabel }}</li>
            {% if course.additionalDegreeSubjectRequirements %}
              <li>{{ course.additionalDegreeSubjectRequirements }}</li>
            {% endif %}
          </ul>
        {% else %}
          {{ govukInsetText({
            html: '<p class="govuk-heading-s app-inset-text__title">Do you require a minimum degree classification?</p>
            <p class="govuk-body">
              <a class="govuk-link" href="'+ actions.change + '/degree?referrer=description">Enter degree requirements</a>
            </p>',
            classes: "app-inset-text--narrow-border app-inset-text--important govuk-!-margin-top-0"
          }) }}
        {% endif %}
      {% endset %}

      {% set gcseHtml %}
        {% if course.acceptPendingGcse %}
          <ul class="govuk-list">
            <li>
              {% if course.acceptPendingGcse == "yes" %}
                Candidates with pending GCSEs will be considered
              {% else %}
                Candidates with pending GCSEs will not be considered
              {% endif %}
            </li>
            <li>
              {% if course.acceptGcseEquivalency == "yes" %}

                {% set equivalencies = [] %}

                {% if course.acceptEnglishGcseEquivalency == "yes" %}
                  {% set equivalencies = equivalencies | push('English') %}
                {% endif %}

                {% if course.acceptMathsGcseEquivalency == "yes" %}
                  {% set equivalencies = equivalencies | push('maths') %}
                {% endif %}

                {% if course.acceptScienceGcseEquivalency == "yes" %}
                  {% set equivalencies = equivalencies | push('science') %}
                {% endif %}

                Equivalency tests will be accepted in {{ equivalencies | joinify }}
              {% else %}
                Equivalency tests will not be accepted
              {% endif %}
            </li>
            {% if course.additionalGcseEquivalencies %}
              <li>{{ course.additionalGcseEquivalencies }}</li>
            {% endif %}
          </ul>
        {% else %}
          {{ govukInsetText({
            html: '<p class="govuk-heading-s app-inset-text__title">GCSE and equivalency tests</p>
            <p class="govuk-body">
              <a class="govuk-link" href="' + actions.change + '/gcses?referrer=description">Enter GCSE and equivalency test requirements</a>
            </p>',
            classes: "app-inset-text--narrow-border app-inset-text--important govuk-!-margin-top-0"
          }) }}
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Degree"
            },
            value: {
              html: degreeHtml
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "degree"
                } if 1 == 0
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          },
          {
            key: {
              text: "GCSEs"
            },
            value: {
              html: gcseHtml
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "GCSEs"
                } if 1 == 0
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          },
          {
            key: {
              text: "Personal qualities"
            },
            value: {
              text: (course.personalQualities | nl2br | markdownToHtml | safe) if course.personalQualities.length else "Not entered",
              classes: "govuk-hint" if not course.personalQualities.length
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "personal qualities"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          },
          {
            key: {
              text: "Other requirements"
            },
            value: {
              text: (course.otherRequirements | nl2br | markdownToHtml | safe) if course.otherRequirements.length else "Not entered",
              classes: "govuk-hint" if not course.otherRequirements.length
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "other requirements"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
