{% extends "_layout.njk" %}

{% set primaryNavId = "trainingPartners" %}
{% set subNavId = "details" %}

{% set title = course.name + " (" + course.code + ")" %}
{% set caption = partner.name %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {% if caption.length %}
          <span class="govuk-caption-l">
            {{ caption }}
          </span>
        {% endif %}
        {{ title }}
        {{ govukTag({
          text: course.status | getCourseStatusLabel,
          classes: course.status | getCourseStatusClasses
        }) }}
      </h1>

      {% include "./_actions.njk" %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "../../courses/_sub-navigation.njk" %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set locationHtml %}
        <ul class="govuk-list">
          {% for location in course.locations %}
            <li>
              {{ location.id | getLocationLabel(partner.id) }}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set subjectHtml %}
        <ul class="govuk-list">
          {% for subject in course.subjects %}
            <li>
              {{ subject.code | getSubjectLabel }}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set ageRangeHtml %}
        {% if course.ageRangeOther %}
          <p class="govuk-body">{{ course.ageRangeOther.from }} to {{ course.ageRangeOther.to }}</p>
        {% else %}
          <p class="govuk-body">{{ course.ageRange | getAgeRangeLabel }}</p>
        {% endif %}
      {% endset %}

      {% set courseStartHtml %}
        <p class="govuk-body">{{ course.startDate | date("MMMM yyyy") }}</p>
        <p class="govuk-hint">{{ course.startDate | getAcademicYearLabel }}</p>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Subject level"
            },
            value: {
              text: course.subjectLevel | getSubjectLevelLabel
            }
          },
          {
            key: {
              text: "Special educational needs and disability (SEND) specialism"
            },
            value: {
              text: course.isSend | getSendLabel
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "special educational needs and disability (SEND)"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          },
          {
            key: {
              text: "Subject" + ("s" if course.subjects.length > 1)
            },
            value: {
              html: subjectHtml
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "subject"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          } if course.subjectLevel != "further_education",
          {
            key: {
              text: "Age range"
            },
            value: {
              html: ageRangeHtml
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "age range"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          } if course.subjectLevel != "further_education",
          {
            key: {
              text: "Qualification"
            },
            value: {
              text: course.qualification | getQualificationLabel
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "qualification"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          },
          {
            key: {
              text: "Teaching apprenticeship"
            },
            value: {
              text: course.fundingType | getApprenticeshipLabel
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "apprenticeship"
                }
              ]
            } if course.status in ["0","2"] and permissions and ("add_courses" in permissions or "change_courses" in permissions)
          } if partner.isAccreditedBody,
          {
            key: {
              text: "Funding type"
            },
            value: {
              text: course.fundingType | getFundingTypeLabel
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "funding type"
                }
              ]
            } if course.status in ["0","2"] and permissions and ("add_courses" in permissions or "change_courses" in permissions)
          } if not partner.isAccreditedBody,
          {
            key: {
              text: "Full time or part time"
            },
            value: {
              text: course.studyMode | getStudyModeLabel
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "full time or part time"
                }
              ]
            } if permissions and ("add_courses" in permissions or "change_courses" in permissions)
          },
          {
            key: {
              text: "Location" + ("s" if course.locations.length > 1)
            },
            value: {
              html: locationHtml
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "location"
                }
              ]
            } if locations.length > 1 and permissions and "change_courses" in permissions
          },
          {
            key: {
              text: "Accredited provider"
            },
            value: {
              text: course.accreditedBody.id | getOrganisationLabel
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "accredited provider"
                }
              ]
            } if course.status in ["0","2"] and permissions and ("add_courses" in permissions or "change_courses" in permissions)
          } if not partner.isAccreditedBody,
          {
            key: {
              text: "Student visa"
            },
            value: {
              text: course.canSponsorStudentVisa | getStudentVisaLabel + (" - can sponsor" if course.canSponsorStudentVisa == "yes" else " - cannot sponsor")
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "if candidates can get a sponsored Student visa"
                }
              ]
            } if course.status in ["0","2"] and permissions and ("add_courses" in permissions or "change_courses" in permissions)
          } if course.fundingType == "fee",
          {
            key: {
              text: "Skilled Worker visa"
            },
            value: {
              text: course.canSponsorSkilledWorkerVisa | getSkilledWorkerVisaLabel + (" - can sponsor" if course.canSponsorSkilledWorkerVisa == "yes" else " - cannot sponsor")
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "if candidates can get a sponsored Skilled Worker visa"
                }
              ]
            } if course.status in ["0","2"] and permissions and ("add_courses" in permissions or "change_courses" in permissions)
          } if course.fundingType in ["salary", "apprenticeship"],
          {
            key: {
              text: "Applications open date"
            },
            value: {
              text: "As soon as the course is on Find" if course.applicationsOpenDate != "other" else course.applicationsOpenDateOther | date("d MMMM yyyy")
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "applications open date"
                }
              ]
            } if course.status in ["0","2"] and permissions and ("add_courses" in permissions or "change_courses" in permissions)
          },
          {
            key: {
              text: "Course start"
            },
            value: {
              html: courseStartHtml
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "course start"
                }
              ]
            } if course.status in ["0","2"] and permissions and ("add_courses" in permissions or "change_courses" in permissions)
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
