{% extends "_layout.njk" %}

{% set primaryNavId = "trainingPartners" %}

{% set title = "Courses" %}
{% set caption = partner.name %}

{% block beforeContent %}
{#{ govukBackLink({
  text: "Back",
  href: actions.back
}) }#}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {% if permissions and "add_courses" in permissions %}
        {{ govukButton({
          text: "Add course",
          href: "#"
        }) }}
      {% endif %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if courses.length %}

        <table class="govuk-table app-table--vertical-align-middle">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-third">Course</th>
              <th class="govuk-table__header">Status</th>
              <th class="govuk-table__header">
              Is it on <abbr class="app-!-text-decoration-underline-dotted" title="Find postgraduate teacher training">Find</abbr>?
              </th>
              <th class="govuk-table__header">Applications</th>
              {# <th class="govuk-table__header">Vacancies</th> #}
            </tr>
          </thead>
          <tbody class="govuk-table__body">

            {% for course in courses %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell app-table--courses__course-name">
                  <a class="govuk-link govuk-heading-s govuk-!-margin-bottom-0" href="{{ actions.view }}/{{ course.id }}">
                    {{ course.name }} ({{ course.code }})
                  </a>
                  <span class="govuk-body-s">
                    {{ course.qualification | getQualificationLabel }} - {{ course.studyMode | getStudyModeLabel | lower }}
                  </span>
                </td>
                <td class="govuk-table__cell">
                  {{ govukTag({
                    text: course.status | getCourseStatusLabel,
                    classes: course.status | getCourseStatusClasses
                  }) }}
                </td>
                <td class="govuk-table__cell">
                  {% if course.status in [0,2] %}
                    No – still in draft
                  {% elif course.status == 3 %}
                    No – withdrawn
                  {% else %}
                    <a class="govuk-link" href="#">
                      Yes - view online
                    </a>
                  {% endif %}
                </td>
                <td class="govuk-table__cell">
                  {% if course.status == 1 %}
                    Open
                  {% elif course.status in [3,4] %}
                    Closed
                  {% else %}
                    -
                  {% endif %}
                </td>
                {# <td class="govuk-table__cell">
                  {% if course.status == 1 %}
                    {% if permissions and "change_course_vacancies" in permissions %}
                      Yes
                      (<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> vacancies for {{ course.name }} ({{ course.code }})</span></a>)
                    {% else %}
                      Yes
                    {% endif %}
                  {% elif course.status == 3 %}
                    No
                  {% elif course.status == 4 %}
                    {% if permissions and "change_course_vacancies" in permissions %}
                      No
                      (<a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> vacancies for {{ course.name }} ({{ course.code }})</span></a>)
                    {% else %}
                      No
                    {% endif %}
                  {% else %}
                    -
                  {% endif %}
                </td> #}
              </tr>
            {% endfor %}
          </tbody>

        </table>

      {% else %}
        <p class="govuk-body">There are no courses for {{ partner.name if partner.name else "this organisation" }}.</p>
      {% endif %}

    </div>
  </div>
{% endblock %}
