
{% extends "layout.html" %}
{% set title = 'Details from UCAS' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  {{ macros.screenshot('Course with UCAS details section', 'course', '/public/images/history/details-from-ucas/thumbnails/01-course.png', '/public/images/history/details-from-ucas/01-course.png', '') }}

  {{ macros.screenshot('Details from ucas', 'details-from-ucas', '/public/images/history/details-from-ucas/thumbnails/02-details-from-ucas.png', '/public/images/history/details-from-ucas/02-details-from-ucas.png', '
    <p>Present each UCAS course with fields and names as close as possible to UCAS, for familiarity and consistency.</p>
  ') }}

</main>
{% endblock %}
