// Document list pattern

// Spacing to the left of the task list
$course-parts-indent: 35px;

.course-parts {
  @include govuk-font(19);
}

.course-parts-section {
  display: table;
  @include govuk-font(36, $weight: bold);
  margin-bottom: 15px;
  padding-bottom: ($govuk-gutter / 6);
}

.course-parts-items {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: $govuk-gutter;
  @include govuk-media-query($from: tablet) {
    margin-bottom: ($govuk-gutter * 2);
  }
}

.course-parts-item {
  list-style: none;
  padding-top: 0;
  @include govuk-clearfix;

  .app-check-your-answers__answer--truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
  }

  .app-check-your-answers__question--error {
    color: $govuk-error-colour;
    border-left: 5px solid $govuk-error-colour !important;
    padding-left: 10px;

    a {
      font-weight: normal;
    }
  }

  .app-check-your-answers__contents:last-child {
    .app-check-your-answers__answer,
    .app-check-your-answers__question {
      border: none;
    }
  }
}

.course-part-task {
  @include govuk-font(27, $weight: bold);
  margin-top: 0;
  margin-bottom: 10px;
}

.course-part-task-action {

}

.course-part-task-action:after {
  @include govuk-clearfix;
}

.course-part-tasks {
  margin-top: 60px;

  @include govuk-media-query($from: desktop) {
    display: table;
    width: 100%;
  }

  > * {
    position: relative;

    @include govuk-media-query($from: desktop) {
      display: table-row;
    }

    > * {
      display: block;

      @include govuk-media-query($from: desktop) {
        display: table-cell;
        padding: em(12, 19) em(20, 19) em(9, 19) 0; // copied from Elements' td padding
        margin: 0;
      }
    }

    // @include govuk-media-query($from: desktop) {
    //   &:first-child > * {
    //     padding-top: 0;
    //   }
    // }
  }

  .course-part-error {
    dt, dd {
      border-left: 5px solid $govuk-error-colour;
      padding-left: 10px;
    }
     dt {
      color: $govuk-error-colour;
    }
  }

  .course-part-label {
    float: none;
    display: block;
    font-weight: bold;
    padding-bottom: 5px;

    // @include govuk-media-query($from: desktop) {
    //   width: 30%;
    // }
  }

  .course-part-label-error {
    font-weight: normal;
    display: block;
  }

  > *:first-child .course-part-label {
    margin-top: 0;
  }

  .course-part-value {
    float: none;
    display: block;
    padding: 0;
    margin-bottom: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;

    &--empty {
      color: govuk-colour("grey-1");
    }
  }
}
