<span class="app-badge {{- ' ' + params.classes if params.classes }}" {%- if params.label %} aria-label="{{ params.label }}"{% endif -%} {%- for attribute, value in params.attributes -%} {{ attribute }}="{{ value }}"{% endfor %}>
  {{- params.html | safe if params.html else params.text -}}
</span>
