{% extends "layout.html" %}
{% set title = "About this course" %}
{% set backLink = course.path %}

{% block content %}
  {% include "course/_errors.html" %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ course.name | safe }} ({{ course.programmeCode }})</span>
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/course/{{ data["provider-code"] }}/{{ course.programmeCode }}" method="post">
        <p class="govuk-body">You should give a short, factual summary of the course.</p>
        <p class="govuk-body">Tell applicants:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>what they’ll learn (eg what units are taught)</li>
          <li>how the course is structured</li>
          <li>whether it has any distinctive features</li>
        </ul>
        <p class="govuk-body">You could include details such as:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how candidates are assessed</li>
          <li>the size of the workload (eg how many essays per term)</li>
          <li>league-table rankings and student employability ratings</li>
          <li>quotes from past students</li>
        </ul>
        <p class="govuk-body">Remember to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>make your content specific to this course - don’t repeat the descriptions you’ve used for other courses</li>
          <li>use short paragraphs (no more than five sentences each)</li>
          <li>use bullet points where possible (to check formatting, use the ‘preview’ function after saving your content)</li>
          <li>spell out all acronyms the first time you use them, eg ITT, NQT, EAL, ICT (applicants may not be familiar with these terms)</li>
        </ul>

        {{ govukDetails({
          summaryText: "Several courses in the same subject?",
          text: "If you offer more than one course in the same subject - eg two Primary courses - it’s important to say how they differ (eg differences in teaching placements or in the focus of the training). Otherwise, applicants may be unable to decide between them."
        })}}

        {{ govukCharacterCount({
          name: course.programmeCode + "-about-this-course",
          id: course.programmeCode + "-about-this-course",
          value: value(course.programmeCode + "-about-this-course"),
          label: {
            text: "About this course",
            classes: "govuk-label--s"
          },
          maxwords: 400,
          rows: 20
        }) }}

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

        <h2 id="interview-process" class="govuk-heading-l">Interview process</h2>
        <p>Tell applicants:</p>
        <p>This could include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how many interviews they’ll have</li>
          <li>how long each interview will be</li>
          <li>who’ll be interviewing them - will it be one-on-one or a group interview?</li>
          <li>whether they’ll have to sit any tests - if so, how can they prepare?</li>
        </ul>

        {{ govukCharacterCount({
          name: course.programmeCode + "-interview-process",
          id: course.programmeCode + "-interview-process",
          value: value(course.programmeCode + "-interview-process"),
          label: {
            text: "Interview process (optional)",
            classes: "govuk-label--s"
          },
          maxwords: 250,
          rows: 10
        }) }}

        {{ govukButton({
          text: "Save"
        }) }}

        <p class="govuk-body"><a href="{{ course.path }}">Cancel changes</a></p>
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ macros.copyContent() }}
    </div>
  </div>
{% endblock %}
