{% extends "layout.html" %}
{% set title = 'About your organisation' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="/course/{{ accrediting.slug }}/{{ subject.slug }}" class="link-back">Back</a>

  <h1 class="heading-xlarge">
    {{ title }}
  </h1>

  <form action="/course/{{ accrediting.slug }}/{{ subject.slug }}" method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h3 class="heading-large remove-top-margin">About the courses you offer</h3>

        <p>This section is your opportunity to tell applicants why they should train with you. You could consider giving answers to the following questions:</p>

        <ul class="list list-bullet">
          <li>advantages of you as a training provider (please include evidence)</li>
          <li>benefits of your chosen accredited provider</li>
        </ul>
        {{ macros.textarea(subject.slug + '-' + accrediting.slug + '-about-organisation', 'About your organisation', 14, '', 250) }}
      </div>
    </div>

    {% if not accrediting.selfAccrediting %}
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ macros.textarea(subject.slug + '-' + accrediting.slug + '-about-accrediting-provider', 'About the accrediting provider (optional)', 14, '', 250) }}
      </div>
    </div>
    {% endif %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h3 class="heading-large remove-top-margin">Training with a disability</h3>
        <p>Bearing in mind the broad range of disabilities that applicants may have (for example, physical, hearing and visual impairments, or dyslexia), summarise the accessibility of your course. If this varies between placement schools, please explain.</p>

        {{ macros.textarea(subject.slug + '-' + accrediting.slug + '-training-with-a-disability', 'Training with a disability', 14, '', 250) }}
      </div>
    </div>

    <div class="add-double-bottom-margin">
      <input type="submit" class="button" value="Save" />
    </div>

    <a href="/course/{{ subject.slug }}">Cancel changes</a>
  </form>
</main>

{% endblock %}
