{% extends "layout.html" %}
{% set title = 'About this course' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="/course/{{ accrediting.slug }}/{{ subject.slug }}" class="link-back">Back</a>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{ subject.name }}</span>
    {{ option.name }}
  </h1>

  <form action="/course/{{ accrediting.slug }}/{{ subject.slug }}" method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ macros.textbox(subject.slug + '-' + accrediting.slug + '-' + option.index + '-course-website', 'Course webpage (optional)', 'Enter the address of a page on your website with details about this course.', 'form-control-full') }}
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        <p>How long does the course run for?</p>
        {% set fields = [
            {
              name: '1 year'
            },
            {
              name: 'Up to 2 years'
            },
            {
              name: 'Other'
            }
          ]
        %}

        {{ macros.radioGroup(subject.slug + '-' + accrediting.slug + '-' + option.index + '-duration', fields) }}
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h3 class="heading-large remove-top-margin">Fees</h3>
        {{ macros.textbox(subject.slug + '-' + accrediting.slug + '-' + option.index + '-fee', 'Fee for UK and EU students in £', null, 'form-control-xsmall') }}
        {{ macros.textbox(subject.slug + '-' + accrediting.slug + '-' + option.index + '-fee-international', 'Fee for international students in £ (optional)', null, 'form-control-xsmall') }}
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">

        <h3 class="heading-large remove-top-margin">About this course</h3>
        <p>Use this section to give applicants an insight into this course. Describe in plain language what makes this course different to similar courses you provide.</p>

        {% if option.salaried %}
          <p>Indicate how this salaried course differs from a fee paying course.</p>
        {% elseif option.partTime %}
          <p>Indicate how this part time course differs from a full time course.</p>
        {% elseif option.qtsOnly %}
          <p>Indicate how this QTS course differs from a PGCE with QTS course.</p>
        {% endif %}

        <p>It could include:</p>
        <ul class="list list-bullet">
          <li>who is best suited to this type of course</li>
          <li>how this type of course is structured differently</li>
          <li>how the overall experience is different</li>
          <li>if the locations you spend time in will differ</li>
          {% if option.salaried %}
          <li>an indication of the salary scale</li>
          {% endif %}
        </ul>

        <!-- <p>It could include:</p>
        <ul class="list list-bullet">
          <li>overall experience (eg whether it’s hands-on classroom experience from day one)</li>
          <li>how the course will be structured</li>
          <li>locations that you’ll need to attend (eg if you have to attend classes at an accrediting provider as well as the training provider)</li>
        </ul>

        <p>It can also include information about the prestige or unique qualities of the course, eg league-table rankings.</p> -->

        {{ macros.textarea(subject.slug + '-' + accrediting.slug + '-' + option.index + '-about-this-course', 'About this course', 20, '', 400) }}
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h3 class="heading-large remove-top-margin">Interview process</h3>

        <p>Summarise the interview process that the applicant can expect. For example:</p>
        <ul class="list list-bullet">
          <li>who’ll be interviewing them</li>
          <li>the number of interviews they can expect</li>
          <li>the types of tests they'll have</li>
        </ul>

        {{ macros.textarea(subject.slug + '-' + accrediting.slug + '-' + option.index + '-interview-process', 'Interview process (optional)', 10, '', 250) }}
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h3 class="heading-large remove-top-margin">How school placements work</h3>

        <p>Summarise:</p>
        <ul class="list list-bullet">
          <li>the number of placements a candidate will go on</li>
          <li>the time candidates spend in each school</li>
          <li>how schools are chosen based on the candidate’s needs</li>
        </ul>

        {{ macros.textarea(subject.slug + '-' + accrediting.slug + '-' + option.index + '-placement-school-policy', 'How school placements work', 10, '', 250) }}
      </div>
    </div>

    <div class="add-double-bottom-margin">
      <input type="submit" class="button" value="Save" />
    </div>

    <a href="/course/{{ subject.slug }}">Cancel changes</a>
  </form>
</main>

{% endblock %}
