{% extends "layout.html" %}
{% set title = 'About your organisation' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="/course/{{ accrediting.slug }}/{{ subject.slug }}" class="link-back">Back</a>

  <h1 class="heading-xlarge">
    {{ title }}
  </h1>

  <form action="/course/{{ accrediting.slug }}/{{ subject.slug }}" method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        <p>This is your chance to tell applicants why they should choose to train with you. You could describe any advantages and special features of:</p>

        <ul class="list list-bullet">
          <li>you as a training provider</li>
          <li>your accrediting provider, if you have one</li>
        </ul>

        <p>You must be specific and factual with any claims you make, and support them with evidence. For example:</p>

        <ul class="list list-bullet">
          <li>don’t say “our students are some of the happiest in the country”</li>
          <li>do say “the Times Educational Supplement ranked our students as 4th happiest in the country”</li>
        </ul>
        {{ macros.textarea(subject.slug + '-' + accrediting.slug + '-about-organisation', 'Training with you', 14, '', 250) }}
      </div>
    </div>

    {% if not accrediting.selfAccrediting %}
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ macros.textarea(subject.slug + '-' + accrediting.slug + '-about-accrediting-provider', 'About the accrediting provider (optional)', 14, '', 250) }}
      </div>
    </div>
    {% endif %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h3 class="heading-large remove-top-margin">Training with a disability</h3>
        <p>Here you should summarise the accessibility of your course. Bear in mind the range of disabilities that applicants may have (eg dyslexia, or physical, hearing and visual impairments). If accessibility varies between schools or other sites, give details. You could also offer examples of how you’ve accommodated candidates with particular accessibility needs.</p>

        {{ macros.textarea(subject.slug + '-' + accrediting.slug + '-training-with-a-disability', 'Training with a disability', 14, '', 250) }}
      </div>
    </div>

    <div class="add-double-bottom-margin">
      <input type="submit" class="button" value="Save" />
    </div>

    <a href="/course/{{ subject.slug }}">Cancel changes</a>
  </form>
</main>

{% endblock %}
