{% extends "layout.html" %}
{% set title = 'About your organisation' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/courses">{{ data['training-provider-name'] }}</a></li>
      <li><a href="/course/{{ subject.slug or '/maths' }}">{{ subject.name or 'Maths' }}</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    {{ title }}
  </h1>

  <form action="/course/{{ subject.slug }}" method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ macros.textarea(subject.slug + '-about-organisation', 'About your organisation', 14) }}
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        {{ macros.textarea(subject.slug + '-training-with-a-disability', 'Training with a disability', 14) }}
      </div>
      <div class="column-one-third add-margin-for-label">
        <p>Summarise how this course is accessible for disabled people. Think about the broad range of disabilities that people can have - for example, dyslexia or physical, hearing or visual impairments. </p>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        {{ macros.textarea(subject.slug + '-interview-process', 'Interview process', 7) }}
      </div>
      <div class="column-one-third add-margin-for-label">
        <p>Summarise the interview process that the applicant can expect. For example:</p>
        <ul class="list list-bullet">
          <li>who’ll be interviewing them</li>
          <li>the number of interviews they can expect</li>
          <li>the types of tests they'll have</li>
        </ul>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        {{ macros.textarea(subject.slug + '-placement-school-policy', 'How school placements work', 7) }}
      </div>
      <div class="column-one-third add-margin-for-label">
        <p>Summarise:</p>
        <ul class="list list-bullet">
          <li>the number of placements a candidate will go on</li>
          <li>the time candidates spend in each school</li>
          <li>how schools are chosen based on the candidate’s needs</li>
        </ul>
      </div>
    </div>

    <div class="add-double-bottom-margin">
      <input type="submit" class="button" value="Save" />
    </div>

    <a href="/course/{{ subject.slug }}">Cancel changes</a>
  </form>
</main>

{% endblock %}
