{% extends "layout.html" %}
{% set title = 'About this course' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}


  <a href="/course/{{ data['provider-code'] }}/{{ course.programmeCode }}" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-xl">
    <span class="heading-secondary">{{ course.name | safe }} ({{ course.programmeCode }})</span>
    {{ title }}
  </h1>

  {% include "course/_errors.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/course/{{ data['provider-code'] }}/{{ course.programmeCode }}" method="post">
        <p>Give applicants a short description of the course.</p>

        <p>You could include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>an overview of what candidates are taught</li>
          <li>how much time they’ll spend training in school</li>
          <li>how they’ll be assessed</li>
          <li>the workload (eg how many essays per term?)</li>
          <li>any other locations they’ll need to go to (eg will they also have to attend classes at an accredited provider?)</li>
          <li>information about the prestige of the course (eg league-table rankings)</li>
        </ul>

        <p>If you offer different courses in the same subject, be clear about how this course differs from the others (eg amount of time spent in school, course structure). This will help the applicant decide which course best suits them.</p>

        {{ macros.textarea(course.programmeCode + '-about-this-course', 'About this course', 20, '', 400, errors) }}

        <hr class="govuk-section-break govuk-section-break--visible" />

        <!-- <h3 class="govuk-heading-l remove-top-margin">Outcome</h3>
        <p>Pick the outcome which describes what a trainee will get when they complete this course.</p>

        {% set fields = [
            {
              name: 'PGCE with QTS',
              text: 'Postgraduate certificate in education with qualified teacher status'
            },
            {
              name: 'QTS',
              text: 'Qualified teacher status'
            },
            {
              name: 'QTS with optional PGCE',
              text: 'Qualified teacher status with optional postgraduate certificate in education'
            }
          ]
        %}

        {{ macros.radioGroup(course.programmeCode + '-outcome', fields, errors) }}

        <details {% if data[course.programmeCode + '-outcome'] == 'PGDE with QTS' %}open{% endif %}>
          <summary><span class="summary">More options</span></summary>
          <div class="panel panel-border-narrow">
            {% set fields = [
                {
                  name: 'PGDE with QTS',
                  text: 'Postgraduate diploma in education with qualified teacher status'
                },
                {
                  name: 'PGCE only (further education, without QTS)',
                  text: 'Only applies to courses in further education'
                },
                {
                  name: 'PGDE only (further education, without QTS)',
                  text: 'Only applies to courses in further education'
                }
              ]
            %}

            {{ macros.radioGroup(course.programmeCode + '-outcome', fields, errors, 4) }}
          </div>
        </details>
        <hr class="govuk-section-break govuk-section-break--visible" /> -->

        <h3 class="govuk-heading-l remove-top-margin">Interview process</h3>

        <p>Give applicants a summary of the interview process.</p>

        <p>This could include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>who’ll be interviewing them</li>
          <li>how many interviews they’ll need to attend</li>
          <li>details of any tests they’ll need to sit</li>
        </ul>

        {{ macros.textarea(course.programmeCode + '-interview-process', 'Interview process (optional)', 10, '', 250) }}

        <hr class="govuk-section-break govuk-section-break--visible" />

        <h3 class="govuk-heading-l remove-top-margin">How school placements work</h3>

        <p>Tell applicants more about the schools they’ll be teaching in.</p>

        <p>You could include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how the candidate’s schools are selected</li>
          <li>the average distance candidates have to travel from home to school</li>
          <li>the age ranges they’ll be teaching (eg 11 to 16 or 11 to 18)</li>
          <li>how many schools you partner with in total</li>
          <li>the number of placements a candidate will have</li>
          <li>how much time candidates spend in each school</li>
        </ul>

        {{ macros.textarea(course.programmeCode + '-placement-school-policy', 'How school placements work', 10, '', 350, errors) }}

        <div class="add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Save" />
        </div>

        <a href="/course/{{ data['provider-code'] }}/{{ course.programmeCode }}">Cancel changes</a>
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ macros.copyContent() }}
    </div>
  </div>


{% endblock %}
