{% extends "layout.html" %}
{% set title = "What is the minimum degree classification required?" %}
{% set backLink = course.path + "/degree" %}

{% block content %}
  {% include "course/_errors.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if course.name === "Primary" %}
        {% set formPath = course.path %}
      {% else %}
        {% set formPath = course.path + "/degree-subject" %}
      {% endif %}
      <form action="{{ formPath }}" method="post">

        {% set radioName = course.programmeCode + '-degree-minimum-classification' %}

        {{ govukRadios({
          idPrefix: "degree-minimum",
          name: radioName,
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "21",
              text: "2:1 or above (or equivalent)",
              checked: (data[radioName] === "21")
            },
            {
              value: "22",
              text: "2:2 or above (or equivalent)",
              checked: (data[radioName] === "22")
            },
            {
              value: "3",
              text: "3rd or above (or equivalent)",
              checked: (data[radioName] === "3")
            }
          ]
        }) }}

        <div class="add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Save" />
        </div>
      </form>
    </div>
  </div>


{% endblock %}
