{% extends "layout.html" %}
{% set title = "Do you require a minimum degree classification?" %}
{% set backLink = course.path + "/requirements" %}

{% block content %}

  {% include "course/_errors.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/course/{{ data['provider-code'] }}/{{ course.programmeCode }}/degree-level" method="post">

      {% set radioName = course.programmeCode + '-degree-minimum-required' %}

        {{ govukRadios({
          idPrefix: "degree-minimum",
          name: course.programmeCode + '-degree-minimum-required',
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If you specify a minimum (for example, 2:1), candidates will be discouraged but not blocked from applying if they do not meet this level."
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: (data[radioName] === "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: (data[radioName] === "No")
            }
          ]
        }) }}

        <div class="add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Save" />
        </div>
      </form>
    </div>
  </div>


{% endblock %}
