{% extends "layout.html" %}
{% set title = "What is the minimum degree classification required?" %}
{% set backLink = course.path + "/degree" %}

{% if course.name === "Primary" %}
  {% set formPath = course.path %}
{% else %}
  {% set formPath = course.path + "/degree-subject" %}
{% endif %}

{% block content %}
  <form action="{{ formPath }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "course/_errors.html" %}

      {% set titleHtml %}
        <h1 class="govuk-fieldset__heading">
          <span class="govuk-caption-xl">{{ course.name | safe }} ({{ course.programmeCode }})</span>
          {{ title | safe }}
        </h1>
      {% endset %}

      {% set radioName = course.programmeCode + "-degree-minimum-classification" %}
      {{ govukRadios({
        idPrefix: "degree-minimum",
        name: radioName,
        fieldset: {
          legend: {
            html: titleHtml,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [{
          value: "21",
          text: "2:1 or above (or equivalent)",
          checked: (data[radioName] === "21")
        }, {
          value: "22",
          text: "2:2 or above (or equivalent)",
          checked: (data[radioName] === "22")
        }, {
          value: "3",
          text: "3rd or above (or equivalent)",
          checked: (data[radioName] === "3")
        }]
      }) }}

      {{ govukButton({
        text: "Save"
      }) }}
    </div>
  </form>
{% endblock %}
