{% extends "layout.html" %}
{% set title %}Course length and {% if course.salaried %}salary{% else %}fees{% endif %}{% endset %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="/course/{{ accrediting.slug }}/{{ course.programmeCode }}" class="link-back">Back</a>

  <h1 class="heading-xlarge">
    {{ title }}
  </h1>

  {% include "course/_errors.html" %}

  <form action="/course/{{ accrediting.slug }}/{{ course.programmeCode }}" method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-large remove-top-margin">Course length</h2>
        {% set fields = [
            {
              name: '1 year'
            },
            {
              name: 'Up to 2 years'
            },
            {
              name: 'Other'
            }
          ]
        %}

        {{ macros.radioGroup(course.programmeCode + '-duration', fields, errors) }}
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        {% if course.salaried %}
          <h2 class="heading-large">Salary</h2>

          <p>Give details about the salary for this course.</p>
          <p>You should:</p>
          <ul class="list list-bullet">
            <li>give an indication of the salary</li>
            <li>say whether there are any fees or others costs – if there are no fees for this course, you should also say so</li>
          </ul>

          {{ macros.textarea(course.programmeCode + '-salary-details', 'Salary', 10, null, 250, errors) }}
        {% else %}
          <h2 class="heading-large">Course fees</h2>

          {{ macros.textbox(course.programmeCode + '-fee', 'Fee for UK and EU students', null, 'form-control-xsmall', '£', errors) }}
          {{ macros.textbox(course.programmeCode + '-fee-international', 'Fee for international students (optional)', null, 'form-control-xsmall', '£') }}

          <h4 class="heading-medium">Fee details</h4>

          <p>If applicable, give further details about the fees for this course.</p>

          <p>This could include:</p>
          <ul class="list list-bullet">
            <li>any top up fees</li>
            <li>any other costs</li>
          </ul>

          {{ macros.textarea(course.programmeCode + '-fee-details', 'Fee details (optional)', 10, null, 250) }}
        {% endif %}
      </div>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        <h2 class="heading-large">Financial support you offer</h2>
        <p>If applicable, say more about the financial support you offer for this course. For example, any bursaries available.</p>
        <p>You don’t need to add details of any DfE bursaries and subject scholarships here. These will be published automatically to your course page</p>

        {{ macros.textarea(course.programmeCode + '-financial-support', 'Financial support you offer (optional)', 10, null, 250) }}
      </div>
    </div>

    <div class="add-top-margin add-double-bottom-margin">
      <input type="submit" class="button" value="Save" />
    </div>

    <a href="/course/{{ accrediting.slug }}/{{ course.programmeCode }}">Cancel changes</a>
  </form>
</main>

{% endblock %}
