{% extends "layout.html" %}
{% set title %}Course length and {% if course.salaried %}salary{% else %}fees{% endif %}{% endset %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(course.path) }}{% endblock %}

{% block content %}
  {% include "course/_errors.html" %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ course.name | safe }} ({{ course.programmeCode }})</span>
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/course/{{ data['provider-code'] }}/{{ course.programmeCode }}" method="post">
        <h2 class="govuk-heading-l remove-top-margin">Course length</h2>
        {% set otherField %}
          {{ macros.textbox(course.programmeCode + '-duration-other', 'Course length')}}
        {% endset %}

        {% set fields = [
            {
              name: '1 year'
            },
            {
              name: 'Up to 2 years'
            },
            {
              name: 'Other',
              more: otherField
            }
          ]
        %}

        {{ macros.radioGroup(course.programmeCode + '-duration', fields, errors) }}

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />

        {% if course.salaried %}
          <h2 class="govuk-heading-l">Salary</h2>

          <p>Give details about the salary for this course.</p>
          <p>You should:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>give an indication of the salary – if you don’t have the figure, say how it will be calculated (eg using the unqualified teachers’ pay scales)</li>
            <li>say whether there are any fees or others costs – if there are no fees for this course, you should also say so</li>
          </ul>

          {{ macros.textarea(course.programmeCode + '-salary-details', 'Salary', 10, null, 250, errors) }}
        {% else %}
          <h2 class="govuk-heading-l">Course fees</h2>

          {{ macros.textbox(course.programmeCode + '-fee', 'Fee for UK and EU students', null, 'form-control-xsmall', '£', errors) }}
          {{ macros.textbox(course.programmeCode + '-fee-international', 'Fee for international students (optional)', null, 'form-control-xsmall', '£') }}

          <h4 class="govuk-heading-m">Fee details</h4>

          <p>If applicable, give further details about the fees for this course.</p>

          <p>This could include:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>any top up fees</li>
            <li>any other costs</li>
          </ul>

          {{ macros.textarea(course.programmeCode + '-fee-details', 'Fee details (optional)', 10, null, 250) }}

          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />

          <h2 class="govuk-heading-l">Financial support you offer</h2>
          <p>If applicable, say more about the financial support you offer for this course. For example, any bursaries available.</p>
          <p>You don’t need to add details of any DfE bursaries and subject scholarships here. These will be published automatically to your course page</p>

          {{ macros.textarea(course.programmeCode + '-financial-support', 'Financial support you offer (optional)', 10, null, 250) }}
        {% endif %}

        <div class="add-top-margin add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Save" />
        </div>

        <a href="/course/{{ data['provider-code'] }}/{{ course.programmeCode }}">Cancel changes</a>
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ macros.copyContent() }}
    </div>
  </div>


{% endblock %}
