{% extends "layout.html" %}
{% set title = 'Details from UCAS' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/courses">{{ data['training-provider-name'] }}</a></li>
      <li><a href="/course/{{ subject.slug or '/maths' }}">{{ subject.name or 'Maths' }}</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    {{ title }}
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="lede">
        Course information that we’ve received from UCAS based on your submissions to them. This information can only be edited within UCAS.
      </p>

      <p>Multiple UCAS courses for the same subject are combined into a single course page with different study options. For example courses with and without salary.</p>
    </div>
  </div>

  <ul>
    <li>
      <h2 class="heading-large">Chemistry</h2>
      <dl class="aligned">
        <dt>Name:</dt>
        <dd>Chemistry</dd>
        <dt>Training provider code:</dt>
        <dd>1UH</dd>
        <dt>Training programme code:</dt>
        <dd>2T9D</dd>
        <dt>Accrediting provider:</dt>
        <dd>The University of Reading</dd>
        <dt>Route:</dt>
        <dd>School Direct training programme</dd>
        <dt>Subjects:</dt>
        <dd>Chemistry, Secondary, Science</dd>
        <dt>Age range:</dt>
        <dd>Secondary (11+ years)</dd>
        <dt>Qualification:</dt>
        <dd>Professional and Postgraduate training programme</dd>
        <dt>Regions</dt>
        <dd>South East</dd>
      </dl>

      <h3 class="heading-medium">Training locations</h3>
      <table>
        <thead>
          <tr>
            <th>Location name</th>
            <th>Address</th>
            <th>Code</th>
            <th>Full time vacancies</th>
            <th>Part time vacancies</th>
            <th>Applications accepted from</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Main Site</td>
            <td>Hitches Lane, Fleet, Hampshire, GU51 5JA</td>
            <td>-</td>
            <td>Vacancies</td>
            <td>Not applicable</td>
            <td>26 Oct 2018</td>
          </tr>
        </tbody>
      </table>
    </li>

    <li>
      <h2 class="heading-large">Chemistry</h2>
      <dl class="aligned">
        <dt>Name:</dt>
        <dd>Chemistry</dd>
        <dt>Training provider code:</dt>
        <dd>1UH</dd>
        <dt>Training programme code:</dt>
        <dd>2XDS</dd>
        <dt>Accrediting provider:</dt>
        <dd>The University of Reading</dd>
        <dt>Route:</dt>
        <dd>School Direct training programme</dd>
        <dt>Subjects:</dt>
        <dd>Chemistry, Secondary, Science</dd>
        <dt>Age range:</dt>
        <dd>Secondary (11+ years)</dd>
        <dt>Qualification:</dt>
        <dd>Professional and Postgraduate training programme</dd>
        <dt>Regions</dt>
        <dd>South East</dd>
      </dl>

      <h3 class="heading-medium">Training locations</h3>
      <table>
        <thead>
          <tr>
            <th>Location name</th>
            <th>Address</th>
            <th>Code</th>
            <th>Full time vacancies</th>
            <th>Part time vacancies</th>
            <th>Applications accepted from</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Court Moor School</td>
            <td>Spring Woods, Fleet, Hampshire, GU52 7RY</td>
            <td>M</td>
            <td>Vacancies</td>
            <td>Not applicable</td>
            <td>26 Oct 2018</td>
          </tr>
        </tbody>
      </table>
    </li>

    <li>
      <h2 class="heading-large">Chemistry</h2>
      <dl class="aligned">
        <dt>Name:</dt>
        <dd>Chemistry</dd>
        <dt>Training provider code:</dt>
        <dd>1UH</dd>
        <dt>Training programme code:</dt>
        <dd>3567</dd>
        <dt>Accrediting provider:</dt>
        <dd>The University of Reading</dd>
        <dt>Route:</dt>
        <dd>School Direct training programme</dd>
        <dt>Subjects:</dt>
        <dd>Chemistry, Secondary, Science</dd>
        <dt>Age range:</dt>
        <dd>Secondary (11+ years)</dd>
        <dt>Qualification:</dt>
        <dd>Professional and Postgraduate training programme</dd>
        <dt>Regions</dt>
        <dd>South East</dd>
      </dl>

      <h3 class="heading-medium">Training locations</h3>
      <table>
        <thead>
          <tr>
            <th>Location name</th>
            <th>Address</th>
            <th>Code</th>
            <th>Full time vacancies</th>
            <th>Part time vacancies</th>
            <th>Applications accepted from</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Yateley School</td>
            <td>School Lane, Yateley, Hampshire, GU46 6NW</td>
            <td>Y</td>
            <td>Vacancies</td>
            <td>Not applicable</td>
            <td>26 Oct 2018</td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>
</main>

{% endblock %}
