{% extends "layout.html" %}
{% set title = 'Details from UCAS' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/courses">Courses</a></li>
      <li><a href="/course/{{ accrediting.slug }}/{{ subject.slug or '/maths' }}">{{ subject.name or 'Maths' }} – {{ accrediting.name }}</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    {{ ucasCourse.options }} ({{ ucasCourse.programmeCode }})
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="lede">
        Information imported from UCAS for course {{ ucasCourse.programmeCode }}.
      </p>
    </div>
  </div>

  <dl class="aligned add-top-margin">
    <dt>Name:</dt>
    <dd>{{ ucasCourse.name }}</dd>
    <dt>Training provider code:</dt>
    <dd>{{ ucasCourse.providerCode }}</dd>
    <dt>Training programme code:</dt>
    <dd>{{ ucasCourse.programmeCode }}</dd>
    <dt>Accredited provider:</dt>
    <dd>{{ ucasCourse.accrediting }}</dd>
    <dt>Route:</dt>
    <dd>{{ ucasCourse.route }}</dd>
    <dt>Subjects:</dt>
    <dd>{{ ucasCourse.subjects }}</dd>
    <dt>Age range:</dt>
    <dd>{{ ucasCourse.ageRange }}</dd>
    <dt>Qualification:</dt>
    <dd>{{ ucasCourse.qualifications }}</dd>
    <dt>Regions:</dt>
    <dd>{{ ucasCourse.regions }}</dd>
  </dl>

  <h3 class="heading-medium">Training locations</h3>
  <table>
    <thead>
      <tr>
        <th>Location name</th>
        <th>Address</th>
        <th>Code</th>
        <th>Full time vacancies</th>
        <th>Part time vacancies</th>
        <th>Applications accepted from</th>
      </tr>
    </thead>
    <tbody>
      {% for school in ucasCourse.schools %}
      <tr>
        <td>{{ school.name }}</td>
        <td>{{ school.address }}</td>
        <td>{{ school.code }}</td>
        <td>Vacancies</td>
        <td>Not applicable</td>
        <td>26 Oct 2018</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div style="margin-top: 60px">
    <a href="#" class="button">Edit course</a>
  </div>

</main>

{% endblock %}
