{% extends "layout.html" %}
{% set title = "Degree requirements" %}
{% set backLink = course.path %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block content %}

  {% include "course/_errors.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ course.path }}" method="post">

        <span class="govuk-caption-l">{{ course.name | safe }} ({{ course.programmeCode }})</span>
        <h1 class="govuk-heading-l">GCSEs and equivalency tests</h1>

        <p>Select whether you will consider candidates who are:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>currently taking a GCSE</li>
          <li>need to take an equivalency test (this proves they have the skills to start training)</li>
        </ul>

        {% set mathsRadioName = course.programmeCode + '-gcse-maths-flexibility' %}
        {{ govukRadios({
          name: mathsRadioName,
          fieldset: {
            legend: {
              text: "Maths GCSE",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "must",
              text: "Must have the GCSE, or equivalent (least flexible)",
              hint: {
                text: "Candidates who do not already have a GCSE grace C (4) or above, or above will be discouraged from applying, but not blocked."
              },
              checked: (data[mathsRadioName] === "must")
            },
            {
              value: "pending",
              text: "Taking the GCSE",
              hint: {
                text: "You will consider applicants with a pending GCSE."
              },
              checked: (data[mathsRadioName] === "pending")
            },
            {
              value: "equivalency-test-offered",
              text: "Equivalency test (most flexible)",
              hint: {
                text: "You will consider applicants who need to take an equivalency test, as well as those with a pending GCSE."
              },
              checked: (data[mathsRadioName] === "equivalency-test-offered")
            }
          ]
        }) }}

        {% set englishRadioName = course.programmeCode + '-gcse-english-flexibility' %}
        {{ govukRadios({
          name: englishRadioName,
          fieldset: {
            legend: {
              text: "English GCSE",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "must",
              text: "Must have the GCSE, or equivalent (least flexible)",
              hint: {
                text: "Candidates who do not already have a GCSE grace C (4) or above, or above will be discouraged from applying, but not blocked."
              },
              checked: (data[englishRadioName] === "must")
            },
            {
              value: "pending",
              text: "Taking the GCSE",
              hint: {
                text: "You will consider applicants with a pending GCSE."
              },
              checked: (data[englishRadioName] === "pending")
            },
            {
              value: "equivalency-test-offered",
              text: "Equivalency test (most flexible)",
              hint: {
                text: "You will consider applicants who need to take an equivalency test, as well as those with a pending GCSE."
              },
              checked: (data[englishRadioName] === "equivalency-test-offered")
            }
          ]
        }) }}

        {% if course.name === "Primary" %}
          {% set scienceRadioName = course.programmeCode + '-gcse-science-flexibility' %}
          {{ govukRadios({
            name: scienceRadioName,
            fieldset: {
              legend: {
                text: "Science GCSE",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "must",
                text: "Must have the GCSE, or equivalent (least flexible)",
                hint: {
                  text: "Candidates who do not already have a GCSE grace C (4) or above, or above will be discouraged from applying, but not blocked."
                },
                checked: (data[scienceRadioName] === "must")
              },
              {
                value: "pending",
                text: "Taking the GCSE",
                hint: {
                  text: "You will consider applicants with a pending GCSE."
                },
                checked: (data[scienceRadioName] === "pending")
              },
              {
                value: "equivalency-test-offered",
                text: "Equivalency test (most flexible)",
                hint: {
                  text: "You will consider applicants who need to take an equivalency test, as well as those with a pending GCSE."
                },
                checked: (data[scienceRadioName] === "equivalency-test-offered")
              }
            ]
          }) }}
        {% endif %}

        <div class="add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Save" />
        </div>
      </form>
    </div>
  </div>


{% endblock %}
