{% extends "layout.njk" %}
{% set title = "GCSEs (or equivalent)" %}
{% set backLink = course.path %}

{% block content %}
  <form action="{{ course.path }}/gcses-pending-or-equivalency-tests" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "course/_errors.njk" %}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ course.name | safe }} ({{ course.programmeCode }})</span>
        {{ title }}
      </h1>

      <p class="govuk-body">Candidates will be advised that they need to have a English{{", maths and science" if course.name == "Primary" else " and maths" }} GCSE at grade 4 (C) or above, or equivalent, before they start their training.</p>

      {% set textareaName = course.programmeCode + "-gcse-requirements" %}
      {% set gcseRequirementsHtml %}
        {{ govukTextarea({
          id: "gcse-requirements",
          name: textareaName,
          value: data[textareaName],
          spellcheck: true,
          label: {
            text: "Additional GCSE (or equivalent) requirements"
          }
        }) }}
      {% endset -%}

      {% set radioName = course.programmeCode + "-gcse-additional-requirements" %}
      {{ govukRadios({
        idPrefix: "degree-subject",
        name: radioName,
        fieldset: {
          legend: {
            text: "Do you have any additional requirements?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [{
          value: "No",
          text: "No",
          checked: (data[radioName] === "No")
        }, {
          value: "Yes",
          text: "Yes",
          checked: (data[radioName] === "Yes"),
          conditional: {
            html: gcseRequirementsHtml
          }
        }]
      }) }}

      {{ govukButton({
        text: "Save"
      }) }}
    </div>
  </form>
{% endblock %}
