{% extends "layout.html" %}
{% set title = "GCSEs and equivalency tests" %}
{% set backLink = course.path %}

{% block content %}
  <form action="{{ course.path }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "course/_errors.html" %}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ course.name | safe }} ({{ course.programmeCode }})</span>
        {{ title }}
      </h1>

      <p class="govuk-body">Select how flexible you are towards candidates in meeting GCSE standards.</p>

      {% set pendingGcsesRadioName = course.programmeCode + "-pending-gcses" %}
      {{ govukRadios({
        name: pendingGcsesRadioName,
        fieldset: {
          legend: {
            text: "Will you accept applications from candidates with pending GCSEs?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "These are candidates who expected to have the qualification before the beginning of the course. If successful they would receive a conditional offer."
        },
        items: [{
          value: "true",
          text: "Yes",
          checked: (data[pendingGcsesRadioName] === "true")
          },
          {
          value: "false",
          text: "No",
          checked: (data[pendingGcsesRadioName] === "false")
          }
        ]
      }) }}


    {% set equivalencySubjects %}
      {{ govukCheckboxes({
        name: "equivalencySubjects",
        fieldset: {
          legend: {
            text: "Which subjects will you offer equivalency tests in?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "english",
            text: "English"
          },
          {
            value: "maths",
            text: "Maths"
          },
          {
            value: "science",
            text: "Science"
          }
        ]
      }) }}
    {% endset %}


    {% set equivalencyTestsRadioName = course.programmeCode + "-equivalency-tests-offered" %}
      {{ govukRadios({
        name: equivalencyTestsRadioName,
        fieldset: {
          legend: {
            text: "Will you accept applications from candidates who need to take an equivalency test in English, maths or science?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [{
          value: "true",
          text: "Yes",
          checked: (data[equivalencyTestsRadioName] === "true"),
          conditional:
            {
              html: equivalencySubjects
            }
          },
          {
          value: "false",
          text: "No",
          checked: (data[equivalencyTestsRadioName] === "false")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save"
      }) }}
    </div>
  </form>
{% endblock %}
