{% extends "layout.html" %}
{% set title = "GCSEs and equivalency tests" %}
{% set backLink = course.path %}

{% block content %}
  <form action="{{ course.path }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "course/_errors.html" %}

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ course.name | safe }} ({{ course.programmeCode }})</span>
        {{ title }}
      </h1>

      {% set pendingGcsesRadioName = course.programmeCode + "-pending-gcses" %}
      {{ govukRadios({
        name: pendingGcsesRadioName,
        fieldset: {
          legend: {
            text: "Will you consider candidates with pending GCSEs?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "These are candidates who expect to have the qualification before the beginning of the course. You can give them an offer, on the condition that they pass their GCSEs."
        },
        items: [{
          value: "true",
          text: "Yes",
          checked: (data[pendingGcsesRadioName] === "true")
          },
          {
          value: "false",
          text: "No",
          checked: (data[pendingGcsesRadioName] === "false")
          }
        ]
      }) }}


    {% set equivalencySubjects %}

      {% set equivalencyItems = [
          {
            value: "English",
            text: "English",
            checked: checked(equivalencySubjectsName, "English")
          },
          {
            value: "maths",
            text: "Maths",
            checked: checked(equivalencySubjectsName, "maths")
          }
      ] %}

      {% if course.subject == "Primary" %}
        {% set equivalencyItems = equivalencyItems | push({
            value: "science",
            text: "Science",
            checked: checked(equivalencySubjectsName, "science")
          }) %}
      {% endif %}

      {% set equivalencySubjectsName = course.programmeCode + "-equivalency-subjects" %}
      {{ govukCheckboxes({
        name: equivalencySubjectsName,
        fieldset: {
          legend: {
            text: "Which subjects will you accept equivalency tests in?",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: equivalencyItems
      }) }}

      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
        name: course.programmeCode + "-equivalency-test-details",
        id: "more-detail",
        label: {
          text: "Details about equivalency tests you offer or accept",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        value: data[course.programmeCode + "-equivalency-test-details"],
        hint: {
          text: "For example, if you offer the tests or ask candidates to use a third party, and if there are any costs to pay."
        }
      }) }}
    {% endset %}


    {% set equivalencyTestsRadioName = course.programmeCode + "-equivalency-tests-offered" %}
      {{ govukRadios({
        name: equivalencyTestsRadioName,
        fieldset: {
          legend: {
            text: "Will you consider candidates who need to take an equivalency test in English, maths or science?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [{
          value: "true",
          text: "Yes",
          checked: (data[equivalencyTestsRadioName] === "true"),
          conditional:
            {
              html: equivalencySubjects
            }
          },
          {
          value: "false",
          text: "No",
          checked: (data[equivalencyTestsRadioName] === "false")
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save"
      }) }}
    </div>
  </form>
{% endblock %}
