{% extends "layout.html" %}
{% set title = "Degree requirements" %}
{% set backLink = course.path %}

{% block content %}
  <!-- <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ course.name | safe }} ({{ course.programmeCode }})</span>
  </h1> -->

  {% include "course/_errors.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ course.path }}/requirements" method="post">

        <h1 class="govuk-heading-l">GCSEs (or equivalent)</h1>

        <p>Candidates will be advised that they need to have an English and Maths GCSE at grade 4 (C) or above, or equivalent, before they start their training.</p>

        {% set textareaName = course.programmeCode + '-gcse-requirements' %}
        {% set gcseRequirementsHtml %}
          {{ govukTextarea({
            id: "gcse-requirements",
            name: textareaName,
            value: data[textareaName],
            spellcheck: true,
            label: {
              text: "Additional GCSE (or equivalent) requirements"
            }
          }) }}
        {% endset -%}

        {% set radioName = course.programmeCode + '-gcse-additional-requirements' %}
        {{ govukRadios({
          idPrefix: "degree-subject",
          name: radioName,
          fieldset: {
            legend: {
              text: "Do you have any additional requirements?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "No",
              text: "No",
              checked: (data[radioName] === "No")
            },
            {
              value: "Yes",
              text: "Yes",
              checked: (data[radioName] === "Yes"),
              conditional: {
                html: gcseRequirementsHtml
              }
            }
          ]
        }) }}

        <div class="add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Save" />
        </div>
      </form>
    </div>
  </div>


{% endblock %}
