{% extends "layout.html" %}
{% set code = course.programmeCode %}
{% set title %}{{ course.name | safe }} ({{ code }}){% endset %}
{% set coursePath = "/course/" + data["provider-code"] + "/" + code %}
{% set previewLink = "/preview/" +  data["provider-code"] + "/" + code %}
{% set publishState = publishState or data[code + "-publish-state"] or "new" %}
{% set showChangeLinks = true %}
{% set showTitleAndDescription = true %}
{% set showErrors = data[code + "-show-publish-errors"] %}
{% set isNotPublished = not data[code + "-published-before"] %}

{# We’ve hidden the History tab as it wasn’t built in production #}
{% set showHistory = false %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: breadcrumbItems([{
      href: "/courses",
      text: "Courses"
    }])
  }) }}
{% endblock %}

{% set titleRequestedHtml %}
  <p class="govuk-body">Requested title:</p>
  <p class="govuk-heading-s">{{ course.titleRequested }} ({{ code }})</p>
  <p class="govuk-body">You’ll receive an email from the Becoming a Teacher team when the change is approved or rejected.</p>
  <p class="govuk-body"><a class="govuk-notification-banner__link" href="#">Cancel this request</a></p>
{% endset %}

{% block content %}
  {% if justCreated %}
    {% set createdHtml %}
      <h3 class="govuk-notification-banner__heading">Your course has been created</h3>
      <p class="govuk-body">Add the rest of your details and publish the course, so that candidates can find and apply to it.</p>
      {% if course.titleRequested %}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h3 class="govuk-heading-m">Your request for a new title is being reviewed</h3>
        {{ titleRequestedHtml | safe }}
      {% endif %}
    {% endset %}
    {{ govukNotificationBanner({
      html: createdHtml,
      type: "success"
    }) }}
  {% endif %}

  {% if justEdited %}
    {% set createdHtml %}
      <h3 class="govuk-notification-banner__heading">Your changes have been saved</h3>
      <p class="govuk-body">Add the rest of your details and publish the course, so that candidates can find and apply to it.</p>
      {% if course.titleRequested %}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h3 class="govuk-heading-m">Your request for a new title is being reviewed</h3>
        {{ titleRequestedHtml | safe }}
      {% endif %}
    {% endset %}
    {{ govukNotificationBanner({
      html: createdHtml,
      type: "success"
    }) }}
  {% endif %}

  {% if justEditedAndPublished %}
    {% set createdHtml %}
      <h3 class="govuk-notification-banner__heading">Your changes have been published</h3>
      {% if course.titleRequested %}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h3 class="govuk-heading-m">Your request for a new title is being reviewed</h3>
        {{ titleRequestedHtml | safe }}
      {% endif %}
    {% endset %}
    {{ govukNotificationBanner({
      html: createdHtml,
      type: "success"
    }) }}
  {% endif %}

  {% if course.titleRequested and not (justCreated or justEdited or justEditedAndPublished) %}
    {% set titleRequestInReviewHtml %}
      <h3 class="govuk-notification-banner__heading">Your request for a new title is being reviewed</h3>
      {{ titleRequestedHtml | safe }}
    {% endset %}
    {{ govukNotificationBanner({
      html: titleRequestInReviewHtml
    }) }}
  {% endif %}

  {% if justWithdrawn %}
    {{ govukNotificationBanner({
      text: "This course has been withdrawn",
      type: "success"
    }) }}
  {% endif %}

  {% if showMessage %}
    {% set savedChangesHtml %}
      <h3 class="govuk-notification-banner__heading">Your changes have been saved</h3>
      <p class="govuk-body"><a class="govuk-notification-banner__link" href="{{ previewLink }}">Preview your course</a> to check for mistakes before publishing.</p>
    {% endset %}
    {{ govukNotificationBanner({
      html: savedChangesHtml,
      type: "success"
    }) }}
  {% endif %}

  {% if justPublished %}
    {% set publishedHtml %}
      {% if data["next-cycle"] %}
        <h3 class="govuk-notification-banner__heading">Your course will appear on Find in October</h3>
        <p class="govuk-body">Applications will open on 10 October.</p>
        <p class="govuk-body">You can still edit your course but changes will need to be published again.</p>
      {% else %}
        <h3 class="govuk-notification-banner__heading">Your course has been published</h3>
        <p class="govuk-body">The link for this course is: <a class="govuk-notification-banner__link" href="#">https://find-postgraduate-teacher-training.education.gov.uk/course/E65/38NP</a></p>
      {% endif %}
    {% endset %}
    {{ govukNotificationBanner({
      html: publishedHtml,
      type: "success"
    }) }}
  {% endif %}

  {% set actionsList = [] %}

  {# Age range was an additional field required for rollover 2020 #}
  {% if not data[code + "-age-range"] %}
    {% set result = actionsList.push({
      text: "Specify an age range",
      href: "/new/" + code + "/age-range"
    }) %}
  {% endif %}

  {# Structured degree requirements were required for rollover in 2021 #}
  {% if not data[code + "-degree-minimum-required"] %}
    {% set result = actionsList.push({
      text: "Do you require a minimum degree classification?",
      href: "/course/" + data["provider-code"] + "/" + code + "/degree"
    }) %}
  {% endif %}

  {# Structured GCSE requirements were required for rollover in 2021 #}
  {% if not data[code + "-gcse-english-flexibility"] %}
    {% set result = actionsList.push({
      text: "GCSEs and equivalency tests",
      href: "/course/" + data["provider-code"] + "/" + code + "/gcses-pending-or-equivalency-tests"
    }) %}
  {% endif %}

  {# Visa sponsorship policy was required for rollover in 2021 #}
  {% if not data[code + "-visa-sponsorship"] %}
    {% set result = actionsList.push({
      text: "Can you sponsor visas?",
      href: "/course/" + data["provider-code"] + "/" + code + "/visa-sponsorship"
    }) %}
  {% endif %}

  {# Structured school placements policy was required for rollover in 2021 #}
  {% if not data[code + "-placement-policy"] %}
    {% set result = actionsList.push({
      text: "What is your school placement policy?",
      href: "/new/" + data["provider-code"] + "/" + "/placement-policy?change=true"
    }) %}
  {% endif %}

  {# An academic training location was required for rollover in 2021 #}
  {% if not data[code + "-training-location"] %}
    {% set result = actionsList.push({
      text: "Where will candidates do their academic training?",
      href: "/new/" + data["provider-code"] + "/" + "/training-location?change=true"
    }) %}
  {% endif %}

  {% if actionsList.length > 0 and not showErrors %}
    {% set actionsHtml %}
      <h3 class="govuk-notification-banner__heading">You need to provide some information before publishing this course.</h3>
      <ul class="govuk-list">
      {% for item in actionsList %}
        <li>
          {% if item.href %}
            <a class="govuk-notification-banner__link" href="{{ item.href }}"{% for attribute, value in item.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>{{ item.html | safe if item.html else item.text }}</a>
          {% else %}
            {{ item.html | safe if item.html else item.text }}
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    {% endset %}
    {{ govukNotificationBanner({
      titleText: "Prepare for the next cycle",
      html: actionsHtml
    }) }}
  {% endif %}

  {% include "course/_errors.html" %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ course.options }}</span>
    {{ title }}
  </h1>

  {% if data[code + "-publish-state"] == "withdrawn" %}
    <div class="govuk-grid-row govuk-!-margin-bottom-5">
      <div class="govuk-grid-column-two-thirds">
        {{ govukWarningText({
          html: "This course has been withdrawn.<br />It can’t be published again in this cycle.",
          iconFallbackText: "Warning"
        }) }}
      </div>
    </div>
  {% endif %}

  {% set descriptionHtml %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m govuk-!-margin-top-0">About this course</h3>
        {% set visaSponsorshipText %}
          {% set courseType = data[code + "-type"] %}
          {% set visaSponsorship = data[code + "-visa-sponsorship"] %}

          {% if visaSponsorship === "Yes" %}
            {% if courseType === "Salaried" %}
              You can sponsor a Skilled worker visa
            {% else %}
              You can sponsor a Student visa
            {% endif %}
          {% elseif visaSponsorship === "No" %}
            You cannot sponsor a visa
          {% else %}
            <a class="govuk-link" href="{{ coursePath }}/visa-sponsorship">Can you sponsor visas?</a>
          {% endif %}
        {% endset %}

        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-8",
          rows: [{
            classes: macros.requiredSummaryRowClasses(code + "-about-this-course"),
            key: {
              text: "About this course"
            },
            value: {
              text: value(code + "-about-this-course") or "Unknown",
              classes: "app-summary-list__value--truncate"
            },
            actions: {
              items: [{
                href: coursePath + "/about-this-course",
                text: "Change",
                visuallyHiddenText: "details about this course"
              }]
            }
          }, {
            classes: macros.optionalSummaryRowClasses(code + "-interview-process"),
            key: {
              text: "Interview process (optional)"
            },
            value: {
              html: value(code + "-interview-process") or "Empty",
              classes: "app-summary-list__value--truncate"
            },
            actions: {
              items: [{
                href: coursePath + "/about-this-course#interview-process",
                text: "Change",
                visuallyHiddenText: "details of your interview process"
              }]
            }
          }, {
            classes: macros.requiredSummaryRowClasses(code + "-visa-sponsorship", showErrors),
            key: {
              text: "Visa sponsorship"
            },
            value: {
              html: visaSponsorshipText
            },
            actions: {
              items: [{
                href: coursePath + "/visa-sponsorship",
                text: "Change",
                visuallyHiddenText: "visa sponsorship"
              }]
            } if showChangeLinks and value(code + "-visa-sponsorship")
          }]
        }) }}

        <h3 class="govuk-heading-m">Course length and {{ "salary" if course.salaried else "fees" }}</h3>
        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-8",
          rows: [{
            classes: macros.requiredSummaryRowClasses(code + "-duration"),
            key: {
              text: "Course length"
            },
            value: {
              text: value(code + "-duration") or "Unknown",
              classes: "app-summary-list__value--truncate"
            },
            actions: {
              items: [{
                href: coursePath + "/fees-and-length",
                text: "Change",
                visuallyHiddenText: "course length"
              }]
            }
          }, {
            classes: macros.requiredSummaryRowClasses(code + "-salary-details"),
            key: {
              text: "Salary"
            },
            value: {
              text: value(code + "-salary-details"),
              classes: "app-summary-list__value--truncate"
            },
            actions: {
              items: [{
                href: coursePath + "/fees-and-length#salary-details",
                text: "Change",
                visuallyHiddenText: "salary"
              }]
            }
          } if course.salaried, {
            classes: macros.requiredSummaryRowClasses(code + "-fee"),
            key: {
              text: "Fee for UK students"
            },
            value: {
              text: "£" + value(code + "-fee") if value(code + "-fee") else "Unknown"
            },
            actions: {
              items: [{
                href: coursePath + "/fees-and-length#fees",
                text: "Change",
                visuallyHiddenText: "fee for UK students"
              }]
            }
          } if not course.salaried, {
            classes: macros.optionalSummaryRowClasses(code + "-fee-international"),
            key: {
              text: "Fee for international students (optional)"
            },
            value: {
              text: "£" + value(code + "-fee-international") if value(code + "-fee-international") else "Empty"
            },
            actions: {
              items: [{
                href: coursePath + "/fees-and-length#fees",
                text: "Change",
                visuallyHiddenText: "fee for international students"
              }]
            }
          } if not course.salaried, {
            classes: macros.optionalSummaryRowClasses(code + "-fee-details"),
            key: {
              text: "Fee details (optional)"
            },
            value: {
              text: value(code + "-fee-details") or "Empty",
              classes: "app-summary-list__value--truncate"
            },
            actions: {
              items: [{
                href: coursePath + "/fees-and-length#fee-details",
                text: "Change",
                visuallyHiddenText: "fee details"
              }]
            }
          } if not course.salaried, {
            classes: macros.optionalSummaryRowClasses(code + "-financial-support"),
            key: {
              text: "Financial support you offer (optional)"
            },
            value: {
              html: value(code + "-financial-support") or "Empty",
              classes: "app-summary-list__value--truncate"
            },
            actions: {
              items: [{
                href: coursePath + "/fees-and-length#financial-support",
                text: "Change",
                visuallyHiddenText: "details of financial support you offer"
              }]
            }
          } if not course.salaried]
        }) }}

        <h3 class="govuk-heading-m">Requirements and eligibility</h3>
        {% set degreeValueHtml %}
          {% if data[code + "-degree-minimum-required"] === "No" %}
            An undergraduate degree, or equivalent
          {% elif data[code + "-degree-minimum-required"] === "Yes" %}
            {% set minDegreeClass = data[code + "-degree-minimum-classification"] %}

            {% if minDegreeClass == "21" %}
              2:1 or above, or equivalent
            {% elif minDegreeClass == "22" %}
              2:2 or above, or equivalent
            {% elif minDegreeClass == "3" %}
              3rd class degree or above, or equivalent
            {% endif %}
          {% else %}
            <a class="govuk-link" href="{{ coursePath }}/degree">Do you require a minimum degree classification?</a>
          {% endif %}
          {% if data[code + "-degree-subject-required"] === "Yes" %}
            <br><br>
            {{ data[code + "-degree-subject-requirements"] }}
          {% endif %}
        {% endset %}

        {% set gcseValueHtml %}
          {% set englishGcseFlexibility = data[code + '-gcse-english-flexibility'] %}
          {% set mathsGcseFlexibility = data[code + '-gcse-maths-flexibility'] %}
          {% set scienceGcseFlexibility = data[code + '-gcse-science-flexibility'] %}

          {% if englishGcseFlexibility %}
            <p class="govuk-body">Grade 4 (C) or above in English{{", maths and science" if course.name == "Primary" else " and maths" }}, or equivalent</p>
            {% if data[code + "-gcse-additional-requirements"] === "Yes" %}
              <p class="govuk-body">{{ data[code + "-gcse-requirements"] }}</p>
            {% endif %}

            {% set subjectsMustHave = [] %}
            {% set subjectsCanBePending = [] %}
            {% set subjectsPendingOrEquivalencyTests = [] %}

            {% if englishGcseFlexibility === "pending" %}
              {% set subjectsCanBePending = subjectsCanBePending | push("English") %}
            {% elif englishGcseFlexibility === "must" %}
              {% set subjectsMustHave = subjectsMustHave | push("English") %}
            {% elif englishGcseFlexibility === "equivalency-test-offered" %}
              {% set subjectsPendingOrEquivalencyTests = subjectsPendingOrEquivalencyTests | push("English") %}
            {% endif %}

            {% if mathsGcseFlexibility === "pending" %}
              {% set subjectsCanBePending = subjectsCanBePending | push("maths") %}
            {% elif mathsGcseFlexibility === "must" %}
              {% set subjectsMustHave = subjectsMustHave | push("maths") %}
            {% elif mathsGcseFlexibility === "equivalency-test-offered" %}
              {% set subjectsPendingOrEquivalencyTests = subjectsPendingOrEquivalencyTests | push("maths") %}
            {% endif %}

            {% if scienceGcseFlexibility === "pending" %}
              {% set subjectsCanBePending = subjectsCanBePending | push("science") %}
            {% elif scienceGcseFlexibility === "must" %}
              {% set subjectsMustHave = subjectsMustHave | push("science") %}
            {% elif scienceGcseFlexibility === "equivalency-test-offered" %}
              {% set subjectsPendingOrEquivalencyTests = subjectsPendingOrEquivalencyTests | push("science") %}
            {% endif %}

            {% if subjectsMustHave | length > 0 %}
              <p class="govuk-body">You will not consider candidates who are currently taking {{"a" if (subjectsMustHave | length) === 1 }} {{ subjectsMustHave | formatOrList }} GCSE{{"s" if (subjectsMustHave | length) > 1 }} or who need to take equivalency tests.</p>
            {% endif %}

            {% if subjectsCanBePending | length > 0 %}
              <p class="govuk-body">You will not consider candidates who need to take an equivalency test for {{"a" if (subjectsCanBePending | length) === 1 }} {{ subjectsCanBePending | formatOrList }} but you will consider those already taking the GCSE{{"s" if (subjectsCanBePending | length) > 1 }}.</p>
            {% endif %}

            {% if subjectsPendingOrEquivalencyTests | length > 0 %}
              <p class="govuk-body">You will consider candidates who are currently taking {{"a" if (subjectsPendingOrEquivalencyTests | length) === 1 }} {{ subjectsPendingOrEquivalencyTests | formatOrList }} GCSE{{"s" if (subjectsPendingOrEquivalencyTests | length) > 1 }} or who need to take equivalency tests.</p>
            {% endif %}
          {% else %}
            <a class="govuk-link" href="{{ coursePath }}/gcses-pending-or-equivalency-tests">GCSEs and equivalency tests</a>
          {% endif %}
        {% endset %}

        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-8",
          rows: [{
            classes: macros.requiredSummaryRowClasses(code + "-degree-minimum-required", showErrors),
            key: {
              text: "Degree"
            },
            value: {
              html: degreeValueHtml
            },
            actions: {
              items: [{
                href: "/course/" + data["provider-code"] + "/" + code + "/degree",
                text: "Change",
                visuallyHiddenText: "degree requirements"
              }]
            } if value(code + "-degree-minimum-required")
          }, {
            classes: macros.requiredSummaryRowClasses(code + "-gcse-english-flexibility", showErrors),
            key: {
              text: "GCSEs"
            },
            value: {
              html: gcseValueHtml
            },
            actions: {
              items: [{
                href: "/course/" + data["provider-code"] + "/" + code + "/gcses-pending-or-equivalency-tests",
                text: "Change",
                visuallyHiddenText: "GCSE requirements"
              }]
            } if value(code + "-gcse-english-flexibility")
          }, {
            classes: macros.optionalSummaryRowClasses(code + "-personal-qualities"),
            key: {
              text: "Personal qualities (optional)"
            },
            value: {
              html: data[code + "-personal-qualities"] or "Empty",
              classes: "app-summary-list__value--truncate"
            },
            actions: {
              items: [{
                href: "/course/" + data["provider-code"] + "/" + code + "/requirements",
                text: "Change",
                visuallyHiddenText: "personal qualities requirements"
              }]
            }
          }, {
            classes: macros.optionalSummaryRowClasses(code + "-other-requirements"),
            key: {
              text: "Other requirements (optional)"
            },
            value: {
              html: data[code + "-other-requirements"] or "Empty",
              classes: "app-summary-list__value--truncate"
            },
            actions: {
              items: [{
                href: "/course/" + data["provider-code"] + "/" + code + "/requirements#other-requirements",
                text: "Change",
                visuallyHiddenText: "other requirements"
              }]
            }
          }]
        }) }}

        <h3 class="govuk-heading-m">Allocations</h3>
        {% if data[code + "-subject"] == "Physical education" and data[code + "-type"] == "Fee paying (no salary)" %}
          <p class="govuk-body">Recruitment to fee-funded PE courses is limited by the number of places allocated to you by DfE.</p>
          <p class="govuk-body">If you haven’t already, you must <a href="#">request allocations</a>.</p>
        {% else %}
          <p class="govuk-body">Recruitment is not restricted</p>
        {% endif %}
      </div>
      <div class="govuk-grid-column-one-third">
        {{ macros.coursePublish(publishState, data[code + "-published-before"], data["provider-code"], code) }}
      </div>
    </div>
  {% endset %}

  {% set informationHtml %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% if course.level == "Further education" %}
          {% include "new/further/_answers.html" %}
        {% else %}
          {% include "new/_answers.html" %}
        {% endif %}
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="status-box">
          <h2 class="govuk-heading-m">Changing the details of this course</h2>
          {% if isNotPublished %}
            <p>You can change every detail of this course before it’s published.</p>
            <p>After it’s published, you can only change some details – as candidates may have started applying for it</p>
          {% else %}
            <p>You can only change some details of this course – this is because it’s been published, and candidates may have started applying for it.</p>
            <p>If you need to make significant changes to this course, you should consider <a href="#">withdrawing it</a> and creating a new course instead.</p>
            <p>To make any other changes, <a href="#">contact the Becoming a teacher team</a>.</p>
          {% endif %}
        </div>
      </div>
    </div>
  {% endset %}

  {% set historyHtml %}
    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-8">2020 to 2021 cycle</h2>
    <ul class="timeline">
      <li class="edition">
        <ul class="edition-timeline">
          <div class="timeline-day-wrapper">
            <li class="timeline-day">
              <h3 class="govuk-heading-m">15 January 2019</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-s">Published</h4>
                  <span class="govuk-hint">7:03pm by Jane Doe</span>
                </li>
              </ul>
            </li>
            <li class="timeline-day">
              <h3 class="govuk-heading-m">14 April 2019</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-s">Rolled over from previous cycle</h4>
                  <span class="govuk-hint">10:25pm by Department for Education</span>
                </li>
              </ul>
            </li>
          </div>
        </ul>
      </li>
    </ul>

    <ul class="timeline">
      <li class="edition">
        <ul class="edition-timeline">
          <div class="timeline-day-wrapper">
            <li class="timeline-day">
              <h3 class="govuk-heading-m">15 January 2019</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-l">Published</h4>
                  <span class="govuk-hint">7:03pm by Jane Doe</span>
                </li>
              </ul>
            </li>
            <li class="timeline-day">
              <h3 class="govuk-heading-m">14 January 2019</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-s">About this course updated</h4>
                  <span class="govuk-hint">10:25pm by Jane Doe</span>
                </li>
                <li class="event">
                  <h4 class="govuk-heading-s">Course length and fees updated</h4>
                  <span class="govuk-hint">10:25pm by Jane Doe</span>
                </li>
                <li class="event">
                  <h4 class="govuk-heading-s">Requirements and eligibility updated</h4>
                  <span class="govuk-hint">10:25pm by Jane Doe</span>
                </li>
              </ul>
            </li>
            <li class="timeline-day">
              <h3 class="govuk-heading-m">15 December 2018</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-s">Vacancies edited, applications reopened</h4>
                  <span class="govuk-hint">10:25pm by Jane Doe</span>
                </li>
              </ul>
            </li>
            <li class="timeline-day">
              <h3 class="govuk-heading-m">13 December 2018</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-s">No vacancies, applications closed</h4>
                  <span class="govuk-hint">10:25pm by Jane Doe</span>
                </li>
              </ul>
            </li>
            <li class="timeline-day">
              <h3 class="govuk-heading-m">3 November 2018</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-s">Vacancies edited</h4>
                  <span class="govuk-hint">10:25pm by Jane Doe</span>
                </li>
              </ul>
            </li>
            <li class="timeline-day">
              <h3 class="govuk-heading-m">10 October 2018</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-l">First published</h4>
                  <span class="govuk-hint">7:03pm by Jane Doe</span>
                </li>
              </ul>
            </li>
            <li class="timeline-day">
              <h3 class="govuk-heading-m">14 August 2019</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-s">About this course updated</h4>
                  <span class="govuk-hint">10:25pm by Jane Doe</span>
                </li>
                <li class="event">
                  <h4 class="govuk-heading-s">Course length and fees updated</h4>
                  <span class="govuk-hint">10:25pm by Jane Doe</span>
                </li>
                <li class="event">
                  <h4 class="govuk-heading-s">Requirements and eligibility updated</h4>
                  <span class="govuk-hint">10:25pm by Jane Doe</span>
                </li>
              </ul>
            </li>
          </div>
        </ul>
      </li>
    </ul>
  {% endset %}

  {# We've hidden the History tab as it wasn't built in production #}
  <div class="course-tabs">
    {{ govukTabs({
      items: [{
        label: "Description<br /><span style=\"pointer-events: none\" class=\"govuk-body-s govuk-!-font-weight-regular\">Content, fees and eligibility</span>" | safe,
        id: "description",
        panel: {
          html: descriptionHtml
        }
      }, {
        label: "Basic details<br /><span style=\"pointer-events: none\" class=\"govuk-body-s govuk-!-font-weight-regular\">Locations, outcome and subject</span>" | safe,
        id: "information",
        panel: {
          html: informationHtml
        }
      }, {
        label: "History<br /><span style=\"pointer-events: none\" class=\"govuk-body-s govuk-!-font-weight-regular\">Who changed what, and when</span>" | safe,
        id: "history",
        panel: {
          html: historyHtml
        }
      } if showHistory]
    }) }}
  </div>
{% endblock %}
