{% extends "layout.html" %}
{% set title %}{{ course.name | safe }} ({{ course.programmeCode }}){% endset %}
{% set coursePath = '/course/' + data['provider-code'] + '/' + course.programmeCode %}
{% set previewLink = '/preview/' +  data['provider-code'] + '/' + course.programmeCode %}
{% set publishState = publishState or data[course.programmeCode + '-publish-state'] or 'new' %}
{% set code = course.programmeCode %}
{% set showChangeLinks = true %}
{% set showTitleAndDescription = true %}
{% set isNotPublished = not data[code + '-published-before'] %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: breadcrumbItems([{
      href: "/courses",
      text: "Courses"
    }])
  }) }}
{% endblock %}

{% set titleRequestedHtml %}
  <p class="govuk-body">Requested title:</p>
  <p class="govuk-heading-s">{{ course.titleRequested }} ({{ course.programmeCode }})</p>
  <p>You’ll receive an email from the Becoming a Teacher team when the change is approved or rejected.</p>
  <p class="govuk-body"><a class="govuk-notification-banner__link" href="#">Cancel this request</a></p>
{% endset %}

{% block content %}
  {% if justCreated %}
    {% set createdHtml %}
      <h3 class="govuk-notification-banner__heading">Your course has been created</h3>
      <p class="govuk-body">Add the rest of your details and publish the course, so that candidates can find and apply to it.</p>
      {% if course.titleRequested %}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h3 class="govuk-heading-m">Your request for a new title is being reviewed</h3>
        {{ titleRequestedHtml | safe }}
      {% endif %}
    {% endset %}
    {{ govukNotificationBanner({
      html: createdHtml,
      type: "success"
    }) }}
  {% endif %}

  {% if justEdited %}
    {% set createdHtml %}
      <h3 class="govuk-notification-banner__heading">Your changes have been saved</h3>
      <p class="govuk-body">Add the rest of your details and publish the course, so that candidates can find and apply to it.</p>
      {% if course.titleRequested %}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h3 class="govuk-heading-m">Your request for a new title is being reviewed</h3>
        {{ titleRequestedHtml | safe }}
      {% endif %}
    {% endset %}
    {{ govukNotificationBanner({
      html: createdHtml,
      type: "success"
    }) }}
  {% endif %}

  {% if justEditedAndPublished %}
    {% set createdHtml %}
      <h3 class="govuk-notification-banner__heading">Your changes have been published</h3>
      <p class="govuk-body">Your changes are now <a class="govuk-notification-banner__link" href="#">live on Find</a>. They will be updated overnight on UCAS Apply.</p>
      {% if course.titleRequested %}
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h3 class="govuk-heading-m">Your request for a new title is being reviewed</h3>
        {{ titleRequestedHtml | safe }}
      {% endif %}
    {% endset %}
    {{ govukNotificationBanner({
      html: createdHtml,
      type: "success"
    }) }}
  {% endif %}

  {% if course.titleRequested and not (justCreated or justEdited or justEditedAndPublished) %}
    {% set titleRequestInReviewHtml %}
      <h3 class="govuk-notification-banner__heading">Your request for a new title is being reviewed</h3>
      {{ titleRequestedHtml | safe }}
    {% endset %}
    {{ govukNotificationBanner({
      html: titleRequestInReviewHtml
    }) }}
  {% endif %}

  {% if justWithdrawn %}
    {{ govukNotificationBanner({
      text: "This course has been withdrawn",
      type: "success"
    }) }}
  {% endif %}

  {% if showMessage %}
    {% set savedChangesHtml %}
      <h3 class="govuk-notification-banner__heading">Your changes have been saved</h3>
      <p class="govuk-body"><a class="govuk-notification-banner__link" href="{{ previewLink }}">Preview your course</a> to check for mistakes before publishing.</p>
    {% endset %}
    {{ govukNotificationBanner({
      html: savedChangesHtml,
      type: "success"
    }) }}
  {% endif %}

  {% if justPublished %}
    {% set publishedHtml %}
      {% if data["next-cycle"] %}
        <h3 class="govuk-notification-banner__heading">Your course will appear on Find in October</h3>
        <p class="govuk-body">Applications will open on 10 October.</p>
        <p class="govuk-body">You can still edit your course but changes will need to be published again.</p>
      {% else %}
        <h3 class="govuk-notification-banner__heading">Your course has been published</h3>
        <p class="govuk-body">The link for this course is: <a class="govuk-notification-banner__link" href="#">https://find-postgraduate-teacher-training.education.gov.uk/course/E65/38NP</a></p>
      {% endif %}
    {% endset %}
    {{ govukNotificationBanner({
      html: publishedHtml,
      type: "success"
    }) }}
  {% endif %}


  {% set actionsList = [] %}
  {% if not data[course.programmeCode + "-age-range"] %}
    {% set result = actionsList.push({
      text: "Specify an age range",
      href: "/new/" + course.programmeCode + "/age-range"
    }) %}
  {% endif %}

  {% if not data[course.programmeCode + "-degree-minimum-required"] %}
    {% set result = actionsList.push({
      text: "Degree requirements",
      href: "/course/" + data['provider-code'] + "/" + course.programmeCode + "/degree"
    }) %}
  {% endif %}

  {% if not data[course.programmeCode + '-gcse-english-flexibility'] %}
    {% set result = actionsList.push({
      text: "GCSE requirements",
      href: "/course/" + data['provider-code'] + "/" + course.programmeCode + "/gcses-pending-or-equivalency-tests"
    }) %}
  {% endif %}

  {% if actionsList | length > 0 %}
    {{ appNoticeSummary({
      titleText: "You need to provide some information before publishing this course",
      actionsList: actionsList
    }) }}
  {% endif %}


  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ course.options }}</span>
    {{ title }}
  </h1>

  <!-- <div class="error" style="margin-top: -45px; margin-bottom: 45px">
    {{ govukWarningText({
      html: '<a href="' + coursePath + '/problems" class="destructive-link">We’ve found problems with this course</a>',
      iconFallbackText: 'Warning'
    }) }}
  </div> -->

  <!-- <div style="margin-top: -40px; margin-bottom: 40px">
    {{ govukWarningText({
      html: '<a href="#">This course can be improved</a>',
      iconFallbackText: 'Warning'
    }) }}
  </div> -->

  {% if data[course.programmeCode + '-publish-state'] == 'withdrawn' %}
    <div class="govuk-grid-row govuk-!-margin-bottom-5">
      <div class="govuk-grid-column-two-thirds">
        {{ govukWarningText({
            html: 'This course has been withdrawn.<br />It can’t be published again in this cycle.',
            iconFallbackText: 'Warning'
        }) }}
      </div>
    </div>
  {% endif %}

  {% include "course/_errors.html" %}

  {% set descriptionHtml %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m govuk-!-margin-top-0">
          <a href="{{ coursePath }}/about-this-course">About this course</a>
        </h3>
        <dl class="govuk-summary-list govuk-summary-list--short">
          {{ macros.coursePart(course.programmeCode + '-about-this-course', 'About this course', errors, coursePath) }}
          {{ macros.coursePart(course.programmeCode + '-interview-process', 'Interview process (optional)') }}
          {{ macros.coursePart(course.programmeCode + '-placement-school-policy', 'How school placements work', errors, coursePath) }}
        </dl>

        <h3 class="govuk-heading-m">
          <a href="{{ coursePath }}/fees-and-length">
            Course length and {% if course.salaried %}salary{% else %}fees{% endif %}
          </a>
        </h3>
        <dl class="govuk-summary-list govuk-summary-list--short">
          {% if data[course.programmeCode + '-duration'] == 'Other' %}
            {{ macros.coursePart(course.programmeCode + '-duration-other', 'Course length', errors, coursePath) }}
          {% else %}
            {{ macros.coursePart(course.programmeCode + '-duration', 'Course length', errors, coursePath) }}
          {% endif %}
          {% if course.salaried %}
            {{ macros.coursePart(course.programmeCode + '-salary-details', 'Salary', errors, coursePath) }}
          {% else %}
            {{ macros.feesCoursePart(course.programmeCode + '-fee', 'Fee for UK and EU students', errors, coursePath) }}
            {{ macros.feesCoursePart(course.programmeCode + '-fee-international', 'Fee for international students (optional)') }}
            {{ macros.coursePart(course.programmeCode + '-fee-details', 'Fee details (optional)') }}
            {{ macros.coursePart(course.programmeCode + '-financial-support', 'Financial support you offer (optional)') }}
          {% endif %}
        </dl>

        <h3 class="govuk-heading-m">
          Requirements and eligibility
        </h3>

        {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

        {% set degreeValueHtml %}
          {% if data[course.programmeCode + '-degree-minimum-required'] === "No" %}
            An undergraduate degree, or equivalent
          {% elif data[course.programmeCode + '-degree-minimum-required'] === "Yes" %}

            {% set minDegreeClass = data[course.programmeCode + '-degree-minimum-classification'] %}

            {% if minDegreeClass == "21" %}
              2:1 or above, or equivalent
            {% elif minDegreeClass == "22" %}
              2:2 or above, or equivalent
            {% elif minDegreeClass == "3" %}
              3rd class degree or above, or equivalent
            {% endif %}
          {% else %}
            Not set
          {% endif %}
          {% if data[course.programmeCode + '-degree-subject-required'] === "Yes" %}
            <br><br>
            {{ data[course.programmeCode + '-degree-subject-requirements'] }}
          {% endif %}
        {% endset %}

        {% set degreeValueClasses = "" if data[course.programmeCode + '-degree-minimum-required'] else "empty" %}

        {% set gcseValueHtml %}

          {% set englishGcseFlexibility = data[course.programmeCode + '-gcse-english-flexibility'] %}
          {% set mathsGcseFlexibility = data[course.programmeCode + '-gcse-maths-flexibility'] %}
          {% set scienceGcseFlexibility = data[course.programmeCode + '-gcse-science-flexibility'] %}


          {% if englishGcseFlexibility %}
              <p class="govuk-body">Grade 4 (C) or above in English{{", maths and science" if course.name == "Primary" else " and maths" }}, or equivalent</p>
            {% if data[course.programmeCode + '-gcse-additional-requirements'] === "Yes" %}
              <p class="govuk-body">{{ data[course.programmeCode + '-gcse-requirements'] }}</p>
            {% endif %}


            {% set subjectsMustHave = [] %}
            {% set subjectsCanBePending = [] %}
            {% set subjectsPendingOrEquivalencyTests = [] %}

            {% if englishGcseFlexibility === "pending" %}
              {% set subjectsCanBePending = subjectsCanBePending | push("English") %}
            {% elif englishGcseFlexibility === "must" %}
              {% set subjectsMustHave = subjectsMustHave | push("English") %}
            {% elif englishGcseFlexibility === "equivalency-test-offered" %}
              {% set subjectsPendingOrEquivalencyTests = subjectsPendingOrEquivalencyTests | push("English") %}
            {% endif %}

            {% if mathsGcseFlexibility === "pending" %}
              {% set subjectsCanBePending = subjectsCanBePending | push("maths") %}
            {% elif mathsGcseFlexibility === "must" %}
              {% set subjectsMustHave = subjectsMustHave | push("maths") %}
            {% elif mathsGcseFlexibility === "equivalency-test-offered" %}
              {% set subjectsPendingOrEquivalencyTests = subjectsPendingOrEquivalencyTests | push("maths") %}
            {% endif %}

            {% if scienceGcseFlexibility === "pending" %}
              {% set subjectsCanBePending = subjectsCanBePending | push("science") %}
            {% elif scienceGcseFlexibility === "must" %}
              {% set subjectsMustHave = subjectsMustHave | push("science") %}
            {% elif scienceGcseFlexibility === "equivalency-test-offered" %}
              {% set subjectsPendingOrEquivalencyTests = subjectsPendingOrEquivalencyTests | push("science") %}
            {% endif %}

            {% if subjectsMustHave | length > 0 %}
              <p class="govuk-body">You will not consider candidates who are currently taking {{"a" if (subjectsMustHave | length) === 1 }} {{ subjectsMustHave | formatOrList }} GCSE{{"s" if (subjectsMustHave | length) > 1 }} or who need to take equivalency tests.</p>
            {% endif %}

            {% if subjectsCanBePending | length > 0 %}
              <p class="govuk-body">You will not consider candidates who need to take an equivalency test for {{"a" if (subjectsCanBePending | length) === 1 }} {{ subjectsCanBePending | formatOrList }} but you will consider those already taking the GCSE{{"s" if (subjectsCanBePending | length) > 1 }}.</p>
            {% endif %}

            {% if subjectsPendingOrEquivalencyTests | length > 0 %}
              <p class="govuk-body">You will consider candidates who are currently taking {{"a" if (subjectsPendingOrEquivalencyTests | length) === 1 }} {{ subjectsPendingOrEquivalencyTests | formatOrList }} GCSE{{"s" if (subjectsPendingOrEquivalencyTests | length) > 1 }} or who need to take equivalency tests.</p>
            {% endif %}
          {% else %}
            Not set
          {% endif %}
        {% endset %}

        {% set gcseValueClasses = "" if englishGcseFlexibility else "empty" %}

        {{ govukSummaryList({
          classes: '',
          rows: [
            {
              key: {
                text: "Degree"
              },
              value: {
                html: degreeValueHtml,
                classes: degreeValueClasses
              },
              actions: {
                items: [
                  {
                    href: "/course/" + data['provider-code'] + "/" + course.programmeCode + "/degree",
                    text: "Change",
                    visuallyHiddenText: "degree requirements"
                  }
                ]
              }
            },
            {
              key: {
                text: "GCSEs"
              },
              value: {
                html: gcseValueHtml,
                classes: gcseValueClasses
              },
              actions: {
                items: [
                  {
                    href: "/course/" + data['provider-code'] + "/" + course.programmeCode + "/gcses-pending-or-equivalency-tests",
                    text: "Change",
                    visuallyHiddenText: "GCSE requirements"
                  }
                ]
              }
            },
            {
              key: {
                text: "Personal qualities (optional)"
              },
              value: {
                html: data[course.programmeCode + '-personal-qualities']
              },
              actions: {
                items: [
                  {
                    href: "/course/" + data['provider-code'] + "/" + course.programmeCode + "/requirements",
                    text: "Change",
                    visuallyHiddenText: "personal qualities requirements"
                  }
                ]
              }
            },
            {
              key: {
                text: "Other requirements (optional)"
              },
              value: {
                html: data[course.programmeCode + '-other-requirements']
              },
              actions: {
                items: [
                  {
                    href: "/course/" + data['provider-code'] + "/" + course.programmeCode + "/requirements#other-requirements",
                    text: "Change",
                    visuallyHiddenText: "other requirements"
                  }
                ]
              }
            }
          ]
        }) }}
      </div>
      <div class="govuk-grid-column-one-third">
        {{ macros.coursePublish(publishState, data[course.programmeCode + '-published-before'], data['provider-code'], course.programmeCode) }}
      </div>
    </div>
  {% endset %}

  {% set informationHtml %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if course.level == 'Further education' %}
        <dl class="govuk-summary-list govuk-summary-list--short">
          {% include "new/further/_answers.html" %}
        </dl>
      {% else %}
        <dl class="govuk-summary-list">
          {% include "new/_answers.html" %}
        </dl>
      {% endif %}
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="status-box">
        <h2 class="govuk-heading-m">Changing the details of this course</h2>
        {% if isNotPublished %}
          <p>You can change every detail of this course before it’s published.</p>
          <p>After it’s published, you can only change some details – as candidates may have started applying for it</p>
        {% else %}
          <p>You can only change some details of this course – this is because it’s been published, and candidates may have started applying for it.</p>

          <p>If you need to make significant changes to this course, you should consider <a href="#">withdrawing it</a> and creating a new course instead.</p>

          <p>To make any other changes, <a href="#">contact the Becoming a teacher team</a>.</p>
        {% endif %}
      </div>
    </div>
  </div>
  {% endset %}

  {% set locationsHtml %}
    <h3 class="govuk-heading-m">
      <a href="/new/{{ course.programmeCode }}/training-locations">
        Locations
      </a>
    </h3>
    <ul class="govuk-list location-list">
      {% for school in course.schools %}
        <li>
          <strong>{{ school.name }} (Code: {{ school.code }})</strong><br />
          {{ school.address }}
        </li>
      {% endfor %}
    </ul>
  {% endset %}

  {# {% set historyHtml %}
    <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-8">2020 to 2021 cycle</h2>
    <ul class="timeline">
      <li class="edition">
        <ul class="edition-timeline">
          <div class="timeline-day-wrapper">
            <li class="timeline-day">
              <h3 class="govuk-heading-m">15 January 2019</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-s">Published</h4>
                  <span class="metadata">7:03pm by Jane Doe</span>
                </li>
              </ul>
            </li>
            <li class="timeline-day">
              <h3 class="govuk-heading-m">14 April 2019</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-s">Rolled over from previous cycle</h4>
                  <span class="metadata">10:25pm by Department for Education</span>
                </li>
              </ul>
            </li>
          </div>
        </ul>
      </li>
    </ul>

    <ul class="timeline">
      <li class="edition">
        <ul class="edition-timeline">
          <div class="timeline-day-wrapper">
            <li class="timeline-day">
              <h3 class="govuk-heading-m">15 January 2019</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-l">Published</h4>
                  <span class="metadata">7:03pm by Jane Doe</span>
                </li>
              </ul>
            </li>
            <li class="timeline-day">
              <h3 class="govuk-heading-m">14 January 2019</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-s">About this course updated</h4>
                  <span class="metadata">10:25pm by Jane Doe</span>
                </li>
                <li class="event">
                  <h4 class="govuk-heading-s">Course length and fees updated</h4>
                  <span class="metadata">10:25pm by Jane Doe</span>
                </li>
                <li class="event">
                  <h4 class="govuk-heading-s">Requirements and eligibility updated</h4>
                  <span class="metadata">10:25pm by Jane Doe</span>
                </li>
              </ul>
            </li>
            <li class="timeline-day">
              <h3 class="govuk-heading-m">15 December 2018</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-s">Vacancies edited, applications reopened</h4>
                  <span class="metadata">10:25pm by Jane Doe</span>
                </li>
              </ul>
            </li>
            <li class="timeline-day">
              <h3 class="govuk-heading-m">13 December 2018</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-s">No vacancies, applications closed</h4>
                  <span class="metadata">10:25pm by Jane Doe</span>
                </li>
              </ul>
            </li>
            <li class="timeline-day">
              <h3 class="govuk-heading-m">3 November 2018</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-s">Vacancies edited</h4>
                  <span class="metadata">10:25pm by Jane Doe</span>
                </li>
              </ul>
            </li>
            <li class="timeline-day">
              <h3 class="govuk-heading-m">10 October 2018</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-l">First published</h4>
                  <span class="metadata">7:03pm by Jane Doe</span>
                </li>
              </ul>
            </li>
            <li class="timeline-day">
              <h3 class="govuk-heading-m">14 August 2019</h3>
              <ul class="events">
                <li class="event">
                  <h4 class="govuk-heading-s">About this course updated</h4>
                  <span class="metadata">10:25pm by Jane Doe</span>
                </li>
                <li class="event">
                  <h4 class="govuk-heading-s">Course length and fees updated</h4>
                  <span class="metadata">10:25pm by Jane Doe</span>
                </li>
                <li class="event">
                  <h4 class="govuk-heading-s">Requirements and eligibility updated</h4>
                  <span class="metadata">10:25pm by Jane Doe</span>
                </li>
              </ul>
            </li>
          </div>
        </ul>
      </li>
    </ul>
  {% endset %} #}

  {# <div class="course-tabs">
    {{ govukTabs({
      items: [
        {
          label: 'Description<br /><span style="pointer-events: none" class="govuk-body-s govuk-!-font-weight-regular">Content, fees and eligibility</span>' | safe,
          id: "description",
          panel: {
            html: descriptionHtml
          }
        },
        {
          label: 'Basic details<br /><span style="pointer-events: none" class="govuk-body-s govuk-!-font-weight-regular">Locations, outcome, subject</span>' | safe,
          id: "information",
          panel: {
            html: informationHtml
          }
        },
        {
          label: 'History<br /><span style="pointer-events: none" class="govuk-body-s govuk-!-font-weight-regular">Who changed what, and when</span>' | safe,
          id: "history",
          panel: {
            html: historyHtml
          }
        }
      ]
    }) }}
  </div> #}

  {# We've hidden the History tab as it wasn't built in production #}
  <div class="course-tabs">
    {{ govukTabs({
      items: [
        {
          label: 'Description<br /><span style="pointer-events: none" class="govuk-body-s govuk-!-font-weight-regular">Content, fees and eligibility</span>' | safe,
          id: "description",
          panel: {
            html: descriptionHtml
          }
        },
        {
          label: 'Basic details<br /><span style="pointer-events: none" class="govuk-body-s govuk-!-font-weight-regular">Locations, outcome, subject</span>' | safe,
          id: "information",
          panel: {
            html: informationHtml
          }
        }
      ]
    }) }}
  </div>


{% endblock %}
