{% extends "layout.html" %}
{% block page_title %}Your courses{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/courses">{{ data['training-provider-name'] }}</a></li>
      <li><a href="/course/{{ subject.slug or '/maths' }}">{{ subject.name or 'Maths' }}</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    Qualification
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="lede">
        Candidates can apply for a PGCE with QTS course or a QTS only one.
      </p>
    </div>
  </div>


  <form action="/course/{{ subject.slug }}" method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ macros.textarea(subject.slug + '-pgce-with-qts-qual', 'PGCE with QTS course', 5) }}
        {{ macros.textbox(subject.slug + '-pgce-with-qts-qual-fee', 'PGCE with QTS course fee', 'Fee in £', 'form-control-xsmall') }}
      </div>
      <div class="column-one-third add-margin-for-label">
        <p>It could include:</p>
        <ul class="list list-bullet">
          <li>details about the PGCE aspect of the course</li>
          <li>how your experience changes when choosing a PGCE</li>
        </ul>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ macros.textarea(subject.slug + '-qts-qual', 'QTS only course', 5) }}
        {{ macros.textbox(subject.slug + '-qts-qual-fee', 'QTS course fee', 'Fee in £', 'form-control-xsmall') }}
      </div>
      <div class="column-one-third add-margin-for-label">
        <p>It could include:</p>
        <ul class="list list-bullet">
          <li>who is best suited to a QTS only course</li>
          <li>how your experience changes without a PGCE</li>
        </ul>
      </div>
    </div>

    <div class="add-double-bottom-margin">
      <input type="submit" class="button" value="Save" />
    </div>

    <a href="/course/{{ subject.slug }}">Cancel changes</a>
  </form>
</main>

{% endblock %}
