{% extends "layout.html" %}
{% block page_title %}Your courses{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/courses">{{ data['training-provider-name'] }}</a></li>
      <li><a href="/course/{{ subject.slug or '/maths' }}">{{ subject.name or 'Maths' }}</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    Qualification options
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="lede">
        Help candidates compare courses. What are the differences between the PGCE with QTS course and the QTS only course?
      </p>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/course/{{ subject.slug }}" method="post">
        {{ macros.textarea(subject.slug + '-qts-qual', 'QTS course', 5) }}
        {{ macros.textbox(subject.slug + '-qts-qual-fee', 'QTS course fee', false, 'form-control-xsmall') }}
        <hr />

        {{ macros.textarea(subject.slug + '-pgce-with-qts-qual', 'PGCE with QTS course', 5) }}
        {{ macros.textbox(subject.slug + '-pgce-with-qts-qual-fee', 'PGCE with QTS course fee', false, 'form-control-xsmall') }}

        <div class="add-double-bottom-margin">
          <input type="submit" class="button" value="Save" />
        </div>

        <a href="/course/{{ subject.slug }}">Cancel changes</a>
      </form>
    </div>
  </div>
</main>

{% endblock %}
