{% extends "layout.html" %}
{% block page_title %}Your courses{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/">{{ data['training-provider-name'] }}</a></li>
      <li><a href="/course/{{ accrediting.slug }}/{{ subject.slug or '/maths' }}">{{ subject.name or 'Maths' }} – {{ accrediting.name }}</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    Qualification
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>
        Candidates can apply for either of these:
      </p>
      <ul class="list list-bullet">
        <li>a QTS course</li>
        <li>a PGCE with QTS course</li>
      </ul>
      <hr />
    </div>
  </div>


  <form action="/course/{{ accrediting.slug }}/{{ subject.slug }}" method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ macros.textarea(subject.slug + '-' + accrediting.slug + '-pgce-with-qts-qual', 'PGCE with QTS course', 5) }}
        {{ macros.textbox(subject.slug + '-' + accrediting.slug + '-pgce-with-qts-qual-fee', 'PGCE with QTS course fee', 'Fee in £', 'form-control-xsmall') }}
      </div>
      <div class="column-one-third add-margin-for-label">
        <p>Summarise what makes this course worth studying, compared to the QTS course. You could include which types of candidate benefits from this course.</p>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ macros.textarea(subject.slug + '-' + accrediting.slug + '-qts-qual', 'QTS only course', 5) }}
        {{ macros.textbox(subject.slug + '-' + accrediting.slug + '-qts-qual-fee', 'QTS course fee', 'Fee in £', 'form-control-xsmall') }}
      </div>
      <div class="column-one-third add-margin-for-label">
        <p>Summarise what makes this course worth studying, compared to the PGCE with QTS course.</p>
      </div>
    </div>

    <div class="add-double-bottom-margin">
      <input type="submit" class="button" value="Save" />
    </div>

    <a href="/course/{{ subject.slug }}">Cancel changes</a>
  </form>
</main>

{% endblock %}
