{% extends "layout.html" %}
{% set title = "Personal qualities and other requirements" %}
{% set backLink = course.path %}

{% block content %}
  {% include "course/_errors.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ course.name | safe }} ({{ course.programmeCode }})</span>
        {{ title }}
      </h1>

      <form action="/course/{{ data['provider-code'] }}/{{ course.programmeCode }}" method="post">

        <p>Tell applicants about the skills and motivation you’re looking for (eg experience with children, a genuine passion for teaching, or a talent for public speaking).</p>
        {{ macros.textarea(course.programmeCode + '-personal-qualities', 'Personal qualities (optional)', 8, null, 100) }}

        <p id="other-requirements">If applicants need any non-academic qualifications or documents, list them here (eg criminal record checks, or relevant work experience).</p>
        {{ macros.textarea(course.programmeCode + '-other-requirements', 'Other requirements (optional)', 8, null, 100) }}

        {{ govukButton({
          text: "Save"
        }) }}

        <p class="govuk-body"><a href="{{ course.path }}">Cancel changes</a></p>
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ macros.copyContent() }}
    </div>
  </div>


{% endblock %}
