{% extends "layout.html" %}
{% block page_title %}Your courses{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/courses">{{ data['training-provider-name'] }}</a></li>
      <li><a href="/course/{{ subject.slug or '/maths' }}">{{ subject.name or 'Maths' }}</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    Salary
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="lede">
        Candidates can apply for this course with or without a salary.
      </p>
    </div>
  </div>

  <form action="/course/{{ subject.slug }}" method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ macros.textarea(subject.slug + '-salaried', 'Salaried teacher training', 7, 'Help candidates understand how a course with salary differs to one without.') }}
        {{ macros.textbox(subject.slug + '-salary', 'Salary', 'Salary in £', 'form-control-xsmall') }}
      </div>
      <div class="column-one-third add-margin-for-label-with-help">
        <p>It could include:</p>
        <ul class="list list-bullet">
          <li>time spent in the classroom</li>
          <li>who is best suited to this type of course</li>
        </ul>
      </div>
    </div>
    <div class="add-double-bottom-margin">
      <input type="submit" class="button" value="Save" />
    </div>

    <a href="/course/{{ subject.slug }}">Cancel changes</a>
  </form>
</main>

{% endblock %}
