{% extends "layout.html" %}
{% block page_title %}Your courses{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/courses">Courses</a></li>
      <li><a href="/course/{{ accrediting.slug }}/{{ subject.slug or '/maths' }}">{{ subject.name or 'Maths' }} – {{ accrediting.name }}</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    Salary
  </h1>

  <form action="/course/{{ accrediting.slug }}/{{ subject.slug }}" method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ macros.textarea(subject.slug + '-' + accrediting.slug + '-salaried', 'Earn a salary while you train', 10) }}
      </div>
      <div class="column-one-third add-margin-for-label">
        <p>Explain how the candidate’s experience of a salaried course is different from an unsalaried course.</p>
        <p>You can include:</p>
        <ul class="list list-bullet">
          <li>time spent in the classroom</li>
          <li>time spent teaching</li>
          <li>who is best suited to this type of course</li>
          <li>an indication of the salary scale</li>
          <li>how a salaried course differs from a fee paying course</li>
        </ul>
      </div>
    </div>
    <div class="add-double-bottom-margin">
      <input type="submit" class="button" value="Save" />
    </div>

    <a href="/course/{{ subject.slug }}">Cancel changes</a>
  </form>
</main>

{% endblock %}
