{% extends "layout.html" %}
{% block page_title %}School placements{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/courses">St Martin’s College teacher training courses</a></li>
      <li><a href="/course">Sculpture</a></li>
    </ol>
  </div>

  <h1 class="govuk-heading-xl">
    School placements
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/course/{{ data['provider-code'] }}/{{ subject.slug }}" method="post">
        {{ macros.textarea(subject.slug + '-' + accrediting.slug + '-placements', 'School placements', 10) }}

        <div class="add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Save" />
        </div>

        <a href="/course/{{ subject.slug }}">Cancel changes</a>
      </form>
    </div>
  </div>
</main>

{% endblock %}
