{% extends "layout.html" %}
{% set title = 'Edit vacancies' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink() }}{% endblock %}

{% block content %}
  {% set table %}
    <div class="govuk-checkboxes">
      {% for s in course.schools %}
        <div class="govuk-checkboxes__item">
          <input
            id="checkbox-part-{{ loop.index }}"
            class="govuk-checkboxes__input"
            type="checkbox"
            name="{{ course.programmeCode + '-vacancies-' + loop.index }}"
            value="Vacancies"
            {{ checked(course.programmeCode + '-vacancies-' + loop.index, 'Vacancies') }}
          >
          <label class="govuk-label govuk-checkboxes__label" for="checkbox-part-{{ loop.index }}">
            {{ s.name }}
          </label>
        </div>
      {% endfor %}
    </div>
  {% endset %}

  {% set radioFields = [
      {
        name: 'There are no vacancies',
        text: 'Close this course to new applications.<br />You can reopen a course later.'
      },
      {
        or: true
      },
      {
        name: 'There are some vacancies',
        text: 'Pick the locations with vacancies',
        more: table
      }
    ]
  %}

  {% if data[course.programmeCode + '-vacancies-flag'] == 'Yes' %}
    {% set fields = [
        {
          name: 'There are no vacancies',
          text: 'Close this course to new applications.<br />You can reopen a course later.'
        }
      ]
    %}

    {% if showErrors %}
      {% set errors = [
        {
          id: course.programmeCode + '-vacancies-choice',
          href: '#checkbox-part-1',
          text: 'Please confirm there are no vacancies to close applications'
        }
      ] %}
    {% endif %}
  {% else %}
    {% set fields = [
        {
          name: 'There are vacancies',
          text: 'Reopen this course to new applications.'
        }
      ]
    %}

    {% if showErrors %}
      {% set errors = [
        {
          id: course.programmeCode + '-vacancies-choice',
          href: '#checkbox-part-1',
          text: 'Please confirm there are vacancies to reopen applications'
        }
      ] %}
    {% endif %}
  {% endif %}

  {% if showErrors and errors %}
    {{ govukErrorSummary({
      titleText: "We couldn’t edit the vacancies for this course",
      errorList: errors
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ course.name | safe }} ({{ course.programmeCode }})</span>
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ course.path }}/vacancies" method="post">

        {% if data[course.programmeCode + '-multi-location'] %}
          {% set fields = [
              {
                name: 'Vacancies'
              }
            ]
          %}
          {{ macros.radioGroup(course.programmeCode + '-vacancies-choice', radioFields) }}
        {% else %}
          {{ macros.checkboxGroup(course.programmeCode + '-vacancies-choice', fields, errors) }}
        {% endif %}

        <!-- <p>There will be a delay before your changes are reflected on UCAS Apply.</p> -->

        <div class="add-double-bottom-margin">
          {% if data[course.programmeCode + '-multi-location'] %}
            <input type="submit" class="govuk-button" value="Publish changes" />
          {% elseif data[course.programmeCode + '-vacancies-flag'] == 'Yes' %}
            <input type="submit" class="govuk-button" value="Close applications" />
          {% else %}
            <input type="submit" class="govuk-button" value="Re-open applications" />
          {% endif %}
        </div>

        <p>
          <p><a href="{{ course.path }}">Cancel changes</a></p>
        </p>
      </form>
    </div>
  </div>


{% endblock %}
