{% extends "layout.html" %}
{% set title = 'Vacancies' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="/" class="link-back">Back</a>

  <h1 class="govuk-heading-xl">
    <span class="heading-secondary">{{ course.name | safe }} ({{ course.programmeCode }})</span>
    {{ title }}
  </h1>

  {% include "course/_errors.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/" method="post">
        {% set fields = [
            {
              name: 'Vacancies'
            },
            {
              name: 'No vacancies'
            }
          ]
        %}

        <h2 class="govuk-heading-l">Full time</h2>
        {{ macros.radioGroup(course.programmeCode + '-vacancies-ft', fields, errors) }}

        <h2 class="govuk-heading-l">Part time</h2>
        {{ macros.radioGroup(course.programmeCode + '-vacancies-pt', fields, errors) }}

        <p>Changes are immediate.</p>

        <div class="add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Update vacancies" />
        </div>

        <a href="/course/{{ data['provider-code'] }}/{{ course.programmeCode }}">Cancel changes</a>
      </form>
    </div>
  </div>
</main>

{% endblock %}
