{% extends "layout.html" %}
{% set title = 'Edit vacancies' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink('/courses') }}{% endblock %}

{% block content %}
  {% set table %}
    <div class="govuk-checkboxes">
      {% for s in course.schools %}
        <div class="govuk-checkboxes__item">
          <input
            id="checkbox-part-{{ loop.index }}"
            class="govuk-checkboxes__input"
            type="checkbox"
            name="{{ course.programmeCode + '-vacancies-' + loop.index }}"
            value="Vacancies"
            {{ checked(course.programmeCode + '-vacancies-' + loop.index, 'Vacancies') }}
          >
          <label class="govuk-label govuk-checkboxes__label" for="checkbox-part-{{ loop.index }}">
            {{ s.name }}
          </label>
        </div>
      {% endfor %}
    </div>
  {% endset %}

  {% set radioFields = [
      {
        name: 'There are no vacancies',
        text: 'Close this course to new applications.<br />You can reopen a course later.'
      },
      {
        or: true
      },
      {
        name: 'There are some vacancies',
        text: 'Pick the locations with vacancies',
        more: table
      }
    ]
  %}

  {% if data[course.programmeCode + '-vacancies-flag'] == 'Yes' %}
    {% set fields = [
        {
          name: 'I confirm there are no vacancies',
          text: 'Close this course to new applications.<br />You can reopen a course later.'
        }
      ]
    %}

    {% if showErrors %}
      {% set errors = [
        {
          id: course.programmeCode + '-vacancies-choice',
          href: '#checkbox-part-1',
          text: 'Please confirm there are no vacancies to close applications'
        }
      ] %}
    {% endif %}
  {% else %}
    {% set fields = [
        {
          name: 'I confirm there are vacancies',
          text: 'Reopen this course to new applications.'
        }
      ]
    %}

    {% if showErrors %}
      {% set errors = [
        {
          id: course.programmeCode + '-vacancies-choice',
          href: '#checkbox-part-1',
          text: 'Please confirm there are vacancies to reopen applications'
        }
      ] %}
    {% endif %}
  {% endif %}

  {% if showErrors and errors %}
    {{ govukErrorSummary({
      titleText: "We couldn’t edit the vacancies for this course",
      errorList: errors
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ course.name | safe }} ({{ course.programmeCode }})</span>
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ course.path }}/vacancies" method="post">

        {% if data[course.programmeCode + '-multi-location'] %}
          {% set fields = [
              {
                name: 'Vacancies'
              }
            ]
          %}
          {{ macros.radioGroup(course.programmeCode + '-vacancies-choice', radioFields) }}
        {% else %}
          {{ macros.checkboxGroup(course.programmeCode + '-vacancies-choice', fields, errors) }}
        {% endif %}

        <h2 class="govuk-heading-m" style="margin-top: 50px">Why are you closing this course?</h2>

        {% set fields = [
          {
            name: 'We’ve invited enough people to interview'
          },
          {
            name: 'We can’t interview at the moment'
          },
          {
            name: 'We’ve confirmed all course places'
          },
          {
            or: true
          },
          {
            name: 'Another reason',
            more: more
          }
        ]%}

        {{ macros.radioGroup(code + '-why-close', fields) }}

        <h2 class="govuk-heading-m">Will you consider candidates who have already submitted their application but are still waiting for their references?</h2>

        {% set fields = [
          {
            name: 'Yes, we will consider their application'
          },
          {
            name: 'No, if we received their application we would reject them'
          }
        ]%}

        {{ macros.radioGroup(code + '-will-accept-pending', fields) }}

        <div class="govuk-!-margin-top-8">
          <p>Changes will appear on Find straight away. UCAS Apply will be updated overnight.</p>

          {% if data[course.programmeCode + '-multi-location'] %}
            <input type="submit" class="govuk-button" value="Publish changes" />
          {% elseif data[course.programmeCode + '-vacancies-flag'] == 'Yes' %}
            <input type="submit" class="govuk-button destructive-button" value="Close applications" />
          {% else %}
            <input type="submit" class="govuk-button" value="Re-open applications" />
          {% endif %}
        </div>

        <p>
          <a href="/courses">Cancel changes</a>
        </p>
      </form>
    </div>
  </div>


{% endblock %}
