{% extends "layout.html" %}
{% set title = 'Vacancies' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ course.name | safe }} ({{ course.programmeCode }})</span>
    {{ title }}
  </h1>

  {% include "course/_errors.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/" method="post">
        {% set fields = [
            {
              name: 'Vacancies'
            },
            {
              name: 'No vacancies'
            }
          ]
        %}

        <h2 class="govuk-heading-l">Full time</h2>
        {{ macros.radioGroup(course.programmeCode + '-vacancies-ft', fields, errors) }}

        <h2 class="govuk-heading-l">Part time</h2>
        {{ macros.radioGroup(course.programmeCode + '-vacancies-pt', fields, errors) }}

        <p>Changes are immediate.</p>

        <div class="add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Update vacancies" />
        </div>

        <a href="/course/{{ data['provider-code'] }}/{{ course.programmeCode }}">Cancel changes</a>
      </form>
    </div>
  </div>


{% endblock %}
