{% extends "layout.html" %}
{% set title = 'Edit vacancies' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="/" class="link-back">Back</a>

  <h1 class="govuk-heading-xl">
    <span class="heading-secondary">{{ course.name | safe }} ({{ course.programmeCode }})</span>
    {{ title }}
  </h1>

  <style>
   td .form-group {
     margin-bottom: 0;
   }
  </style>

  {% include "course/_errors.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      {% set fields = [
          {
            name: 'Vacancies'
          }
        ]
      %}

      {% set fullPartfields = [
          {
            name: 'Full time vacancies'
          },
          {
            name: 'Part time vacancies'
          }
        ]
      %}

      {% set table %}
        <div class="add-double-bottom-margin">
          <table>
            <thead>
              <tr>
                <th>Training location</th>
                <th>Vacancies</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Main Site</td>
                <td>
                  {{ macros.checkboxGroup(course.programmeCode + '-vacancies-1', fields, errors) }}
                </td>
              </tr>
              <tr>
                <td>Pool Hayes Primary School</td>
                <td>
                  {{ macros.checkboxGroup(course.programmeCode + '-vacancies-2', fullPartfields, errors) }}
                </td>
              </tr>
              <tr>
                <td>St Mary’s Catholic Primary School</td>
                <td>
                  {{ macros.checkboxGroup(course.programmeCode + '-vacancies-3', fields, errors) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      {% endset %}

      {% set radioFields = [
          {
            name: 'There are no vacancies',
            text: 'Close this course to new applications.<br />You can reopen a course later.'
          },
          {
            or: true
          },
          {
            name: 'There are some vacancies',
            text: 'Pick the locations with vacancies',
            more: table
          }
        ]
      %}

      {{ macros.radioGroup('terms-and-conditions', radioFields, [ { id: 'terms-and-conditions', title: 'Please agree to the terms and conditions before continuing' }]) }}

      <form action="/" method="post">

        <div class="add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Publish changes" />
        </div>

        <p><a href="/course/{{ data['provider-code'] }}/{{ course.programmeCode }}">Cancel changes</a></p>

        <p>There may be a delay before your changes appear on UCAS Apply.</p>
      </form>
    </div>
  </div>
</main>

{% endblock %}
