{% extends "layout.html" %}
{% set title = 'Edit vacancies' %}
{% block page_title %}{{ title }}{% endblock %}
{% set coursePath = '/course/' + data['provider-code'] + '/' + course.programmeCode %}
{% block content %}

{% set table %}
  <div class="add-double-bottom-margin">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Training locations with vacancies</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for s in course.schools %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <div class="multiple-choice">
                <input
                  id="checkbox-part-{{ loop.index }}"
                  type="checkbox"
                  name="{{ course.programmeCode + '-vacancies-' + loop.index }}"
                  value="Vacancies"
                  {{ checked(course.programmeCode + '-vacancies-' + loop.index, 'Vacancies') }}
                >
                <label for="checkbox-part-{{ loop.index }}">
                  {{ s.name }}
                </label>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endset %}

{% set radioFields = [
    {
      name: 'There are no vacancies',
      text: 'Close this course to new applications.<br />You can reopen a course later.'
    },
    {
      or: true
    },
    {
      name: 'There are some vacancies',
      text: 'Pick the locations with vacancies',
      more: table
    }
  ]
%}

{% if data[course.programmeCode + '-vacancies-flag'] == 'Yes' %}
  {% set fields = [
      {
        name: 'There are no vacancies',
        text: 'Close this course to new applications.<br />You can reopen a course later.'
      }
    ]
  %}

  {% if showErrors %}
    {% set errors = [
      { id: course.programmeCode + '-vacancies-choice', title: 'Please confirm there are no vacancies to close applications' }
    ] %}
  {% endif %}
{% else %}
  {% set fields = [
      {
        name: 'There are vacancies',
        text: 'Reopen this course to new applications.'
      }
    ]
  %}

  {% if showErrors %}
    {% set errors = [
      { id: course.programmeCode + '-vacancies-choice', title: 'Please confirm there are vacancies to reopen applications' }
    ] %}
  {% endif %}
{% endif %}


  <a href="/" class="govuk-back-link">Back</a>

  {% if showErrors and errors %}
    <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
      <h3 class="govuk-heading-m error-summary-heading" id="error-summary-heading-example-1">
        We couldn’t edit the vacancies for this course
      </h3>
      <p>
        Fix the following problems and try again:
      </p>
      <ul class="error-summary-list">
        {% for error in errors %}
        <li><a href="#checkbox-part-1">{{ error.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <h1 class="govuk-heading-xl">
    <span class="heading-secondary">{{ course.name | safe }} ({{ course.programmeCode }})</span>
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ coursePath }}/vacancies" method="post">

        {% if data[course.programmeCode + '-multi-location'] %}
          {% set fields = [
              {
                name: 'Vacancies'
              }
            ]
          %}
          {{ macros.radioGroup(course.programmeCode + '-vacancies-choice', radioFields) }}
        {% else %}
          {{ macros.checkboxGroup(course.programmeCode + '-vacancies-choice', fields, errors) }}
        {% endif %}

        <div class="add-double-bottom-margin">
          {% if data[course.programmeCode + '-multi-location'] %}
            <input type="submit" class="govuk-button" value="Publish changes" />
          {% elseif data[course.programmeCode + '-vacancies-flag'] == 'Yes' %}
            <input type="submit" class="govuk-button" value="Close applications" />
          {% else %}
            <input type="submit" class="govuk-button" value="Re-open applications" />
          {% endif %}
        </div>

        <p>
          <a href="/course/{{ data['provider-code'] }}/{{ course.programmeCode }}">Cancel changes</a>
        </p>

        <p>There may be a delay before your changes appear on UCAS Apply.</p>
      </form>
    </div>
  </div>


{% endblock %}
