{% extends "layout.html" %}
{% set title = 'Edit vacancies' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink() }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ course.name | safe }} ({{ course.programmeCode }})</span>
    {{ title }}
  </h1>

  <style>
   td .form-group {
     margin-bottom: 0;
   }
  </style>

  {% include "course/_errors.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set fields = [
          {
            name: 'Vacancies'
          }
        ]
      %}

      {% set fullPartfields = [
          {
            name: 'Full time vacancies'
          },
          {
            name: 'Part time vacancies'
          }
        ]
      %}

      {% set table %}
        <div class="add-double-bottom-margin">
          <table class="govuk-table app-table--vertical-align-middle">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Training location</th>
                <th class="govuk-table__header" scope="col">Vacancies</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Main Site</td>
                <td class="govuk-table__cell">
                  {{ macros.checkboxGroup(course.programmeCode + '-vacancies-1', fields, errors) }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">Pool Hayes Primary School</td>
                <td class="govuk-table__cell">
                  {{ macros.checkboxGroup(course.programmeCode + '-vacancies-2', fullPartfields, errors) }}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">St Mary’s Catholic Primary School</td>
                <td class="govuk-table__cell">
                  {{ macros.checkboxGroup(course.programmeCode + '-vacancies-3', fields, errors) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      {% endset %}

      {% set radioFields = [
          {
            name: 'There are no vacancies',
            text: 'Close this course to new applications.<br />You can reopen a course later.'
          },
          {
            or: true
          },
          {
            name: 'There are some vacancies',
            text: 'Pick the locations with vacancies',
            more: table
          }
        ]
      %}

      {{ macros.radioGroup('terms-and-conditions', radioFields, [ { id: 'terms-and-conditions', title: 'Please agree to the terms and conditions before continuing' }]) }}

      <form action="/" method="post">

        <div class="add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Publish changes" />
        </div>

        <p><p><a href="{{ course.path }}">Cancel changes</a></p></p>

        <p>There may be a delay before your changes appear on UCAS Apply.</p>
      </form>
    </div>
  </div>


{% endblock %}
