{% extends "layout.html" %}
{% set title = "Are you sure you want to withdraw this course?" %}
{% block backLink %}{{ macros.backLink(course.path) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ course.name | safe }} ({{ course.programmeCode }})</span>
        {{ title }}
      </h1>

      <form action="{{ course.path }}/withdraw" method="post">
        <p>Withdrawing this course will:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>immediately remove it from Find</li>
          <li>close applications for it (this happens when UCAS Apply updates overnight)</li>
        </ul>

        <p>Once you’ve withdrawn a course, you can’t publish it again this cycle.</p>

        <hr class="govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Why are you withdrawing this?</h2>
        {% set otherReason %}
          {{ govukWarningText({
              html: 'You must not withdraw a course because it’s full - if you want to stop applications for it, <a href="' + course.path + '/vacancies">edit its vacancies instead</a>',
              iconFallbackText: 'Warning'
          }) }}

          {{ macros.textarea(course.programmeCode + '-withdraw-other-reason', 'Reason for withdrawing', 5)}}
        {% endset %}
        {% set fields = [
            {
              name: 'It was published by mistake'
            },
            {
              name: 'We are no longer offering this course'
            },
            {
              or: true
            },
            {
              name: 'Another reason',
              more: otherReason
            }
          ]
        %}
        {{ macros.radioGroup(course.programmeCode + '-withdraw-reason', fields) }}

        <hr class="govuk-section-break govuk-section-break--m">

        <h2 class="govuk-heading-m">Confirm withdrawal</h2>

        {{ macros.textbox('confirm-code', 'Type in the course code to confirm', false, 'govuk-input--width-5') }}

        <hr class="govuk-section-break govuk-section-break--m">

        <input type="submit" class="govuk-button destructive-button" value="Yes I’m sure – withdraw this course" />

        <p class="govuk-!-margin-top-5">
          <a href="{{ course.path }}">Cancel</a>
        </p>
      </form>
    </div>
  </div>


{% endblock %}
