<h2 class="govuk-heading-m govuk-!-margin-top-5">Training with your organisation</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Training with your organisation"
      },
      value: {
        html: (organisation.trainWithUs | nl2br | markdownToHtml | safe) if organisation.trainWithUs.length else "Not entered",
        classes: "govuk-hint" if not organisation.trainWithUs.length
      },
      actions: {
        items: [
          {
            href: actions.change + "/training",
            text: "Change",
            visuallyHiddenText: "information about training with your organisation"
          }
        ]
      }
    },
    {
      key: {
        text: "Training with disabilities and other needs"
      },
      value: {
        html: (organisation.trainWithDisability | nl2br | markdownToHtml | safe) if organisation.trainWithDisability.length else "Not entered",
        classes: "govuk-hint" if not organisation.trainWithDisability.length
      },
      actions: {
        items: [
          {
            href: actions.change + "/training-with-disabilities",
            text: "Change",
            visuallyHiddenText: "information about training with disabilities and other needs"
          }
        ]
      }
    }
  ]
}) }}
