<!-- <h2 class="govuk-heading-m">Organisation details</h2> -->

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: organisation.name
      }
    } if 1 == 0,
    {
      key: {
        text: "Code"
      },
      value: {
        text: organisation.code
      }
    } if 1 == 0,
    {
      key: {
        text: "UK provider reference number (UKPRN)"
      },
      value: {
        text: organisation.ukprn if organisation.ukprn.length else "Not entered",
        classes: "govuk-hint" if not organisation.ukprn.length
      },
      actions: {
        items: [
          {
            href: actions.change + "/edit",
            text: "Change",
            visuallyHiddenText: "UK provider reference number (UKPRN)"
          }
        ]
      }
    },
    {
      key: {
        text: "Unique reference number (URN)"
      },
      value: {
        text: organisation.urn if organisation.urn.length else "Not entered",
        classes: "govuk-hint" if not organisation.urn.length
      },
      actions: {
        items: [
          {
            href: actions.change + "/edit",
            text: "Change",
            visuallyHiddenText: "unique reference number (URN)"
          }
        ]
      }
    }
  ]
}) }}
