{% extends "layouts/main.njk" %}

{% set primaryNavId = "settings" %}

{% set title = "Contact details" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukInput({
          id: "organisation-email",
          name: "organisation[contact][email]",
          label: {
            text: "Email address",
            classes: "govuk-label--s"
          },
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          classes: "govuk-!-width-two-thirds",
          errorMessage: errors | getErrorMessage("organisation-email"),
          value: organisation.contact.email
        }) }}

        {{ govukInput({
          id: "organisation-telephone",
          name: "organisation[contact][telephone]",
          label: {
            text: "Telephone number",
            classes: "govuk-label--s"
          },
          type: "tel",
          autocomplete: "tel",
          classes: "govuk-!-width-two-thirds",
          errorMessage: errors | getErrorMessage("organisation-telephone"),
          value: organisation.contact.telephone
        }) }}

        {{ govukInput({
          id: "organisation-website",
          name: "organisation[contact][website]",
          label: {
            text: "Website",
            classes: "govuk-label--s"
          },
          type: "url",
          autocomplete: "url",
          spellcheck: false,
          classes: "govuk-!-width-two-thirds",
          errorMessage: errors | getErrorMessage("organisation-website"),
          value: organisation.contact.website
        }) }}

        {% call govukFieldset({
          legend: {
            text: "Address",
            classes: "govuk-fieldset__legend--m",
            isPageHeading: false
          }
        }) %}

          {{ govukInput({
            id: "address-line-1",
            name: "organisation[address][addressLine1]",
            label: {
              text: "Address line 1",
              classes: "govuk-label--s"
            },
            autocomplete: "address-line1",
            errorMessage: errors | getErrorMessage("address-line-1"),
            value: organisation.address.addressLine1
          }) }}

          {{ govukInput({
            id: "address-line-2",
            name: "organisation[address][addressLine2]",
            label: {
              text: "Address line 2 (optional)",
              classes: "govuk-label--s"
            },
            autocomplete: "address-line2",
            errorMessage: errors | getErrorMessage("address-line-2"),
            value: organisation.address.addressLine2
          }) }}

          {{ govukInput({
            id: "address-line-3",
            name: "organisation[address][addressLine3]",
            label: {
              text: "Address line 3 (optional)",
              classes: "govuk-label--s"
            },
            autocomplete: "address-line3",
            errorMessage: errors | getErrorMessage("address-line-3"),
            value: organisation.address.addressLine3
          }) }}

          {{ govukInput({
            id: "address-town",
            name: "organisation[address][town]",
            label: {
              text: "Town or city",
              classes: "govuk-label--s"
            },
            classes: "govuk-!-width-two-thirds",
            autocomplete: "address-level2",
            errorMessage: errors | getErrorMessage("address-town"),
            value: organisation.address.town
          }) }}

          {{ govukInput({
            id: "address-county",
            name: "organisation[address][county]",
            label: {
              text: "County",
              classes: "govuk-label--s"
            },
            classes: "govuk-!-width-two-thirds",
            errorMessage: errors | getErrorMessage("address-county"),
            value: organisation.address.county
          }) }}

          {{ govukInput({
            id: "address-postcode",
            name: "organisation[address][postcode]",
            label: {
              text: "Postcode",
              classes: "govuk-label--s"
            },
            classes: "govuk-input--width-10",
            autocomplete: "postal-code",
            errorMessage: errors | getErrorMessage("address-postcode"),
            value: organisation.address.postcode
          }) }}

        {% endcall %}

        {{ govukButton({
          text: "Update contact details"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
