{% extends "_layout.njk" %}

{% set primaryNavId = "settings" %}
{% set subNavId = "description" %}

{% set title = "Organisation details" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "_includes/page-heading.njk" %}
    </div>
  </div>

  {% include "./_sub-navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <!-- <h2 class="govuk-heading-m">Training with your organisation</h2> -->

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Training with your organisation"
            },
            value: {
              html: (organisation.trainWithUs | nl2br | markdownToHtml | safe) if organisation.trainWithUs.length else "Not entered",
              classes: "govuk-hint" if not organisation.trainWithUs.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/training",
                  text: "Change",
                  visuallyHiddenText: "information about training with your organisation"
                }
              ]
            }
          },
          {
            key: {
              text: "Training with disabilities and other needs"
            },
            value: {
              html: (organisation.trainWithDisability | nl2br | markdownToHtml | safe) if organisation.trainWithDisability.length else "Not entered",
              classes: "govuk-hint" if not organisation.trainWithDisability.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/training-with-disabilities",
                  text: "Change",
                  visuallyHiddenText: "information about training with disabilities and other needs"
                }
              ]
            }
          }
        ]
      }) }}
    </div>
  </div>

{% endblock %}
