{% extends "_layout.njk" %}

{% set primaryNavId = "settings" %}

{% set title = "Organisation details" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "_includes/page-heading.njk" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "./_organisation-details.njk" %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% include "./_organisation-description.njk" %}
    </div>
  </div>

  {% if organisation.type in ["hei","scitt"] %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "./_visa-sponsorship.njk" %}
      </div>
    </div>
  {% endif %}

  {% if organisation.type == "lead_school" %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% include "./_accredited-bodies.njk" %}
      </div>
    </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "./_contact-details.njk" %}
    </div>
  </div>

{% endblock %}
