{% extends "layouts/main.njk" %}

{% set primaryNavId = "settings" %}

{% set title = "Training with disabilities and other needs" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        {% include "_includes/page-heading.njk" %}

        <p class="govuk-body">Describe how you support candidates with disabilities and other needs. This could include candidates with:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>dyslexia</li>
          <li>physical, hearing and visual impairments</li>
          <li>mental health conditions</li>
        </ul>

        <p class="govuk-body">If accessibility varies between study sites, give details. It’s also useful for applicants to know how you’ve accommodated others with specific needs in the past.</p>
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukCharacterCount({
          id: "train-with-disability",
          name: "organisation[trainWithDisability]",
          rows: 15,
          maxwords: 250,
          label: {
            html: headingHtml
          },
          errorMessage: errors | getErrorMessage("train-with-disability"),
          value: organisation.trainWithDisability
        }) }}

        {{ govukButton({
          text: "Update training with disabilities"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
