{% extends "_layout.njk" %}

{% set primaryNavId = "settings" %}

{% set title = "Organisation details" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Provider name</p>
        <p class="govuk-body">{{ currentOrganisation.name }}</p>

        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Provider code</p>
        <p class="govuk-body">{{ currentOrganisation.code }}</p>

        {{ govukInput({
          id: "organisation-ukprn",
          name: "organisation[ukprn]",
          label: {
            text: "UK provider reference number (UKPRN)",
            classes: "govuk-label--s"
          },
          formGroup: {
            classes: "govuk-!-margin-bottom-2"
          },
          classes: "govuk-input--width-10",
          errorMessage: errors | getErrorMessage("organisation-ukprn"),
          value: organisation.ukprn
        }) }}

        <p class="govuk-body govuk-!-margin-bottom-5">Find UKPRNs on the <a class="govuk-hint" href="https://www.ukrlp.co.uk/" target="_blank">UK register of learning providers (opens in new tab)</a>.</p>

        {% if currentOrganisation.type == "lead_school" %}
          {{ govukInput({
            id: "organisation-urn",
            name: "organisation[urn]",
            label: {
              text: "Unique reference number (URN)",
              classes: "govuk-label--s"
            },
            formGroup: {
              classes: "govuk-!-margin-bottom-2"
            },
            classes: "govuk-input--width-10",
            errorMessage: errors | getErrorMessage("organisation-urn"),
            value: organisation.urn
          }) }}

          <p class="govuk-body govuk-!-margin-top-2">Find URNs on <a class="govuk-hint" href="https://www.get-information-schools.service.gov.uk/" target="_blank">Get information about schools (opens in new tab)</a>.</p>
        {% endif %}


        {{ govukButton({
          text: "Update organisation details"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
