{% extends "_layout.njk" %}

{% set primaryNavId = "settings" %}

{% set title = "Skilled Worker visa" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {% if query.show and query.show == "help" %}

        <p class="govuk-body">
          Non-UK teacher training candidates need the correct visa or immigration status to work or study in England.
        </p>

        <p class="govuk-body">
          Skilled Worker visas are sponsored by the employing school, local authority or multi-academy trust.
        </p>

        <p class="govuk-body">
          <a class="govuk-link" href="https://www.gov.uk/guidance/recruit-trainee-teachers-from-overseas-accredited-itt-providers#recruit-by-becoming-a-visa-sponsor">Learn more about visa sponsorship</a>
        </p>

      {% endif %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukRadios({
          idPrefix: "skilled-worker-visa",
          name: "organisation[visaSponsorship][canSponsorSkilledWorkerVisa]",
          fieldset: {
            legend: {
              text: "Can candidates get a sponsored Skilled Worker visa for your salaried courses?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: errors | getErrorMessage("skilled-worker-visa"),
          items: skilledWorkerVisaOptions
        }) }}

        {{ govukButton({
          text: "Update Skilled Worker visa"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
