{% extends "_layout.njk" %}

{% set primaryNavId = "settings" %}

{% set title = "Training with your organisation" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        {% include "_includes/page-heading.njk" %}
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukCharacterCount({
          id: "train-with-us",
          name: "organisation[trainWithUs]",
          rows: 15,
          maxwords: 100,
          label: {
            html: headingHtml
          },
          errorMessage: errors | getErrorMessage("train-with-us"),
          value: organisation.trainWithUs
        }) }}

        {% set helpTextHtml %}
          <p class="govuk-body">Tell applicants why they should choose to train with you. Say:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>who you are</li>
            <li>who you work with</li>
          </ul>

          <p class="govuk-body">You could mention:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>your key values</li>
            <li>your specialisms</li>
            <li>your past achievements (eg student successes, Ofsted ratings)</li>
          </ul>

          <p class="govuk-body">Be specific with any claims you make, and support them with evidence. For example:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>don’t say “our students are some of the happiest in the country”</li>
            <li>do say “the Times Educational Supplement ranked our students as 4th happiest in the country”</li>
          </ul>
        {% endset %}

        {{ govukDetails({
          summaryText: "Help with describing training with your organisation",
          html: helpTextHtml
        }) }}

        {{ govukButton({
          text: "Update training with your organisation"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
