{% extends "_layout.njk" %}

{% set primaryNavId = "settings" %}

{% set title = "Training with your organisation" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        {% include "_includes/page-heading.njk" %}
<p class="govuk-body">Tell applicants why they should train with you. You could mention:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>your values</li>
            <li>your specialisms</li>
            <li>your past achievements (for example, student successes and Ofsted ratings)</li></ul>

   <p class="govuk-body">Be specific and support your claims with evidence. For example, rather than saying, “Our students are some of the happiest in the country”, you could say, “The Times Educational Supplement ranked our students as 4th happiest in the country”.</p>

      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukCharacterCount({
          id: "train-with-us",
          name: "organisation[trainWithUs]",
          rows: 15,
          maxwords: 100,
          label: {
            html: headingHtml
          },
          errorMessage: errors | getErrorMessage("train-with-us"),
          value: organisation.trainWithUs
        }) }}


        {{ govukButton({
          text: "Update training with your organisation"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
