<div class="govuk-!-margin-bottom-8">
  <h2 id="about-training-provider" class="govuk-heading-l">About the training provider</h2>
  {% if trainingProvider.trainWithUs %}
    {{ trainingProvider.trainWithUs | markdownToHtml | safe }}
  {% else %}
    {% set insetHtml %}
      <a class="govuk-link" href="#?referrer=preview">Enter details about the training provider</a>
    {% endset %}

    {{ govukInsetText({
      html: insetHtml
    }) }}
  {% endif %}

  {% if not trainingProvider.isAccreditedBody %}
    <h3 class="govuk-heading-m">About the accredited provider</h3>
    {% if course.aboutAccreditingBody %}
      {{ course.aboutAccreditingBody | markdownToHtml | safe }}
    {% else %}
      {% set insetHtml %}
        <a class="govuk-link" href="#?referrer=preview">Enter details about the accredited provider</a>
      {% endset %}

      {{ govukInsetText({
        html: insetHtml
      }) }}
    {% endif %}
  {% endif %}
</div>
