{% if trainingProvider.trainWithUs or course.aboutAccreditingBody %}
  <div class="govuk-!-margin-bottom-8">
    {% if trainingProvider.trainWithUs %}
      <h2 id="about-training-provider" class="govuk-heading-l">About the training provider</h2>
      {{ trainingProvider.trainWithUs | markdownToHtml | safe }}
    {% endif %}
    {% if course.aboutAccreditingBody %}
      <h3 class="govuk-heading-m">About the accredited provider</h3>
      {{ course.aboutAccreditingBody | markdownToHtml | safe }}
    {% endif %}
  </div>
{% endif %}
