
{% extends "layout.html" %}
{% set title = 'Course with parts' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

  <div class="breadcrumbs">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Experimental designs looking at breaking course fields onto different pages, based on a theme.</p>
      <p>Try listing courses like search.</p>
    </div>
  </div>

  {% set contents = [
  { text: 'Courses', id: 'courses' },
  { text: 'Course', id: 'course' },
  { text: 'Course subject and description', id: 'course-subject-and-description' },
  { text: 'About this course', id: 'about-this-course' },
  { text: 'Requirements and qualifications', id: 'requirements-and-qualifications' },
  { text: 'School placements', id: 'school-placements' },
  { text: 'Application codes', id: 'application-codes' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('Courses', 'courses', '/public/images/history/course-with-parts/thumbnails/01-courses.png', '/public/images/history/course-with-parts/01-courses.png', '') }}

  {{ macros.screenshot('Course', 'course', '/public/images/history/course-with-parts/thumbnails/02-course.png', '/public/images/history/course-with-parts/02-course.png', '') }}

  {{ macros.screenshot('Course subject and description', 'course-subject-and-description', '/public/images/history/course-with-parts/thumbnails/03-course-subject-and-description.png', '/public/images/history/course-with-parts/03-course-subject-and-description.png', '') }}

  {{ macros.screenshot('About this course', 'about-this-course', '/public/images/history/course-with-parts/thumbnails/04-about-this-course.png', '/public/images/history/course-with-parts/04-about-this-course.png', '') }}

  {{ macros.screenshot('Requirements and qualifications', 'requirements-and-qualifications', '/public/images/history/course-with-parts/thumbnails/05-requirements-and-qualifications.png', '/public/images/history/course-with-parts/05-requirements-and-qualifications.png', '') }}

  {{ macros.screenshot('School placements', 'school-placements', '/public/images/history/course-with-parts/thumbnails/06-school-placements.png', '/public/images/history/course-with-parts/06-school-placements.png', '') }}

  {{ macros.screenshot('Application codes', 'application-codes', '/public/images/history/course-with-parts/thumbnails/07-application-codes.png', '/public/images/history/course-with-parts/07-application-codes.png', '') }}


{% endblock %}
