      {% set permissionsCourses1Html %}
        <p>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage courses
        </p>
        <p>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage users
        </p>
      {% endset %}
      
      {% set permissionsABCourses1Html %}
        <ul class="govuk-list">
          <li>Essex and Thames Primary SCITT</li>
          <li>Middlesex University</li>
        </ul>
      {% endset %}
      {% set permissionsUsers1Html %}
        <p>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage courses
        </p>
        <p>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage users
        </p>
      {% endset %}
      
      {% set permissionsCourses2Html %}
        <p>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage courses
        </p>
        <p>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage users
        </p>
      {% endset %}
      
      {% set permissionsCourses3Html %}
        <p>
          This user can only view courses
        </p>
        <p>
          This user can not manage users
        </p>
      {% endset %}

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-6',
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              text: "Ross"
            },
            actions: {
              items: [
                {
                  href: "/users/basic-details",
                  text: "Change",
                  visuallyHiddenText: "first name"
                }
              ]
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: "Anderson"
            },
            actions: {
              items: [
                {
                  href: "/users/basic-details",
                  text: "Change",
                  visuallyHiddenText: "last name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
              html: "ross.andersons@co.uk"
            },
            actions: {
              items: [
                {
                  href: "/users/basic-details",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisations this user will have access to"
            },
            value: {
              html: "<ul class='govuk-list'>
                      <li>Achieve with TELA</li>
                      <li>Beech Hill</li>
                      <li>TeachSlough</li>
                    </ul>"
            },
            actions: {
              items: [
                {
                  href: "/users/organisations",
                  text: "Change",
                  visuallyHiddenText: "organisation access settings"
                }
              ]
            }
          },
          {
            key: {
              text: "Achieve with TELA permissions"
            },
             value: {
              html: permissionsCourses2Html
            },
            actions: {
              items: [
                {
                  href: "/users/permissions-1",
                  text: "Change",
                  visuallyHiddenText: "permissions for [org name]"
                }
              ]
            }
          },
          {
            key: {
              html: "Achieve with TELA permissions: Accredited bodies whose courses the user can edit"
            },
            value: {
              html: permissionsABCourses1Html
            },
            actions: {
              items: [
                {
                  href: "/users/whose-courses-1",
                  text: "Change",
                  visuallyHiddenText: "course management settings"
                }
              ]
            }
          },
          {
            key: {
              text: "Beech Hill permissions"
            },
             value: {
              html: permissionsCourses2Html
            },
            actions: {
              items: [
                {
                  href: "/users/permissions-2",
                  text: "Change",
                  visuallyHiddenText: "permissions for [org name]"
                }
              ]
            }
          },
          {
            key: {
              text: "TeachSlough permissions"
            },
             value: {
              html: permissionsCourses1Html
            },
            actions: {
              items: [
                {
                  href: "/users/permissions-3",
                  text: "Change",
                  visuallyHiddenText: "permissions for [org name]"
                }
              ]
            }
          }
        ]
      }) }}