{% extends "layout.html" %}
{% set title = "Check permissions before you invite the user" %}
{% set navActive = "users" %}

{% block breadcrumbs %}
  {{ govukBackLink({
    href: "/users/permissions-3"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        <span class="govuk-caption-xl">Invite user</span>
        {{title}}
      </h1>

      {% include "users/_user-profile.html" %}

      <p>We'll send the user an email guiding them through DfE Sign-In and giving them access to their account.</p>

      <form novalidate method="post">
        {{govukButton({
          text: "Invite user"
        })}}
      </form>

    </div>
  </div>

{% endblock %}
