{% extends "layout.html" %}
{% set title = 'Permissions for Achieve with TELA: Can this user manage courses?' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% set navActive = 'users' %}

{% block breadcrumbs %}
  {{ govukBackLink({
    href: "/users/organisations"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-xl">Invite user</span>
        {{title}}
      {% endset %}

      <form action="/users/manage-courses-1" method="post">
        
        {{ govukRadios({
          idPrefix: "manage-courses-1",
          name: "manage-courses-1",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "This includes creating, editing, withdrawing and closing courses."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("manage-courses-1", "yes")
            },
            {
              value: "no",
              text: "No, grant read-only access for this user",
              checked: checked("manage-courses-1", "no")
            }
          ]
        }) }}
        
        {{govukButton({
          text: "Continue"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
