{% extends "layout.html" %}
{% set title = 'Permissions for Beech Hill: Can this user manage other users?' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% set navActive = 'users' %}

{% block breadcrumbs %}
  {{ govukBackLink({
    href: "/users/manage-courses-2"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-xl">Invite user</span>
        {{title}}
      {% endset %}

      <form action="/users/manage-users-2" method="post">
        
        {{ govukRadios({
          idPrefix: "manage-users-2",
          name: "manage-users-2",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "This includes inviting and removing users and setting user permissions."
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: checked("manage-users-2", "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked("manage-users-2", "no")
            }
          ]
        }) }}
        
        {{govukButton({
          text: "Continue"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
