.course-tabs {
  .govuk-tabs__tab {
    font-weight: bold;
    color: $govuk-link-colour;
    text-align: left;
    text-decoration: none;
  }

  .govuk-tabs__tab--selected,
  .govuk-tabs__list-item--selected {
    color: $govuk-text-colour;
    background-color: govuk-colour('white');
    border-top: 5px solid govuk-colour('blue');
    padding-top: govuk-spacing(3) - 5;

    a {
      outline-offset: -3px;
    }
  }

  .govuk-tabs__panel {
    border: none;
    padding: 30px 0 0;
  }
}
