.phase-tag-small {
  padding: 4px 8px 1px;
}

.phase-tag-no-content {
  background: govuk-colour("white");
  color: govuk-colour("dark-grey");
  border: 2px solid lighten(govuk-colour("dark-grey"), 10%);
  margin-top: -1px;
  margin-bottom: -1px;
}

.phase-tag-not-running {
  background: govuk-colour("light-grey");
  color: govuk-colour("black");
  margin-top: -1px;
  margin-bottom: -1px;
}

.phase-tag-draft {
  background: govuk-colour("orange");
}

.phase-tag-published {
  background: govuk-colour("green");
}
