// Inset message
.app-summary-list__message {
  border-left: $govuk-border-width-narrow solid;
  padding-left: govuk-spacing(3);

  > *:last-child {
    margin-bottom: 0;
  }
}

.app-summary-list__heading {
  @include govuk-typography-weight-bold;
}

// Optional value is empty
.app-summary-list__row--empty {
  .govuk-summary-list__value {
    color: govuk-colour("dark-grey");
  }
}

// Required value is missing
.app-summary-list__row--missing {
  .govuk-summary-list__value {
    color: govuk-colour("dark-grey");
  }

  .app-summary-list__message {
    border-left-color: govuk-colour("blue");
  }

  .app-summary-list__heading {
    color: govuk-colour("blue");
  }
}

// Required value is missing and validated
.app-summary-list__row--error {
  .app-summary-list__message {
    border-left-color: $govuk-error-colour;
  }

  .app-summary-list__heading {
    color: $govuk-error-colour;
  }
}

.app-summary-list__value--truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 295px;
}
