<p>UCAS will send them:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>new application alerts if you’ve enabled them</li>
  <li>the UCAS monthly bulletin, which will include information about deadlines for making decisions</li>
  <li>invoices for payment of UCAS fees</li>
  <li>alerts about any fraudulent activity, such as similarity detection for a plagiarised personal statement</li>
  <li>notices about UCAS systems and planned downtime</li>
</ul>

{{ macros.textbox('lead-contact-name', 'Name') }}
{{ macros.textbox('lead-contact-email', 'Email address') }}
{{ macros.textbox('lead-contact-telephone', 'Telephone number', false, 'govuk-input--width-10') }}

{{ macros.checkboxGroup('agree-to-share', [{ name: 'I give permission to share this information with UCAS' }], false) }}
