<p>UCAS sends all successful applicants a letter – this is known as a ‘GT12 letter’.</p>
<p class="govuk-!-margin-bottom-5">Choose which letter you’d like UCAS to send (the content of each letter is summarised below):</p>

{% set confirmLetter %}
  <div class="app-status-box" style="border: none">
    <p>
      To confirm whether or not you intend to take up this place,
      you must contact the training provider at [email address
      or URL].
    </p>
    <p>
      If you are replying to the training provider’s email
      address, you must include your:
    </p>
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
      <li>full name</li>
      <li>Personal ID</li>
      <li>training programme code</li>
      <li>reason for not taking the place (if applicable)</li>
    </ul>
  </div>
{% endset %}

{% set noResponseLetter %}
  <div class="app-status-box" style="border: none">
    <p class="govuk-!-margin-bottom-0">{{ data['training-provider-name'] }} will assume you are taking up your place, and will be sending you joining instructions before you start your training programme.</p>
  </div>
{% endset %}

{% set fields = [
    {
      name: 'Applicants must confirm their place',
      text: confirmLetter
    },
    {
      name: 'Applicants don’t need to respond',
      text: noResponseLetter
    }
  ]
%}

{{ macros.radioGroup('ucas-gt12', fields) }}

<hr class="govuk-section-break govuk-section-break--l">
<h2 class="govuk-heading-l">Who will applicants reply to?</h2>
<p>If applicants must confirm their place you need to give an email address or URL for them to use.</p>

{{ macros.textbox('gt12-reply-to', 'Email address (or URL) to be printed in the letter')}}
{{ macros.checkboxGroup('agree-to-share', [{ name: 'I give permission to share this email (or URL) with UCAS' }], false) }}

<hr class="govuk-section-break govuk-section-break--l">
