{% extends "layout.html" %}
{% set title = 'UCAS Apply settings' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink('/cycles' if data['rolled-over'] else '/') }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row add-top-margin">
    <div class="govuk-grid-column-two-thirds">
      <p>These are UCAS Teacher Training Apply (UTT Apply) preferences that relate&nbsp;to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what UCAS sends to successful applicants</li>
        <li>what happens when you receive an application</li>
        <li>who UCAS can contact</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l" />

      <form action="/" method="post">
        <h2 class="govuk-heading-l">Who UCAS will contact</h2>

        <p>UCAS don’t have permission to share your contact details with us. To get hold of these details yourself, contact the UCAS HEP Team on 0344 984 1111 or at <a href="#">hep_team@ucas.ac.uk</a>.</p>

        <p>Alternatively, you can choose new contacts below.</p>

        <dl class="govuk-summary-list govuk-!-margin-top-6 govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              UCAS correspondent
            </dt>
            <dd class="govuk-summary-list__value">
              Information unknown
              <hr class="govuk-section-break govuk-section-break--s govuk-!-margin-top-2">
              <p class="govuk-body-s" style="color: #777">They receive the UCAS monthly bulletin, which will include information about deadlines for making decisions.</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="/ucas/ucas-correspondent">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Application alerts contact
            </dt>
            <dd class="govuk-summary-list__value">
              Information unknown
              <hr class="govuk-section-break govuk-section-break--s govuk-!-margin-top-2">
              <p class="govuk-body-s" style="color: #777">They receive new application alerts if you’ve enabled them.</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              GT12 reply email or URL
            </dt>
            <dd class="govuk-summary-list__value">
              Information unknown
              <hr class="govuk-section-break govuk-section-break--s govuk-!-margin-top-2">
              <p class="govuk-body-s" style="color: #777">They receive responses from successful applicants replying to a GT12 letter.</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              web-link correspondent
            </dt>
            <dd class="govuk-summary-list__value">
              Information unknown
              <hr class="govuk-section-break govuk-section-break--s govuk-!-margin-top-2">
              <p class="govuk-body-s" style="color: #777">They receive notices about UCAS systems and planned downtime.</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Finance contact
            </dt>
            <dd class="govuk-summary-list__value">
              Jane Doe<br />
              jane.doe@myscitt.org.uk<br />
              07912345678
              <hr class="govuk-section-break govuk-section-break--s govuk-!-margin-top-2">
              <p class="govuk-body-s" style="color: #777">They receive invoices from UCAS for payment of fees</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Fraud contact
            </dt>
            <dd class="govuk-summary-list__value">
              Information unknown
              <hr class="govuk-section-break govuk-section-break--s govuk-!-margin-top-2">
              <p class="govuk-body-s" style="color: #777">They receive alerts about fradulent activity, for example similarity detection for a plagiarised personal statement.</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="#">
                Change
              </a>
            </dd>
          </div>
        </dl>

        <hr class="govuk-section-break govuk-section-break--l" />

        <h2 class="govuk-heading-l">Pick a letter for successful applicants</h2>

        {% include "ucas/_gt12.html" %}

        <hr class="govuk-section-break govuk-section-break--l" />

        <h2 class="govuk-heading-l">Email alerts for new applications</h2>

        {% include "ucas/_alerts.html" %}

        <hr class="govuk-section-break govuk-section-break--l" />

        <p>UCAS Apply will be updated overnight.</p>

        <div class="form-group add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Save">
        </div>

        <p>
          <a href="/about-your-organisation">Cancel changes</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
