{% extends "layout.html" %}
{% set title = 'UCAS Apply preferences' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink('/') }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row add-top-margin">
    <div class="govuk-grid-column-two-thirds">
      <p>These are UCAS Teacher Training (UTT) Apply preferences that relate to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what applicants receive when they are successful</li>
        <li>what happens when you receive an application</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--l" />

      <form action="/" method="post">
        <h2 class="govuk-heading-l">Pick which letter to send to successful applicants</h2>

        {% include "ucas/_gt12.html" %}

        <hr class="govuk-section-break govuk-section-break--l" />

        <h2 class="govuk-heading-l">Email alerts for new applications</h2>

        {% include "ucas/_alerts.html" %}

        <hr class="govuk-section-break govuk-section-break--l" />

        <p>UCAS Apply will be updated overnight.</p>

        <div class="form-group add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Save">
        </div>

        <p>
          <a href="/about-your-organisation">Cancel changes</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
