{% extends "layout.njk" %}
{% set title = "Finance contact" %}
{% set backLink = "/ucas/apply-preferences" %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row govuk-!-margin-top-3">
    <div class="govuk-grid-column-two-thirds">
      <form action="/ucas/apply-preferences" method="post">
        <p>This person will receive invoices from UCAS for payment of fees.</p>

        {{ macros.textbox('finance-contact-name', 'Name') }}
        {{ macros.textbox('finance-contact-email', 'Email address') }}
        {{ macros.textbox('finance-contact-telephone', 'Telephone number', false, 'govuk-input--width-10') }}
        {{ macros.checkboxGroup('agree-to-share', [{ name: 'I give permission to share this information with UCAS' }], false) }}

        {{ govukButton({
          text: "Save"
        }) }}

        <p><a href="/ucas/apply-preferences">Cancel changes</a></p>
      </form>
    </div>
  </div>
{% endblock %}
