{% extends "layout.njk" %}
{% set title = "Pick a letter for successful applicants" %}
{% set backLink = "/ucas/apply-preferences" %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/ucas/apply-preferences" method="post">
        {% include "ucas/_gt12.njk" %}

        {{ govukButton({
          text: "Save"
        }) }}

        <p><a href="/ucas/apply-preferences">Cancel changes</a></p>
      </form>
    </div>
  </div>
{% endblock %}
