{% extends "layout.html" %}
{% set title = "Postal address" %}
{% block backLink %}{{ macros.backLink('/ucas/apply-preferences') }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row add-top-margin">
    <div class="govuk-grid-column-two-thirds">
      <form action="/ucas/apply-preferences" method="post">
        <p>UCAS will use this address to send you letters and documents.</p>

        {{ macros.textbox('ucas-postal-address-building-and-street', 'Building and street', null, 'govuk-!-width-full', null, errors) }}
        {{ macros.textbox('ucas-postal-address-building-and-street-2', null, null, 'govuk-!-width-full', null, errors) }}

        {{ macros.textbox('ucas-postal-address-organisation-town-or-city', 'Town or city', null, 'form-control', null, errors) }}
        {{ macros.textbox('ucas-postal-address-county', 'County', null, 'form-control', null, errors) }}
        {{ macros.textbox('ucas-postal-address-postcode', 'Postcode', null, 'form-control-small', null, errors) }}

        <div class="form-group add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Save">
        </div>
        <p>
          <a href="/ucas/apply-preferences">Cancel changes</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
