{% extends "layout.html" %}
{% set title = 'UCAS Correspondent' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink('/ucas/apply-preferences') }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row add-top-margin">
    <div class="govuk-grid-column-two-thirds">
      <p>UCAS will send them the UCAS monthly bulletin, which will include information about deadlines for making decisions.</p>

      {{ macros.textbox('lead-contact-name', 'Name') }}
      {{ macros.textbox('lead-contact-email', 'Email address') }}
      {{ macros.textbox('lead-contact-telephone', 'Telephone number', false, 'govuk-input--width-10') }}
      {{ macros.checkboxGroup('agree-to-share', [{ name: 'I give permission to share this information with UCAS' }], false) }}

      <form action="/ucas/apply-preferences" method="post">
        <div class="form-group add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Save">
        </div>
        <p>
          <a href="/ucas/apply-preferences">Cancel changes</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
