{% extends "layout.html" %}
{% set title = "UCAS web-link correspondent" %}
{% block backLink %}{{ macros.backLink('/ucas/apply-preferences') }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row add-top-margin">
    <div class="govuk-grid-column-two-thirds">
      <form action="/ucas/apply-preferences" method="post">
        <p>This person will receive notices about UCAS systems and planned downtime.</p>

        {{ macros.textbox('web-link-contact-name', 'Name') }}
        {{ macros.textbox('web-link-contact-email', 'Email address') }}
        {{ macros.textbox('web-link-contact-telephone', 'Telephone number', false, 'govuk-input--width-10') }}
        {{ macros.checkboxGroup('agree-to-share', [{ name: 'I give permission to share this information with UCAS' }], false) }}

        <div class="form-group add-double-bottom-margin">
          <input type="submit" class="govuk-button" value="Save">
        </div>
        <p>
          <a href="/ucas/apply-preferences">Cancel changes</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
