{% extends "layout.html" %}
{% set title = provider.name + " (" + provider.code + ")" %}
{% set readOnlyCourses = true %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: breadcrumbItems([{
      href: "/accredited-body",
      text: "Courses as an accredited body"
    }])
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">Training provider</span>
    {{ provider.name }}&nbsp;({{ provider.code }})
  </h1>

  {% if data['accreditedCourses'].length > 0 %}
    <div class="body-text">
      <table class="govuk-table ucas-info-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header govuk-!-width-one-third">Course</th>
            <th class="govuk-table__header">Status</th>
            <th class="govuk-table__header">
              {% if data['next-cycle'] %}Will it be{% else %}Is it{% endif %} on <abbr title="Find postgraduate teacher training">Find</abbr>?
            </th>
            <th class="govuk-table__header">Applications</th>
            {% if data["placements-policy"] == "hosted" %}
              <th class="govuk-table__header">Vacancies</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for course in data['accreditedCourses'] %}
            {% if course.provider == provider.name %}
              {% include "includes/_courses-table-row.html" %}
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
