{% extends "layouts/main.njk" %}

{% set primaryNavId = "courses" %}

{% set title = "What is the minimum degree classification you require?" %}
{% set caption = course.name + " (" + course.code + ")" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        {% include "_includes/page-heading.njk" %}
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukRadios({
          idPrefix: "degree-grade",
          name: "degree[grade]",
          fieldset: {
            legend: {
              html: headingHtml
            }
          },
          errorMessage: errors | getErrorMessage("degree-grade"),
          items: degreeGradeOptions
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
