{% set subjectHtml %}
  {% if data[code + "-subject"] %}
    {{ data[code + "-subject"] }}
    {% if data[code + "-second-subject"] %}
      <br>{{ data[code + "-second-subject"] }}
    {% endif %}
  {% else %}
    Unknown
  {% endif %}
{% endset %}

{% set placementLocations = data[code + "-locations"] %}
{% set placementLocationsHtml %}
  {% if isArray(placementLocations) and placementLocations.length > 0 %}
    {{ placementLocations | join("<br>") | safe }}
  {% else %}
    <div class="app-summary-list__message">
      <p class="app-summary-list__heading">Where will candidates be placed?</p>
      <p><a class="govuk-link" href="/new/{{ code }}/placement-locations?change=true">Choose the locations candidates can apply to</a></p>
    </div>
  {% endif %}
{% endset %}

{% set placementLocationSummaryRowClasses %}
  {% if placementLocations.length == 0 and showErrors %}
    app-summary-list__row--error
  {% elif not placementLocations.length > 0 %}
    app-summary-list__row--missing
  {% endif %}
{% endset %}

{% set trainingLocationHtml %}
  {% if data[code + "-training-location"] %}
    {{ data[code + "-training-location"] }}
  {% else %}
    <div class="app-summary-list__message">
      <p class="app-summary-list__heading">Where will candidates do their centre based training?</p>
      <p><a class="govuk-link" href="/new/{{ code }}/training-location?change=true">Select a centre based training location</a></p>
    </div>
  {% endif %}
{% endset %}

{% set applicationsOpenText %}
  {% if data[code + "-applications-open"] == "On a specific date" %}
    On {{ data[code + "-applications-open-date-day"] }}-{{ data[code + "-applications-open-date-month"] }}-{{ data[code + "-applications-open-date-year"] }}
  {% elseif data[code + "-applications-open"] == "When I publish the course" %}
    When the course is published
  {% elseif data[code + "-applications-open"] %}
    {{ data[code + "-applications-open"] }}
  {% else %}
    Unknown
  {% endif %}
{% endset %}

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-8",
  rows: [{
    classes: macros.requiredSummaryRowClasses(code + "-phase", showErrors),
    key: {
      text: "Level"
    },
    value: {
      text: data[code + "-phase"] or "Unknown"
    },
    actions: {
      items: [{
        href: "/new/" + code + "/phase?change=phase",
        text: "Change",
        visuallyHiddenText: "phase"
      } if isNotPublished]
    } if showChangeLinks
  },

  {
    key: {
      html: "<abbr title=\"Special educational needs and disability\">SEND</abbr>"
    },
    value: {
      text: "Yes" if data[code + "-sen"] else "No"
    },
    actions: {
      items: [{
        href: "/new/" + code + "/phase?change=true",
        text: "Change",
        visuallyHiddenText: "SEND"
      } if isNotPublished]
    } if showChangeLinks
  },

  {
    classes: macros.requiredSummaryRowClasses(code + "-subject", showErrors),
    key: {
      text: "Subject"
    },
    value: {
      html: subjectHtml
    },
    actions: {
      items: [{
        href: "/new/" + code + "/subject?change=true",
        text: "Change",
        visuallyHiddenText: "subject"
      }]
    } if showChangeLinks
  },

  {
    classes: macros.requiredSummaryRowClasses(code + "-languages", showErrors),
    key: {
      text: "Languages"
    },
    value: {
      html: data[code + "-languages"].join("<br>") if isArray(data[code + "-languages"]) else data[code + "-languages"]
    },
    actions: {
      items: [{
        href: "/new/" + code + "/languages?change=true",
        text: "Change",
        visuallyHiddenText: "languages"
      }]
    } if showChangeLinks
  } if data[code + "-subject"] == "Modern languages",

  {
    classes: macros.requiredSummaryRowClasses(code + "-age-range", showErrors),
    key: {
      text: "Age range"
    },
    value: {
      text: data[code + "-age-youngest"] + " to " + data[code + "-age-oldest"] if data[code + "-age-range"] == "Another age range" else data[code + "-age-range"] or "Unknown"
    },
    actions: {
      items: [{
        href: "/new/" + code + "/age-range?change=true",
        text: "Change",
        visuallyHiddenText: "age range"
      }]
    } if showChangeLinks
  },

  {
    classes: macros.requiredSummaryRowClasses(code + "-outcome", showErrors),
    key: {
      text: "Outcome"
    },
    value: {
      text: data[code + "-outcome"] or "Unknown"
    },
    actions: {
      items: [{
        href: "/new/" + code + "/outcome?change=true",
        text: "Change",
        visuallyHiddenText: "outcome"
      }]
    } if showChangeLinks
  },

  {
    classes: macros.requiredSummaryRowClasses(code + "-type", showErrors),
    key: {
      text: "Fee or salary"
    },
    value: {
      text: data[code + "-type"] or "Unknown"
    },
    actions: {
      items: [{
        href: "/new/" + code + "/funding?change=true",
        text: "Change",
        visuallyHiddenText: "fee or salary"
      } if isNotPublished]
    } if showChangeLinks
  } if data["new-course"]["include-fee-or-salary"] else {
    classes: macros.requiredSummaryRowClasses(code + "-apprenticeship", showErrors),
    key: {
      text: "Apprenticeship"
    },
    value: {
      text: data[code + "-apprenticeship"] or "Unknown"
    },
    actions: {
      items: [{
        href: "/new/" + code + "/apprenticeship?change=true",
        text: "Change",
        visuallyHiddenText: "apprenticeship"
      } if isNotPublished]
    } if showChangeLinks
  },

  {
    classes: macros.requiredSummaryRowClasses(code + "-full-part", showErrors),
    key: {
      text: "Full or part time"
    },
    value: {
      text: data[code + "-full-part"] or "Unknown"
    },
    actions: {
      items: [{
        href: "/new/" + code + "/full-time-part-time?change=true",
        text: "Change",
        visuallyHiddenText: "full time or part time"
      }]
    } if showChangeLinks
  },

  {
    classes: macros.requiredSummaryRowClasses(code + "-accredited-body", showErrors),
    key: {
      text: "Accredited body"
    },
    value: {
      text: data[code + "-new-accredited-body"] or data[code + "-accredited-body"] or "Unknown"
    },
    actions: {
      items: [{
        href: "/new/" + code + "/accredited-body?change=true",
        text: "Change",
        visuallyHiddenText: "accredited body"
      } if isNotPublished]
    } if showChangeLinks
  } if data["new-course"]["include-accredited"],

  {
    classes: placementLocationSummaryRowClasses,
    key: {
      text: "Placement schools"
    },
    value: {
      html: placementLocationsHtml
    },
    actions: {
      items: [{
        href: "/new/" + code + "/placement-locations?change=true",
        text: "Change",
        visuallyHiddenText: "placement schools"
      }]
    } if showChangeLinks and placementLocations.length > 0
  } if data["placement-policy"] == "hosted",

  {
    classes: macros.requiredSummaryRowClasses(code + "-training-location", showErrors),
    key: {
      text: "Centre based training"
    },
    value: {
      html: trainingLocationHtml
    },
    actions: {
      items: [{
        href: "/new/" + code + "/training-location?change=true",
        text: "Change",
        visuallyHiddenText: "training location"
      }]
    } if showChangeLinks and value(code + "-training-location")
  },

  {
    classes: macros.requiredSummaryRowClasses(code + "-applications-open", showErrors),
    key: {
      text: "Applications open"
    },
    value: {
      text: applicationsOpenText
    },
    actions: {
      items: [{
        href: "/new/" + code + "/applications-open?change=true",
        text: "Change",
        visuallyHiddenText: "applications open date"
      } if isNotPublished]
    } if showChangeLinks
  },

  {
    classes: macros.requiredSummaryRowClasses(code + "-start-date", showErrors),
    key: {
      text: "Course starts"
    },
    value: {
      text: data[code + "-start-date"] or "Unknown"
    },
    actions: {
      items: [{
        href: "/new/" + code + "/start-date?change=true",
        text: "Change",
        visuallyHiddenText: "start date"
      } if isNotPublished]
    } if showChangeLinks
  }]
}) }}
