<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Level
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data[code + '-phase'] }}
  </dd>
  {% if showChangeLinks %}
  <dd class="govuk-summary-list__actions">
    <a href="/new/{{ code }}/phase?change=phase">
      Change<span class="govuk-visually-hidden"> phase</span>
    </a>
  </dd>
  {% endif %}
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    SEND
  </dt>
  <dd class="govuk-summary-list__value">
    {% if data[code + '-sen'] %}
      Yes
    {% else %}
      No
    {% endif %}
  </dd>
  {% if showChangeLinks %}
  <dd class="govuk-summary-list__actions">
    <a href="/new/{{ code }}/phase?change=phase">
      Change<span class="govuk-visually-hidden"> SEND</span>
    </a>
  </dd>
  {% endif %}
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Subject
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data[code + '-subject'] }}
    {% if data[code + '-second-subject'] %}
      <br />{{ data[code + '-second-subject'] }}
    {% endif %}
  </dd>
  {% if showChangeLinks %}
  <dd class="govuk-summary-list__actions">
    <a href="/new/{{ code }}/subject?change=subject">
      Change<span class="govuk-visually-hidden"> subject</span>
    </a>
  </dd>
  {% endif %}
</div>
{% if data[code + '-subject'] == 'Modern languages' %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Languages
  </dt>
  <dd class="govuk-summary-list__value">
    {% if isArray(data[code + '-languages']) %}
      {{ data[code + '-languages'].join('<br />') | safe }}
    {% else %}
      {{ data[code + '-languages'] }}
    {% endif %}
  </dd>
  {% if showChangeLinks %}
  <dd class="govuk-summary-list__actions">
    <a href="/new/{{ code }}/languages?change=languages">
      Change<span class="govuk-visually-hidden"> languages</span>
    </a>
  </dd>
  {% endif %}
</div>
{% endif %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Outcome
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data[code + '-outcome'] }}
  </dd>
  {% if showChangeLinks %}
  <dd class="govuk-summary-list__actions">
    <a href="/new/{{ code }}/outcome?change=outcome">
      Change<span class="govuk-visually-hidden"> outcome</span>
    </a>
  </dd>
  {% endif %}
</div>
{% if data['new-course']['include-fee-or-salary'] %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Fee or salary
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data[code + '-type'] }}
  </dd>
  {% if showChangeLinks %}
  <dd class="govuk-summary-list__actions">
    <a href="/new/{{ code }}/funding?change=funding">
      Change<span class="govuk-visually-hidden"> fee or salary</span>
    </a>
  </dd>
  {% endif %}
</div>
{% endif %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Full or part time
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data[code + '-full-part'] }}
  </dd>
  {% if showChangeLinks %}
  <dd class="govuk-summary-list__actions">
    <a href="/new/{{ code }}/full-time-part-time?change=full-time-part-time">
      Change<span class="govuk-visually-hidden"> full time or part time</span>
    </a>
  </dd>
  {% endif %}
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Training locations
  </dt>
  <dd class="govuk-summary-list__value">
    {% if isArray(data[code + '-locations']) %}
      {{ data[code + '-locations'] | join('<br>') | safe }}
    {% elseif data[code + '-locations'] %}
      {{ data[code + '-locations'] }}
    {% else %}
      {{ data['schools'][0].name }}
    {% endif %}
    {% if data['schools'].length == 1 %}
      <br>
      <span class="empty">You can’t change this because you only have <a href="/locations">1 training location</a></span>
    {% endif %}
  </dd>
  {% if showChangeLinks %}
    <dd class="govuk-summary-list__actions">
      {% if data['schools'].length > 1 and data[code + '-locations'] %}
      <a href="/new/{{ code }}/training-locations?change=training-locations">
        Change<span class="govuk-visually-hidden"> training locations</span>
      </a>
      {% endif %}
    </dd>
  {% endif %}
</div>
{% if data['new-course']['include-accredited'] %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Accredited body
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data[code + '-new-accredited-body'] or data[code + '-accredited-body'] }}
    </dd>
    {% if showChangeLinks %}
    <dd class="govuk-summary-list__actions">
      <a href="/new/{{ code }}/accredited-body?change=accredited-body">
        Change<span class="govuk-visually-hidden"> accredited body</span>
      </a>
    </dd>
    {% endif %}
  </div>
{% endif %}
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Applications open
  </dt>
  <dd class="govuk-summary-list__value">
    {% if data[code + '-applications-open'] == 'On a specific date' %}
      On {{ data[code + '-applications-open-date-day'] }}-{{ data[code + '-applications-open-date-month'] }}-{{ data[code + '-applications-open-date-year'] }}
    {% elseif data[code + '-applications-open'] == 'When I publish the course' %}
        When the course is published
    {% else %}
      {{ data[code + '-applications-open'] }}
    {% endif %}
  </dd>
  {% if showChangeLinks %}
  <dd class="govuk-summary-list__actions">
    <a href="/new/{{ code }}/applications-open?change=applications-open">
      Change<span class="govuk-visually-hidden"> start date</span>
    </a>
  </dd>
  {% endif %}
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    UCAS Apply setting
  </dt>
  <dd class="govuk-summary-list__value">
    {% set expansion %}
      <p class="govuk-body-s">Applicants will need a minimum GCSE grade of C (or 4), or an equivalent,&nbsp;in:</p>
      <ul class="govuk-list govuk-list--bullet govuk-body-s">
        <li>English</li>
        <li>Mathematics</li>
        {% if data[code + '-phase'] == 'Primary' %}
          <li>Science</li>
        {% endif %}
      </ul>

      {% if data[code + '-who-apply-type'] and data[code + '-who-apply-type'].includes('Option A') %}
        <p class="govuk-body-s">Receive applications from candidates who:</p>
        <ul class="govuk-list govuk-list--bullet govuk-body-s">
          <li>have these qualifications when they apply</li>
          <li>expect to have them before the course begins</li>
          <li>need to take an equivalency test</li>
        </ul>
      {% elseif data[code + '-who-apply-type'] and data[code + '-who-apply-type'] == 'Option B' %}
        <p class="govuk-body-s">Receive applications from candidates who:</p>
        <ul class="govuk-list govuk-list--bullet govuk-body-s">
          <li>have these qualifications when they apply</li>
          <li>expect to have them before the course begins</li>
        </ul>
      {% elseif data[code + '-who-apply-type'] %}
        <p class="govuk-body-s">Only receive applications from candidates who have these qualifications when they apply.</p>
      {% endif %}
    {% endset %}
    {{ govukDetails({
      summaryText: data[code + '-who-apply-type'],
      html: expansion,
      class: 'govuk-!-margin-bottom-0'
    }) }}
  </dd>
  {% if showChangeLinks %}
  <dd class="govuk-summary-list__actions">
    <a href="/new/{{ code }}/eligibility?change=eligibility">
      Change<span class="govuk-visually-hidden"> minimum requirements</span>
    </a>
  </dd>
  {% endif %}
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Course starts
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data[code + '-start-date'] }}
  </dd>
  {% if showChangeLinks %}
  <dd class="govuk-summary-list__actions">
    <a href="/new/{{ code }}/start-date?change=start-date">
      Change<span class="govuk-visually-hidden"> start date</span>
    </a>
  </dd>
  {% endif %}
</div>
{% if showTitleAndDescription %}
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Title
    </dt>
    <dd class="govuk-summary-list__value">
      {% if data[code + '-change-title'] == 'Yes, that’s correct' or not data[code + '-change-title']  %}
        {{ data[code + '-generated-title'] }}
      {% else %}
        {{ data[code + '-title'] }}
      {% endif %}
    </dd>
    {% if showChangeLinks %}
    <dd class="govuk-summary-list__actions">
      <a href="/new/{{ code }}/title?change=title">
        Change<span class="govuk-visually-hidden"> title</span>
      </a>
    </dd>
    {% endif %}
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Description
    </dt>
    <dd class="govuk-summary-list__value">
      {{ courseOffered }}
    </dd>
    {% if showChangeLinks %}
    <dd class="govuk-summary-list__actions"></dd>
    {% endif %}
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Course code
    </dt>
    <dd class="govuk-summary-list__value">
      {{ code }}
    </dd>
    {% if showChangeLinks %}
    <dd class="govuk-summary-list__actions"></dd>
    {% endif %}
  </div>
{% endif %}
