<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    Level
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data[code + '-phase'] }}
  </dd>
  {% if showChangeLinks %}
  <dd class="app-check-your-answers__change">
    <a href="/new/{{ code }}/phase?change=phase">
      Change<span class="govuk-visually-hidden"> phase</span>
    </a>
  </dd>
  {% endif %}
</div>
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    SEND
  </dt>
  <dd class="app-check-your-answers__answer">
    {% if data[code + '-sen'] %}
      Yes
    {% else %}
      No
    {% endif %}
  </dd>
  {% if showChangeLinks %}
  <dd class="app-check-your-answers__change">
    <a href="/new/{{ code }}/phase?change=phase">
      Change<span class="govuk-visually-hidden"> SEND</span>
    </a>
  </dd>
  {% endif %}
</div>
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    Subject
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data[code + '-subject'] }}
    {% if data[code + '-second-subject'] %}
      <br />{{ data[code + '-second-subject'] }}
    {% endif %}
  </dd>
  {% if showChangeLinks %}
  <dd class="app-check-your-answers__change">
    <a href="/new/{{ code }}/subject?change=subject">
      Change<span class="govuk-visually-hidden"> subject</span>
    </a>
  </dd>
  {% endif %}
</div>
{% if data[code + '-subject'] == 'Modern languages' %}
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    Languages
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data[code + '-first-language'] }}
    {% if data[code + '-second-language'] %}
      <br />{{ data[code + '-second-language'] }}
    {% endif %}
    {% if data[code + '-further-languages'] %}
      <br />
      {{ data[code + '-further-languages'].join('<br />') | safe }}
    {% endif %}
  </dd>
  {% if showChangeLinks %}
  <dd class="app-check-your-answers__change">
    <a href="/new/{{ code }}/languages?change=languages">
      Change<span class="govuk-visually-hidden"> languages</span>
    </a>
  </dd>
  {% endif %}
</div>
{% endif %}
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    Outcome
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data[code + '-outcome'] }}
  </dd>
  {% if showChangeLinks %}
  <dd class="app-check-your-answers__change">
    <a href="/new/{{ code }}/outcome?change=outcome">
      Change<span class="govuk-visually-hidden"> outcome</span>
    </a>
  </dd>
  {% endif %}
</div>
{% if data['new-course']['include-fee-or-salary'] %}
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    Fee or salary
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data[code + '-type'] }}
  </dd>
  {% if showChangeLinks %}
  <dd class="app-check-your-answers__change">
    <a href="/new/{{ code }}/funding?change=funding">
      Change<span class="govuk-visually-hidden"> fee or salary</span>
    </a>
  </dd>
  {% endif %}
</div>
{% endif %}
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    Full or part time
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data[code + '-full-part'] }}
  </dd>
  {% if showChangeLinks %}
  <dd class="app-check-your-answers__change">
    <a href="/new/{{ code }}/full-time-part-time?change=full-time-part-time">
      Change<span class="govuk-visually-hidden"> full time or part time</span>
    </a>
  </dd>
  {% endif %}
</div>
{% if data['new-course']['include-locations'] and data[code + '-locations'] %}
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    Training locations
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data[code + '-locations'] | join('<br>') | safe }}
  </dd>
  {% if showChangeLinks %}
  <dd class="app-check-your-answers__change">
    <a href="/new/{{ code }}/training-locations?change=training-locations">
      Change<span class="govuk-visually-hidden"> training locations</span>
    </a>
  </dd>
  {% endif %}
</div>
{% endif %}
{% if data['new-course']['include-accredited'] %}
  {% if data[code + '-has-accredited-body'] == 'Another organisation' %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        Accredited body
      </dt>
      <dd class="app-check-your-answers__answer">
        {{ data[code + '-accredited-body'] }}
      </dd>
      {% if showChangeLinks %}
      <dd class="app-check-your-answers__change">
        <a href="/new/{{ code }}/accredited-body">
          Change<span class="govuk-visually-hidden"> accredited body</span>
        </a>
      </dd>
      {% endif %}
    </div>
  {% else %}
    <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question">
        Who is the accredited body?
      </dt>
      <dd class="app-check-your-answers__answer">
        {{ data[code + '-has-accredited-body'] }}
      </dd>
      {% if showChangeLinks %}
      <dd class="app-check-your-answers__change">
        <a href="/new/{{ code }}/accredited-body">
          Change<span class="govuk-visually-hidden"> accredited body</span>
        </a>
      </dd>
      {% endif %}
    </div>
  {% endif %}
{% endif %}
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    Minimum GCSE requirements
  </dt>
  <dd class="app-check-your-answers__answer">
    {% if data[code + '-min-requirements'] %}
      {{ data[code + '-min-requirements'].join('<br />') | safe }}

      <br /><br />Grade C (or 4) or above
    {% else %}
      None
    {% endif %}
  </dd>
  {% if showChangeLinks %}
  <dd class="app-check-your-answers__change">
    <a href="/new/{{ code }}/eligibility?change=eligibility">
      Change<span class="govuk-visually-hidden"> minimum requirements</span>
    </a>
  </dd>
  {% endif %}
</div>
<div class="app-check-your-answers__contents">
  <dt class="app-check-your-answers__question">
    Course starts
  </dt>
  <dd class="app-check-your-answers__answer">
    {{ data[code + '-start-date'] }}
  </dd>
  {% if showChangeLinks %}
  <dd class="app-check-your-answers__change">
    <a href="/new/{{ code }}/start-date?change=start-date">
      Change<span class="govuk-visually-hidden"> start date</span>
    </a>
  </dd>
  {% endif %}
</div>
{% if showTitleAndDescription %}
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Title
    </dt>
    <dd class="app-check-your-answers__answer">
      {% if data[code + '-change-title'] == 'Yes, that’s correct' or not data[code + '-change-title']  %}
        {{ data[code + '-generated-title'] }}
      {% else %}
        {{ data[code + '-title'] }}
      {% endif %}
    </dd>
    {% if showChangeLinks %}
    <dd class="app-check-your-answers__change">
      <a href="/new/{{ code }}/title?change=title">
        Change<span class="govuk-visually-hidden"> title</span>
      </a>
    </dd>
    {% endif %}
  </div>
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Description
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ courseOffered }}
    </dd>
    {% if showChangeLinks %}
    <dd class="app-check-your-answers__change"></dd>
    {% endif %}
  </div>
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">
      Course code
    </dt>
    <dd class="app-check-your-answers__answer">
      {{ code }}
    </dd>
    {% if showChangeLinks %}
    <dd class="app-check-your-answers__change"></dd>
    {% endif %}
  </div>
{% endif %}
