{% set title = 'Who is the accredited body?' %}
{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.next }}" method="post">
        {% set otherAccreditedProviderFields %}
          {{ macros.select(code + '-new-accredited-body', 'Name of accredited body', [
            {
              name: 'Goldsmiths, University of London'
            },
            {
              name: 'The University of Warwick'
            },
            {
              name: 'UCL, University College London (University of London)'
            }
          ], false, true, false, true) }}
        {% endset %}

        {% set options = data['accreditors'].slice() %}
        {% set options = (options.push(
          {
            or: true
          },
          {
            name: 'An new accredited body you’re working with',
            more: otherAccreditedProviderFields
          }
          ), options) %}

        {{ macros.radioGroup(code + '-accredited-body', options) }}

        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>


{% endblock %}
