{% set title = 'Is another organisation the accredited provider?' %}
{% extends "layout.html" %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}


  <a href="{{ paths.back }}" class="link-back">Back</a>

  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="{{ paths.next }}" method="post">
        {% set otherAccreditedProviderFields %}
          {{ macros.select(code + '-new-accredited-provider', 'Name of accredited provider', [
            {
              name: 'Goldsmiths, University of London'
            },
            {
              name: 'The University of Warwick'
            },
            {
              name: 'UCL, University College London (University of London)'
            }
          ], false, true, false, true) }}
        {% endset %}

        {% set accreditedProviderFields %}
          {{ macros.radioGroup(code + '-new-accredited-provider', [
            {
              name: 'Sheffield Hallam University'
            },
            {
              name: 'The National Modern Languages SCITT'
            },
            {
              name: 'The University of Sheffield'
            },
            {
              name: 'Other',
              more: otherAccreditedProviderFields
            }
          ]) }}
        {% endset %}

        {% set fields = [
            {
              name: 'Yes',
              more: accreditedProviderFields
            },
            {
              name: 'No, we are the accredited provider'
            }
          ]
        %}

        {{ macros.radioGroup(code + '-new-has-accredited-provider', fields, errors) }}

        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>


{% endblock %}
