{% extends "layout.html" %}
{% set title = "When will applications open?" %}
{% set backLink = paths.back %}

{% block content %}
  <form action="{{ paths.next }}" method="post">
    {% set specificDateHtml %}
      {{ govukDateInput({
        id: code + "-applications-open-date",
        namePrefix: code + "-applications-open-date",
        fieldset: {
          legend: {
            text: "What date will applications open?"
          }
        },
        hint: {
          text: "For example, 30 9 2021"
        }
      }) }}
    {% endset %}

    {{ govukRadios({
      idPrefix: code + "-applications-open",
      name: code + "-applications-open",
      fieldset: {
        legend: {
          text: title,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [{
        value: "On 21 October when applications for the 2021 - 2022 cycle open" if data["next-cycle"] else "As soon as the course is on Find (recommended)",
        text: "On 21 October when applications for the 2021 - 2022 cycle open" if data["next-cycle"] else "As soon as the course is on Find (recommended)"
      }, {
        value: "On a specific date",
        text: "On a specific date",
        conditional: {
          html: specificDateHtml
        }
      }]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
