{% set title = 'When do applications open?' %}
{% extends "layout.html" %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}


  <a href="/new/duration" class="link-back">Back</a>

  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <form action="/new/application-codes" method="post">
    {{ macros.datefields('applications-open', 'Applications open') }}

    <div class="form-group">
      <input type="submit" class="govuk-button" value="Continue" />
    </div>
  </form>


{% endblock %}
