{% extends "layout.html" %}
{% set title = "Is this a teaching apprenticeship?" %}
{% set backLink = paths.back %}

{% block content %}
  <form action="{{ paths.next }}" method="post">
    {{ govukRadios({
      idPrefix: code + "-apprenticeship",
      name: code + "-apprenticeship",
      fieldset: {
        legend: {
          text: title,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [{
        value: "Yes",
        text: "Yes",
        checked: checked((code + "-apprenticeship"), "Yes")
      }, {
        value: "No",
        text: "No",
        checked: checked((code + "-apprenticeship"), "No")
      }]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
{% endblock %}
