{% set title = 'Check your answers before confirming' %}
{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <form action="{{ paths.next }}" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl add-double-bottom-margin">
          {{ title }}
        </h1>

        <dl class="govuk-check-your-answers cya-questions-short" style="margin-top: 60px; margin-bottom: 60px">
          <div>
            <dt class="cya-question">
              Level
            </dt>
            <dd class="cya-answer">
              {{ data[code + '-new-phase'] }}
            </dd>
            <dd class="cya-change">
              <a href="/new/{{ code }}/phase">
                Change<span class="visually-hidden"> phase</span>
              </a>
            </dd>
          </div>
          <div>
            <dt class="cya-question">
              Special educational needs and disability (SEND)
            </dt>
            <dd class="cya-answer">
              {% if data[code + '-new-sen'] %}
                Yes
              {% else %}
                No
              {% endif %}
            </dd>
            <dd class="cya-change">
              <a href="/new/{{ code }}/phase">
                Change<span class="visually-hidden"> SEN</span>
              </a>
            </dd>
          </div>
          <div>
            <dt class="cya-question">
              Subject
            </dt>
            <dd class="cya-answer">
              {{ data[code + '-new-subject'] }}
            </dd>
            <dd class="cya-change">
              <a href="/new/{{ code }}/subject">
                Change<span class="visually-hidden"> subject</span>
              </a>
            </dd>
          </div>
          {% if data[code + '-new-subject'] == 'Modern languages' %}
          <div>
            <dt class="cya-question">
              Languages
            </dt>
            <dd class="cya-answer">
              {{ data[code + '-new-first-language'] }}
              {% if data[code + '-new-second-language'] %}
                <br />{{ data[code + '-new-second-language'] }}
              {% endif %}
              {% if data[code + '-new-further-languages'] %}
                <br />
                {{ data[code + '-new-further-languages'].join('<br />') | safe }}
              {% endif %}
            </dd>
            <dd class="cya-change">
              <a href="/new/{{ code }}/languages">
                Change<span class="visually-hidden"> subject</span>
              </a>
            </dd>
          </div>
          {% endif %}
          <div>
            <dt class="cya-question">
              Outcome
            </dt>
            <dd class="cya-answer">
              {{ data[code + '-new-outcome'] }}
            </dd>
            <dd class="cya-change">
              <a href="/new/{{ code }}/outcome">
                Change<span class="visually-hidden"> outcome</span>
              </a>
            </dd>
          </div>
          {% if data['new-course']['include-fee-or-salary'] %}
          <div>
            <dt class="cya-question">
              Fee or salary
            </dt>
            <dd class="cya-answer">
              {{ data[code + '-new-type'] }}
            </dd>
            <dd class="cya-change">
              <a href="/new/{{ code }}/funding">
                Change<span class="visually-hidden"> fee or salary</span>
              </a>
            </dd>
          </div>
          {% endif %}
          <div>
            <dt class="cya-question">
              Full time or part time
            </dt>
            <dd class="cya-answer">
              {{ data[code + '-new-full-part'] }}
            </dd>
            <dd class="cya-change">
              <a href="/new/{{ code }}/full-time-part-time">
                Change<span class="visually-hidden"> full time or part time</span>
              </a>
            </dd>
          </div>
          {% if data['new-course']['include-locations'] and data[code + '-new-locations'] %}
          <div>
            <dt class="cya-question">
              Training locations
            </dt>
            <dd class="cya-answer">
              {{ data[code + '-new-locations'] | join('<br>') | safe }}
            </dd>
            <dd class="cya-change">
              <a href="/new/{{ code }}/training-locations">
                Change<span class="visually-hidden"> training locations</span>
              </a>
            </dd>
          </div>
          {% endif %}
          {% if data['new-course']['include-accredited'] %}
            {% if data[code + '-new-has-accredited-provider'] == 'Yes' %}
              <div>
                <dt class="cya-question">
                  Accredited provider
                </dt>
                <dd class="cya-answer">
                  {{ data[code + '-new-accredited-provider'] }}
                </dd>
                <dd class="cya-change">
                  <a href="/new/{{ code }}/accredited-provider">
                    Change<span class="visually-hidden"> accredited provider</span>
                  </a>
                </dd>
              </div>
            {% else %}
              <div>
                <dt class="cya-question">
                  Separate accredited provider?
                </dt>
                <dd class="cya-answer">
                  {{ data[code + '-new-has-accredited-provider'] }}
                </dd>
                <dd class="cya-change">
                  <a href="/new/{{ code }}/accredited-provider">
                    Change<span class="visually-hidden"> accredited provider</span>
                  </a>
                </dd>
              </div>
            {% endif %}
          {% endif %}
          <div>
            <dt class="cya-question">
              Minimum requirements
            </dt>
            <dd class="cya-answer">
              {{ data[code + '-new-min-requirements'] or 'None' }}
            </dd>
            <dd class="cya-change">
              <a href="/new/{{ code }}/eligibility">
                Change<span class="visually-hidden"> minimum requirements</span>
              </a>
            </dd>
          </div>
          <div>
            <dt class="cya-question">
              Title
            </dt>
            <dd class="cya-answer">
              {{ data[code + '-new-title'] or data[code + '-new-generated-title'] or generatedTitle }}
            </dd>
            <dd class="cya-change">
              <a href="/new/{{ code }}/title">
                Change<span class="visually-hidden"> title</span>
              </a>
            </dd>
          </div>
          <div>
            <dt class="cya-question">
              Description
            </dt>
            <dd class="cya-answer">
              {{ courseOffered }}
            </dd>
            <dd class="cya-change">

            </dd>
          </div>
          <div>
            <dt class="cya-question">
              Course code
            </dt>
            <dd class="cya-answer">
              {{ code }}
            </dd>
            <dd class="cya-change">

            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-l">Preview</h2>

        <p>See how this course will appear when it’s published on Find postgraduate teacher training:</p>
        <div class="panel panel-border-wide">
          <h3 class="govuk-heading-m remove-top-margin">
            <span class="govuk-heading-s">{{ data['training-provider-name'] }}</span><br />
            {{ data[code + '-new-title'] or generatedTitle }} ({{ code }})
          </h3>

          <p>Course: {{ courseOffered }}</p>
        </div>
      </div>
    </div>
    <div class="form-group" style="margin-top: 30px">
      <input type="submit" class="govuk-button" value="Save new course" />
    </div>
    <p>Saving this course will not publish it.</p>
  </form>


{% endblock %}
