{% extends "layout.njk" %}
{% set title = "Check your answers before confirming" %}
{% set showChangeLinks = true %}
{% set showTitleAndDescription = true %}
{% set isNotPublished = true %}
{% set isFe = (data[code + "-phase"] == "Further education") %}

{% block content %}
  <form action="{{ paths.next }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>

      {% if isFe %}
        {% include "new/further/_answers.njk" %}
      {% else %}
        {% include "new/_answers.njk" %}
      {% endif %}

      <h2 class="govuk-heading-l">Preview</h2>
      <p>See how this course will appear when it’s published on Find postgraduate teacher training:</p>
      <div class="govuk-inset-text">
        <h3 class="govuk-heading-m">
          <span class="govuk-heading-s govuk-!-margin-bottom-0">{{ data["training-provider-name"] }}</span>
          {% if data[code + "-change-title"] == "Yes, that’s correct" or not data[code + "-change-title"] %}
            {{ data[code + "-generated-title"] }} ({{ code }})
          {% else %}
            {{ data[code + "-title"] }} ({{ code }})
          {% endif %}
        </h3>
        <p>Course: {{ courseOffered }}</p>
      </div>

      {{ govukButton({
        text: "Save new course"
      }) }}

      <p class="govuk-body">Saving this course will not publish it.</p>
    </div>
  </form>
{% endblock %}
