{% set title = 'Which phase is this course for?' %}
{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}


  <a href="/new/qualifications" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <form action="/new/duration" method="post">
    {{ macros.datefields('start-date', 'Course start date') }}

    <div class="form-group">
      <input type="submit" class="govuk-button" value="Continue" />
    </div>
  </form>


{% endblock %}
