{% set title = 'How long does the course run for?' %}
{% extends "layout.html" %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="/new/start-date" class="link-back">Back</a>

  <h1 class="heading-xlarge">
    {{ title }}
  </h1>
  <form action="/new/applications-open" method="post">
    {% set fields = [
        {
          name: '1 year'
        },
        {
          name: '2 years'
        }
      ]
    %}

    {{ macros.radioGroup('duration', fields) }}

    <div class="form-group">
      <input type="submit" class="button" value="Continue" />
    </div>
  </form>
</main>

{% endblock %}
