{% extends "layout.html" %}
{% set isNotPublished = not data[code + '-published-before'] %}

{% if isNotPublished %}
  {% set title = "Check your answers before confirming" %}
{% else %}
  {% set title = "Check your answers before publishing" %}
{% endif %}

{% block backLink %}{{ macros.backLink('/course/' + data['provider-code'] + '/' + code) }}{% endblock %}
{% set showChangeLinks = true %}
{% set showTitleAndDescription = true %}
{% set isFe = (data[code + '-phase'] == 'Further education') %}

{% block content %}
  <form action="{{ paths.next }}" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl add-double-bottom-margin">
          <span class="govuk-caption-xl">
            {% if data[code + '-change-title'] == 'Yes, that’s correct' or not data[code + '-change-title']  %}
              {{ data[code + '-generated-title'] }} ({{ code }})
            {% else %}
              {{ data[code + '-title'] }} ({{ code }})
            {% endif %}
          </span>
          {{ title }}
        </h1>

        <dl class="govuk-summary-list govuk-!-margin-top-9 govuk-!-margin-bottom-9">
          {% if isFe %}
            {% include "new/further/_answers.html" %}
          {% else %}
            {% include "new/_answers.html" %}
          {% endif %}
        </dl>

        <!-- <h2 class="govuk-heading-l">Preview</h2>

        <p>See how this course will appear when it’s published on Find postgraduate teacher training:</p>
        <div class="govuk-inset-text">
          <h3 class="govuk-heading-m">
            <span class="govuk-heading-s govuk-!-margin-bottom-0">{{ data['training-provider-name'] }}</span>
            {{ data[code + '-title'] or generatedTitle }} ({{ code }})
          </h3>
          <p>Course: {{ courseOffered }}</p>
        </div> -->
      </div>
    </div>

    <input type="submit" class="govuk-button" value="{% if isNotPublished %}Confirm changes{% else %}Publish changes{% endif %}" />

    <p>
      <a href="/course/{{ data['provider-code'] }}/{{ code }}">Cancel changes</a>
    </p>
  </form>


{% endblock %}
