{% extends "layout.html" %}
{% set title = "Full time or part time?" %}
{% set backLink = paths.back %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.next }}" method="post">

        {% set fields = [
            {
              name: 'Full time'
            },
            {
              name: 'Part time'
            },
            {
              name: 'Full time or part time'
            }
          ]
        %}

        {{ macros.radioGroup(code + '-full-part', fields, errors) }}

        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>


{% endblock %}
