{% set title = 'Full time or part time?' %}
{% extends "layout.html" %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  <a href="{{ paths.back }}" class="link-back">Back</a>

  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="{{ paths.next }}" method="post">

        {% set fields = [
            {
              name: 'Full time'
            },
            {
              name: 'Part time'
            },
            {
              name: 'Full time or part time'
            }
          ]
        %}

        {{ macros.radioGroup(code + '-new-full-part', fields, errors) }}

        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>
</main>

{% endblock %}
