{% set title = 'Is it fee paying or salaried?' %}
{% extends "layout.html" %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <a href="/new/{{ code }}/outcome" class="link-back">Back</a>

  <h1 class="heading-xlarge">
    {{ title }}
  </h1>
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/new/{{ code }}/full-time-part-time" method="post">
        {% set fields = [
            {
              name: 'Fee paying (no salary)'
            },
            {
              name: 'Salaried'
            },
            {
              name: 'Teaching apprenticeship (with salary)'
            }
          ]
        %}

        {{ macros.radioGroup(code + '-new-type', fields, 0, false) }}

        <input type="submit" class="button" value="Continue" />
      </form>
    </div>
  </div>
</main>

{% endblock %}
