{% set title = 'Is it fee paying or salaried?' %}
{% extends "layout.html" %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}


  <a href="{{ paths.back }}" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.next }}" method="post">
        {% set fields = [
            {
              name: 'Fee paying (no salary)'
            },
            {
              name: 'Salaried'
            },
            {
              name: 'Teaching apprenticeship (with salary)'
            }
          ]
        %}

        {{ macros.radioGroup(code + '-new-type', fields, 0, false) }}

        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>


{% endblock %}
