{% set title %}Pick the languages for this course{% endset %}
{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}


  <a href="{{ paths.back }}" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.next }}" method="post">
        {% set languageFields = [
          { name: 'English as a foreign language'},
          { name: 'French'},
          { name: 'German'},
          { name: 'Italian'},
          { name: 'Japanese'},
          { name: 'Mandarin'},
          { name: 'Russian'},
          { name: 'Spanish'},
          { name: 'Other modern language'}
          ]
        %}

        {{ macros.select(code + '-new-first-language', 'Language', languageFields) }}
        {{ macros.select(code + '-new-second-language', 'Second language (optional)', languageFields) }}

        {% set furtherLanguages %}
          <h3 class="govuk-heading-m">Further languages</h3>
          {{ macros.checkboxGroup(code + '-new-further-languages', languageFields, 0, false) }}
        {% endset %}

        {{ macros.checkboxGroup(code + '-new-further-languages-check', [
          {
            name: 'This course has more languages',
            more: furtherLanguages
          }
        ]) }}

        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>


{% endblock %}
