{% extends "layout.html" %}
{% set title = "Pick all the languages for this course" %}
{% set backLink = paths.back %}

{% block content %}
  <form action="{{ paths.next }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukCheckboxes({
        idPrefix: code + "-languages",
        name: code + "-languages",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [{
          value: "English as a foreign language",
          text: "English as a foreign language",
          checked: checked((code + "-languages"), "English as a foreign language")
        }, {
          value: "French",
          text: "French",
          checked: checked((code + "-languages"), "French")
        }, {
          value: "German",
          text: "German",
          checked: checked((code + "-languages"), "German")
        }, {
          value: "Italian",
          text: "Italian",
          checked: checked((code + "-languages"), "Italian")
        }, {
          value: "Japanese",
          text: "Japanese",
          checked: checked((code + "-languages"), "Japanese")
        }, {
          value: "Mandarin",
          text: "Mandarin",
          checked: checked((code + "-languages"), "Mandarin")
        }, {
          value: "Russian",
          text: "Russian",
          checked: checked((code + "-languages"), "Russian")
        }, {
          value: "Spanish",
          text: "Spanish",
          checked: checked((code + "-languages"), "Spanish")
        }, {
          value: "Urdu",
          text: "Urdu",
          checked: checked((code + "-languages"), "Urdu")
        }]
      }) }}

      {% if change %}
        {{ govukButton({
          text: "Save and publish changes"
        }) }}
        <p class="govuk-body"><a href="{{ paths.back }}">Cancel changes</a></p>
      {% else %}
        {{ govukButton({
          text: "Continue"
        }) }}
      {% endif %}
    </div>
  </form>
{% endblock %}
