{% extends "layout.html" %}
{% set title = "Pick all the languages for this course" %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.next }}" method="post">
        {% set languageFields = [
          { name: 'English as a foreign language'},
          { name: 'French'},
          { name: 'German'},
          { name: 'Italian'},
          { name: 'Japanese'},
          { name: 'Mandarin'},
          { name: 'Russian'},
          { name: 'Spanish'},
          { name: 'Urdu'}
          ]
        %}
        {{ macros.checkboxGroup(code + '-languages', languageFields, 0, false) }}
        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>


{% endblock %}
