{% set title %}Is one of these languages more important?{% endset %}
{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.next }}" method="post">
        {% set languageFields = [
            {
              name: 'French'
            },
            {
              name: 'German'
            },
            {
              name: 'Italian'
            }
          ]
        %}

        {% set more %}
          <p>Which one?</p>
          {{ macros.radioGroup(code + '-dominant-language', languageFields, 0, false) }}
        {% endset %}

        {{ macros.radioGroup(code + '-languages', [
          {
            name: 'Yes',
            more: more
          },
          {
            name: 'No, they are equal'
          }
        ], 0, false) }}
        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>


{% endblock %}
