{% extends "layout.html" %}
{% set title = "GCSE requirements for applicants" %}
{% set backLink = paths.back %}

{% block content %}
  <!-- Examples:
    1: https://find-postgraduate-teacher-training.education.gov.uk/course/17B/225K
    2: https://find-postgraduate-teacher-training.education.gov.uk/course/12U/2527
    3: https://find-postgraduate-teacher-training.education.gov.uk/course/1PJ/236Y
    9: https://find-postgraduate-teacher-training.education.gov.uk/course/B60/X341
  -->
  <form action="{{ paths.next }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>
      <p class="govuk-body">By law, all applicants need GCSE grade C/grade 4, or an equivalent, in English and maths - plus science for primary courses.</p>
      <p class="govuk-body">However, they may still apply if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>they’re currently taking the GCSE</li>
        <li>they need to take an equivalency test (this proves they have the skills to start training)</li>
      </ul>
      <p class="govuk-body">Choose an option below to show how flexible you are towards these applicants.</p>

      {% set items = [{
        value: "Must have the GCSE (least flexible)",
        text: "1. Must have the GCSE (least flexible)",
        hint: {
          text: "You won’t receive applications from anyone without the GCSE, or from anyone who needs to take an equivalency test - UCAS will block these applications."
        }
      }, {
        value: "Taking the GCSE",
        text: "2: Taking the GCSE",
        hint: {
          text: "You will consider applicants with a pending GCSE. But UCAS will block applications from anyone who needs to take an equivalency test."
        }
      }, {
        value: "Equivalency test (most flexible)",
        text: "3: Equivalency test (most flexible)",
        hint: {
          text: "You will consider applicants who need to take an equivalency test, as well as those with a pending GCSE."
        }
      }] %}

      {{ govukRadios({
        idPrefix: code + "-maths-gcse",
        name: code + "-maths-gcse",
        fieldset: {
          legend: {
            text: "Maths GCSE",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: items
      }) }}

      {{ govukRadios({
        idPrefix: code + "-english-gcse",
        name: code + "-english-gcse",
        fieldset: {
          legend: {
            text: "English GCSE",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: items
      }) }}

      {{ govukRadios({
        idPrefix: code + "-science-gcse",
        name: code + "-science-gcse",
        fieldset: {
          legend: {
            text: "Science GCSE",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: items
      }) if data[code + "-phase"] == "Primary" }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </form>
{% endblock %}
