{% set title = 'Pick a course outcome' %}
{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>What will a trainee get when they complete this course?</p>
      <form action="{{ paths.next }}" method="post">

        {% set fields = [
            {
              name: 'PGCE with QTS',
              text: 'Postgraduate certificate in education with qualified teacher status'
            },
            {
              name: 'QTS',
              text: 'Qualified teacher status'
            },
            {
              name: 'QTS with optional PGCE',
              text: 'Qualified teacher status with optional postgraduate certificate in education'
            },
            {
              name: 'PGDE with QTS',
              text: 'Postgraduate diploma in education with qualified teacher status'
            }
          ]
        %}

        {{ macros.radioGroup(code + '-new-outcome', fields, errors) }}

        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>


{% endblock %}
