{% set title = 'What type of new course?' %}
{% extends "layout.html" %}
{% block page_title %}{{ title }}{% endblock %}

{% block afterPhaseBanner %}
  <a href="{{ paths.back }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.next }}" method="post">

        <h2 class="govuk-heading-m remove-top-margin">Level</h2>
        {% set fields = [
            {
              name: 'Primary'
            },
            {
              name: 'Secondary'
            },
            {
              name: 'Further education'
            }
          ]
        %}

        {{ macros.radioGroup(code + '-new-phase', fields) }}

        <h2 class="govuk-heading-m">Special educational needs and disability (SEND)</h2>
        {% set fields = [
            {
              name: 'This is a SEND course'
            }
          ]
        %}

        {{ macros.checkboxGroup(code + '-new-sen', fields, 0, false) }}

        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>


{% endblock %}
