{% extends "layout.html" %}
{% set title = "What type of course?" %}
{% set backLink = paths.back %}

{% block content %}
  <form action="{{ paths.next }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>

      {{ govukRadios({
        idPrefix: code + "-phase",
        name: code + "-phase",
        fieldset: {
          legend: {
            text: "Level",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [{
          value: "Primary",
          text: "Primary",
          checked: checked((code + "-phase"), "Primary")
        }, {
          value: "Secondary",
          text: "Secondary",
          checked: checked((code + "-phase"), "Secondary")
        }, {
          value: "Further education",
          text: "Further education",
          checked: checked((code + "-phase"), "Further education")
        }]
      }) }}

      {{ govukCheckboxes({
        idPrefix: code + "-sen",
        name: code + "-sen",
        fieldset: {
          legend: {
            text: "Special educational needs and disability (SEND)",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [{
          value: "This course has an additional SEND specialism",
          text: "This course has an additional SEND specialism",
          checked: checked((code + "-sen"), "This course has an additional SEND specialism")
        }]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </form>
{% endblock %}
