{% extends "layout.html" %}
{% set title = "In which schools can candidates be placed?" %}
{% set backLink = paths.back %}

{% block content %}
  <form action="{{ paths.next }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if schoolLocations.length > 0 %}
        {{ govukCheckboxes({
          idPrefix: code + "-locations",
          name: code + "-locations",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            classes: "govuk-!-margin-bottom-6",
            html: "<a href=\"/locations\">Manage all your locations</a> to add to or edit this list."
          },
          items: items
        }) }}

        {% if editing %}
          {{ govukButton({
            text: "Save and publish changes"
          }) }}
          <p class="govuk-body"><a href="{{ paths.back }}">Cancel changes</a></p>
        {% else %}
          {{ govukButton({
            text: "Continue"
          }) }}
        {% endif %}
      {% else %}
        <h1 class="govuk-heading-xl">{{ title }}</h1>
        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">You have not added any placement schools</h2>
          <p class="govuk-body">Placement schools are locations where candidates may be placed during their training.</p>

          {{ govukButton({
            text: "Add a placement school",
            href: "/location/start?type=school&referrer=/edit/" + code + "/placement-locations"
          }) }}
        </div>
      {% endif %}
    </div>
  </form>
{% endblock %}
