{% extends "layout.html" %}
{% set title = "What is your school placement policy?" %}
{% set backLink = paths.back %}

{% block content %}
  <form action="{{ paths.next }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        idPrefix: code + "-placement-policy",
        name: code + "-placement-policy",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [{
          value: "hosted",
          text: "Candidates can choose a lead or host school",
          checked: checked((code + "-placement-policy"), "hosted"),
          conditional: {
            html: govukCharacterCount({
              id: code + "-placement-policy-hosted",
              name: code + "-placement-policy-hosted",
              value: value(code + "-placement-policy-hosted") or "You’ll be placed in schools for most of your course. You can pick which host school you want to be in, but your provider may not be able to guarantee this.",
              label: {
                text: "Give details",
                classes: "govuk-label--s"
              },
              maxlength: 350,
              rows: 8
            })
          }
        }, {
          value: "placed",
          text: "Placements are arranged with candidates before their training starts",
          checked: checked((code + "-placement-policy"), "placed"),
          conditional: {
            html: govukCharacterCount({
              id: code + "-placement-policy-placed",
              name: code + "-placement-policy-placed",
              value: value(code + "-placement-policy-placed") or "You’ll be placed in schools for most of your course. You can’t pick which schools you want to be in, but your provider will try to take your journey time into consideration.",
              label: {
                text: "Give details",
                classes: "govuk-label--s"
              },
              maxlength: 350,
              rows: 8
            })
          }
        }, {
          value: "other",
          text: "Other",
          checked: checked((code + "-placement-policy"), "other"),
          conditional: {
            html: govukCharacterCount({
              id: code + "-placement-policy-other",
              name: code + "-placement-policy-other",
              value: value(code + "-placement-policy-other"),
              label: {
                text: "Give details",
                classes: "govuk-label--s"
              },
              maxlength: 350,
              rows: 8
            })
          }
        }]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </form>
{% endblock %}
