{% extends "layout.html" %}
{% set title = "What is your school placement policy?" %}
{% set backLink = paths.back %}

{% block content %}
  <form action="{{ paths.next }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        idPrefix: code + "-placement-policy",
        name: code + "-placement-policy",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [{
          value: "hosted",
          text: "Candidates choose a lead or host school",
          checked: checked((code + "-placement-policy"), "hosted")
        }, {
          value: "placed",
          text: "Placements are arranged with candidates before their training starts",
          checked: checked((code + "-placement-policy"), "placed")
        }, {
          value: "other",
          text: "Other",
          checked: checked((code + "-placement-policy"), "other")
        }]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </form>
{% endblock %}
