{% extends "layout.html" %}
{% set title = "When does the course start?" %}
{% set backLink = paths.back %}

{% block content %}
  <form action="{{ paths.next }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ title }}</h1>

      {{ govukSelect({
        id: code + "-start-date",
        name: code + "-start-date",
        label: {
          text: "Course start date"
        },
        items: [{
          value: "September 2021",
          text: "September 2021",
          selected: checked((code + "-start-date"), "September 2021")
        }, {
          value: "October 2021",
          text: "October 2021",
          selected: checked((code + "-start-date"), "October 2021")
        }, {
          value: "November 2021",
          text: "November 2021",
          selected: checked((code + "-start-date"), "November 2021")
        }, {
          value: "December 2021",
          text: "December 2021",
          selected: checked((code + "-start-date"), "December 2021")
        }, {
          value: "January 2022",
          text: "January 2022",
          selected: checked((code + "-start-date"), "January 2022")
        }, {
          value: "February 2022",
          text: "February 2022",
          selected: checked((code + "-start-date"), "February 2022")
        }, {
          value: "March 2022",
          text: "March 2022",
          selected: checked((code + "-start-date"), "March 2022")
        }, {
          value: "April 2022",
          text: "April 2022",
          selected: checked((code + "-start-date"), "April 2022")
        }, {
          value: "May 2022",
          text: "May 2022",
          selected: checked((code + "-start-date"), "May 2022")
        }, {
          value: "June 2022",
          text: "June 2022",
          selected: checked((code + "-start-date"), "June 2022")
        }, {
          value: "July 2022",
          text: "July 2022",
          selected: checked((code + "-start-date"), "July 2022")
        }, {
          value: "August 2022",
          text: "August 2022",
          selected: checked((code + "-start-date"), "August 2022")
        }]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </form>
{% endblock %}
