{% extends "layout.html" %}
{% set title %}Pick a {{ data[code + "-phase"] | lower }} subject{% endset %}
{% set backLink = paths.back %}

{% set primaryItems = [{
  value: "",
  text: ""
}, {
  value: "Primary",
  text: "Primary"
}, {
  value: "Primary with English",
  text: "Primary with English"
}, {
  value: "Primary with Geography and History",
  text: "Primary with Geography and History"
}, {
  value: "Primary with Mathematics",
  text: "Primary with Mathematics"
}, {
  value: "Primary with Modern Languages",
  text: "Primary with Modern Languages"
}, {
  value: "Primary with Physical Education",
  text: "Primary with Physical Education"
}, {
  value: "Primary with Science",
  text: "Primary with Science"
}] %}

{% set secondaryItems = [{
  value: "",
  text: ""
}, {
  value: "Art and design",
  text: "Art and design"
}, {
  value: "Biology",
  text: "Biology"
}, {
  value: "Business studies",
  text: "Business studies"
}, {
  value: "Chemistry",
  text: "Chemistry"
}, {
  value: "Citizenship",
  text: "Citizenship"
}, {
  value: "Classics",
  text: "Classics"
}, {
  value: "Communication and media studies",
  text: "Communication and media studies"
}, {
  value: "Computing",
  text: "Computing"
}, {
  value: "Dance",
  text: "Dance"
}, {
  value: "Design and technology",
  text: "Design and technology"
}, {
  value: "Drama",
  text: "Drama"
}, {
  value: "Economics",
  text: "Economics"
}, {
  value: "English",
  text: "English"
}, {
  value: "English literature",
  text: "English literature"
}, {
  value: "Geography",
  text: "Geography"
}, {
  value: "Health and social care",
  text: "Health and social care"
}, {
  value: "History",
  text: "History"
}, {
  value: "Mathematics",
  text: "Mathematics"
}, {
  value: "Modern languages",
  text: "Modern languages"
}, {
  value: "Music",
  text: "Music"
}, {
  value: "Physical education",
  text: "Physical education"
}, {
  value: "Physics",
  text: "Physics"
}, {
  value: "Psychology",
  text: "Psychology"
}, {
  value: "Religious education",
  text: "Religious education"
}, {
  value: "Science",
  text: "Science"
}, {
  value: "Social sciences",
  text: "Social sciences"
}] %}

{% block content %}
  <form action="{{ paths.next }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call govukFieldset({
        legend: {
          text: title,
          classes: "govuk-fieldset__legend--xl",
          isPageHeading: true
        }
      }) %}

        {{ govukSelect({
          id: code + "-subject",
          name: code + "-subject",
          label: {
            text: data[code + "-phase"] + " subject"
          },
          items: primaryItems if data[code + "-phase"] == "Primary" else secondaryItems
        }) }}

        {% set detailsHtml %}
          <p>Your first subject is the main one. It’ll appear first in the course title. It represents the bursary or scholarship available if applicable.</p>

          {{ govukSelect({
            id: code + "-second-subject",
            name: code + "-second-subject",
            label: {
              text: "Second subject (optional)"
            },
            hint: {
              text: "For example ‘Physics’"
            },
            items: secondaryItems
          }) }}
        {% endset %}

        {{ govukDetails({
          summaryText: "Add a second subject (optional)",
          html: detailsHtml
        }) if data[code + "-phase"] == "Secondary" }}
      {% endcall %}

      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </form>
{% endblock %}
