{% set title %}Pick a {{ data[code + '-phase'] | lower }} subject{% endset %}
{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.next }}" method="post">
        {% set primaryFields = [
           { name: 'Primary'},
           { name: 'Primary with English'},
           { name: 'Primary with Geography and History'},
           { name: 'Primary with Mathematics'},
           { name: 'Primary with Modern Languages'},
           { name: 'Primary with Physical Education'},
           { name: 'Primary with Science'}
          ]
        %}

        {% set secondaryFields = [
           { name: 'Art and design'},
           { name: 'Biology'},
           { name: 'Business studies'},
           { name: 'Chemistry'},
           { name: 'Citizenship'},
           { name: 'Classics'},
           { name: 'Communication and media studies'},
           { name: 'Computing'},
           { name: 'Dance'},
           { name: 'Design and technology'},
           { name: 'Drama'},
           { name: 'Economics'},
           { name: 'English'},
           { name: 'English literature'},
           { name: 'Geography'},
           { name: 'Health and social care'},
           { name: 'History'},
           { name: 'Mathematics'},
           { name: 'Modern languages'},
           { name: 'Music'},
           { name: 'Physical education'},
           { name: 'Physics'},
           { name: 'Psychology'},
           { name: 'Religious education'},
           { name: 'Science'},
           { name: 'Social sciences'}
          ]
        %}

        {% if data[code + '-phase'] == 'Primary' %}
          {{ macros.select(code + '-subject', 'Primary subject', primaryFields) }}
        {% elseif data[code + '-phase'] == 'Secondary' %}
          {{ macros.select(code + '-subject', 'Subject', secondaryFields) }}

          {% set detailsHtml %}
            <p>Your first subject is the main one. It’ll appear first in the course title. It represents the bursary or scholarship available if applicable.</p>

            {{ macros.select(code + '-second-subject', 'Second subject (optional)', secondaryFields, 'For example ‘Physics with Mathematics’') }}
          {% endset %}

          <div style="margin-bottom: -20px">
            {{ govukDetails({
              summaryText: "Add a second subject (optional)",
              html: detailsHtml
            }) }}
          </div>
        {% endif %}

        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>


{% endblock %}
