{% set title = 'Is this course title right?' %}
{% extends "layout.html" %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}


  <a href="{{ paths.back }}" class="link-back">Back</a>

  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p>From your answers we’ve created this title for your course:</p>
      <div class="panel panel-border-wide add-double-bottom-margin">
        <p class="govuk-body-l">
          {{ generatedTitle }}
        </p>
      </div>

      <form action="{{ paths.next }}" method="post">
        {% set moreTitle %}
          {{ macros.textbox(code + '-new-title', 'New title', '', 'form-control-full', false, false, data[code + '-new-title'] or generatedTitle or data[code + '-new-generated-title']) }}

          <div class="notice add-double-bottom-margin">
            <i class="icon icon-important" style="margin-top: -17px;">
              <span class="visually-hidden">Warning</span>
            </i>
            <strong class="bold-small">
              All course title changes are subject to approval by the Becoming a Teacher team
            </strong>
          </div>

          <p>We will approve titles that include:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>a subject or pair of subjects, eg Geography, or Geography with History</li>
            <li>an age range, eg Primary (3-7), or Primary (5-11)</li>
          </ul>

          <p>We won’t approve titles that include:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>school names</li>
            <li>qualifications or outcomes, eg PGCE with QTS full time</li>
            <li>references to any educational or curricular levels except Primary, eg Key Stage 1, Early Years, Secondary - you should specify an age range instead</li>
          </ul>
        {% endset %}

        {{ macros.radioGroup(code + '-new-change-title', [
          {
            name: 'Yes, that’s correct'
          },
          {
            name: 'No, I need to change the title',
            more: moreTitle
          }
        ], errors) }}

        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>


{% endblock %}
