{% set title = 'Is this course title right?' %}
{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>From your answers we’ve created this title for your course:</p>
      <div class="govuk-inset-text add-double-bottom-margin">
        <p class="govuk-body-l">
          {{ generatedTitle }}
        </p>
      </div>

      <form action="{{ paths.next }}" method="post">
        {% set moreTitle %}
          {{ macros.textbox(code + '-new-title', 'New title', '', 'govuk-!-width-full', false, false, data[code + '-new-title'] or generatedTitle or data[code + '-new-generated-title']) }}

          {{ govukWarningText({
            text: "All course title changes are subject to approval by the Becoming a Teacher team",
            iconFallbackText: "Warning"
          }) }}

          <p>We will approve titles that include:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>a subject or pair of subjects, eg Geography, or Geography with History</li>
            <li>an age range, eg Primary (3-7), or Primary (5-11)</li>
          </ul>

          <p>We won’t approve titles that include:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>school names</li>
            <li>qualifications or outcomes, eg PGCE with QTS full time</li>
            <li>references to any educational or curricular levels except Primary, eg Key Stage 1, Early Years, Secondary - you should specify an age range instead</li>
          </ul>
        {% endset %}

        {{ macros.radioGroup(code + '-new-change-title', [
          {
            name: 'Yes, that’s correct'
          },
          {
            name: 'No, I need to change the title',
            more: moreTitle
          }
        ], errors) }}

        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>


{% endblock %}
