{% set title = 'Pick the training locations for this course' %}
{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.next }}" method="post">
        {% if data[code + '-full-part'] == 'Full time or part time' %}
          {% set vacancyFields = [
              {
                name: 'Full time places'
              },
              {
                name: 'Part time places'
              }
            ]
          %}

          {% set more %}
            <p>Does this location offer full time places, part time places or both?</p>
            {{ macros.checkboxGroup(code + '-location-full-part', vacancyFields) }}
          {% endset %}
          {% set modifiedLocations = locations|addMoreToFields(more) %}
          {{ macros.checkboxGroup(code + '-locations', modifiedLocations) }}
        {% else %}
          {{ macros.checkboxGroup(code + '-locations', locations) }}
        {% endif %}
        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>


{% endblock %}
