{% extends "layout.html" %}
{% set title = "Where will candidates do their centre-based training?" %}
{% set backLink = paths.back %}

{% set result = items.push({
  value: "placed",
  text: "At the school where the candidate is placed",
  checked: checked((code + "-training-locations"), "placed")
}, {
  value: "remote",
  text: "Remotely",
  checked: checked((code + "-training-locations"), "remote")
}) %}

{% block content %}
  <form action="{{ paths.next }}" method="post" class="govuk-grid-row">
    {% call govukFieldset({
      classes: "govuk-grid-column-two-thirds",
      legend: {
        classes: "govuk-fieldset__legend--xl",
        text: title,
        isPageHeading: true
      }
    }) %}
      {% if trainingLocations.length == 0 %}
        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">You have not added any training centres</h2>
          <p class="govuk-body">Training centres are locations where academic training takes place.</p>
          {{ govukButton({
            classes: "govuk-button--secondary",
            text: "Add a training centre",
            href: "/location/start?type=centre&referrer=/edit/" + code + "/training-locations"
          }) }}
        </div>
      {% else %}
        <p class="govuk-body"><a href="/locations">Manage your training locations</a> to update this list.</p>
      {% endif %}

      {{ govukCheckboxes({
        idPrefix: code + "-training-locations",
        name: code + "-training-locations",
        items: items
      }) }}

      {% if editing %}
        {{ govukButton({
          text: "Save and publish changes"
        }) }}
        <p class="govuk-body"><a href="{{ paths.back }}">Cancel changes</a></p>
      {% else %}
        {{ govukButton({
          text: "Continue"
        }) }}
      {% endif %}
    {% endcall %}
  </form>
{% endblock %}
