{% extends "layout.html" %}
{% set title = "Where will candidates do their centre based training?" %}
{% set backLink = paths.back %}

{% set result = items.push({
  divider: "or"
}, {
  value: "Takes place at the school where the candidate is placed",
  text: "At the school where the candidate is placed",
  checked: checked((code + "-training-location"), "At the school where the candidate is placed")
}, {
  value: "Takes place remotely",
  text: "Remotely",
  checked: checked((code + "-training-location"), "Takes place remotely")
}) %}

{% block content %}
  <form action="{{ paths.next }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        idPrefix: code + "-training-location",
        name: code + "-training-location",
        fieldset: {
          legend: {
            text: title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          classes: "govuk-!-margin-bottom-6",
          html: "<a href=\"/locations\">Manage all your locations</a> to add to or edit this list."
        },
        items: items
      }) }}

      {% if change %}
        {{ govukButton({
          text: "Save and publish changes"
        }) }}
        <p class="govuk-body"><a href="{{ paths.back }}">Cancel changes</a></p>
      {% else %}
        {{ govukButton({
          text: "Continue"
        }) }}
      {% endif %}
    </div>
  </form>
{% endblock %}
