{% extends "layout.html" %}
{% set title = "Where will candidates do their centre-based training?" %}
{% set backLink = paths.back %}

{% set result = items.push({
  value: "placed",
  text: "At the school where the candidate is placed",
  checked: checked((code + "-training-locations"), "placed")
}, {
  value: "remote",
  text: "Remotely",
  checked: checked((code + "-training-locations"), "remote")
}) %}

{% block content %}
  {% if trainingLocations.length > 0 %}
    <form action="{{ paths.next }}" method="post" class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukCheckboxes({
          idPrefix: code + "-training-locations",
          name: code + "-training-locations",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            classes: "govuk-!-margin-bottom-6",
            html: "<a href=\"/locations\">Manage your training locations</a> to update this list."
          },
          items: items
        }) }}

        {% if editing %}
          {{ govukButton({
            text: "Save and publish changes"
          }) }}
          <p class="govuk-body"><a href="{{ paths.back }}">Cancel changes</a></p>
        {% else %}
          {{ govukButton({
            text: "Continue"
          }) }}
        {% endif %}
      </div>
    </form>
  {% else %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">{{ title }}</h1>
        <div class="govuk-inset-text">
          <h2 class="govuk-heading-m">You have not added any training centres</h2>
          <p class="govuk-body">Training centres are locations where academic training takes place.</p>

          {{ govukButton({
            text: "Add a training centre",
            href: "/location/start?type=centre&referrer=/edit/" + code + "/training-locations"
          }) }}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
