{% set title = 'Minimum GCSE requirements' %}
{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <!-- examples:
      1: https://find-postgraduate-teacher-training.education.gov.uk/course/17B/225K
      2: https://find-postgraduate-teacher-training.education.gov.uk/course/12U/2527
      3: https://find-postgraduate-teacher-training.education.gov.uk/course/1PJ/236Y
      9: https://find-postgraduate-teacher-training.education.gov.uk/course/B60/X341
  -->
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.next }}" method="post">
        <p>By law, all applicants of a {% if data[code + '-phase'] == 'Primary' %}primary{% else %}secondary{% endif %} course need a GCSE grade C (or level 4), or an equivalent,&nbsp;in:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>English</li>
          <li>Mathematics</li>
          {% if data[code + '-phase'] == 'Primary' %}
            <li>Science</li>
          {% endif %}
        </ul>

        <hr class="govuk-section-break govuk-section-break--m">
        <h2 class="govuk-heading-m">Will you receive applications from candidates who haven’t gained these qualifications yet?</h2>
        <p>These are candidates who expect to have the qualifications before the beginning of the course. If their application is successful, they’ll usually get a conditional offer.</p>

        {% set notYetFields = [
          {
            name: 'Yes (recommended)'
          },
          {
            name: 'No – UCAS will block applications from these candidates'
          }
        ] %}

        {{ macros.radioGroup(code + '-no-qualifications-yet', notYetFields)}}

        <hr class="govuk-section-break govuk-section-break--m">
        <h2 class="govuk-heading-m">Do you offer equivalency tests (for candidates who don’t have the qualifications)?</h2>
        <p>These are for candidates who don’t have the minimum GCSEs (or NARIC-recognised equivalents). They are designed to show that the candidate has the required knowledge to start the course. They may be conducted by you or your accredited body.</p>

        {% set primarySubjects = [
          {
            name: 'English',
            selected: true
          },
          {
            name: 'Mathematics',
            selected: true
          },
          {
            name: 'Science',
            selected: true
          }
        ] %}

        {% set secondarySubjects = [
          {
            name: 'English',
            selected: true
          },
          {
            name: 'Mathematics',
            selected: true
          }
        ] %}

        {% set moreEquivalency %}
          <h3 class="govuk-heading-s">Which subjects do you offer tests in?</h3>
          {{ macros.checkboxGroup(code + '-equivalency-subjects', primarySubjects if (data[code + '-phase'] == 'Primary') else secondarySubjects)}}
        {% endset %}

        {% set notYetFields = [
          {
            name: 'Yes – you’ll receive applications from candidates seeking equivalency tests',
            more: moreEquivalency
          },
          {
            name: 'No – UCAS will block applications from candidates seeking equivalency tests'
          }
        ] %}

        {{ macros.radioGroup(code + '-equivalency-test', notYetFields)}}

        <hr class="govuk-section-break govuk-section-break--l">
        <div class="govuk-form-group">
          <input type="submit" class="govuk-button" value="Continue" />
        </div>
      </form>
    </div>
  </div>


{% endblock %}
