{% extends "_layout.njk" %}

{% set primaryNavId = "trainingPartners" %}

{% set title = "Training partners" %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {% if partners.length %}
        <ul class="govuk-list govuk-list--spaced">
        {% for partner in partners %}
          <li>
            <a class="govuk-link" href="/organisations/{{ organisation.id }}/cycles/{{ cycleId }}/training-partners/{{ partner.id }}/courses">
              {{ partner.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
      {% else %}
        <p class="govuk-body">There are no training partners for {{ provider.name if provider.name else "your organisation" }}.</p>
      {% endif %}

    </div>
  </div>
{% endblock %}
