{% set title = 'Pick a course outcome' %}
{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <p>What will a trainee get when they complete this course?</p> -->
      <form action="{{ paths.next }}" method="post">

        {% set fields = [
            {
              name: 'PGCE only (without QTS)',
              text: 'Postgraduate certificate in education'
            },
            {
              name: 'PGDE only (without QTS)',
              text: 'Postgraduate diploma in education'
            }
          ]
        %}

        {{ macros.radioGroup(code + '-outcome', fields, errors) }}

        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>


{% endblock %}
