{% extends "layout.html" %}
{% set title = 'Check your UCAS data' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="heading-xlarge">{{ title }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>When onboarding users to the publish courses tool, to begin with they’ll only have access to the data we've imported from UCAS.</p>
      <p>Users need to check their courses are there and showing correctly to validate our import. If there are problems we need users to report them to us.</p>
      <p>Providers need access for multiple users, we’re creating a secure mechanism to request access for these users.</p>
      <p>See branch `<a href="https://github.com/fofr/manage-courses-prototype/tree/check-ucas">check-ucas</a>` on Github.</p>
    </div>
  </div>

  {{ macros.screenshot('First screen', 'we-imported', '/public/images/history/check-ucas-data/thumbnails/01-we-imported.png', '/public/images/history/check-ucas-data/01-we-imported.png', '
    <p>The screen a user will see the first time they log in to the service.</p>
  ') }}

  {{ macros.screenshot('Courses', 'courses', '/public/images/history/check-ucas-data/thumbnails/02-courses.png', '/public/images/history/check-ucas-data/02-courses.png', '
    <p>A list of all the provider’s courses, separated by accrediting provider where appropriate.</p>
  ') }}

  {{ macros.screenshot('Courses by accrediting provider', 'courses-by-accrediting-provider', '/public/images/history/check-ucas-data/thumbnails/01-courses-by-accrediting-provider.png', '/public/images/history/check-ucas-data/01-courses-by-accrediting-provider.png', '') }}

  {{ macros.screenshot('Request access for someone', 'request-access', '/public/images/history/check-ucas-data/thumbnails/03-request-access.png', '/public/images/history/check-ucas-data/03-request-access.png', '
    <p>This form may instead be a Google Form to begin with.</p>
  ') }}

  {{ macros.screenshot('View course', 'view-course', '/public/images/history/check-ucas-data/thumbnails/04-view-course.png', '/public/images/history/check-ucas-data/04-view-course.png', '') }}

</main>
{% endblock %}
