{% extends "layouts/main.njk" %}

{% set primaryNavId = "accreditedProviders" %}

{% if providerlCount == 0 %}
  {% set title = "No results found for ‘" + searchTerm + "’" %}
{% elif providerCount == 1 %}
  {% set title = "1 result found for ‘" + searchTerm + "’" %}
{% else %}
  {% set title = (providerCount | numeral("0,0")) + " results found for ‘" + searchTerm + "’" %}
{% endif %}

{% set caption = "Add accredited provider" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {% if providerCount == 0 %}
        <p class="govuk-body">
          <a class="govuk-link" href="{{ actions.back }}">Change your search</a>.
        </p>
      {% elif providerCount > 15 %}
        <p class="govuk-body">
          Showing the first 15 results. <a class="govuk-link" href="{{ actions.back }}">Try narrowing down your search</a> if the accredited provider you’re looking for is not listed.
        </p>
      {% else %}
        <p class="govuk-body">
          <a class="govuk-link" href="{{ actions.back }}">Change your search</a> if the accredited provider you’re looking for is not listed.
        </p>
      {% endif %}

      {% if providerCount %}

        <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

          {{ govukRadios({
            idPrefix: "accredited-provider",
            name: "accreditedProvider[id]",
            fieldset: {
              legend: {
                text: "Accredited provider",
                isPageHeading: false,
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: errors | getErrorMessage("accredited-provider"),
            items: providerItems
          }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

        </form>

        <p class="govuk-body">
          <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
        </p>

      {% endif %}

    </div>
  </div>

{% endblock %}
