
{% extends "layout.html" %}
{% set title = 'Iteration 28 June 2018' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="govuk-heading-xl">{{ title }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>As with the <a href="/history/iteration-june-26">previous iteration</a>, we ran an unmoderated research session with this design where we asked providers to complete a course listing, the user recorded their input to a <a href="https://lookback.io/watch/ACpaee3SkiuGxS5CD">session on Lookback</a>.</p>

      <p>In this iteration we:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>added character counts</li>
        <li>made interview process optional</li>
        <li>hid incomplete optional fields from preview</li>
        <li>added fields for international course fees</li>
      </ul>

      <p>Based on the first submission, which was mostly copy and pasted text, we quickly added word counts to each field. We expect character counts to limit input and to trigger users into editing their text down.</p>

      <p><a href="https://docs.google.com/document/d/19zLJb1fplLHmrxZ2VlPsWCfdhqfK0DuoyKjCog8eeAE/edit?usp=sharing">Feedback from the first session</a> indicated that details of an involved interview process may discourage users from applying.</p>

      <p>We clarified which fields were optional and refined the preview to hide incomplete optional fields.</p>
    </div>
  </div>

  {% set contents = [
  { text: 'PGCE with QTS course option', id: 'PGCE with QTS course option' },
  { text: 'QTS with salary course option', id: 'QTS with salary course option' },
  { text: 'About your organisation', id: 'About your organisation' },
  { text: 'Requirements and eligibility', id: 'Requirements and eligibility' },
  { text: 'Preview', id: 'preview' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('PGCE with QTS course option', 'PGCE with QTS course option', '/public/images/history/iteration-june-28/thumbnails/04-PGCE with QTS course option.png', '/public/images/history/iteration-june-28/04-PGCE with QTS course option.png', '') }}

  {{ macros.screenshot('QTS with salary course option', 'QTS with salary course option', '/public/images/history/iteration-june-28/thumbnails/05-QTS with salary course option.png', '/public/images/history/iteration-june-28/05-QTS with salary course option.png', '') }}

  {{ macros.screenshot('About your organisation', 'About your organisation', '/public/images/history/iteration-june-28/thumbnails/06-About your organisation.png', '/public/images/history/iteration-june-28/06-About your organisation.png', '') }}

  {{ macros.screenshot('Requirements and eligibility', 'Requirements and eligibility', '/public/images/history/iteration-june-28/thumbnails/07-Requirements and eligibility.png', '/public/images/history/iteration-june-28/07-Requirements and eligibility.png', '') }}

  {{ macros.screenshot('Preview', 'preview', '/public/images/history/iteration-june-28/thumbnails/08-preview.png', '/public/images/history/iteration-june-28/08-preview.png', '') }}


{% endblock %}
