
{% extends "layout.html" %}
{% set title = 'Contact details' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="heading-xlarge">{{ title }}</h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p>In user research we asked training providers about importing their contact details from UCAS and displaying them to applicants. We assumed that these were the details shown to users</p>
    </div>
  </div>

  {% set contents = [
    { text: 'About your organisation', id: 'about-your-organisation' },
    { text: 'Contact details', id: 'contact-details' },
    { text: 'Preview with missing contact details', id: 'preview-with-missing-contact-details' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('About your organisation', 'about-your-organisation', '/public/images/history/contact-details/thumbnails/01-about-your-organisation.png', '/public/images/history/contact-details/01-about-your-organisation.png', '') }}

  {{ macros.screenshot('Contact details', 'contact-details', '/public/images/history/contact-details/thumbnails/02-contact-details.png', '/public/images/history/contact-details/02-contact-details.png', '') }}

  {{ macros.screenshot('Preview with missing contact details', 'preview-with-missing-contact-details', '/public/images/history/contact-details/thumbnails/03-preview-with-missing-contact-details.png', '/public/images/history/contact-details/03-preview-with-missing-contact-details.png', '') }}

</main>
{% endblock %}
