{% extends "layout.html" %}
{% set type = school.type or type %}
{% set title = school.name or "Add a " + ("placement school" if type == "school" else "training centre") %}
{% set backLink = referrer or "/locations#" + type %}

{% block content %}
  <form action="/location/{{ id }}?referrer={{ referrer }}#{{ type }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Locations</span>
        {{ title }}
      </h1>

      {{ govukInput({
        id: id + "-name",
        name: id + "-name",
        value: school.name,
        label: {
          classes: "govuk-label--m",
          text: "Location name"
        }
      }) }}

      {{ govukInput({
        id: id + "-urn",
        name: id + "-urn",
        value: school.urn,
        label: {
          classes: "govuk-label--m",
          text: "Unique reference number (URN)"
        },
        hint: {
          html: "<a class=\"govuk-link\" href=\"https://www.get-information-schools.service.gov.uk/\" target=\"_blank\">Find URNs (opens in new tab)</a>."
        },
        classes: "govuk-input--width-5"
      }) }}

      {{ govukInput({
        id: id + "-location-type",
        name: id + "-location-type",
        value: type,
        type: "hidden"
      }) }}

      <h2 class="govuk-heading-m">Address</h2>
      {{ govukInput({
        label: {
          html: "Building and street <span class=\"govuk-visually-hidden\">line 1 of 2</span>"
        },
        autocomplete: "address-line1",
        id: id + "-address-line1",
        name: id + "-address-line1",
        value: school["address-line1"]
      }) }}

      {{ govukInput({
        label: {
          html: "<span class=\"govuk-visually-hidden\">Building and street line 2 of 2</span>"
        },
        autocomplete: "address-line2",
        id: id + "-address-line2",
        name: id + "-address-line2",
        value: school["address-line2"]
      }) }}

      {{ govukInput({
        label: {
          text: "Town or city"
        },
        classes: "govuk-!-width-two-thirds",
        autocomplete: "address-level2",
        id: id + "-address-level2",
        name: id + "-address-level2",
        value: school["address-level2"]
      }) }}

      {{ govukInput({
        label: {
          text: "County"
        },
        classes: "govuk-!-width-two-thirds",
        autocomplete: "address-level1",
        id: id + "-address-level1",
        name: id + "-address-level1",
        value: school["address-level1"]
      }) }}

      {{ govukInput({
        label: {
          text: "Postal code"
        },
        classes: "govuk-input--width-10",
        autocomplete: "postal-code",
        id: id + "-postal-code",
        name: id + "-postal-code",
        value: school["postal-code"]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save location"
        }) }}

        {{ govukButton({
          classes: "govuk-button--secondary",
          text: "Save location and add another",
          href: "#"
        }) }}

        <a class="govuk-link" href="/locations">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
