{% extends "layout.html" %}
{% set title = school.name or "Add a " + ("placement school" if type == "school" else "training centre") %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: referrer
  }) if referrer else govukBreadcrumbs({
    items: breadcrumbItems([{
      href: "/locations",
      text: "Locations"
    }, {
      text: title
    }])
  )) }}
{% endblock %}

{% block content %}
  <form action="/location/{{ id }}?referrer={{ referrer }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      {{ govukInput({
        id: id + "-name",
        name: id + "-name",
        value: school.name,
        label: {
          classes: "govuk-label--m",
          text: "Name"
        }
      }) }}

      {{ govukInput({
        id: id + "-urn",
        name: id + "-urn",
        value: school.urn,
        label: {
          classes: "govuk-label--m",
          text: "Unique Reference Number (URN)"
        },
        hint: {
          html: "You can find URNs on <a href=\"https://www.get-information-schools.service.gov.uk/\" target=\"_blank\">Get information about schools (opens in new tab)</a>."
        },
        classes: "govuk-input--width-5"
      }) }}

      {{ govukInput({
        id: id + "-location-type",
        name: id + "-location-type",
        value: value(id + "-location-type") or type,
        type: "hidden"
      }) }}

      {# govukCheckboxes({
        idPrefix: id + "-location-type",
        name: id + "-location-type",
        fieldset: {
          legend: {
            text: "Type of location",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [{
          value: "school",
          text: "Placement school",
          hint: {
            text: "Used for classroom based training with children"
          },
          checked: checked(id + "-location-type", "school")
        }, {
          value: "centre",
          text: "centre-based training location",
          hint: {
            text: "University or college campus or other location used for centre-based training"
          },
          checked: checked(id + "-location-type", "centre")
        }]
      }) #}

      <h2 class="govuk-heading-m">Address</h2>
      {{ govukInput({
        label: {
          html: "Building and street <span class=\"govuk-visually-hidden\">line 1 of 2</span>"
        },
        autocomplete: "address-line1",
        id: id + "-address-line1",
        name: id + "-address-line1",
        value: school["address-line1"]
      }) }}

      {{ govukInput({
        label: {
          html: "<span class=\"govuk-visually-hidden\">Building and street line 2 of 2</span>"
        },
        autocomplete: "address-line2",
        id: id + "-address-line2",
        name: id + "-address-line2",
        value: school["address-line2"]
      }) }}

      {{ govukInput({
        label: {
          text: "Town or city"
        },
        classes: "govuk-!-width-two-thirds",
        autocomplete: "address-level2",
        id: id + "-address-level2",
        name: id + "-address-level2",
        value: school["address-level2"]
      }) }}

      {{ govukInput({
        label: {
          text: "County"
        },
        classes: "govuk-!-width-two-thirds",
        autocomplete: "address-level1",
        id: id + "-address-level1",
        name: id + "-address-level1",
        value: school["address-level1"]
      }) }}

      {{ govukInput({
        label: {
          text: "Postal code"
        },
        classes: "govuk-input--width-10",
        autocomplete: "postal-code",
        id: id + "-postal-code",
        name: id + "-postal-code",
        value: school["postal-code"]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save location"
        }) }}

        <a class="govuk-link" href="/locations">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
