{% extends "layout.html" %}
{% set title = 'Sign-in: Invite a user' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="heading-xlarge">{{ title }}</h1>

{{ macros.screenshot('Admin adds new user', 'admin-adds-new-user', '/public/images/history/sign-in-pre-register-user/thumbnails/01-admin-adds-new-user.png', '/public/images/history/sign-in-pre-register-user/01-admin-adds-new-user.png', '') }}

{{ macros.screenshot('Admin sets organisation', 'admin-sets-organisation', '/public/images/history/sign-in-pre-register-user/thumbnails/02-admin-sets-organisation.png', '/public/images/history/sign-in-pre-register-user/02-admin-sets-organisation.png', '') }}

{{ macros.screenshot('Admin chooses organisation', 'admin-chooses-organisation', '/public/images/history/sign-in-pre-register-user/thumbnails/03-admin-chooses-organisation.png', '/public/images/history/sign-in-pre-register-user/03-admin-chooses-organisation.png', '') }}

{{ macros.screenshot('Admin sets permission for user', 'admin-sets-permission-for-user', '/public/images/history/sign-in-pre-register-user/thumbnails/05-admin-sets-permission-for-user.png', '/public/images/history/sign-in-pre-register-user/05-admin-sets-permission-for-user.png', '') }}

{{ macros.screenshot('User receives invite email', 'user-receives-invite-email', '/public/images/history/sign-in-pre-register-user/thumbnails/06-user-receives-invite-email.png', '/public/images/history/sign-in-pre-register-user/06-user-receives-invite-email.png', '') }}

{{ macros.screenshot('User goes to link and verifies', 'user-goes-to-link-and-verifies', '/public/images/history/sign-in-pre-register-user/thumbnails/07-user-goes-to-link-and-verifies.png', '/public/images/history/sign-in-pre-register-user/07-user-goes-to-link-and-verifies.png', '') }}

{{ macros.screenshot('User chooses password', 'user-chooses-password', '/public/images/history/sign-in-pre-register-user/thumbnails/08-user-chooses-password.png', '/public/images/history/sign-in-pre-register-user/08-user-chooses-password.png', '') }}

{{ macros.screenshot('User success and return', 'user-success-and-return', '/public/images/history/sign-in-pre-register-user/thumbnails/09-user-success-and-return.png', '/public/images/history/sign-in-pre-register-user/09-user-success-and-return.png', '') }}

{{ macros.screenshot('User receives success email', 'user-receives-success-email', '/public/images/history/sign-in-pre-register-user/thumbnails/10-user-receives-success-email.png', '/public/images/history/sign-in-pre-register-user/10-user-receives-success-email.png', '') }}

</main>
{% endblock %}
