
{% extends "layout.html" %}
{% set title = 'User research - 22 August' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main design-history">
  <div class="breadcrumbs dont-print">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="heading-xlarge">{{ title }}</h1>

  {% set contents = [
    { text: 'Organisation', id: 'organisation' },
    { text: 'Course', id: 'course' },
    { text: 'Preview', id: 'preview' },
    { text: 'About your organisation', id: 'about-your-organisation' },
    { text: 'Course length and fees', id: 'course-length-and-fees' },
    { text: 'Workflow states', id: 'workflow-states' }
  ] %}
  {{ macros.screenshotContents(contents) }}

  {{ macros.screenshot('Organisation', 'organisation', '/public/images/history/user-research-aug-22/thumbnails/01-organisation.png', '/public/images/history/user-research-aug-22/01-organisation.png', '') }}

  {{ macros.screenshot('Course', 'course', '/public/images/history/user-research-aug-22/thumbnails/02-course.png', '/public/images/history/user-research-aug-22/02-course.png', '') }}

  {{ macros.screenshot('Preview', 'preview', '/public/images/history/user-research-aug-22/thumbnails/03-preview.png', '/public/images/history/user-research-aug-22/03-preview.png', '') }}

  {{ macros.screenshot('About your organisation', 'about-your-organisation', '/public/images/history/user-research-aug-22/thumbnails/04-about-your-organisation.png', '/public/images/history/user-research-aug-22/04-about-your-organisation.png', '') }}

  {{ macros.screenshot('Course length and fees', 'course-length-and-fees', '/public/images/history/user-research-aug-22/thumbnails/05-course-length-and-fees.png', '/public/images/history/user-research-aug-22/05-course-length-and-fees.png', '') }}

  {{ macros.screenshot('Workflow states', 'workflow-states', '/public/images/history/user-research-aug-22/thumbnails/01-workflow-states.png', '/public/images/history/user-research-aug-22/01-workflow-states.png', '') }}

</main>
{% endblock %}
