{% if course.status in [1,4] %}
  <div class="govuk-button-group">

    {% if course.status == 1 %}
      {{ govukButton({
        text: "Close course",
        href: actions.close,
        classes: "govuk-!-margin-right-2"
      }) }}
    {% elif course.status == 4 %}
      {{ govukButton({
        text: "Open course",
        href: actions.open,
        classes: "govuk-!-margin-right-2"
      }) }}
    {% endif %}

    <a class="govuk-link govuk-!-margin-right-2" href="#">View on Find</a>
    <a class="govuk-link app-link--destructive" href="{{ actions.withdraw }}">Withdraw course</a>
  </div>
{% elif course.status in [0,2] %}
  <div class="govuk-button-group">
    {{ govukButton({
      text: "Publish course",
      href: "#",
      classes: "govuk-!-margin-right-2"
    }) }}

    {% if isRollover and isCurrentCycle and not rolledOverCourse %}
      {{ govukButton({
        text: "Roll over course",
        href: actions.rollover,
        classes: "govuk-button--secondary govuk-!-margin-right-2"
      }) }}
    {% endif %}

    <a class="govuk-link govuk-!-margin-right-2" href="{{ actions.preview }}">Preview course</a>
    <a class="govuk-link app-link--destructive" href="{{ actions.delete }}">Delete course</a>
  </div>
{% endif %}
