{% if course.status in [1,4] %}
  <p class="govuk-hint govuk-!-font-size-16">Last updated on {{ course.updatedAt | govukShortDateAtTime }}</p>
{% elif course.status == 3 %}
  <p class="govuk-hint govuk-!-font-size-16">Withdrawn on {{ course.updatedAt | govukShortDateAtTime }}</p>
{% endif %}
