<h1 class="govuk-heading-l {{- ' govuk-!-margin-bottom-2' if course.status == 1 }}">
  {% if caption.length %}
    <span class="govuk-caption-l">
      {{ caption }}
    </span>
  {% endif %}
  {{ title }}
  {{ govukTag({
    text: course.status | getCourseStatusLabel,
    classes: course.status | getCourseStatusClasses
  }) }}
</h1>
