<h1 class="govuk-heading-l {{- ' govuk-!-margin-bottom-2' if course.status in [1,3,4] }}">
  {% if caption.length %}
    <span class="govuk-caption-l">
      {{ caption }}
    </span>
  {% endif %}
  {{ title }}
  {{ govukTag({
    text: course.status | getCourseStatusLabel,
    classes: course.status | getCourseStatusClasses
  }) }}
  {# <span class="govuk-!-font-size-16 govuk-!-font-weight-regular">* Unpublished changes</span> #}
</h1>
