{% set rolledOverCourseHtml %}
  <p class="govuk-body">
    <a href="/organisations/{{ organisation.id }}/cycles/{{ rolledOverCourse.cycle }}/courses/{{ rolledOverCourse.id }}">View the rolled over course</a>
  </p>
{% endset %}

{{ govukInsetText({
  html: rolledOverCourseHtml,
  classes: "govuk-!-margin-top-0"
}) }}
