{{ appSubNavigation({
  label: "Sub navigation",
  items: [{
    text: "Details",
    href: actions.details,
    active: true if subNavId == "details"
  }, {
    text: "Description",
    href: actions.description,
    active: true if subNavId == "description"
  }]
}) }}
