{{ appSubNavigation({
  label: "Sub navigation",
  items: [{
    text: "Basic details",
    href: actions.details,
    active: true if subNavId == "details"
  }, {
    text: "Description",
    href: actions.description,
    active: true if subNavId == "description"
  }, {
    text: "Vacancies",
    href: actions.vacancies,
    active: true if subNavId == "vacancies"
  } if 1 == 0]
}) }}
