{% extends "_layout.njk" %}

{% set primaryNavId = "courses" %}

{% set title = "Course information" %}
{% set caption = course.name + " (" + course.code + ")" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <p class="govuk-body">Use the sections below to help candidates decide if this is the right course for them.</p>

      <h2 class="govuk-heading-m">Course summary</h2>

      <p class="govuk-body">Candidates often browse several courses at once, so it’s important that they can quickly find out why this course is different from another</p>
      <p class="govuk-body">Use this section to introduce the course. Tell candidates:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what makes this course distinctive</li>
        <li>where they’ll spend their time</li>
        <li>how the course is structured</li>
        <li>how they’ll be supported - for example, tutors and mentoring</li>
      </ul>

      <p class="govuk-body">Remember to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>avoid too much detail - you can use the other sections to elaborate</li>
        <li>use bullet points and paragraphs of no more than five sentences to make your content easy to 'scan'</li>
        <li>spell out acronyms the first time you use them, for example, ITT, NQT, SCITT</li>
      </ul>

      <p class="govuk-body">For more guidance and course summary examples, <a href="https://docs.google.com/document/d/1sTUfy-zA55qcGAxw2B7YtgZro0F7_OiJqyflw71osRA/edit#">visit writing descriptions for Publish teacher training courses</a>.</p>

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukCharacterCount({
          id: "about-course",
          name: "course[aboutCourse]",
          rows: 20,
          maxwords: 200,
          label: {
            text: "Course summary",
            classes: ['govuk-label--s']
          },
          errorMessage: errors | getErrorMessage("about-course"),
          value: course.aboutCourse
        }) }}

        {{ govukButton({
          text: "Update about this course"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
