{% extends "layouts/main.njk" %}

{% set primaryNavId = "courses" %}

{% set title = "Course summary" %}
{% set caption = course.name + " (" + course.code + ")" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <p class="govuk-body">The course summary appears at the top of the page on Find, so it's important that candidates can quickly learn why this course is different from another.</p>

      <p class="govuk-body">Tell candidates:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>where they’ll spend their time</li>
        <li>how the course is structured</li>
        <li>how they’ll be supported - for example, tutors and mentoring</li>
      </ul>

      <p class="govuk-body">Remember to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>avoid too much detail - you can use the other sections to elaborate</li>
        <li>use bullet points and paragraphs to make your content easy to read</li>
        <li>spell out acronyms the first time you use them, for example, ITT, NQT, SCITT</li>
      </ul>

      <p class="govuk-body"><a class="govuk-link" href="/how-to-use-this-service/course-summary-examples">View more guidance and course summary examples</a></p>

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukCharacterCount({
          id: "about-course",
          name: "course[aboutCourse]",
          rows: 20,
          maxwords: wordCount,
          label: {
            text: title,
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("about-course"),
          value: course.aboutCourse
        }) }}

        {{ govukButton({
          text: "Update course summary"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
