{% extends "_layout.njk" %}

{% set caption = "Add course" %}
{% set title = ("Error: " if errors) + "Who is the accredited body?" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">
            {{ caption }}
          </span>
          {{ title }}
        </h1>
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        <div class="govuk-form-group {{ 'govuk-form-group--error' if errors }}">

          {% call govukFieldset({
            legend: {
              html: headingHtml
            }
          }) %}

          {% if errors %}
            <span id=" accredited-body-error" class="govuk-error-message">
              <div><span class="govuk-visually-hidden">Error:</span> Enter an accredited body</div>
            </span>
          {% endif %}

          <div class="govuk-radios" data-module="govuk-radios">
            {% for option in accreditedBodyOptions %}
              {% if option.divider %}
                <div class="govuk-radios__divider">{{ option.divider }}</div>
              {% else %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="{{ option.id }}" name="course[accreditedBody]" type="radio" value="{{ option.value }}" {{ option.checked }} {% if option.conditional %}data-aria-controls="conditional-{{ option.id }}"{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="{{ option.id }}">
                    {{- option.text -}}
                  </label>
                </div>
                {% if option.conditional %}
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-{{ option.id }}">

                    {{ appAutocompleteFromSelect({
                      id: "accredited-body-other",
                      name: "course[accreditedBodyOther]",
                      label: {
                        text: "Accredited body",
                        classes: "govuk-label--s"
                      },
                      hint: {
                        text: "Search for a provider name or code"
                      },
                      classes: "govuk-!-width-two-thirds",
                      items: accreditedBodies,
                      value: data.course.accreditedBodyOther[1],
                      autocompleteOptions: {
                        autoselect: true,
                        showAllValues: false,
                        allowEmpty: true
                      }
                    }) }}

                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>

          {% endcall %}

        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
