{% extends "layouts/main.njk" %}

{% set primaryNavId = "courses" %}

{% set title = "Age range" %}

{% if course.id %}
  {% set caption = course.name + " (" + course.code + ")" %}
{% else %}
  {% set caption = "Add course" %}
{% endif %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        {% include "_includes/page-heading-legend.njk" %}
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        <div class="govuk-form-group {{ 'govuk-form-group--error' if errors | getErrorMessage('age-range') }}">

          {% call govukFieldset({
            legend: {
              html: headingHtml,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          }) %}

          {% if errors | getErrorMessage("age-range") %}
            <span id="age-range-error" class="govuk-error-message">
              <div><span class="govuk-visually-hidden">Error:</span> Select an age range</div>
            </span>
          {% endif %}

          <div class="govuk-radios" data-module="govuk-radios">
            {% for option in ageRangeOptions %}
              {% if option.divider %}
                <div class="govuk-radios__divider">{{ option.divider }}</div>
              {% else %}
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="{{ option.id }}" name="course[ageRange]" type="radio" value="{{ option.value }}" {{ option.checked }} {% if option.conditional %}data-aria-controls="conditional-{{ option.id }}"{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="{{ option.id }}">
                    {{- option.text -}}
                  </label>
                </div>
                {% if option.conditional %}
                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-{{ option.id }}">
                    <p class="govuk-hint">
                      Enter an age range in years, for example {{ "5 to 11" if course.subjectLevel == "primary" else "11 to 18" }}. The course must cover 4 or more school years.
                    </p>

                    {{ govukInput({
                      id: option.id + "-from",
                      name: "course[ageRangeOther][from]",
                      label: {
                        text: "Start age",
                        classes: "govuk-label--s"
                      },
                      errorMessage: errors | getErrorMessage("age-range-other-from"),
                      value: course.ageRangeOther.from,
                      classes: "govuk-input--width-2" + (" govuk-input--error" if errors | getErrorMessage("age-range-other-from"))
                    }) }}

                    {{ govukInput({
                      id: option.id + "-to",
                      name: "course[ageRangeOther][to]",
                      label: {
                        text: "End age",
                        classes: "govuk-label--s"
                      },
                      errorMessage: errors | getErrorMessage("age-range-other-to"),
                      value: course.ageRangeOther.to,
                      classes: "govuk-input--width-2" + (" govuk-input--error" if errors | getErrorMessage("age-range-other-to"))
                    }) }}
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>

          {% endcall %}

        </div>

        {% if course.id %}
          {{ govukButton({
            text: "Update " + (title | lower)
          }) }}
        {% else %}
          {{ govukButton({
            text: "Continue"
          }) }}
        {% endif %}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
