{% extends "layouts/main.njk" %}

{% set primaryNavId = "courses" %}

{% set title = "Applications open date" %}

{% if course.id %}
  {% set caption = course.name + " (" + course.code + ")" %}
{% else %}
  {% set caption = "Add course" %}
{% endif %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        {% include "_includes/page-heading-legend.njk" %}

        <p class="govuk-body govuk-!-margin-top-5">We recommend that you open the course for applications as soon as the course is on Find to get as many applications as possible.</p>

        <p class="govuk-body">Find out more about <a class="govuk-link" href="https://www.publish-teacher-training-courses.service.gov.uk/how-to-use-this-service/roll-over-courses-to-a-new-recruitment-cycle" target="_blank">publishing courses during recruitment cycles (opens in a new tab)</a>.</p>

      {% endset %}

      {% set otherHtml %}

        {{ govukDateInput({
          id: "application-open-date-other",
          namePrefix: "course[applicationsOpenDateOther]",
          fieldset: {
            legend: {
              text: "When will applications open?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 30 9 2022"
          },
          errorMessage: errors | getErrorMessage("applications-open-date-other"),
          items: [
            {
              name: "day",
              value: course.applicationsOpenDateOther | date("d") if course.applicationsOpenDateOther,
              classes: "govuk-input--width-2" + (" govuk-input--error" if errors | getErrorMessage("applications-open-date-other"))
            },
            {
              name: "month",
              value: course.applicationsOpenDateOther | date("L") if course.applicationsOpenDateOther,
              classes: "govuk-input--width-2" + (" govuk-input--error" if errors | getErrorMessage("applications-open-date-other"))
            },
            {
              name: "year",
              value: course.applicationsOpenDateOther | date("yyyy") if course.applicationsOpenDateOther,
              classes: "govuk-input--width-4" + (" govuk-input--error" if errors | getErrorMessage("applications-open-date-other"))
            }
          ]
        }) }}

      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukRadios({
          idPrefix: "applications-open-date",
          name: "course[applicationsOpenDate]",
          fieldset: {
            legend: {
              html: headingHtml,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          errorMessage: errors | getErrorMessage("applications-open-date"),
          items: [
            {
              value: applicationsOpenDate | date,
              text: "As soon as the course is on Find - recommended",
              checked: true if (course.applicationsOpenDate | date) == (applicationsOpenDate | date)
            },
            {
              divider: "or"
            },
            {
              value: "other",
              text: "Another date",
              checked: true if course.applicationsOpenDate == "other",
              conditional: {
                html: otherHtml
              }
            }
          ]
        }) }}

        {% if course.id %}
          {{ govukButton({
            text: "Update " + (title | lower)
          }) }}
        {% else %}
          {{ govukButton({
            text: "Continue"
          }) }}
        {% endif %}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
