{% extends "layouts/main.njk" %}

{% set primaryNavId = "courses" %}

{% set caption = "Add course" %}
{% set title = "Check your answers" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% set subjectHtml %}
          <ul class="govuk-list">
            {% for subject in course.subjectArray %}
              <li>
                {{ subject | getSubjectLabel }}
              </li>
            {% endfor %}
          </ul>
        {% endset %}

        {% set locationHtml %}
          <ul class="govuk-list">
            {% for location in course.locations %}
              <li>
                {{ location | getLocationLabel(organisation.id) }}
              </li>
            {% endfor %}
          </ul>
        {% endset %}

        {% set studySiteHtml %}
          <ul class="govuk-list">
            {% for studySite in course.studySites %}
              <li>
                {{ studySite | getStudySiteLabel(organisation.id) }}
              </li>
            {% endfor %}
          </ul>
        {% endset %}

        {% set courseStartHtml %}
          <p class="govuk-body">{{ course.startDate | date("MMMM yyyy") }}</p>
          <p class="govuk-hint">{{ course.startDate | getAcademicYearLabel }}</p>
        {% endset %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Course name"
              },
              value: {
                text: (course.subjectArray | getCourseName('engineersTeachPhysics')) if course.campaign == "engineersTeachPhysics" else (course.subjectArray | getCourseName())
              }
            },
            {
              key: {
                text: "Subject level"
              },
              value: {
                text: course.subjectLevel | getSubjectLevelLabel
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/subject-level?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "subject level"
                  }
                ]
              } if 1 == 0
            },
            {
              key: {
                text: "Special educational needs and disability (SEND)"
              },
              value: {
                text: course.isSend | getSendLabel
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/subject-level?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "special educational needs and disability (SEND)"
                  }
                ]
              }
            },
            {
              key: {
                text: "Subject" + ("s" if course.subjectArray.length > 1)
              },
              value: {
                html: subjectHtml
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/subject?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "subject"
                  }
                ]
              }
            } if course.subjectLevel != "further_education",
            {
              key: {
                text: "Engineers teach physics"
              },
              value: {
                text: "Yes" if course.campaign == "engineersTeachPhysics" else "No"
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/campaign?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "Engineers teach physics"
                  }
                ]
              }
            } if course.subjects[0] == "F3",
            {
              key: {
                text: "Age range"
              },
              value: {
                text: course.ageRange | getAgeRangeLabel
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/age-range?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "age range"
                  }
                ]
              }
            } if course.subjectLevel != "further_education",
            {
              key: {
                text: "Qualification"
              },
              value: {
                text: course.qualification | getQualificationLabel
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/qualification?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "qualification"
                  }
                ]
              }
            },
            {
              key: {
                text: "Funding type"
              },
              value: {
                text: course.fundingType | getFundingTypeLabel
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/funding-type?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "funding type"
                  }
                ]
              }
            },
            {
              key: {
                text: "Full time or part time"
              },
              value: {
                text: course.studyMode | getStudyModeLabel
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/study-mode?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "full time or part time"
                  }
                ]
              }
            },
            {
              key: {
                text: "School placement" + ("s" if course.locations.length > 1)
              },
              value: {
                html: locationHtml
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/school-placements?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "school placements"
                  }
                ]
              } if locations.length > 1
            },
            {
              key: {
                text: "Study site" + ("s" if course.studySites.length > 1)
              },
              value: {
                html: studySiteHtml
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/study-sites?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "study sites"
                  }
                ]
              } if studySites.length > 1
            },
            {
              key: {
                text: "Accredited provider"
              },
              value: {
                text: course.accreditedBody | getOrganisationLabel
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/accredited-provider?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "accredited provider"
                  }
                ]
              }
            } if not organisation.isAccreditedBody,
            {
              key: {
                text: "Student visas"
              },
              value: {
                text: course.canSponsorStudentVisa | getStudentVisaLabel + (" - can sponsor" if course.canSponsorStudentVisa == "yes" else " - cannot sponsor")
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/visa-sponsorship?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "if candidates can get a sponsored Student visa"
                  }
                ]
              }
            } if course.fundingType == "fee",
            {
              key: {
                text: "Skilled Worker visas"
              },
              value: {
                text: course.canSponsorSkilledWorkerVisa | getSkilledWorkerVisaLabel + (" - can sponsor" if course.canSponsorSkilledWorkerVisa == "yes" else " - cannot sponsor")
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/visa-sponsorship?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "if candidates can get a sponsored Skilled Worker visa"
                  }
                ]
              }
            } if course.fundingType in ["salary","apprenticeship"],
            {
              key: {
                text: "Applications open date"
              },
              value: {
                text: "As soon as the course is on Find" if course.applicationsOpenDate != "other" else course.applicationsOpenDateOther | date("d MMMM yyyy")
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/applications-open-date?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "applications open date"
                  }
                ]
              }
            },
            {
              key: {
                text: "Course start date"
              },
              value: {
                html: courseStartHtml
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/course-start?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "course start"
                  }
                ]
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Add course"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
