{% extends "_layout.njk" %}

{% set caption = "Add course" %}
{% set title = "Check your answers before confirming" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
          {{ caption }}
        </span>
        {{ title }}
      </h1>

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% set subjectHtml %}
          <ul class="govuk-list">
            {% for subject in course.subjects %}
              <li>
                {{ subject | getSubjectLabel }}
              </li>
              {% if subject == "ML" %}
                {% for subject in course.childSubjects %}
                  <li>
                    {{ subject | getSubjectLabel }}
                  </li>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </ul>
        {% endset %}

        {% set locationHtml %}
          <ul class="govuk-list">
            {% for location in course.locations %}
              <li>
                {{ location | getLocationLabel }}
              </li>
            {% endfor %}
          </ul>
        {% endset %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Subject level"
              },
              value: {
                text: course.subjectLevel | getSubjectLevelLabel
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/subject-level?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "subject level"
                  }
                ]
              }
            },
            {
              key: {
                text: "Special educational needs and disability (SEND)"
              },
              value: {
                text: course.isSend | getSendLabel
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/subject-level?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "special educational needs and disability (SEND)"
                  }
                ]
              }
            },
            {
              key: {
                text: "Subject" + ("s" if course.subjects.length > 1)
              },
              value: {
                html: subjectHtml
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/subject?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "subject"
                  }
                ]
              }
            } if course.subjectLevel != "further_education",
            {
              key: {
                text: "Age range"
              },
              value: {
                text: course.ageRange | getAgeRangeLabel
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/age-range?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "age range"
                  }
                ]
              }
            } if course.subjectLevel != "further_education",
            {
              key: {
                text: "Qualification"
              },
              value: {
                text: course.qualification | getQualificationLabel
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/qualification?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "qualification"
                  }
                ]
              }
            },
            {
              key: {
                text: "Teaching apprenticeship"
              },
              value: {
                text: course.apprenticeship | capitalize
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/apprenticeship?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "apprenticeship"
                  }
                ]
              }
            } if course.apprenticeship,
            {
              key: {
                text: "Funding type"
              },
              value: {
                text: course.fundingType | getFundingTypeLabel
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/funding-type?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "funding type"
                  }
                ]
              }
            },
            {
              key: {
                text: "Full time or part time"
              },
              value: {
                text: course.studyMode | getStudyModeLabel
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/study-mode?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "full time or part time"
                  }
                ]
              }
            },
            {
              key: {
                text: "Location" + ("s" if course.locations.length > 1)
              },
              value: {
                html: locationHtml
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/location?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "location"
                  }
                ]
              } if locations.length > 1
            },
            {
              key: {
                text: "Accredited body"
              },
              value: {
                text: course.accreditedBody | getOrganisationLabel
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/accredited-body?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "accredited body"
                  }
                ]
              }
            } if not organisation.isAccreditedBody,
            {
              key: {
                text: "Applications open date"
              },
              value: {
                text: "As soon as the course is on Find" if course.applicationsOpenDate != "other" else course.applicationsOpenDateOther | date("d MMMM yyyy")
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/applications-open-date?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "applications open date"
                  }
                ]
              }
            },
            {
              key: {
                text: "Course start"
              },
              value: {
                text: course.startDate | date("MMMM yyyy")
              },
              actions: {
                items: [
                  {
                    href: actions.change + "/course-start?referrer=check",
                    text: "Change",
                    visuallyHiddenText: "course start"
                  }
                ]
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Add course"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
