{% extends "_layout.njk" %}

{% set primaryNavId = "courses" %}
{% set subNavId = "description" %}

{% set title = course.name + " (" + course.code + ")" %}
{% set caption = ""  %} <!-- organisation.name -->

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "./_page-heading.njk" %}

      {% include "./_meta-data.njk" %}

      {% include "./_actions.njk" %}

      {% if isCurrentCycle == 'true' and isRollover == 'true' and rolledOverCourse %}
        {% include "./_rolled-over-course.njk" %}
      {% endif %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "./_sub-navigation.njk" %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">
        Course information
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Course summary"
            },
            value: {
              text: (course.aboutCourse | nl2br | markdownToHtml | safe) if course.aboutCourse.length else "Not entered",
              classes: "govuk-hint" if not course.aboutCourse.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/about-course?referrer=description",
                  text: "Change",
                  visuallyHiddenText: "course summary"
                }
              ]
            } if course.status != 3
          },
          {
            key: {
              text: "How school placements work"
            },
            value: {
              text: (course.howSchoolPlacementsWork | nl2br | markdownToHtml | safe) if course.howSchoolPlacementsWork.length else "Not entered",
              classes: "govuk-hint" if not course.howSchoolPlacementsWork.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/school-placement-details?referrer=description",
                  text: "Change",
                  visuallyHiddenText: "how school placements work"
                }
              ]
            } if course.status != 3
          },
          {
            key: {
              text: "Interview process"
            },
            value: {
              text: (course.interviewProcess | nl2br | markdownToHtml | safe) if course.interviewProcess.length else "Not entered",
              classes: "govuk-hint" if not course.interviewProcess.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/interview-process?referrer=description",
                  text: "Change",
                  visuallyHiddenText: "interview process"
                }
              ]
            } if course.status != 3
          }
        ]
      }) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">
        Course length and {{ "salary details" if course.fundingType in ["salary","apprenticeship"] else "fees" }}
      </h2>

      {% set courseLengthText %}
        {% if course.courseLength.length %}
          {% if course.courseLength == "other" %}
            {{ course.courseLengthOther }}
          {% else %}
            {{ course.courseLength | getCourseLengthLabel }}
          {% endif %}
        {% else %}
          Not entered
        {% endif %}
      {% endset %}

      {% set financialIncentivesHtml %}
        {% set financialIncentivesHint = course.subjects[0].code | getFinancialIncentiveLabel(course.startDate) %}
        {%- if financialIncentivesHint.length %}
          {{ financialIncentivesHint }}
        {% else %}
          None available
        {% endif -%}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Course length"
            },
            value: {
              text: courseLengthText,
              classes: "govuk-hint" if not course.courseLength.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/course-length",
                  text: "Change",
                  visuallyHiddenText: "course length"
                }
              ]
            } if course.status != 3
          },
          {
            key: {
              text: "Fee for UK students"
            },
            value: {
              text: "£" + course.feesUK | numeral('0,0.[00]') if course.feesUK else "Not entered",
              classes: "govuk-hint" if not course.feesUK
            },
            actions: {
              items: [
                {
                  href: actions.change + "/course-fees?referrer=description",
                  text: "Change",
                  visuallyHiddenText: "fee for UK student"
                }
              ]
            } if course.status != 3
          } if course.fundingType == "fee",
          {
            key: {
              text: "Fee for international students"
            },
            value: {
              text: "£" + course.feesInternational | numeral('0,0.[00]') if course.feesInternational else "Not entered",
              classes: "govuk-hint" if not course.feesInternational
            },
            actions: {
              items: [
                {
                  href: actions.change + "/course-fees?referrer=description",
                  text: "Change",
                  visuallyHiddenText: "fee for international students"
                }
              ]
            } if course.status != 3
          } if course.fundingType == "fee",
          {
            key: {
              text: "Fee details"
            },
            value: {
              text: (course.feeDetails | nl2br | markdownToHtml | safe) if course.feeDetails.length else "Not entered",
              classes: "govuk-hint" if not course.feeDetails.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/course-fees?referrer=description",
                  text: "Change",
                  visuallyHiddenText: "fee details"
                }
              ]
            } if course.status != 3
          } if course.fundingType == "fee",
          {
            key: {
              text: "Financial support you offer"
            },
            value: {
              text: (course.financialSupport | nl2br | markdownToHtml | safe) if course.financialSupport.length else "Not entered",
              classes: "govuk-hint" if not course.financialSupport.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/financial-support?referrer=description",
                  text: "Change",
                  visuallyHiddenText: "financial support you offer"
                }
              ]
            } if course.status != 3
          } if course.fundingType == "fee",
          {
            key: {
              text: "Financial support from the government"
            },
            value: {
              text: financialIncentivesHtml
            }
          } if course.fundingType == "fee",
          {
            key: {
              text: "Salary details"
            },
            value: {
              text: (course.salaryDetails | nl2br | markdownToHtml | safe) if course.salaryDetails.length else "Not entered",
              classes: "govuk-hint" if not course.salaryDetails.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/salary-details?referrer=description",
                  text: "Change",
                  visuallyHiddenText: "salary details"
                }
              ]
            } if course.status != 3
          } if course.fundingType in ["salary","apprenticeship"]
        ]
      }) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">
        Requirements and eligibility
      </h2>

      {% set degreeHtml %}
        {% if course.degreeGrade %}
          <ul class="govuk-list">
            <li>{{ course.degreeGrade | getDegreeGradeLabel }}</li>
            {% if course.additionalDegreeSubjectRequirements %}
              <li>{{ course.additionalDegreeSubjectRequirements }}</li>
            {% endif %}
          </ul>
        {% else %}
          {{ govukInsetText({
            html: '<p class="govuk-heading-s app-inset-text__title">Do you require a minimum degree classification?</p>
            <p class="govuk-body">
              <a class="govuk-link" href="'+ actions.change + '/degree?referrer=description">Enter degree requirements</a>
            </p>',
            classes: "app-inset-text--narrow-border app-inset-text--important govuk-!-margin-top-0"
          }) }}
        {% endif %}
      {% endset %}

      {% set gcseHtml %}
        {% if course.acceptPendingGcse %}
          <ul class="govuk-list">
            <li>
              {% if course.acceptPendingGcse == "yes" %}
                Candidates with pending GCSEs will be considered
              {% else %}
                Candidates with pending GCSEs will not be considered
              {% endif %}
            </li>
            <li>
              {% if course.acceptGcseEquivalency == "yes" %}

                {% set equivalencies = [] %}

                {% if course.acceptEnglishGcseEquivalency == "yes" %}
                  {% set equivalencies = equivalencies | push('English') %}
                {% endif %}

                {% if course.acceptMathsGcseEquivalency == "yes" %}
                  {% set equivalencies = equivalencies | push('maths') %}
                {% endif %}

                {% if course.acceptScienceGcseEquivalency == "yes" %}
                  {% set equivalencies = equivalencies | push('science') %}
                {% endif %}

                Equivalency tests will be accepted in {{ equivalencies | joinify }}
              {% else %}
                Equivalency tests will not be accepted
              {% endif %}
            </li>
            {% if course.additionalGcseEquivalencies %}
              <li>{{ course.additionalGcseEquivalencies }}</li>
            {% endif %}
          </ul>
        {% else %}
          {{ govukInsetText({
            html: '<p class="govuk-heading-s app-inset-text__title">GCSE and equivalency tests</p>
            <p class="govuk-body">
              <a class="govuk-link" href="' + actions.change + '/gcses?referrer=description">Enter GCSE and equivalency test requirements</a>
            </p>',
            classes: "app-inset-text--narrow-border app-inset-text--important govuk-!-margin-top-0"
          }) }}
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Degree"
            },
            value: {
              html: degreeHtml
            },
            actions: {
              items: [
                {
                  href: actions.change + "/degree?referrer=description",
                  text: "Change",
                  visuallyHiddenText: "degree"
                } if course.degreeGrade
              ]
            } if course.status != 3
          },
          {
            key: {
              text: "GCSEs"
            },
            value: {
              html: gcseHtml
            },
            actions: {
              items: [
                {
                  href: actions.change + "/gcses?referrer=description",
                  text: "Change",
                  visuallyHiddenText: "GCSEs"
                }
              ]
            }  if course.status != 3 and course.acceptPendingGcse
          },
          {
            key: {
              text: "Personal qualities"
            },
            value: {
              text: (course.personalQualities | nl2br | markdownToHtml | safe) if course.personalQualities.length else "Not entered",
              classes: "govuk-hint" if not course.personalQualities.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/personal-qualities?referrer=description",
                  text: "Change",
                  visuallyHiddenText: "personal qualities"
                }
              ]
            } if course.status != 3
          },
          {
            key: {
              text: "Other requirements"
            },
            value: {
              text: (course.otherRequirements | nl2br | markdownToHtml | safe) if course.otherRequirements.length else "Not entered",
              classes: "govuk-hint" if not course.otherRequirements.length
            },
            actions: {
              items: [
                {
                  href: actions.change + "/other-requirements?referrer=description",
                  text: "Change",
                  visuallyHiddenText: "other requirements"
                }
              ]
            } if course.status != 3
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}
