{% extends "_layout.njk" %}

{% set primaryNavId = "courses" %}
{% set subNavId = "details" %}

{% set title = course.name + " (" + course.code + ")" %}
{% set caption = ""  %} <!-- organisation.name -->

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "./_page-heading.njk" %}

      {% include "./_meta-data.njk" %}

      {% include "./_actions.njk" %}

      {% if isCurrentCycle == 'true' and isRollover == 'true' and rolledOverCourse %}
        {% include "./_rolled-over-course.njk" %}
      {% endif %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "./_sub-navigation.njk" %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set locationHtml %}
        <ul class="govuk-list">
          {% for location in course.locations %}
            <li>
              {{ location.id | getLocationLabel(organisation.id) }}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set studySiteHtml %}
        {% if course.studySites %}
          <ul class="govuk-list">
            {% for studySite in course.studySites %}
              <li>
                {{ studySite.id | getStudySiteLabel(organisation.id) }}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p class="govuk-hint govuk-!-margin-bottom-0">Not entered</p>
        {% endif %}
      {% endset %}

      {% set subjectHtml %}
        <ul class="govuk-list">
          {% for subject in course.subjects %}
            <li>
              {{ subject.code | getSubjectLabel }}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set ageRangeHtml %}
        {% if course.ageRangeOther %}
          <p class="govuk-body">{{ course.ageRangeOther.from }} to {{ course.ageRangeOther.to }}</p>
        {% else %}
          <p class="govuk-body">{{ course.ageRange | getAgeRangeLabel }}</p>
        {% endif %}
      {% endset %}

      {% set courseStartHtml %}
        <p class="govuk-body">{{ course.startDate | date("MMMM yyyy") }}</p>
        <p class="govuk-hint">{{ course.startDate | getAcademicYearLabel }}</p>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Subject level"
            },
            value: {
              text: course.subjectLevel | getSubjectLevelLabel
            }
          },
          {
            key: {
              text: "Special educational needs and disability (SEND)"
            },
            value: {
              text: course.isSend | getSendLabel
            },
            actions: {
              items: [
                {
                  href: actions.change + "/special-educational-needs-disability?referrer=details",
                  text: "Change",
                  visuallyHiddenText: "special educational needs and disability (SEND)"
                }
              ]
            } if course.status != 3
          },
          {
            key: {
              text: "Subject" + ("s" if course.subjects.length > 1)
            },
            value: {
              html: subjectHtml
            },
            actions: {
              items: [
                {
                  href: actions.change + "/subject?referrer=details",
                  text: "Change",
                  visuallyHiddenText: "subject"
                }
              ]
            } if course.status != 3
          } if course.subjectLevel != "further_education",
          {
            key: {
              text: "Engineers teach physics"
            },
            value: {
              text: "Yes" if course.campaign == "engineersTeachPhysics" else "No"
            },
            actions: {
              items: [
                {
                  href: actions.change + "/campaign?referrer=details",
                  text: "Change",
                  visuallyHiddenText: "Engineers teach physics"
                }
              ]
            } if course.status != 3
          } if course.subjects[0].code == "F3",
          {
            key: {
              text: "Age range"
            },
            value: {
              html: ageRangeHtml
            },
            actions: {
              items: [
                {
                  href: actions.change + "/age-range?referrer=details",
                  text: "Change",
                  visuallyHiddenText: "age range"
                }
              ]
            } if course.status != 3
          } if course.subjectLevel != "further_education",
          {
            key: {
              text: "Qualification"
            },
            value: {
              text: course.qualification | getQualificationLabel
            },
            actions: {
              items: [
                {
                  href: actions.change + "/qualification?referrer=details",
                  text: "Change",
                  visuallyHiddenText: "qualification"
                }
              ]
            } if course.status != 3
          },
          {
            key: {
              text: "Teaching apprenticeship"
            },
            value: {
              text: course.fundingType | getApprenticeshipLabel
            },
            actions: {
              items: [
                {
                  href: actions.change + "/apprenticeship?referrer=details",
                  text: "Change",
                  visuallyHiddenText: "apprenticeship"
                }
              ]
            } if course.status in [0,2]
          } if organisation.isAccreditedBody,
          {
            key: {
              text: "Funding type"
            },
            value: {
              text: course.fundingType | getFundingTypeLabel
            },
            actions: {
              items: [
                {
                  href: actions.change + "/funding-type?referrer=details",
                  text: "Change",
                  visuallyHiddenText: "funding type"
                }
              ]
            } if course.status in [0,2]
          } if not organisation.isAccreditedBody,
          {
            key: {
              text: "Full time or part time"
            },
            value: {
              text: course.studyMode | getStudyModeLabel
            },
            actions: {
              items: [
                {
                  href: actions.change + "/study-mode?referrer=details",
                  text: "Change",
                  visuallyHiddenText: "full time or part time"
                }
              ]
            } if course.status != 3
          },
          {
            key: {
              text: "School placement" + ("s" if course.locations.length > 1)
            },
            value: {
              html: locationHtml
            },
            actions: {
              items: [
                {
                  href: actions.change + "/school-placements?referrer=details",
                  text: "Change",
                  visuallyHiddenText: "school placements"
                }
              ]
            } if locations.length > 1 and course.status != 3
          },
          {
            key: {
              text: "Study site" + ("s" if course.studySites.length > 1)
            },
            value: {
              html: studySiteHtml
            },
            actions: {
              items: [
                {
                  href: actions.change + "/study-sites?referrer=details",
                  text: "Change",
                  visuallyHiddenText: "study sites"
                }
              ]
            } if not course.studySites or studySites.length > 1 and course.status != 3
          },
          {
            key: {
              text: "Accredited provider"
            },
            value: {
              text: course.accreditedBody.id | getOrganisationLabel
            },
            actions: {
              items: [
                {
                  href: actions.change + "/accredited-provider?referrer=details",
                  text: "Change",
                  visuallyHiddenText: "accredited provider"
                }
              ]
            } if course.status in [0,2]
          } if not organisation.isAccreditedBody,
          {
            key: {
              text: "Student visas"
            },
            value: {
              text: course.canSponsorStudentVisa | getStudentVisaLabel + (" - can sponsor" if course.canSponsorStudentVisa == "yes" else " - cannot sponsor")
            },
            actions: {
              items: [
                {
                  href: actions.change + "/visa-sponsorship?referrer=details",
                  text: "Change",
                  visuallyHiddenText: "if candidates can get a sponsored Student visa"
                }
              ]
            } if course.status in [0,2]
          } if course.fundingType == "fee",
          {
            key: {
              text: "Skilled Worker visas"
            },
            value: {
              text: course.canSponsorSkilledWorkerVisa | getSkilledWorkerVisaLabel + (" - can sponsor" if course.canSponsorSkilledWorkerVisa == "yes" else " - cannot sponsor")
            },
            actions: {
              items: [
                {
                  href: actions.change + "/visa-sponsorship?referrer=details",
                  text: "Change",
                  visuallyHiddenText: "if candidates can get a sponsored Skilled Worker visa"
                }
              ]
            } if course.status in [0,2]
          } if course.fundingType in ["salary", "apprenticeship"],
          {
            key: {
              text: "Applications open date"
            },
            value: {
              text: "As soon as the course is on Find" if course.applicationsOpenDate != "other" else course.applicationsOpenDateOther | date("d MMMM yyyy")
            },
            actions: {
              items: [
                {
                  href: actions.change + "/applications-open-date?referrer=details",
                  text: "Change",
                  visuallyHiddenText: "applications open date"
                }
              ]
            } if course.status in [0,2]
          },
          {
            key: {
              text: "Course start date"
            },
            value: {
              html: courseStartHtml
            },
            actions: {
              items: [
                {
                  href: actions.change + "/course-start?referrer=details",
                  text: "Change",
                  visuallyHiddenText: "course start"
                }
              ]
            } if course.status in [0,2]
          }
        ]
      }) }}

    </div>
    <div class="govuk-grid-column-one-third">

      {# {% include "./_sidebar.njk" %} #}

      {# <div class="app-status-box">
        <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="/organisations/{{ organisation.id }}/cycles/{{ rolledOverCourse.cycle }}/courses/{{ rolledOverCourse.id }}">
            View rolled over course
          </a>
        </p>
      </div> #}

    </div>
  </div>
{% endblock %}
