{% extends "_layout.njk" %}

{% set caption = "Add course" %}
{% set title = ("Error: " if errors) + "Is it fee paying or salaried?" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">
            {{ caption }}
          </span>
          {{ title }}
        </h1>
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukRadios({
          idPrefix: "funding-type",
          name: "course[fundingType]",
          fieldset: {
            legend: {
              html: headingHtml
            }
          },
          errorMessage: errors | getErrorMessage("funding-type"),
          items: fundingTypeOptions
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
