{% extends "_layout.njk" %}

{% set primaryNavId = "courses" %}

{% set title = "Interview process (optional)" %}
{% set caption = course.name + " (" + course.code + ")" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        {% include "_includes/page-heading.njk" %}
      {% endset %}

      {% set helpTextHtml %}
        <p class="govuk-body">Include information about:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>how many interviews candidates will have</li>
          <li>who willll be interviewing them</li>
          <li>any tests needed - if so, how they can prepare</li>
        </ul>
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {# {% if query.version == 2 %} #}

          {{ headingHtml | safe }}

          {{ helpTextHtml | safe }}

          {{ govukCharacterCount({
            id: "interview-process",
            name: "course[interviewProcess]",
            rows: 20,
            maxwords: wordCount,
            label: {
              text: title,
              classes: "govuk-label--s"
            },
            errorMessage: errors | getErrorMessage("interview-process"),
            value: course.interviewProcess
          }) }}

        {# {% else %}

          {{ govukCharacterCount({
            id: "interview-process",
            name: "course[interviewProcess]",
            rows: 20,
            maxwords: wordCount,
            label: {
              html: headingHtml
            },
            errorMessage: errors | getErrorMessage("interview-process"),
            value: course.interviewProcess
          }) }}

          {{ govukDetails({
            summaryText: "Help with interview process",
            html: helpTextHtml
          }) }}

        {% endif %} #}

        {{ govukButton({
          text: "Update interview process"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      {# {% include "./_sidebar-markdown-help.njk" %} #}
    </div>
  </div>

{% endblock %}
