{% extends "layouts/main.njk" %}

{% set primaryNavId = "courses" %}

{% set title = "Interview process (optional)" %}
{% set caption = course.name + " (" + course.code + ")" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <p class="govuk-body">Include information about:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how many interviews candidates will have</li>
        <li>who will be interviewing them</li>
        <li>any tests needed - if so, how they can prepare</li>
      </ul>

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukCharacterCount({
          id: "interview-process",
          name: "course[interviewProcess]",
          rows: 20,
          maxwords: wordCount,
          label: {
            text: title,
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("interview-process"),
          value: course.interviewProcess
        }) }}

        {{ govukButton({
          text: "Update interview process"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>

    <div class="govuk-grid-column-one-third">
      {# {% include "./_sidebar-markdown-help.njk" %} #}
    </div>
  </div>

{% endblock %}
