{% extends "_layout.njk" %}

{% set title = "Courses" %}
{% set caption = data.currentCycle.code | getCycleLabel %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
          {{ caption }}
        </span>
        {{ title }}
      </h1>

      {{ govukButton({
        text: "Add course",
        href: actions.new
      }) }}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if courses.length %}
        <table class="govuk-table app-table--vertical-align-middle">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header govuk-!-width-one-third">Course</th>
              <th class="govuk-table__header">Status</th>
              <th class="govuk-table__header">
              Is it on <abbr class="app-!-text-decoration-underline-dotted" title="Find postgraduate teacher training">Find</abbr>?
              </th>
              <th class="govuk-table__header">Applications</th>
              <th class="govuk-table__header">Vacancies</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">

            {% for course in courses %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell app-table--courses__course-name">
                  <a class="govuk-link govuk-heading-s govuk-!-margin-bottom-0" href="{{ actions.view }}/{{ course.id }}">
                    {{ course.name }} ({{ course.code }})
                  </a>
                  <span class="govuk-body-s">
                    {{ course.qualification | getQualificationLabel }} - {{ course.studyMode | getStudyModeLabel | lower }}
                  </span>
                </td>
                <td class="govuk-table__cell">
                  <strong class="govuk-tag govuk-tag--green">Published</strong>
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="#">
                    Yes - view online
                  </a>
                </td>
                <td class="govuk-table__cell">
                  Open
                </td>
                <td class="govuk-table__cell">
                  Yes (<a class="govuk-link" href="/organisations/1A4/2022/courses/J084/vacancies">Edit<span class="govuk-visually-hidden"> vacancies for Art and design (J084)</span></a>)
                </td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      {% else %}
        <p class="govuk-body">There are no courses for {{ provider.name if provider.name else "your organisation" }}.</p>
      {% endif %}

      <!-- {#% for provider in courses %}

        {% if provider.name %}
          <h2 class="govuk-heading-m">
            <span class="govuk-caption-m">
              Accredited body
            </span>
            {{ provider.name }}
          </h2>
        {% endif %}

        {% if provider.courses.length %}

          <table class="govuk-table app-table--vertical-align-middle">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-width-one-third">Course</th>
                <th class="govuk-table__header">Status</th>
                <th class="govuk-table__header">
                Is it on <abbr class="app-!-text-decoration-underline-dotted" title="Find postgraduate teacher training">Find</abbr>?
                </th>
                <th class="govuk-table__header">Applications</th>
                <th class="govuk-table__header">Vacancies</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              {% for course in provider.courses %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell app-table--courses__course-name">
                    <a class="govuk-link govuk-heading-s govuk-!-margin-bottom-0" href="{{ actions.view }}/{{ course.code }}">
                      {{ course.name }} ({{ course.code }})
                    </a>
                    <span class="govuk-body-s">
                      {{ course.qualification | getQualificationLabel }} - {{ course.studyMode | getStudyModeLabel | lower }}
                    </span>
                  </td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--green">Published</strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link" href="#">
                      Yes - view online
                    </a>
                  </td>
                  <td class="govuk-table__cell">
                    Open
                  </td>
                  <td class="govuk-table__cell">
                    Yes (<a class="govuk-link" href="/organisations/1A4/2022/courses/J084/vacancies">Edit<span class="govuk-visually-hidden"> vacancies for Art and design (J084)</span></a>)
                  </td>
                </tr>
              {% endfor %}
            </tbody>

          </table>

        {% else %}
          <p class="govuk-body">There are no courses for {{ provider.name if provider.name else "your organisation" }}.</p>
        {% endif %}

      {% endfor %#} -->

    </div>
  </div>

{% endblock %}
