{% extends "_layout.njk" %}

{% set primaryNavId = "courses" %}

{% set title = "Courses" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {% if organisation.type == "lead_school" %}

        {% if locations.length and organisation.accreditedBodies.length %}

          {{ govukButton({
            text: "Add course",
            href: actions.new
          }) }}

        {% elif locations.length and (not organisation.accreditedBodies.length) %}

          {{ govukInsetText({
            html: '<a href="#">Add an accredited provider</a> before adding courses'
          }) }}

        {% elif (not locations.length) and organisation.accreditedBodies.length %}

          {{ govukInsetText({
            html: '<a href="#">Add a school</a> before adding courses'
          }) }}

        {% else %}

          {{ govukInsetText({
            html: '<a href="#">Add an accredited provider</a> and <a href="#">add a school</a> before adding courses'
          }) }}

        {% endif %}

      {% else %}

        {% if locations.length %}

          {{ govukButton({
            text: "Add course",
            href: actions.new
          }) }}

        {% else %}

          {{ govukInsetText({
            html: '<a href="#">Add a school</a> before adding courses'
          }) }}

        {% endif %}

      {% endif %}

    </div>
  </div>

  {% for provider in courses %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          {% if provider.name %}
            <h2 class="govuk-heading-m">
              <span class="govuk-caption-m">
                Accredited provider
              </span>
              {{ provider.name }}
            </h2>
          {% endif %}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        {% if provider.courses.length %}

          <table class="govuk-table app-table--vertical-align-middle">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header govuk-!-width-one-third">Course</th>
                <th class="govuk-table__header">Status</th>
                <th class="govuk-table__header">
                Is it on <abbr class="app-!-text-decoration-underline-dotted" title="Find postgraduate teacher training">Find</abbr>?
                </th>
                <th class="govuk-table__header">Applications</th>
                {# <th class="govuk-table__header">Vacancies</th> #}
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              {% for course in provider.courses %}
                {% if course.applicationsOpenDate == "other" %}
                  {% set openDate = course.applicationsOpenDateOther %}
                {% else %}
                  {% set openDate = course.applicationsOpenDate %}
                {% endif %}

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell app-table--courses__course-name">
                    <a class="govuk-link govuk-heading-s govuk-!-margin-bottom-0" href="{{ actions.view }}/{{ course.id }}">
                      {{ course.name }} ({{ course.code }})
                    </a>
                    <span class="govuk-body-s">
                      {{ course.qualification | getQualificationLabel }} - {{ course.studyMode | getStudyModeLabel | lower }}
                    </span>
                    {# {% if course.status in [0,2] %}
                      <br><span class="govuk-body-s">Has not been rolled over</span>
                    {% endif %} #}
                  </td>
                  <td class="govuk-table__cell">
                    {{ govukTag({
                      text: course.status | getCourseStatusLabel(openDate),
                      classes: course.status | getCourseStatusClasses(openDate)
                    }) }}
                  </td>
                  <td class="govuk-table__cell">
                    {% if course.status in [0,2] %}
                      No – still in draft
                    {% elif course.status == 3 %}
                      No – withdrawn
                    {% else %}
                      <a class="govuk-link" href="#">
                        Yes - view online
                      </a>
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell">
                    {% if course.status == 1 %}
                      Open
                    {% elif course.status in [3,4] %}
                      Closed
                    {% else %}
                      -
                    {% endif %}
                  </td>
                  {# <td class="govuk-table__cell">
                    {% if course.status == 1 %}
                      Yes
                    {% elif course.status in [3,4] %}
                      No
                    {% else %}
                      -
                    {% endif %}
                  </td> #}
                </tr>
              {% endfor %}
            </tbody>

          </table>

        {% else %}
          <p class="govuk-body">There are no courses for {{ provider.name if provider.name else "your organisation" }}.</p>
        {% endif %}

      </div>
    </div>

  {% endfor %}

{% endblock %}
