{% extends "layouts/main.njk" %}

{% set primaryNavId = "courses" %}

{% set title = "Other requirements" %}
{% set caption = course.name + " (" + course.code + ")" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <p class="govuk-body">Use this section to describe any other requirements candidates need to know about, such as non-academic qualifications, criminal record checks or work experience.</p>

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukCharacterCount({
          id: "other-requirements",
          name: "course[otherRequirements]",
          rows: 10,
          maxwords: 100,
          label: {
            text: title + " (optional)",
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("other-requirements"),
          value: course.otherRequirements
        }) }}

        {{ govukButton({
          text: "Update " + title | lower
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
