{% extends "_layout.njk" %}

{% set primaryNavId = "courses" %}

{% set title = "Salary details" %}
{% set caption = course.name + " (" + course.code + ")" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <p class="govuk-body">Give details about the salary for this course.</p>
      <p class="govuk-body">You should:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          tell candidates the salary or how it will be calculated - for example, using the unqualified teachers' national pay scales
        </li>
        <li>
          say whether there are any fees or others costs – if there are no fees for this course, you should also say so
        </li>
      </ul>

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukCharacterCount({
          id: "salary details",
          name: "course[salaryDetails]",
          rows: 10,
          maxwords: wordCount,
          label: {
            text: title,
            classes: "govuk-label--s"
          },
          errorMessage: errors | getErrorMessage("salary details"),
          value: course.salaryDetails
        }) }}

        {{ govukButton({
          text: "Update salary details"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
