{% extends "_layout.njk" %}

{% set title = "How school placements work" %}
{% set caption = course.name + " (" + course.code + ")" %}

{% block pageTitle %}
  ("Error: " if errors) + {{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">
            {{ caption }}
          </span>
          {{ title }}
        </h1>
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukCharacterCount({
          id: "school-placements",
          name: "course[howSchoolPlacementsWork]",
          rows: 20,
          maxwords: 350,
          label: {
            html: headingHtml
          },
          errorMessage: errors | getErrorMessage("school-placements"),
          value: course.howSchoolPlacementsWork
        }) }}

        {% set helpTextHtml %}
          <p class="govuk-body">
            Give candidates more information about the schools they’ll be teaching in. Tell them:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>how many placements a candidate will have</li>
            <li>how much time they’ll spend in each school</li>
            <li>if mentors are available within the schools</li>
            <li>the average distance candidates have to travel from home to school</li>
          </ul>

          <p class="govuk-body">You could also mention:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>the age ranges taught (for example, 11 to 16 or 11 to 18)</li>
            <li>how many schools you partner with in total</li>
            <li>whether candidates are able to change schools</li>
            <li>how placement schools are selected</li>
          </ul>
        {% endset %}

        {{ govukDetails({
          summaryText: "Help with how school placements work",
          html: helpTextHtml
        }) }}

        {{ govukButton({
          text: "Update how school placements work"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
