{% extends "_layout.njk" %}

{% set title = "Pick a " + (course.subjectLevel | lower) + " subject" %}

{% if course.id %}
  {% set caption = course.name + " (" + course.code + ")" %}
{% else %}
  {% set caption = "Add course" %}
{% endif %}

{% block pageTitle %}
  ("Error: " if errors) + {{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">
            {{ caption }}
          </span>
          {{ title }}
        </h1>
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% if course.subjectLevel == "secondary" %}

          {{ govukSelect({
            idPrefix: "subject",
            name: "course[subjects][]",
            label: {
              html: headingHtml
            },
            errorMessage: errors | getErrorMessage("subject"),
            items: subjectOptions
          }) }}

          {% set secondSubjectHtml %}
            <p class="govuk-body">Your first subject is the main one. It will appear first in the course title. It represents the bursary or scholarship available if applicable.</p>

            {{ govukSelect({
              idPrefix: "second-subject",
              name: "course.secondSubject",
              label: {
                text: "Subject",
                classes: "govuk-label--s"
              },
              errorMessage: errors | getErrorMessage("second-subject"),
              items: secondSubjectOptions
            }) }}
          {% endset %}

          {{ govukDetails({
            summaryText: "Add a second subject (optional)",
            html: secondSubjectHtml
          }) }}

        {% else %}

          {{ govukRadios({
            idPrefix: "subject",
            name: "course[subjects][]",
            fieldset: {
              legend: {
                html: headingHtml
              }
            },
            errorMessage: errors | getErrorMessage("subject"),
            items: subjectOptions
          }) }}

        {% endif %}

        {% if course.id %}
          {{ govukButton({
            text: "Update subject"
          }) }}
        {% else %}
          {{ govukButton({
            text: "Continue"
          }) }}
        {% endif %}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
