{% extends "layouts/main.njk" %}

{% set primaryNavId = "courses" %}

{% set title = "Subject" %}

{% if course.id %}
  {% set caption = course.name + " (" + course.code + ")" %}
{% else %}
  {% set caption = "Add course" %}
{% endif %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if course.subjectLevel == "secondary" %}
        {% include "_includes/page-heading.njk" %}

        <p class="govuk-body">
          For some subjects, candidates may be able to get a bursary or scholarship.
        </p>

        <p class="govuk-body">
          If the course content is made up of at least 50% of an eligible subject, add this as the first subject so we can show the correct financial information to candidates.
        </p>

        <p class="govuk-body">
          <a class="govuk-link" href="https://www.gov.uk/government/publications/funding-initial-teacher-training-itt/funding-initial-teacher-training-itt-academic-year-2023-to-2024#postgraduate-bursaries-and-scholarships">Learn more about bursaries and scholarships</a>.
        </p>
      {% else %}
        {% set headingHtml %}
          {% include "_includes/page-heading-legend.njk" %}
        {% endset %}
      {% endif %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% if course.subjectLevel == "secondary" %}

          {{ govukSelect({
            idPrefix: "subject",
            name: "course[subjects][]",
            label: {
              text: "First subject",
              classes: "govuk-label--s"
            },
            errorMessage: errors | getErrorMessage("subject"),
            items: subjectOptions
          }) }}

          {{ govukSelect({
            idPrefix: "second-subject",
            name: "course[secondSubject][]",
            label: {
              text: "Second subject (optional)",
              classes: "govuk-label--s"
            },
            errorMessage: errors | getErrorMessage("second-subject"),
            items: secondSubjectOptions
          }) }}

        {% else %}

          {{ govukRadios({
            idPrefix: "subject",
            name: "course[subjects][]",
            fieldset: {
              legend: {
                html: headingHtml,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
              }
            },
            errorMessage: errors | getErrorMessage("subject"),
            items: subjectOptions
          }) }}

        {% endif %}

        {% if course.id %}
          {{ govukButton({
            text: "Update " + (title | lower)
          }) }}
        {% else %}
          {{ govukButton({
            text: "Continue"
          }) }}
        {% endif %}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
