{% extends "layouts/main.njk" %}

{% set primaryNavId = "courses" %}

{% if fundingType == "fee" %}
  {% set title = "Student visas" %}
{% else %}
  {% set title = "Skilled Worker visas" %}
{% endif %}

{% if course.id %}
  {% set caption = course.name + " (" + course.code + ")" %}
{% else %}
  {% set caption = "Add course" %}
{% endif %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {% if referrer == "funding-type" %}
        <p class="govuk-body">You’re being shown this page because you changed your answer to funding type.</p>
      {% elif referrer == "apprenticeship" %}
        <p class="govuk-body">You’re being shown this page because you changed your answer to whether this is a teaching apprenticeship.</p>
      {% elif referrer == "accredited-body" %}
        <p class="govuk-body">You’re being shown this page because you changed the accredited provider for this course.</p>
      {% endif %}

      {% if not organisation.isAccreditedBody %}
        {% if fundingType == "fee" %}
          {% set visaSponsorshipText %}
            {% if accreditedBody.visaSponsorship.canSponsorStudentVisa == "yes" %}
              <p class="body">{{ accreditedBody.name }} can sponsor Student visas for some of their courses.</p>
            {% else %}
              <p class="body">{{ accreditedBody.name }} have said they cannot sponsor Student visas so we have defaulted your answer to ‘No’.</p>
              <p class="body">If your organisation would like to sponsor Student visas, contact {{ accreditedBody.name }}.</p>
            {% endif %}
          {% endset %}

          {{ govukInsetText({
            html: visaSponsorshipText
          }) }}
        {% endif %}
      {% endif %}

      {% if organisation.isAccreditedBody %}
        {% set studentVisaQuestion = "Can your organisation sponsor Student visas for this course?" %}
        {% set skilledWorkerVisaQuestion = "Can your organisation sponsor Skilled Worker visas for this course?" %}
      {% else %}
        {% set studentVisaQuestion = "Is Student visa sponsorship available for this course?" %}
        {% set skilledWorkerVisaQuestion = "Can your organisation sponsor Skilled Worker visas for this course?" %}
      {% endif %}

      {% if organisation.isAccreditedBody and (
          (fundingType == "fee" and accreditedBody.visaSponsorship.canSponsorStudentVisa == "no") or
          (fundingType == "apprenticeship" and accreditedBody.visaSponsorship.canSponsorSkilledWorkerVisa == "no")
        ) %}
          <p class="govuk-body">Learn more about <a class="govuk-link" href="https://www.gov.uk/guidance/recruit-trainee-teachers-from-overseas-accredited-itt-providers">recruiting trainee teachers from overseas</a>.</p>
      {% endif %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% if fundingType == "fee" %}

          {{ govukRadios({
            idPrefix: "visa-sponsorship",
            name: "course[canSponsorStudentVisa]",
            fieldset: {
              legend: {
                text: studentVisaQuestion,
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: errors | getErrorMessage("visa-sponsorship"),
            items: visaOptions
          }) }}

        {% else %}

          {{ govukRadios({
            idPrefix: "visa-sponsorship",
            name: "course[canSponsorSkilledWorkerVisa]",
            fieldset: {
              legend: {
                text: skilledWorkerVisaQuestion,
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: errors | getErrorMessage("visa-sponsorship"),
            items: visaOptions
          }) }}

        {% endif %}

        {% if course.id %}
          {{ govukButton({
            text: "Update " + title
          }) }}
        {% else %}
          {{ govukButton({
            text: "Continue"
          }) }}
        {% endif %}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
