{% extends "_layout.njk" %}

{% set primaryNavId = "courses" %}

{% if fundingType == "fee" %}
  {% set title = "Student visa" %}
{% else %}
  {% set title = "Skilled Worker visa" %}
{% endif %}

{% if course.id %}
  {% set caption = course.name + " (" + course.code + ")" %}
{% else %}
  {% set caption = "Add course" %}
{% endif %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {% if referrer == "funding-type" %}
        <p class="govuk-body">You’re being shown this page because you changed your answer to funding type.</p>
      {% elif referrer == "apprenticeship" %}
        <p class="govuk-body">You’re being shown this page because you changed your answer to whether this is a teaching apprenticeship.</p>
      {% elif referrer == "accredited-body" %}
        <p class="govuk-body">You’re being shown this page because you changed the accredited body for this course.</p>
      {% endif %}

      {% if not organisation.isAccreditedBody %}
        {% if fundingType == "fee" %}
          {% set visaSponsorshipText %}
            {{ accreditedBody.name }} {{ "can" if accreditedBody.visaSponsorship.canSponsorStudentVisa == "yes" else "cannot" }} sponsor Student visas.
          {% endset %}

          {{ govukInsetText({
            text: visaSponsorshipText
          }) }}
        {% endif %}
      {% endif %}

      <p class="govuk-body">Learn more about <a class="govuk-link" href="https://www.gov.uk/guidance/recruit-trainee-teachers-from-overseas-accredited-itt-providers">recruiting trainee teachers from overseas</a>.</p>

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% if fundingType == "fee" %}

          {{ govukRadios({
            idPrefix: "visa-sponsorship",
            name: "course[canSponsorStudentVisa]",
            fieldset: {
              legend: {
                text: "Can candidates get a sponsored Student visa?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: errors | getErrorMessage("visa-sponsorship"),
            items: visaOptions
          }) }}

        {% else %}

          {{ govukRadios({
            idPrefix: "visa-sponsorship",
            name: "course[canSponsorSkilledWorkerVisa]",
            fieldset: {
              legend: {
                text: "Can candidates get a sponsored Skilled Worker visa?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: errors | getErrorMessage("visa-sponsorship"),
            items: visaOptions
          }) }}

        {% endif %}

        {% if course.id %}
          {{ govukButton({
            text: "Update Student visa" if fundingType == "fee" else "Update Skilled Worker visa"
          }) }}
        {% else %}
          {{ govukButton({
            text: "Continue"
          }) }}
        {% endif %}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

      {# {% set visaGuidanceHtml %}
        <p class="govuk-body">Learn more about <a class="govuk-link" href="https://www.gov.uk/guidance/recruit-trainee-teachers-from-overseas-accredited-itt-providers">recruiting trainee teachers from overseas</a>.</p>
      {% endset %}

      {{ govukDetails({
        summaryText: "Help with visas",
        html: visaGuidanceHtml
      }) }} #}

    </div>
  </div>

{% endblock %}
