{% extends "_layout.njk" %}

{% set title = "Visa sponsorship" %}

{% if course.id %}
  {% set caption = course.name + " (" + course.code + ")" %}
{% else %}
  {% set caption = "Add course" %}
{% endif %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
          {{ caption }}
        </span>
        {{ title }}
      </h1>

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% if not organisation.isAccreditedBody %}
          {% if course.fundingType == "fee" %}
            {% set visaSponsorshipText %}
              {{ accreditedBody.name }} {{ "can" if accreditedBody.visaSponsorship.canSponsorStudentVisa == "yes" else "can’t" }} sponsor Student visas.
            {% endset %}

            {{ govukInsetText({
              text: visaSponsorshipText
            }) }}
          {% endif %}
        {% endif %}

        {% if course.fundingType == "fee" %}

          {{ govukRadios({
            idPrefix: "visa-sponsorship",
            name: "course[canSponsorStudentVisa]",
            fieldset: {
              legend: {
                text: "Can candidates get a sponsored Student visa?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: errors | getErrorMessage("visa-sponsorship"),
            items: visaOptions
          }) }}

        {% else %}

          {{ govukRadios({
            idPrefix: "visa-sponsorship",
            name: "course[canSponsorSkilledWorkerVisa]",
            fieldset: {
              legend: {
                text: "Can candidates get a sponsored Skilled Worker visa?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            errorMessage: errors | getErrorMessage("visa-sponsorship"),
            items: visaOptions
          }) }}

        {% endif %}

        {% if course.id %}
          {{ govukButton({
            text: "Update visa sponsorship"
          }) }}
        {% else %}
          {{ govukButton({
            text: "Continue"
          }) }}
        {% endif %}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
