{% extends "_layout.njk" %}

{% set primaryNavId = "courses" %}

{% set title = "Are you sure you want to withdraw this course?" %}
{% set caption = course.name + " (" + course.code + ")" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        <p class="govuk-body">Withdrawing this course will:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>immediately remove the course from Find postgraduate teacher training</li>
          <li>close any applications in progress</li>
        </ul>

        <p class="govuk-body">
          Once you’ve withdrawn a course, you cannot publish it again in this recruitment cycle.
        </p>

        {% if course.status == 1 %}
          <p class="govuk-body">
            If you want to stop new candidates from applying but do not want to withdraw any applications currently in progress, you can <a href="{{ actions.close }}">close the course instead</a>.
          </p>
        {% endif %}

        {{ govukButton({
          text: "Withdraw course",
          classes: "govuk-button--warning"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
