{% set title = 'Check your answers before confirming' %}
{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl add-double-bottom-margin">
        {{ title }}
      </h1>

      <dl class="govuk-summary-list govuk-!-margin-top-9 govuk-!-margin-bottom-9">
        {% include "new-location/_answers.html" %}
      </dl>

      <div id="locations-map" class="google-map--locations govuk-!-margin-bottom-7" style="height: 300px"></div>
    </div>
    <div class="govuk-grid-column-one-third">
    </div>
  </div>

  <form action="{{ paths.next }}" method="post">
    <input type="submit" class="govuk-button" value="Save new training location" />
  </form>
{% endblock %}

{% block pageScripts %}
  <script>
  window.trainingLocations = [
    {% if data[code + '-location-type'] and data[code + '-location-type'].includes('A region or area') %}
      {% for loc in locations %}
        {
          "code": "None",
          "name": "{{ loc.name }}",
          "lat": {{ loc.lat }},
          "lng": {{ loc.lng }},
          "address": "{{ loc.address }}<br />{{ loc.town or loc.county }}<br />{{ loc.postcode }}"
        },
      {% endfor %}
    {% else %}
    {
      "code": "{{ code }}",
      "name": "{{ data[code + '-name'] }}",
      "lat": {{ data[code + '-location'].lat }},
      "lng": {{ data[code + '-location'].lng }},
      "address": "{{ data[code + '-address']}}<br />{{ data[code + '-town'] or data[code + '-county'] }}<br />{{ data[code + '-postcode'] }}"
    }
    {% endif %}
  ]
  </script>
  <script src="/public/javascripts/map.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMEl6fpV97Mo3NnkIqm-eRPhfkvKI5RcQ&callback=initLocationsMap"></script>
{% endblock %}
