{% set title = location.name %}
{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink('/locations') }}{% endblock %}

{% block content %}
  <form action="{{ paths.next }}" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl add-double-bottom-margin">
          {{ title }}
        </h1>

        <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-top-9 govuk-!-margin-bottom-9">
          {% include "new-location/_answers.html" %}
        </dl>
      </div>
    </div>

    <input type="submit" class="govuk-button" value="Confirm changes" />

    <p>
      <a href="/locations">Cancel changes</a>
    </p>
  </form>
{% endblock %}
