{% extends "layout.njk" %}
{% set title = "Region name" %}
{% set backLink = paths.back %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.next }}" method="post">
        {{ macros.textbox(code + '-region-name', 'Region name', 'eg Warwickshire, Nuneaton & Bedworth or South East', 'govuk-!-width-full', false, false) }}

        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>
{% endblock %}
