{% set title = 'List the schools you work with in this area' %}
{% extends "layout.html" %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <style>
    #selected-schools-list li {
      border-bottom: 1px solid #ccc;
      padding-top: 10px;
    }
  </style>

  <div class="govuk-grid-row" data-module="region-schools" data-code="{{ code }}">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p>By listing all the schools you work with, you’ll give us an idea of the overall geographical area in which training takes place. We can then use this information to help candidates find a course near to them.</p>

      <!-- <p>We use each school to give an indication of the geographical area that your training location will cover. This helps candidates to find courses near to&nbsp;them.</p> -->

      <p>You can add and remove schools at any time.</p>


        <div id="schools-added" style="display: none" class="govuk-!-margin-top-8 govuk-!-margin-bottom-9">
          <h2 class="govuk-heading-l">Schools and colleges</h2>

          <table class="govuk-table" id="selected-schools-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header">Name</th>
                <th class="govuk-table__header">Location</th>
                <th class="govuk-table__header">URN</th>
                <th class="govuk-table__header">Actions</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
            </tbody>
          </table>
        </div>

        <form action="#" class="js-add-form govuk-form-group govuk-!-margin-bottom-9" style="background: #f8f8f8; padding: 20px 20px 0">
          <label for="my-autocomplete" class="govuk-label">
            <h2 class="govuk-heading-m">Add a school or college</h2>
            <p>Search by:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>name</li>
              <li>postcode</li>
              <li>unique reference number (URN)</li>
            </ul>
          </label>
          <div id="my-autocomplete-container" style="background: #fff"></div>

          <p class="govuk-!-margin-top-4">
            <a href="#add" class="govuk-button js-add">Add</a>
          </p>
        </form>

        <form action="{{ paths.next }}" method="post">
          <div id="hidden-inputs"></div>
          <input type="submit" class="govuk-button" value="Continue" />
        </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/schools.js"></script>
<script src="/public/javascripts/modules/region-schools.js"></script>
{% endblock %}
