{% extends "layout.html" %}
{% set title = 'Before you begin' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p>We need you to read and agree to our terms and conditions.</p>

      <p>These set out your responsibilities when publishing content to Publish teacher training courses. This includes making sure your content:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>is accurate, and relevant to the service</li>
        <li>is not offensive, inappropriate or discriminatory</li>
        <li>belongs to you</li>
      </ul>

      <p>
        Read our <a href="#">full terms and conditions</a>.
      </p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m" />
      <form action="{{ paths.next }}" method="post">
          {% set fields = [
              {
                name: 'I agree to the terms and conditions'
              }
            ]
          %}

          {{ macros.checkboxGroup('terms-and-conditions', fields, [ { id: 'terms-and-conditions', title: 'Please agree to the terms and conditions before continuing' }]) }}

          <input type="submit" class="govuk-button" value="Continue">
      </form>
    </div>
  </div>



{% endblock %}
