{% extends "layout.html" %}
{% set title = 'Email alerts for new applications' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <form action="{{ paths.next }}" method="post">
        {% set fields = [
            {
              name: 'Get an email for each application you receive',
              more: macros.textbox('email-to', 'Email address UCAS should send alerts to')
            },
            {
              name: 'Don’t get an email'
            }
          ]
        %}

        {{ macros.radioGroup('alerts', fields) }}

        <div class="form-group">
          <input type="submit" class="govuk-button" value="Continue">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
