{% extends "layout.html" %}
{% set title = "Your UCAS training provider code" %}
{% set backLink = paths.back %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Your UCAS training provider&nbsp;code
      </h1>

      <p>We’ve generated a unique code for your organisation:</p>
      <div class="govuk-inset-text add-double-bottom-margin">
        <p class="govuk-heading-l">
          {{ data['provider-code'] }}
        </p>
      </div>

      <p>Candidates can use this (or your organisation name) to find your courses. They will also see it during the UCAS application process.</p>

      <a href="{{ paths.next }}" class="govuk-button">Continue</a>
    </div>
  </div>
{% endblock %}
