{% extends "layout.html" %}
{% block page_title %}Course information{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">
    Course information
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/course">

        <h2 class="heading-large">Training provider details</h2>
        {{ macros.textbox('training-provider-name', 'Training provider name', 'The name of your educational institution.') }}
        {{ macros.textbox('training-provider-address', 'Training provider address', 'The location where the trainee teacher will be attending classes.') }}

        <h2 class="heading-large">Course details</h2>
        {{ macros.textbox('title', 'Course title', 'The name of the postgraduate teacher training course, including the relevant age group (primary/secondary). For example: Secondary business studies. Max 100 characters.') }}

        {{ macros.textbox('contact-email', 'Contact email address (optional)') }}
        {{ macros.textbox('contact-telephone', 'Contact telephone number (optional)') }}
        {{ macros.textarea('contact-address', 'Contact address (optional)', 3) }}

        {{ macros.textarea('about-course', 'About this course', 8, 'A short summary of the course. It should include: what types of things you’ll be learning; how the course will be structured; overall experience (eg whether it’s hands-on classroom experience from day one); locations that you’ll need to attend (eg if you have to attend classes at an accrediting provider as well as the training provider). Can also include any information about the prestige or unique qualities of the course, eg league-table rankings. Please use plain language and avoid abbreviations (if you do need to use them, explain what they are when you first mention them). Maximum 500 characters.') }}

        {{ macros.textbox('accrediting-provider', 'Accrediting provider (optional)', 'A separate accrediting provider for the course') }}

        {% set fields = [
            {
              name: 'Postgraduate certificate in education with qualified teacher status'
            },
            {
              name: 'Qualified teacher status'
            }
          ]
        %}

        <h3 class="heading-medium">Qualifications</h3>
        {{ macros.radioGroup('qualification', fields) }}

        <h3 class="heading-medium">Vacancies</h3>
        {% set fields = [
            {
              name: 'Yes'
            },
            {
              name: 'No'
            },
            {
              name: 'Waiting list only'
            }
          ]
        %}
        {{ macros.radioGroup('vacancies', fields) }}

        <h3 class="heading-medium">Study type</h3>
        {% set fields = [
            {
              name: 'Full time'
            },
            {
              name: 'Part time'
            }
          ]
        %}
        {{ macros.radioGroup('study-type', fields) }}

        <h3 class="heading-medium">Course duration</h3>
        {% set fields = [
            {
              name: '1 year'
            },
            {
              name: '18 months'
            },
            {
              name: '2 years'
            }
          ]
        %}
        {{ macros.radioGroup('course-duration', fields) }}

        {{ macros.datefields('start-date', 'Course start date') }}
        {{ macros.datefields('applications-open', 'Applications open') }}

        <h3 class="heading-medium">Fee</h3>
        {% set fields = [
            {
              name: 'None'
            },
            {
              name: '£9,000'
            },
            {
              name: '£9,250'
            },
            {
              name: 'Other amount',
              more: 'Test'
            }
          ]
        %}
        {{ macros.radioGroup('fees', fields) }}

        <h3 class="heading-medium">Salary</h3>
        {% set fields = [
            {
              name: 'Yes',
              more: 'Test'
            },
            {
              name: 'No'
            }
          ]
        %}
        {{ macros.radioGroup('salary', fields) }}

        <h3 class="heading-medium">Placement schools</h3>

        {{ macros.textarea('policy-placement-schools', 'Policy on placement schools', 10, 'Summary: eg how a candidate’s placement schools will be selected; what the placement vs academic time balance is (e.g. 3 days per week at the placement school, 2 days a week at the training provider); the approx number of placement schools to choose from. Max 600 characters.') }}

        <h3 class="heading-medium">Eligibility</h3>

        {{ macros.textarea('eligibility-qualifications', 'Qualifications needed', 4, 'The minimum academic qualifications required for this course.  Max 300 characters.') }}

        {{ macros.textarea('eligibility-additional', 'Additional course requirements', 2, 'Non-academic requirements, eg DBS checks or work experience, if relevant. Max 150 characters.') }}

        <h3 class="heading-medium">Access for disabled people</h3>

        {{ macros.textarea('disabled-access', 'Access for disabled people', 10, 'The accessibility provisions for disabled people. 300 characters.') }}

        <h3 class="heading-medium">Interview process</h3>

        {{ macros.textarea('interview-process', 'Interview process', 10, 'The interview process the applicant can expect (eg number of interviews; types of test they’ll undergo.) Max 600 characters.') }}

        <div class="add-double-bottom-margin">
          <input type="submit" class="button" value="Save" />
        </div>

        <a href="/course">Cancel changes</a>
      </form>
    </div>
  </div>
</main>

{% endblock %}
