{% extends "layout.html" %}
{% set title = 'Add your first location' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}
{% set code = 'A' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p>By ‘location’ we mean the places that a candidate can select when making their application - choosing from the list that will appear on the course page in Find, and on the UCAS application form.</p>

      <p>Find uses locations to allow candidates to search by town, city or postcode</p>

      <p><a href="#">Guidance on setting up your locations</a></p>

      <form action="{{ paths.next }}" method="post" class="govuk-!-margin-top-8" />
        {{ macros.textbox(code + '-name', '<h2 class="govuk-heading-m">Name</h2>', null, 'govuk-!-width-full', null, errors) }}

        {% set moreAddress %}
          {{ macros.textbox(code + '-address', 'Building and street', null, 'govuk-!-width-full', null, errors) }}
          {{ macros.textbox(code + '-town', 'Town or city', null, 'form-control', null, errors) }}
          {{ macros.textbox(code + '-county', 'County', null, 'form-control', null, errors) }}
          {{ macros.textbox(code + '-postcode', 'Postcode', null, 'form-control-small', null, errors) }}

          {{ macros.select(code + '-ucas-region', 'Region of UK', [
            { name: 'London' },
            { name: 'South East' },
            { name: 'South West' },
            { name: 'Wales' },
            { name: 'West Midlands' },
            { name: 'East Midlands' },
            { name: 'Eastern' },
            { name: 'North West' },
            { name: 'Yorkshire and the Humber' },
            { name: 'North East' },
            { name: 'Scotland' },
            { name: 'Northern Ireland' },
            { name: 'No region' }
          ])}}
        {% endset %}

        <h2 class="govuk-heading-m govuk-!-margin-top-8">Address</h2>
        {{ macros.radioGroup('onboarding-name-title', [
          {
            name: 'Use our contact address'
          },
          {
            name: 'Specify a new address',
            more: moreAddress
          }
        ], errors) }}

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l" />

        {% set fields = [
            {
              name: 'I confirm that candidates can choose this as a place of training when they complete their UCAS application form'
            }
          ]
        %}

        {{ macros.checkboxGroup(code + '-location-confirm', fields, errors) }}
        <input type="submit" class="govuk-button" value="Continue" />
      </form>
    </div>
  </div>
{% endblock %}
