{% extends "layout.html" %}
{% set title = 'Request access for people' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <form action="{{ paths.next }}" method="post">
        <legend>
          <h2 class="govuk-heading-m">Request an account for:</h2>
        </legend>
        {{ macros.textbox('request-first-name', 'First name') }}
        {{ macros.textbox('request-last-name', 'Last name') }}
        {{ macros.textbox('request-email', 'Email address') }}

        {% set fields = [
            {
              name: 'Access to the same organisations as me'
            },
            {
              name: 'Access to ' + data['training-provider-name']
            }
          ]
        %}

        {# macros.radioGroup('request-scope', fields) #}

        {{ macros.textbox('request-organisation', 'Their organisation') }}
        {{ macros.textareaBasic('request-reason', 'Reason they need access', 2) }}
        <input type="submit" class="govuk-button" value="Continue">
      </form>
    </div>
  </div>
{% endblock %}
