{% extends "layout.html" %}
{% set title = 'Contacts for UCAS' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ paths.next }}" method="post">
        {% include "ucas/_contacts.html" %}

        <div class="form-group">
          <input type="submit" class="govuk-button" value="Continue">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
