{% extends "_layout.njk" %}

{% set headerNavId = "account" %}

{% set hidePrimaryNavigation = true %}

{% set title = "Your account" %}
{#% set caption = user.firstName + " " + user.lastName %#}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {% if caption.length %}
          <span class="govuk-caption-l">
            {{ caption }}
          </span>
        {% endif %}
        {{ title }}
      </h1>

      <ul class="govuk-list govuk-list--spaced">
        <li>
          <a href="{{ actions.personalDetails }}">Your personal details</a>
        </li>
        <li>
          <a href="{{ actions.notifications }}">Your email notifications</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
