{% extends "_layout.njk" %}

{% set headerNavId = "account" %}

{% set title = "Email notifications" %}
{% if user.organisations.length == 1 %}
  {% set caption = user.firstName + " " + user.lastName %}
{% else %}
  {% set caption = organisation.name %}
{% endif %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/account"
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {#% set headingHtml %#}
        <h1 class="govuk-heading-l">
          {% if caption.length %}
            <span class="govuk-caption-l">
              {{ caption }}
            </span>
          {% endif %}
          {{ title }}
        </h1>
      {#% endset %#}

      <p class="govuk-hint">Choose which email notifications you want to receive.</p>

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukRadios({
          idPrefix: "notifications",
          name: "notifications[course_published]",
          fieldset: {
            legend: {
              text: "Course is published",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true if (notifications and "course_published" in notifications) else false
            },
            {
              value: "no",
              text: "No",
              checked: true if (notifications and "course_published" not in notifications) else false
            }
          ],
          classes: "govuk-radios--inline"
        }) }}

        {{ govukRadios({
          idPrefix: "notifications",
          name: "notifications[course_changed]",
          fieldset: {
            legend: {
              text: "Course is changed",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true if (notifications and "course_changed" in notifications) else false
            },
            {
              value: "no",
              text: "No",
              checked: true if (notifications and "course_changed" not in notifications) else false
            }
          ],
          classes: "govuk-radios--inline"
        }) }}

        {{ govukRadios({
          idPrefix: "notifications",
          name: "notifications[course_withdrawn]",
          fieldset: {
            legend: {
              text: "Course is withdrawn",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true if (notifications and "course_withdrawn" in notifications) else false
            },
            {
              value: "no",
              text: "No",
              checked: true if (notifications and "course_withdrawn" not in notifications) else false
            }
          ],
          classes: "govuk-radios--inline"
        }) }}

        {{ govukRadios({
          idPrefix: "notifications",
          name: "notifications[vacancies_changed]",
          fieldset: {
            legend: {
              text: "Course vacancies are changed",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              checked: true if (notifications and "vacancies_changed" in notifications) else false
            },
            {
              value: "no",
              text: "No",
              checked: true if (notifications and "vacancies_changed" not in notifications) else false
            }
          ],
          classes: "govuk-radios--inline"
        }) }}

        {{ govukButton({
          text: "Update notifications"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>


    </div>
  </div>

{% endblock %}
