
{% extends "layout.html" %}
{% set title = 'Original onboarding' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main">
  <div class="breadcrumbs">
    <ol>
      <li><a href="/history">Design history</a></li>
    </ol>
  </div>
  <h1 class="heading-xlarge">{{ title }}</h1>

  {{ macros.screenshot('Spreadsheet as a form', 'spreadsheet-as-a-form', '/public/images/history/original-onboarding/thumbnails/01-spreadsheet-as-a-form.png', '/public/images/history/original-onboarding/01-spreadsheet-as-a-form.png', '') }}
  
</main>
{% endblock %}
