<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Locations
  </dt>
  <dd class="govuk-summary-list__value">
    {% if data['rollover-locations'] %}
      <ul class="govuk-list remove-bottom-margin">
        {% if isArray(data['rollover-locations']) %}
          {% for c in data['rollover-locations'] %}
            <li>{{ c }}</li>
          {% endfor %}
        {% else %}
          <li>{{ data['rollover-locations'] }}</li>
        {% endif %}
      </ul>
    {% else %}
      None
    {% endif %}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="/rollover/locations?change=locations">
      Change<span class="govuk-visually-hidden"> locations</span>
    </a>
  </dd>
</div>
<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    Courses
  </dt>
  <dd class="govuk-summary-list__value">
    {% if data['rollover-courses'] %}
      <ul class="govuk-list remove-bottom-margin">
        {% if isArray(data['rollover-courses']) %}
          {% for c in data['rollover-courses'] %}
            <li>{{ c }}</li>
          {% endfor %}
        {% else %}
          <li>{{ data['rollover-courses'] }}</li>
        {% endif %}
      </ul>
    {% else %}
      None
    {% endif %}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="/rollover/courses?change=courses">
      Change<span class="govuk-visually-hidden"> courses</span>
    </a>
  </dd>
</div>
