{% extends "layout.html" %}
{% set title = "Pick courses" %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <form action="{{ paths.next }}" method="post">
        {{ macros.checkboxGroup('rollover-courses', courses) }}

        <div class="form-group">
          <input type="submit" class="govuk-button" value="Continue">
        </div>
      </form>
    </div>
  </div>
{% endblock %}
