{% extends "layout.html" %}
{% set title = 'Rollover your courses and training locations' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink(paths.back) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p>Copy your training locations and courses for the 2020/2021 recruitment cycle.</p>

      <h2 class="govuk-heading-l">What’s new</h2>
      <p>In this cycle you can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>choose ‘QTS with optional PGCE’ as a course outcome</li>
        <li>edit course details up until you publish</li>
        <li>choose to open applications as soon as you publish a course</li>
      </ul>

      <p>We are standardising course titles – titles must not contain qualifications or routes.</p>

      <div class="govuk-form-group govuk-!-margin-top-6">
        <a href="{{ paths.next }}" class="govuk-button">Continue</a>
      </div>
    </div>
  </div>
{% endblock %}
