{% extends "layouts/main.njk" %}

{% set primaryNavId = "courses" %}

{% set caption = "Vacancies - " + course.name + " (" + course.code + ")" %}
{% set title = "Does the course have vacancies?"  %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        {% include "_includes/page-heading.njk" %}
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukRadios({
          idPrefix: "course-vacancies",
          name: "course[hasVacancies]",
          fieldset: {
            legend: {
              html: headingHtml
            }
          },
          errorMessage: errors | getErrorMessage("course-vacancies"),
          items: [
            {
              id: "84f3e809-b98b-4141-b547-8f701aa65a11",
              value: "yes",
              text: "Yes, there are vacancies",
              checked: true if course.hasVacancies == 'yes' else false
            }, {
              id: "de213b97-4126-40dd-90f4-5d4abecf4aa6",
              value: "no",
              text: "No",
              hint: {
                text: "You can reopen the course later."
              } if 1 == 0,
              checked: true if course.hasVacancies == 'no' else false
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
