{% extends "layouts/main.njk" %}

{% set primaryNavId = "courses" %}
{% set subNavId = "vacancies" %}

{% set title = course.name + " (" + course.code + ")" %}
{% set caption = ""  %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  {% include "_includes/notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "../_page-heading.njk" %}

      {% include "../_meta-data.njk" %}

      {% include "../_actions.njk" %}

      {% if isCurrentCycle == 'true' and isRollover == 'true' and rolledOverCourse %}
        {% include "../_rolled-over-course.njk" %}
      {% endif %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "../_sub-navigation.njk" %}

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
          Vacancies
      </h2>

      {# if the course is open or closed #}
      {% if course.status in [1,4] %}
        <p class="govuk-body">
          <a class="govuk-link" href="{{ actions.change }}">Change vacancies</a>
        </p>
      {% endif %}

      <table class="govuk-table app-table--vertical-align-middle">
        <caption class="govuk-visually-hidden">List of schools and vacancies</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">School</th>
            <th class="govuk-table__header" scope="col">Vacancies</th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          {% for location in locationOptions %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">{{ location.text }}</p>
                <span class="govuk-hint">{{ location.hint.text }}</span>
              </td>
              <td class="govuk-table__cell">
                {{ "Yes" if location.checked else "No" }}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
