{% extends "email.html" %}
{% set title = "Review and publish your courses for 2022 to 2023" %}

{% block content %}
  <p class="govuk-body">Dear colleague,</p>
  <p class="govuk-body">We’re writing to you about your courses for the next academic year, which will appear on <a href="https://www.find-postgraduate-teacher-training.service.gov.uk/">Find postgraduate teacher training from October</a>. This email sets out what you need to do over the next few months to prepare for the next ‘cycle’.</p>

  <h2 class="govuk-heading-m">Updating your courses</h2>
  <p class="govuk-body">We will copy your courses (including withdrawn and unpublished ones) as a basis for the next cycle.</p>
  <p class="govuk-body">From 6 July, when you sign in to Publish teacher training courses you’ll see a new section titled ‘Next cycle (2022 to 2023)’. In this section, you can:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>add any new courses you’re running for the first time in 2021 to 2022</li>
    <li>check the information on your current courses, and update it if needed</li>
    <li>delete any courses you’re no longer running</li>
    <li>check formatting (eg bullet pointed lists, hyperlinks and paragraph breaks)</li>
  </ul>

  <h2 class="govuk-heading-m">Changes for 2022 to 2023</h2>
  <p class="govuk-body">For the next cycle, we have made changes that will help candidates find your courses, and meet your requirements. You will be able to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>add all of your school placement and academic locations. There is no longer a limit on how many you can add.</li>
    <li>confirm if you can sponsor a student visa.</li>
    <li>give more details about your academic requirements (for example, if you need candidates to have a 2:1 at degree level).</li>
  </ul>
  <p class="govuk-body">When updating Publish teacher training courses for the next cycle, these sections will be highlighted for you to edit.</p>

  <h2 class="govuk-heading-m">Publishing your courses</h2>
  <p class="govuk-body">Once you have updated your courses, you can choose to ‘Publish in October’. This means your courses will be published automatically in early October as soon as the new cycle opens.</p>

  <h2 class="govuk-heading-m">What happens to my current courses?</h2>
  <p class="govuk-body">You will still be able to view and edit your current courses after rollover until your new courses have been published in October.</p>

  <h2 class="govuk-heading-m">Next steps</h2>
  <p class="govuk-body">We’ll be in touch again in July to let you know that you can now view, edit and publish your courses for 2022 to 2023. In September, we’ll contact you with a specific date for when the new cycle will open.</p>
  <p class="govuk-body">If anyone else in your organisation needs to see this email, please forward it to them. If you have any questions, you can contact us at <a href="mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p>
  <p class="govuk-body">Regards,</p>
  <p class="govuk-body">Becoming a Teacher team</p>
{% endblock %}
