{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = "/govuk/assets" -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"           import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/character-count/macro.njk"     import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"          import govukCheckboxes %}
{% from "govuk/components/cookie-banner/macro.njk"       import govukCookieBanner %}
{% from "govuk/components/date-input/macro.njk"          import govukDateInput %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/error-message/macro.njk"       import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"       import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"            import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"         import govukFileUpload %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"              import govukRadios %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"           import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/table/macro.njk"               import govukTable %}
{% from "govuk/components/tabs/macro.njk"                import govukTabs %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/textarea/macro.njk"            import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}

{% from "_components/autocomplete/macro.njk"           import appAutocompleteFromInput %}
{% from "_components/autocomplete/macro.njk"           import appAutocompleteFromSelect %}
{% from "_components/badge/macro.njk"                  import appBadge %}
{% from "_components/banner/macro.njk"                 import appBanner %}
{% from "_components/filter/macro.njk"                 import appFilter %}
{% from "_components/footer/macro.njk"                 import appFooter %}
{% from "_components/metric/macro.njk"                 import appMetric %}
{% from "_components/organisation-actions/macro.njk"  import appOrganisationActions %}
{% from "_components/organisation-switcher/macro.njk"  import appOrganisationSwitcher %}
{% from "_components/page-header-actions/macro.njk"    import appPageHeaderActions %}
{% from "_components/pagination/macro.njk"             import appPagination %}
{% from "_components/primary-navigation/macro.njk"     import appPrimaryNavigation %}
{% from "_components/search/macro.njk"                 import appSearch %}
{% from "_components/sub-navigation/macro.njk"         import appSubNavigation %}
{% from "_components/summary-card/macro.njk"           import appSummaryCard %}
{% from "_components/timeline/macro.njk"               import appTimeline %}

{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block pageTitle %}
  {{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    productName: serviceName,
    containerClasses: "govuk-width-container",
    navigationClasses: "govuk-header__navigation--end",
    navigation: [
      {
        href: "/account",
        text: "Your account",
        active: headerNavId == "account"
      },
      {
        href: "/sign-out",
        text: "Sign out"
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: phaseTagText,
      classes: "app-tag--prototype" if environment != 'production'
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.',
    classes: "govuk-width-container" + (" govuk-phase-banner--no-border-bottom" if passport.user.organisations.length == 1 and isRollover == "false" and headerNavId != "account")
  }) }}

  {% if passport.user.organisations.length > 1 or isRollover == "true" %}
    {% set organisationHtml %}
      {{ passport.organisation.name }} {% if isRollover == "true" %}<span class="govuk-hint">– {{ cycleId | getCycleLabel }}</span>{% endif %}
    {% endset %}

    {% if not hideOrganisationSwitcher %}
      {{ appOrganisationActions({
        html: organisationHtml,
        actions: {
          items: [
            {
              text: "Change organisation",
              href: "/organisations/cycles/" + cycleId
            } if passport.user.organisations.length > 1,
            {
              text: "Change recruitment cycle",
              href: "/organisations/" + passport.organisation.id + "/cycles"
            } if isRollover == "true"
          ] | removeEmpty
        },
        classes: "govuk-width-container"
      }) }}
    {% endif %}
  {% endif %}

  {% if not hidePrimaryNavigation %}
    {{ appPrimaryNavigation({
      items: [
        {
          href: baseUrl + "/courses",
          text: "Courses",
          active: primaryNavId == "courses"
        },
        {
          href: baseUrl + "/schools",
          text: "Schools",
          active: primaryNavId == "schools"
        },
        {
          href: baseUrl + "/study-sites",
          text: "Study sites",
          active: primaryNavId == "studySites"
        },
        {
          href: baseUrl + "/users",
          text: "Users",
          active: primaryNavId == "users"
        },
        {
          href: baseUrl + "/training-partners",
          text: "Training partners",
          active: primaryNavId == "trainingPartners"
        } if passport.organisation.isAccreditedBody,
        {
          href: baseUrl + "/accredited-providers",
          text: "Accredited providers",
          active: primaryNavId == "accreditedProviders"
        } if not passport.organisation.isAccreditedBody,
        {
          href: baseUrl + "/details",
          text: "Organisation details",
          active: primaryNavId == "settings"
        },
        {
          href: baseUrl + "/details",
          text: "Change recruitment cycle",
          active: primaryNavId == "settings",
          classes: "app-primary-navigation__item--align-right"
        } if 1 == 0
      ]
    }) }}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% block pageNavigation %}
    {{ govukBackLink({
      text: backLinkText or "Back",
      href: backLink
    }) if backLink }}
  {% endblock %}
{% endblock %}

{% if useAutoStoreData %}
  {% block footer %}
    {% include "_includes/footer.njk" %}
  {% endblock %}
{% endif %}

{% block bodyStart %}
  <div data-module="edge">
{% endblock %}

{% block bodyEnd %}
  </div>
  {% block scripts %}
    {{ data | log }}
    {% include "_includes/scripts.njk" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
