{% extends "layout.html" %}
{% set title = 'About your organisation' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {{ macros.orgHeading('About your organisation', message) }}

  {% set message %}
    {% if showMessage %}
      <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
        <h3 class="heading-medium success-summary-heading" id="success-summary-heading-example-1">
          Your changes have been saved
        </h3>
      </div>
    {% endif %}
  {% endset %}

  {% if data['about-your-organisation-show-publish-errors'] and errors.length > 0 %}
  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
    <h3 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
      We couldn’t publish this because some information was missing
    </h3>
    <p>
      Fix the following problems and try publishing again:
    </p>
    <ul class="error-summary-list">
      {% for error in errors %}
      <li><a href="{{ error.link }}">{{ error.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if justPublished %}
  <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
    <h3 class="heading-medium success-summary-heading" id="success-summary-heading-example-1">
      Your changes have been published
    </h3>
  </div>
  {% endif %}

  <h2 class="heading-large">
    {{ title }}
  </h2>

  <form action="/about-your-organisation" method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        <p>This information shows on all of your courses.</p>

        <p>This is your chance to tell applicants why they should choose to train with you. You could describe any advantages and special features of you as a training provider.</p>

        <p>You must be specific and factual with any claims you make, and support them with evidence. For example:</p>

        <ul class="list list-bullet">
          <li>don’t say “our students are some of the happiest in the country”</li>
          <li>do say “the Times Educational Supplement ranked our students as 4th happiest in the country”</li>
        </ul>
        {{ macros.textarea('about-organisation', 'Training with you', 14, '', 250, errors) }}
      </div>
      <div class="column-one-third">
        {% set publishState = publishState or data['about-your-organisation-publish-state'] or 'new' %}
        {{ macros.aboutYourOrgPublish(publishState, data['about-your-organisation-published-before'], '/publish/about-your-organisation') }}
      </div>
    </div>

    {% if not data['self_accrediting'] %}
    <div class="grid-row">
      <div class="column-two-thirds">
        {% if data['accreditors'].length > 1 %}
          <h2 class="heading-large">
            About your accredited providers
          </h2>
          <p>Describe advantages and special features of each accredited provider. You must be specific and factual with any claims you make, and support them with evidence.</p>
        {% else %}
          <h2 class="heading-large">
            About your accredited provider
          </h2>
          <p>Describe advantages and special features of your accredited provider. You must be specific and factual with any claims you make, and support them with evidence.</p>
        {% endif %}

        {% for a in data['accreditors'] %}
          {{ macros.textarea(a.slug + '-about-accrediting-provider', 'About ' + a.name + ' (optional)', 8, '', 100) }}
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h3 class="heading-large remove-top-margin">Training with disabilities and other needs</h3>
        <p>Say how you support candidates with disabilities and other needs. This could include candidates with:</p>

        <ul class="list list-bullet">
          <li>dyslexia</li>
          <li>physical, hearing and visual impairments</li>
          <li>mental health conditions</li>
        </ul>
        <p>If accessibility varies between locations, give details. It’s also useful to candidates to know how you’ve accommodated others with specific access needs in the past.</p>

        {{ macros.textarea('training-with-a-disability', 'Training with disabilities and other needs', 14, '', 250, errors) }}
      </div>
    </div>

    <div class="add-double-bottom-margin">
      <input type="submit" class="button" value="Save" />
    </div>

    <a href="/">Cancel changes</a>
  </form>
</main>

{% endblock %}
