{% extends "layout.html" %}
{% set title = 'About your organisation' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="breadcrumbs">

    <ol>
      {% if value('multi-organisation') %}<li><a href="/">Organisations</a></li>{% endif %}
      <li><a href="/">{{ data['training-provider-name']}}</a></li>
    </ol>

  </div>

  {% set message %}
    {% if showMessage %}
      <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
        <h3 class="heading-medium success-summary-heading" id="success-summary-heading-example-1">
          Your changes have been saved
        </h3>
      </div>
    {% endif %}
  {% endset %}

  {% if data['about-your-organisation-show-publish-errors'] and errors.length > 0 %}
  <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
    <h3 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
      We couldn’t publish this because some information was missing
    </h3>
    <p>
      Fix the following problems and try publishing again:
    </p>
    <ul class="error-summary-list">
      {% for error in errors %}
      <li><a href="{{ error.link }}">{{ error.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  {% if justPublished %}
  <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
    <h3 class="heading-medium success-summary-heading" id="success-summary-heading-example-1">
      Your changes have been published
    </h3>
  </div>
  {% endif %}

  {{ macros.orgHeading('About your organisation', message) }}

  <div class="grid-row add-top-margin">
    <div class="column-two-thirds">
      <div class="course-parts course-parts--large">
        <ul class="course-parts-items">
          <li class="course-parts-item">
            <h3 class="course-part-task">Contact details from UCAS</h3>
            <div style="overflow: hidden; clear: left; margin-bottom: 30px;"></div>
            <dl class="course-part-tasks aligned add-top-margin add-bottom-margin">
              <dt>Training provider code:</dt>
              <dd>{{ data['provider-code'] }}</dd>
              <dt>Email:</dt>
              <dd>{{ data['email'] }}</dd>
              <dt>Telephone:</dt>
              <dd>{{ data['telephone'] }}</dd>
              <dt>Website:</dt>
              <dd><a href="{{ data['website'] }}" style="padding: 0">{{ data['website'] }}</a></dd>
              <dt>Address:</dt>
              <dd>
                {{ data['training-provider-name'] }}<br />
                {{ data['address-line-1'] }}<br />
                {{ data['town'] }}<br />
                {{ data['postcode'] }}
              </dd>
            </dl>
          </li>
          <li class="course-parts-item">
            <h3 class="course-part-task">About your organisation</h3>
            <a class="course-part-task-action" href="/about-your-organisation/edit">Edit</a>

            <dl class="course-part-tasks">
              {{ macros.coursePart('about-organisation', 'About your organisation') }}
              {% if not data['self_accrediting'] %}
                {% for a in data['accreditors'] %}
                  {{ macros.coursePart(a.slug + '-about-accrediting-provider', 'About ' + a.name + ' (optional)') }}
                {% endfor %}
              {% endif %}
              {{ macros.coursePart('training-with-a-disability', 'Training with disabilities and other needs') }}
            </dl>
          </li>
        </ul>
      </div>
    </div>
    <div class="column-one-third">
      {% set publishState = publishState or data['about-your-organisation-publish-state'] or 'new' %}
      {{ macros.aboutYourOrgPublish(publishState, data['about-your-organisation-published-before'], '/publish/about-your-organisation') }}
    </div>
  </div>
</main>

{% endblock %}
