{% extends "layout.html" %}
{% set title = 'About your organisation' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {% set message %}
    {% if showMessage %}
      <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
        <h3 class="heading-medium success-summary-heading" id="success-summary-heading-example-1">
          Changes saved
        </h3>
      </div>
    {% endif %}
  {% endset %}

  {{ macros.orgHeading('About your organisation', message) }}

  <h2 class="heading-large">
    {{ title }}
  </h2>

  <form action="/about-your-organisation" method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        <p>This is your chance to tell applicants why they should choose to train with you. You could describe any advantages and special features of you as a training provider.</p>

        <p>You must be specific and factual with any claims you make, and support them with evidence. For example:</p>

        <ul class="list list-bullet">
          <li>don’t say “our students are some of the happiest in the country”</li>
          <li>do say “the Times Educational Supplement ranked our students as 4th happiest in the country”</li>
        </ul>
        {{ macros.textarea('about-organisation', 'Training with you', 14, '', 250) }}

        {{ macros.textbox('website', 'Your website', '', 'form-control-full')}}
      </div>
      <div class="column-one-third">
        <div class="add-double-bottom-margin status-box">
          <h3 class="heading-medium remove-top-margin">Publish changes</h3>
          <p>You’ve made changes to your organisation details.</p>
          <p>Publish changes to update the information shown on all {{ data['training-provider-name']}} courses.</p>
          <a href="#" class="button">Publish changes</a>
          <hr />
          <h3 class="heading-medium remove-top-margin">Formatting</h3>
          <p>You can use paragraphs, lists and links in your content.</p>

          <a href="#">Formatting help</a>
        </div>
      </div>
    </div>

    {% if not data['self_accrediting'] %}
    <div class="grid-row">
      <div class="column-two-thirds">
        {% if data['accreditors'].length > 1 %}
          <h2 class="heading-large">
            About your accrediting providers
          </h2>
          <p>Describe advantages and special features of each accrediting provider. You must be specific and factual with any claims you make, and support them with evidence.</p>
        {% else %}
          <h2 class="heading-large">
            About your accrediting provider
          </h2>
          <p>Describe advantages and special features of your accrediting provider. You must be specific and factual with any claims you make, and support them with evidence.</p>
        {% endif %}

        {% for a in data['accreditors'] %}
          {{ macros.textarea(a.slug + '-about-accrediting-provider', 'About ' + a.name + ' (optional)', 8, '', 100) }}
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="grid-row">
      <div class="column-two-thirds">
        <h3 class="heading-large remove-top-margin">Training with a disability</h3>
        <p>Here you should summarise the accessibility of your course. Bear in mind the range of disabilities that applicants may have (eg dyslexia, or physical, hearing and visual impairments). If accessibility varies between schools or other sites, give details. You could also offer examples of how you’ve accommodated candidates with particular accessibility needs.</p>

        {{ macros.textarea('training-with-a-disability', 'Training with a disability', 14, '', 250) }}
      </div>
    </div>

    <div class="add-double-bottom-margin">
      <input type="submit" class="button" value="Save" />
    </div>

    <a href="/">Cancel changes</a>
  </form>
</main>

{% endblock %}
