{% extends "layout.html" %}
{% set title %}Before we begin{% endset %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}



  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>This is a prototype.</p>
      <p>The data shown in this prototype:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>is old and may be out of date</li>
        <li>doesn’t represent the live version</li>
      </ul>

      <p>Any changes made using this prototype are temporary and will be deleted after the research ends.</p>

      <a href="/" class="govuk-button">Start research</a>
    </div>
</div>


{% endblock %}
