{% extends "layout.html" %}
{% set title %}{{ course.name | safe }} ({{ course.programmeCode }}){% endset %}
{% block pageTitle %}{{ title }}{% endblock %}
{% set coursePath = '/course/' + data['provider-code'] + '/' + course.programmeCode %}
{% set previewLink = '/preview/' +  data['provider-code'] + '/' + course.programmeCode %}
{% set publishLink = '/publish/' +  data['provider-code'] + '/' + course.programmeCode %}
{% set publishState = publishState or data[course.programmeCode + '-publish-state'] or 'new' %}

{% block breadcrumbs %}
  {{
    govukBreadcrumbs({
      items: [
        {
          href: "/",
          text: data['training-provider-name']
        }
      ]
    })
  }}
{% endblock %}

{% block content %}
  {% if justCreated %}
  <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
    <h3 class="govuk-heading-m success-summary-heading" id="success-summary-heading-example-1">
      Your course is saved and ready to complete
    </h3>
    <p class="govuk-!-margin-bottom-0">
      Add the rest of your details and publish the course, so that candidates can find it and apply to it.
    </p>
  </div>
  {% endif %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ course.options }}</span>
    {{ title }}
  </h1>

  {% if showMessage %}
    <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
      <h3 class="govuk-heading-m success-summary-heading" id="success-summary-heading-example-1">
        Your changes have been saved
      </h3>
      <p class="govuk-!-margin-bottom-0">
        <a href="{{ previewLink }}">Preview your course</a> to check for mistakes before publishing.
      </p>
    </div>
  {% endif %}

  {% if justPublished %}
  <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
    <h3 class="govuk-heading-m success-summary-heading" id="success-summary-heading-example-1">
      Your changes have been published
    </h3>
    <p class="govuk-!-margin-bottom-0 ">
      See how this course looks to applicants:<br />
      <a href="#">View on website</a>
    </p>
  </div>
  {% endif %}

  {% include "course/_errors.html" %}

  <div class="govuk-grid-row add-top-margin">
    <div class="govuk-grid-column-two-thirds">
      <div class="course-parts course-parts--large">
        <ul class="course-parts-items">
          <li class="course-parts-item">
            <h3 class="course-part-task">About this course</h3>
            <a class="course-part-task-action" href="{{ coursePath }}/about-this-course">Edit about this course</a>
            <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-top-4">
              {{ macros.coursePart(course.programmeCode + '-about-this-course', 'About this course', errors, coursePath) }}
              {{ macros.coursePart(course.programmeCode + '-interview-process', 'Interview process (optional)') }}
              {{ macros.coursePart(course.programmeCode + '-placement-school-policy', 'How school placements work', errors, coursePath) }}
            </dl>
          </li>
          <li class="course-parts-item">
            <h3 class="course-part-task">Course length and {% if course.salaried %}salary{% else %}fees{% endif %}</h3>
            <a class="course-part-task-action" href="{{ coursePath }}/fees-and-length">Edit course length and {% if course.salaried %}salary{% else %}fees{% endif %}</a>
            <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-top-4">
              {% if data[course.programmeCode + '-duration'] == 'Other' %}
                {{ macros.coursePart(course.programmeCode + '-duration-other', 'Course length', errors, coursePath) }}
              {% else %}
                {{ macros.coursePart(course.programmeCode + '-duration', 'Course length', errors, coursePath) }}
              {% endif %}
              {% if course.salaried %}
                {{ macros.coursePart(course.programmeCode + '-salary-details', 'Salary', errors, coursePath) }}
              {% else %}
                {{ macros.feesCoursePart(course.programmeCode + '-fee', 'Fee for UK and EU students', errors, coursePath) }}
                {{ macros.feesCoursePart(course.programmeCode + '-fee-international', 'Fee for international students (optional)') }}
                {{ macros.coursePart(course.programmeCode + '-fee-details', 'Fee details (optional)') }}
                {{ macros.coursePart(course.programmeCode + '-financial-support', 'Financial support you offer (optional)') }}
              {% endif %}
            </dl>
          </li>
          <li class="course-parts-item">
            <h3 class="course-part-task">
              Requirements and eligibility
            </h3>
            <a class="course-part-task-action" href="{{ coursePath }}/requirements">Edit requirements and eligibility</a>

            <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-top-4">
              {{ macros.coursePart(course.programmeCode + '-qualifications-required', 'Qualifications needed', errors, coursePath) }}
              {{ macros.coursePart(course.programmeCode + '-personal-qualities', 'Personal qualities (optional)') }}
              {{ macros.coursePart(course.programmeCode + '-other-requirements', 'Other requirements (optional)') }}
            </dl>
          </li>
          <!-- <li class="course-parts-item">
            <h3 class="course-part-task">Training locations</h3>

            <div style="clear: left; padding-top: 20px">
              {% for school in course.schools %}
              <h4 class="govuk-heading-s add-top-margin">{{ school.name }} (Code: {{ school.code }})</h4>
              <dl class="aligned add-top-margin add-double-bottom-margin">
                <dt>Address:</dt>
                <dd>{{ school.address }}</dd>
                <dt>Status:</dt>
                <dd>Running</dd>
                <dt>Vacancies:</dt>
                <dd>Full time vacancies</dd>
                <dt>Apply from:</dt>
                <dd>October 2018</dd>
              </dl>
              {% endfor %}

              {% set detailsText %}
                <p>These locations won’t appear on the page for this course and candidates won’t be able apply for them.</p>

                {% for school in course.schools %}
                <h4 class="govuk-heading-s add-top-margin">{{ school.name }} (Code: {{ school.code }})</h4>
                <dl class="aligned add-top-margin add-double-bottom-margin">
                  <dt>Address:</dt>
                  <dd>{{ school.address }}</dd>
                  <dt>Status:</dt>
                  <dd>Suspended</dd>
                </dl>
                {% endfor %}
              {% endset %}
              {{ govukDetails({
                summaryText: "There are 4 suspended or discontinued training locations for this course",
                text: detailsText | safe
              }) }}
            </div>
          </li> -->
          <li class="course-parts-item">
            <h3 class="course-part-task">
              Course information
            </h3>
            <a class="course-part-task-action" href="{{ coursePath }}/requirements">Change course information</a>
            <dl class="app-check-your-answers app-check-your-answers--long govuk-!-margin-top-4">
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Level
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ course.level }}
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  SEND
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ course.sen }}
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Subject
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ course.subject }}
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Outcome
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ course.outcome }}
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Fee or salary
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ course.type }}
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Full or part time
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ course['full-part'] }}
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Training locations
                </dt>
                <dd class="app-check-your-answers__answer">
                  {% for s in course.schools %}
                    {{ s.name }}<br />
                  {% endfor %}
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Separate accredited provider?
                </dt>
                <dd class="app-check-your-answers__answer">
                  {% if course.accrediting == data['training-provider-name'] %}
                    No, we are the accredited provider
                  {% else %}
                    Yes
                  {% endif %}
                </dd>
              </div>
              {% if course.accrediting != data['training-provider-name'] %}
                <div class="app-check-your-answers__contents">
                  <dt class="app-check-your-answers__question">
                    Accredited provider
                  </dt>
                  <dd class="app-check-your-answers__answer">
                    {{ course.accrediting }}
                  </dd>
                </div>
              {% endif %}
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Minimum requirements
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ course.minRequirements }}
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Title
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ course.name }}
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Description
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ course.options[0] }}
                </dd>
              </div>
              <div class="app-check-your-answers__contents">
                <dt class="app-check-your-answers__question">
                  Course code
                </dt>
                <dd class="app-check-your-answers__answer">
                  {{ course.programmeCode }}
                </dd>
              </div>
            </dl>
          </li>
        </ul>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ macros.coursePublish(publishState, data[course.programmeCode + '-published-before'], previewLink, publishLink) }}
    </div>
  </div>


{% endblock %}
