{% extends "layout.html" %}
{% set title %}{{ course.name | safe }} ({{ course.programmeCode }}){% endset %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block breadcrumbs %}
  {{
    govukBreadcrumbs({
      items: [
        {
          href: "/",
          text: data['training-provider-name']
        }
      ]
    })
  }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    <span class="heading-secondary">{{ course.options }}</span>
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">Information from UCAS</h3>
      <div class="notice" style="margin-top: 30px">
        <i class="icon icon-important">
          <span class="visually-hidden">Warning</span>
        </i>
        <strong class="bold-small">
          This course is not running.
        </strong>
      </div>
      <p style="margin-left: 50px; margin-bottom: 30px">It won’t appear online. You can publish it by changing the status of one or more training locations to “running” in <a href="https://update.ucas.co.uk/netupdate2/Welcome.htm">UCAS web-link</a>.</p>
      <p>You can only change this information using <a href="https://update.ucas.co.uk/netupdate2/Welcome.htm">UCAS web-link</a>. Changes will usually appear here within one working day.</p>
      <dl class="aligned add-top-margin add-double-bottom-margin">
        <dt>Status:</dt>
        <dd>Not running</dd>
        <dt>Training provider code:</dt>
        <dd>{{ course.providerCode }}</dd>
        <dt>Training programme code:</dt>
        <dd>{{ course.programmeCode }}</dd>
        <dt>Accredited provider:</dt>
        <dd>{{ course.accrediting }}</dd>
        <dt>Route:</dt>
        <dd>{{ course.route }}</dd>
        <dt>Subjects:</dt>
        <dd>{{ course.subjects }}</dd>
        <!-- <dt>Age range:</dt>
        <dd>{{ course.ageRange }}</dd> -->
        <dt>Qualification:</dt>
        <dd>{{ course.qualifications }}</dd>
        <dt>Regions:</dt>
        <dd>{{ course.regions }}</dd>
      </dl>
    </div>
  </div>


  <div class="govuk-grid-row add-top-margin">
    <div class="govuk-grid-column-two-thirds">
      <div class="course-parts course-parts--large">
        <ul class="course-parts-items">
          <li class="course-parts-item">
            <h3 class="course-part-task">Training locations</h3>

            <div style="clear: left; padding-top: 20px">
            {% for school in course.schools %}
            <h4 class="govuk-heading-s add-top-margin">{{ school.name }} (Code: {{ school.code }})</h4>
            <dl class="aligned add-top-margin add-double-bottom-margin">
              <dt>Address:</dt>
              <dd>{{ school.address }}</dd>
              <dt>Status:</dt>
              <dd>Discontinued</dd>
              <dt>Vacancies:</dt>
              <dd>Full time vacancies</dd>
              <dt>Apply from:</dt>
              <dd>October 2018</dd>
            </dl>
            {% endfor %}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


{% endblock %}
