{% extends "layout.html" %}
{% block page_title %}Courses{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs"></div>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{ data['training-provider-name'] }}</span>
    Courses
  </h1>

  <div class="grid-row add-double-bottom-margin">
    <div class="column-two-thirds">
      <p class="lede">Multiple UCAS courses for the same subject are combined into a single subject page. For example, courses with and without a salary.</p>
    </div>
  </div>

      <ul class="listing-example">
        {% for result in data['subjects'] %}
          <li>
            <div class="heading-medium remove-top-margin">
              <a href="/course/{{ result.slug }}">{{ result.name }}</a>
            </div>

            {#
            {% for variant in result.variants %}
              <h4 class="heading-small add-bottom-margin add-top-margin">
                {{ variant.title }}
              </h4>
              <table class="add-double-bottom-margin">
                <thead>
                  <tr>
                    <th>School</th>
                    <th>Course code</th>
                    <th>Vacancies</th>
                  </tr>
                </thead>
                <tbody>
                  {% for school in variant.schools %}
                  <tr>
                    <td>{{ school.name }}</td>
                    <td>{{ variant.code }}</td>
                    <td>{{ school.vacancies }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% endfor %}
            #}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</main>

{% endblock %}
