{% extends "layout.html" %}
{% set title = 'Courses' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems())}}{% endblock %}
{% set newCourseFormUrl = 'https://goo.gl/forms/HJ17Hob3728X3mTc2' if data['new-course']['include-accredited'] else 'https://goo.gl/forms/kdNksCuwcz7TVtNF2' %}

{% block content %}
  {% if justEditedVacancies %}
    <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-0 success-summary-heading" id="success-summary-heading-example-1">
        Course vacancies published
      </h3>
    </div>
  {% endif %}

  {% if justDeleted %}
    <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-0 success-summary-heading" id="success-summary-heading-example-1">
        Course deleted
      </h3>
    </div>
  {% endif %}

  <h1 class="govuk-heading-xl">
    {% if data['next-cycle'] %}<span class="govuk-caption-xl">Next cycle (2020 – 2021)</span>{% endif %}
    {{ title }}
  </h1>

  <p>Use this section to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>preview and publish courses</li>
    <li>write about each course</li>
    <li>copy content between courses</li>
    <li>add new courses</li>
  </ul>

  {% if data['ucasCourses'].length > 10 %}
    <div class="add-top-margin">
      <a href="{{ newCourseFormUrl }}" class="govuk-button" target="_blank">Add a new course</a>
      <p class="govuk-body-s govuk-!-margin-bottom-6" style="margin-top: -20px">You’ll be taken to a Google Form to fill in your course details.</p>
    </div>
  {% endif %}

  {% if data['ucasCourses'].length > 0 %}
    {% for accrediting in data['accreditors'] %}
      {% if data['accreditors'][0]['name'] != data['training-provider-name'] %}
        <h3 class="govuk-heading-m">
          <span class="govuk-caption-m">Accredited body</span>
          {{ accrediting.name }}
        </h3>
      {% endif %}
      <div class="body-text">
        <table class="govuk-table app-table--vertical-align-middle ucas-info-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header subject-col" style="width: 380px">Course</th>
              <th class="govuk-table__header status-col" style="width: 160px">Status</th>
              <th class="govuk-table__header published-col" style="width: 150px">
                {% if data['next-cycle'] %}Will it be{% else %}Is it{% endif %} on <abbr title="Find postgraduate teacher training" style="text-decoration: underline; text-decoration-style: dotted;">Find</abbr>?
              </th>
              <th class="govuk-table__header applications-col">Applications</th>
              <th class="govuk-table__header type-col">Vacancies</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for course in data['ucasCourses'] %}
              {% if course.accrediting == accrediting.name %}
                {% include "includes/_courses-table-row.html" %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  {% endif %}

  <div class="add-top-margin">
    <a href="{{ newCourseFormUrl }}" class="govuk-button" target="_blank">Add a new course</a>
    <p class="govuk-body-s govuk-!-margin-bottom-6" style="margin-top: -20px">You’ll be taken to a Google Form to fill in your course details.</p>
  </div>

{% endblock %}
