{% extends "layout.html" %}
{% set title %}{{ subject.name or 'Maths' }}{% endset %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/courses">Courses</a></li>
    </ol>
  </div>

  {% if data[subject.slug + '-qa'] == 'true' %}
    <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1" style="margin-bottom: 60px">
      <h3 class="heading-medium success-summary-heading" id="success-summary-heading-example-1">
        {{ title }} has been sent to DfE for review
      </h3>
      <p>
        You will receive an email when the course is published or if changes are needed.
      </p>
    </div>
  {% endif %}

  <h1 class="heading-xlarge">
    {{ title }}
  </h1>

  <p>
    <a href="/preview/{{ subject.slug }}">Preview course</a>
  </p>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="course-parts course-parts--large">
          <ul class="course-parts-items">
            <li class="course-parts-item">
              <h3 class="course-part-task">
                Details from UCAS
              </h3>
              <a class="course-part-task-action" href="/course/{{ subject.slug }}/from-ucas">View</a>

              <dl class="course-part-tasks">
                <div>
                  <dt class="course-part-label">
                    UCAS {{ subject.name }} courses
                  </dt>
                  <dd class="course-part-value">
                    {% if subject.folded_course.courses == 1 %}
                      1 course
                    {% else %}
                      {{ subject.folded_course.courses }} courses combined
                    {% endif %}
                  </dd>
                </div>
                <div>
                  <dt class="course-part-label">
                    Applications open from
                  </dt>
                  <dd class="course-part-value">
                    {{ subject.folded_course.applicationsOpen }}
                  </dd>
                </div>
                <div>
                  <dt class="course-part-label">
                    {% if subject.folded_course.accrediting | length == 1 %}
                      Accrediting provider
                    {% else %}
                      Accrediting providers
                    {% endif %}
                  </dt>
                  <dd class="course-part-value">
                    {% for ac in subject.folded_course.accrediting %}
                      {{ ac }}<br />
                    {% endfor %}
                  </dd>
                </div>
                <div>
                  <dt class="course-part-label">
                    Study options
                  </dt>
                  <dd class="course-part-value">
                    {% for option in subject.folded_course.options %}
                      {{ option }}<br />
                    {% endfor %}
                  </dd>
                </div>
                <div>
                  <dt class="course-part-label">
                    Schools with vacancies
                  </dt>
                  <dd class="course-part-value">
                    {% for school in subject.folded_course.schoolsWithVacancies %}
                      {{ school }}<br />
                    {% endfor %}
                  </dd>
                </div>
              </dl>
            </li>
            <li class="course-parts-item">
              <h3 class="course-part-task">
                About this course
              </h3>
              <a class="course-part-task-action" href="/course/{{ subject.slug }}/about-this-course">Edit</a>
              <dl class="course-part-tasks">
                {{ macros.coursePart(subject.slug + '-course-website', 'Course website') }}
                {{ macros.coursePart(subject.slug + '-about-this-course', 'About this course') }}
              </dl>
            </li>
            <li class="course-parts-item">
              <h3 class="course-part-task">
                About this training provider
              </h3>
              <a class="course-part-task-action" href="/course/{{ subject.slug }}/about-this-provider">Edit</a>
              <dl class="course-part-tasks">
                {{ macros.coursePart(subject.slug + '-training-with-a-disability', 'Training with a disability') }}
                {{ macros.coursePart(subject.slug + '-interview-process', 'Interview process') }}
                {{ macros.coursePart(subject.slug + '-placement-school-policy', 'Placement school policy') }}
              </dl>
            </li>
            <li class="course-parts-item">
              <h3 class="course-part-task">
                Course requirements
              </h3>
              <a class="course-part-task-action" href="/course/{{ subject.slug }}/requirements">Edit</a>

              <dl class="course-part-tasks">
                {{ macros.coursePart(subject.slug + '-qualifications-required', 'Qualifications needed') }}
                {{ macros.coursePart(subject.slug + '-other-requirements', 'Other requirements') }}
              </dl>
            </li>
            {% if subject.folded_course.flags.qualifications %}
            <li class="course-parts-item">
              <h3 class="course-part-task">
                Qualification
              </h3>
              <a class="course-part-task-action" href="/course/{{ subject.slug }}/qualification-options">Edit</a>
              <dl class="course-part-tasks">
                {{ macros.coursePart(subject.slug + '-pgce-with-qts-qual', 'PGCE with QTS') }}
                {{ macros.coursePart(subject.slug + '-pgce-with-qts-qual-fee', 'PGCE with QTS course fee') }}
                {{ macros.coursePart(subject.slug + '-qts-qual', 'QTS') }}
                {{ macros.coursePart(subject.slug + '-qts-qual-fee', 'QTS course fee') }}
              </dl>
            </li>
            {% endif %}
            {% if subject.folded_course.flags.salary %}
            <li class="course-parts-item">
              <h3 class="course-part-task">
                Salary
              </h3>
              <a class="course-part-task-action" href="/course/{{ subject.slug }}/salary-options">Edit</a>
              <dl class="course-part-tasks">
                {{ macros.coursePart(subject.slug + '-salaried', 'Salaried teacher training') }}
                {{ macros.coursePart(subject.slug + '-salary', 'Salary available') }}
              </dl>
            </li>
            {% endif %}
            <!-- <li class="course-parts-item">
              <h3 class="course-part-task">
                Schools
              </h3>
              <a class="course-part-task-action" href="/course/{{ subject.slug }}/requirements">Edit</a>
              <dl class="course-part-tasks">
                <div>
                  <dt class="course-part-label">
                    Placement school policy
                  </dt>
                  <dd class="course-part-value course-part-value--empty">
                    This field is empty
                  </dd>
                </div>
              </dl>
            </li> -->
          </ul>
      </div>
      <form action="/course/{{ subject.slug }}" method="post">
        <input type="hidden" name="{{ subject.slug }}-qa" value="true" />
        <input type="submit" value="Send to DfE" class="button" />
      </form>
    </div>
  </div>
</main>

{% endblock %}
