{% extends "layout.html" %}
{% set title %}{{ course.name | safe }} ({{ course.programmeCode }}){% endset %}
{% block pageTitle %}{{ title }}{% endblock %}
{% set coursePath = '/course/' + data['provider-code'] + '/' + course.programmeCode %}
{% set previewLink = '/preview/' +  data['provider-code'] + '/' + course.programmeCode %}
{% set publishState = publishState or data[course.programmeCode + '-publish-state'] or 'new' %}
{% set code = course.programmeCode %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems([
  {
    href: "/courses",
    text: 'Courses'
  }
]))}}{% endblock %}

{% block content %}
  {% if justCreated %}
  <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
    <h3 class="govuk-heading-m success-summary-heading" id="success-summary-heading-example-1">
      Your course has been created
    </h3>
    <p class="govuk-!-margin-bottom-0">
      Add the rest of your details and publish the course, so that candidates can find and apply to it.
    </p>

    {% if course.titleRequested %}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <h3 class="govuk-heading-m">
        Your request for a new title is being reviewed
      </h3>
      <p class="govuk-!-margin-bottom-0">Requested title:</p>
      <p class="govuk-heading-s">
        {{ course.titleRequested }} ({{ course.programmeCode }})
      </p>
      <p>You’ll receive an email from the Becoming a Teacher team when the change is approved or rejected.</p>

      <p class="govuk-!-margin-bottom-0"><a href="#">Cancel this request</a></p>
    {% endif %}
  </div>
  {% endif %}

  {% if course.titleRequested and not justCreated %}
    <div class="neutral-summary govuk-!-margin-bottom-8" role="alert" tabindex="-1">
      <h3 class="govuk-heading-m">
        Your request for a new title is being reviewed
      </h3>
      <p class="govuk-!-margin-bottom-0">Requested title:</p>
      <p class="govuk-heading-s">
        {{ course.titleRequested }} ({{ course.programmeCode }})
      </p>
      <p>You’ll receive an email from the Becoming a Teacher team when the change is approved or rejected.</p>

      <p class="govuk-!-margin-bottom-0"><a href="#">Cancel this request</a></p>
    </div>
  {% endif %}

  {% if justWithdrawn %}
  <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-0 success-summary-heading" id="success-summary-heading-example-1">
      This course has been withdrawn
    </h3>
  </div>
  {% endif %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ course.options }}</span>
    {{ title }}
  </h1>

  {% if data[course.programmeCode + '-publish-state'] == 'withdrawn' %}
    <div class="govuk-grid-row govuk-!-margin-bottom-5">
      <div class="govuk-grid-column-two-thirds">
        {{ govukWarningText({
            html: 'This course has been withdrawn.<br />It can’t be published again in this cycle.',
            iconFallbackText: 'Warning'
        }) }}
      </div>
    </div>
  {% endif %}

  {% if showMessage %}
    <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
      <h3 class="govuk-heading-m success-summary-heading" id="success-summary-heading-example-1">
        Your changes have been saved
      </h3>
      <p class="govuk-!-margin-bottom-0">
        <a href="{{ previewLink }}">Preview your course</a> to check for mistakes before publishing.
      </p>
    </div>
  {% endif %}

  {% if justPublished %}
  <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
    <h3 class="govuk-heading-m success-summary-heading" id="success-summary-heading-example-1">
      Your changes have been published
    </h3>
    <p class="govuk-!-margin-bottom-0 ">
      See how this course looks to applicants:<br />
      <a href="#">View on website</a>
    </p>
  </div>
  {% endif %}

  {% include "course/_errors.html" %}

  <div class="govuk-grid-row add-top-margin">
    <div class="govuk-grid-column-two-thirds">
      {% set sectionTitle %}
        {% if data[course.programmeCode + '-publish-state'] == 'withdrawn' %}
          Course information
        {% else %}
          Edit course information
        {% endif %}
      {% endset %}

      {% if course.level == 'Further education' %}
        <h3 class="govuk-heading-27 remove-top-margin">
          <a href="/new/{{ course.programmeCode }}/further/edit">
            {{ sectionTitle }}
          </a>
        </h3>
        <dl class="govuk-summary-list govuk-summary-list--short">
          {% include "new/further/_answers.html" %}
        </dl>
      {% else %}
        <h3 class="govuk-heading-27 remove-top-margin">
          <a href="/new/{{ course.programmeCode }}/edit">
            {{ sectionTitle }}
          </a>
        </h3>
        <dl class="govuk-summary-list govuk-summary-list--short govuk-summary-list--short">
          {% include "new/_answers.html" %}
        </dl>
      {% endif %}

      <h3 class="govuk-heading-27">
        <a href="{{ coursePath }}/about-this-course">About this course</a>
      </h3>
      <dl class="govuk-summary-list govuk-summary-list--short">
        {{ macros.coursePart(course.programmeCode + '-about-this-course', 'About this course', errors, coursePath) }}
        {{ macros.coursePart(course.programmeCode + '-interview-process', 'Interview process (optional)') }}
        {{ macros.coursePart(course.programmeCode + '-placement-school-policy', 'How school placements work', errors, coursePath) }}
      </dl>

      <h3 class="govuk-heading-27">
        <a href="{{ coursePath }}/fees-and-length">
          Course length and {% if course.salaried %}salary{% else %}fees{% endif %}
        </a>
      </h3>
      <dl class="govuk-summary-list govuk-summary-list--short">
        {% if data[course.programmeCode + '-duration'] == 'Other' %}
          {{ macros.coursePart(course.programmeCode + '-duration-other', 'Course length', errors, coursePath) }}
        {% else %}
          {{ macros.coursePart(course.programmeCode + '-duration', 'Course length', errors, coursePath) }}
        {% endif %}
        {% if course.salaried %}
          {{ macros.coursePart(course.programmeCode + '-salary-details', 'Salary', errors, coursePath) }}
        {% else %}
          {{ macros.feesCoursePart(course.programmeCode + '-fee', 'Fee for UK and EU students', errors, coursePath) }}
          {{ macros.feesCoursePart(course.programmeCode + '-fee-international', 'Fee for international students (optional)') }}
          {{ macros.coursePart(course.programmeCode + '-fee-details', 'Fee details (optional)') }}
          {{ macros.coursePart(course.programmeCode + '-financial-support', 'Financial support you offer (optional)') }}
        {% endif %}
      </dl>

      <h3 class="govuk-heading-27">
        <a href="{{ coursePath }}/requirements">
          Requirements and eligibility
        </a>
      </h3>
      <dl class="govuk-summary-list govuk-summary-list--short">
        {{ macros.coursePart(course.programmeCode + '-qualifications-required', 'Qualifications needed', errors, coursePath) }}
        {{ macros.coursePart(course.programmeCode + '-personal-qualities', 'Personal qualities (optional)') }}
        {{ macros.coursePart(course.programmeCode + '-other-requirements', 'Other requirements (optional)') }}
      </dl>
    </div>
    <div class="govuk-grid-column-one-third">
      {{ macros.coursePublish(publishState, data[course.programmeCode + '-published-before'], data['provider-code'], course.programmeCode) }}
    </div>
  </div>


{% endblock %}
