{% extends "layout.html" %}
{% block pageTitle %}{{ data['training-provider-name'] }}{% endblock %}

{% block content %}
  {% if justRolledOver %}
  <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
    <h3 class="govuk-heading-m success-summary-heading" id="success-summary-heading-example-1">
      We’ve copied your courses and locations to the next cycle.
    </h3>

    <p class="govuk-!-margin-bottom-0">
      You can now prepare for the next cycle, or edit the current cycle.
    </p>
  </div>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ data['training-provider-name'] }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          <a href="{% if data['next-cycle'] %}{{ currentCyclePrototype }}{% else %}/{% endif %}">Current cycle (2019&thinsp;–&thinsp;2020)</a>
        </h2>

        <p>Manage courses, locations and vacancies in the current cycle.</p>
      </div>
      <div class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          <a href="{% if data['next-cycle'] %}/{% else %}{{ nextCyclePrototype }}{% endif %}">Next cycle (2020&thinsp;–&thinsp;2021)</a>
        </h2>
        <p>Prepare your courses and locations for the next cycle.</p>
      </div>

      {% include "includes/_access-and-preferences.html" %}
    </div>
  </div>
{% endblock %}
