{% extends "layout.html" %}
{% set title = data["training-provider-name"] %}

{% block content %}
  {% set justRolledOverHtml %}
    <h3 class="govuk-notification-banner__heading">We’ve copied your courses and locations to the next cycle.</h3>
    <p class="govuk-body">You can now prepare for the next cycle, or edit the current cycle.</p>
  {% endset %}
  {{ govukNotificationBanner({
    html: justRolledOverHtml,
    type: "success"
  }) if justRolledOver }}

  <h1 class="govuk-heading-xl">{{ data["training-provider-name"] }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">
          <a href="{% if data['next-cycle'] %}{{ currentCyclePrototype }}{% else %}/{% endif %}">Current cycle (2021 to 2022)</a>
        </h2>

        <p>Use this section to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>manage your existing courses</li>
          <li>edit locations and vacancies</li>
        </ul>
      </div>
      <div class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">
          <a href="{% if data['next-cycle'] %}/{% else %}{{ nextCyclePrototype }}{% endif %}">Next cycle (2022 to 2023)</a>
        </h2>
        <p>Use this section to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>prepare courses for the next cycle</li>
          <li>manage locations</li>
        </ul>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="app-status-box">
        <h2 class="govuk-heading-m">Prepare for the next cycle</h2>
        <p class="govuk-body">Courses for the next cycle will be published on 1&nbsp;September&nbsp;2021.</p>
        <p class="govuk-body"><a href="/rolled-over?from=cycles" class="govuk-link">What you need to do</a></p>

        <h2 class="govuk-heading-m">Support and guidance</h2>
        <p class="govuk-body">If you have a question, or you’ve had a problem using Publish, you can email:</p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk?subject=Support%20and%20guidance">becomingateacher<wbr>@digital.education.gov.uk</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
