{% extends "layout.html" %}
{% set title = data["training-provider-name"] %}

{% block content %}
  {% if justRolledOver %}
  <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
    <h3 class="govuk-heading-m success-summary-heading" id="success-summary-heading-example-1">
      We’ve copied your courses and locations to the next cycle.
    </h3>

    <p class="govuk-!-margin-bottom-0">
      You can now prepare for the next cycle, or edit the current cycle.
    </p>
  </div>
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ data['training-provider-name'] }}</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">
          <a href="{% if data['next-cycle'] %}{{ currentCyclePrototype }}{% else %}/{% endif %}">Current cycle (2021 to 2022)</a>
        </h2>

        <p>Use this section to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>manage courses in the current cycle</li>
          <li>edit locations and vacancies in the current cycle</li>
        </ul>
      </div>
      <div class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">
          <a href="{% if data['next-cycle'] %}/{% else %}{{ nextCyclePrototype }}{% endif %}">Next cycle (2022 to 2023)</a>
        </h2>
        <p>Use this section to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>prepare courses for the next cycle</li>
          <li>manage locations needed for the next cycle</li>
        </ul>
      </div>

      <div class="govuk-!-margin-bottom-8">
        <h2 class="govuk-heading-m">
          <a href="/about-your-organisation">About your organisation</a>
        </h2>
        <p>Use this section to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>write about your organisation</li>
          <li>set your contact details</li>
          <li>publish this information on all course pages</li>
        </ul>
      </div>

      {# {% include "includes/_access-and-preferences.html" %} #}
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="status-box">
        <h2 class="govuk-heading-m">Support and guidance</h2>
        <p class="govuk-body">If you have a question, or you’ve had a problem using Publish, you can email:</p>
        <p class="govuk-body govuk-!-margin-bottom-0">
          <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk?subject=Support%20and%20guidance">becomingateacher<wbr>@digital.education.gov.uk</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
