{% extends "layout.html" %}
{% block pageTitle %}Your organisation{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/school/{{ school.id }}" class="govuk-back-link">Back</a>

      <form action="/organisation" method="post">
        <legend>
          <h1 class="govuk-heading-xl">
            {{ school.name }}
          </h1>
        </legend>

        <h2 class="govuk-heading-m">Address</h2>
        {{ macros.textbox('address-line-1', 'Address line 1')}}
        {{ macros.textbox('address-line-2', 'Address line 2')}}
        {{ macros.textbox('town', 'City or town', false, 'form-control-small')}}
        {{ macros.textbox('postcode', 'Postcode', false, 'form-control-xsmall')}}

        <h2 class="govuk-heading-m">Contact details</h2>
        {{ macros.textbox('email', 'Email')}}
        {{ macros.textbox('telephone', 'Telephone')}}

        <h2 class="govuk-heading-m">Website</h2>

        {{ macros.textbox('website', 'Website')}}

        <div class="form-group">
          <input type="submit" class="govuk-button" value="Save">
        </div>

        <div class="form-group">
          <a href="/organisation">Cancel changes</a>
        </p>
      </form>
    </div>
  </div>

{% endblock %}

{% block footer_support_links %}
<ul>
  <li>
    <a href="https://paper.dropbox.com/doc/Addresses-xcDkm780z2Uy97CsC9BtK">Address guidance</a>
  </li>
  <li>
    <a href="/prototype-admin/clear-data">Clear data</a>
  </li>
</ul>
{% endblock %}
