{% extends "email-layout.html" %}
{% block page_title %}Email: QA passed{% endblock %}

{% block content %}


  <div class="breadcrumbs"></div>

  <h1 class="govuk-heading-l">Email received</h1>

  <div class="grid-row">
    <div class="column-two-thirds fake-email">
      <h1 class="govuk-heading-s add-double-bottom-margin">
        Your {{ subject.name | lower }} course has been published
      </h1>

      <p>
        DfE has published your {{ subject.name | lower }} course:
      </p>

      <a href="/preview/{{ subject.slug }}">https://find-postgraduate-teacher-training.education.gov.uk/course/49504</a>
    </div>
  </div>



{% endblock %}
