{% extends "layout.html" %}
{% block page_title %}{{ data['training-provider-name'] }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <h2 class="heading-xlarge" style="margin-top: 60px">Courses quiz</h2>

  <p>Given the information shown in each row of the table, for each course, can you say:</p>

  <ul class="list list-bullet">
    <li>if the course be found on Find postgraduate teacher training</li>
    <li>if people can apply to this course</li>
    <li>what the status means</li>
  </ul>

  <table class="ucas-info-table">
    <thead>
      <tr>
        <th class="subject-col">Course</th>
        <th class="status-col" style="width: 160px">Status</th>
        <th class="published-col">Last&nbsp;published</th>
        <th class="applications-col">Applications</th>
        <th class="type-col">Vacancies</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">Primary (P123)</a>
          <br>
          <span class="font-xsmall">PGCE with QTS full time – <a href="#">View on website</a></span>
        </td>
        <td>
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-published">Published</span>
        </td>
        <td class="nowrap">
          10 Nov 2018
        </td>
        <td>
          Open
        </td>
        <td>
          Yes (<a href="#">Edit</a>)
        </td>
      </tr>
      <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">Chemistry (PC23)</a>
          <br>
          <span class="font-xsmall">QTS full time – <a href="#">View on website</a></span>
        </td>
        <td>
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-published">Published</span>
        </td>
        <td>
          1 Nov 2018
        </td>
        <td>
          Closed
        </td>
        <td>
          No (<a href="#">Edit</a>)
        </td>
      </tr>
      <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">Mathematics (N123)</a>
          <br>
          <span class="font-xsmall">PGCE with QTS full time</span>
        </td>
        <td>
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-no-content">New</span>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">Geography (PP23)</a>
          <br>
          <span class="font-xsmall">PGCE with QTS full time – <a href="#">View on website</a></span>
        </td>
        <td>
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-published">Published</span>
        </td>
        <td>
          9 Dec 2018
        </td>
        <td class="nowrap">
          Open from<br />3 Mar 2019
        </td>
        <td>
          Yes (<a href="#">Edit</a>)
        </td>
      </tr>
      <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">History (DD23)</a>
          <br>
          <span class="font-xsmall">QTS full time</span>
        </td>
        <td>
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-draft">Draft</span>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">Physics (D123)</a>
          <br>
          <span class="font-xsmall">QTS full time – <a href="#">View on website</a></span>
        </td>
        <td class="nowrap">
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-published">Published&nbsp;*</span><br />
          <span class="font-xsmall">* Unpublished changes</span>
        </td>
        <td>
          9 Oct 2018
        </td>
        <td>
          Open
        </td>
        <td>
          Yes (<a href="#">Edit</a>)
        </td>
      </tr>
      <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">Modern languages (French and Spanish)&nbsp;(W123)</a>
          <br>
          <span class="font-xsmall">QTS full time</span>
        </td>
        <td>
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-not-running">Withdrawn</span>
        </td>
        <td class="nowrap">
          Withdrawn on<br />10 Nov 2018
        </td>
        <td>
          Closed
        </td>
        <td>
          No
        </td>
      </tr>
      <!-- <tr>
        <td>
          <a href="/course/E65/28ZC" class="heading-small">Rolled over course (R123)</a>
          <br>
          <span class="font-xsmall">QTS full time</span>
        </td>
        <td>
          <span class="phase-tag phase-tag-small phase-tag-table phase-tag-no-content">Rollover</span>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
      </tr> -->
    </tbody>
  </table>
</main>

{% endblock %}
