{% extends "layout.html" %}
{% set title = 'Request a change to this course' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
  {% set messageHtml %}
    <p class="govuk-!-margin-bottom-0">We aim to respond to all requests within 48 hours.</p>
  {% endset %}
  {{ macros.summary('Your message has been sent', messageHtml) }}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukWarningText({
          text: 'We’re still working on this feature',
          iconFallbackText: 'Warning'
      }) }}

      <p>When the feature is ready, you’ll be able to make this change yourself.</p>

      <p>Until then, you need to use the form below. The Becoming a Teacher team will make the change for you. We aim to complete requests within 48 hours.</p>

      <h2 class="govuk-heading-l">Request a change</h2>
      {{ macros.textbox('support-subject', 'Course name and code', false, 'govuk-!-width-full') }}
      {{ macros.textareaBasic('support-body', 'What’s changing?', 10) }}

      <input type="submit" class="govuk-button" value="Send request" />

      <p>Alternatively you can email us at: <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk?subject=Support%20and%20guidance">becomingateacher@digital.education.gov.uk</a></p>
    </div>
  </div>
{% endblock %}
