{% extends "layouts/main.njk" %}

{% set title = "PLACEHOLDER" %}
{% set caption = data.currentCycle.code | getCycleLabel %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
          {{ caption }}
        </span>
        {{ title }}
      </h1>



    </div>
  </div>

{% endblock %}
