{% extends "_layout.njk" %}

{% set title = "Publish teacher training courses" %}

{% block beforeContent %}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <p class="govuk-body">
        <a class="govuk-link" href="/organisations/1ZN/cycles/2022/courses/new/subject-level">New course</a>
      </p>

    </div>
  </div>

{% endblock %}
