{% extends "layout.html" %}
{% block pageTitle %}Organisation{% endblock %}

{% block breadcrumbs %}
  {{
    govukBreadcrumbs({
      items: [
        {
          href: "/",
          text: data['training-provider-name']
        }
      ]
    })
  }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    Locations
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Locations applicants can choose</h2>
      <p>Each location has a name, address and a code. Applicants use the name to choose a training location on their UCAS application form.</p>

      <p>When an applicant searches by location we use the address of each location to determine how far away each course is from them.</p>

      <p>You are limited to 36 training locations by UCAS.</p>
      {% set schools = data['schools'] %}
    </div>
  </div>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" style="width: 40px">Code</th>
        <th class="govuk-table__header" scope="col">Name</th>
        <th class="govuk-table__header" scope="col">Label</th>
        <!-- <th class="govuk-table__header" style="width: 20%">Courses</th>
        <th class="govuk-table__header" style="width: 20%">Content</th> -->
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for school in schools %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><strong class="bold-medium">{{ school.code }}</strong></td>
        <td class="govuk-table__cell">
          <a href="/location/{{ school.code }}" class="bold">{{ school.name }}</a><br />
          {{ school.address }}
        </td>
        <td class="govuk-table__cell">
          {% for type in data[school.code + '-type'] %}
            <span class="phase-tag phase-tag-small">{{ type }}</span><br />
          {% endfor %}
          {% if not data[school.code + '-type'] %}
            <span class="phase-tag phase-tag-small phase-tag-no-content">None</span>
          {% endif %}
        </td>
        <!-- <td class="govuk-table__cell">5 courses</td>
        <td class="govuk-table__cell"><span class="phase-tag phase-tag-small phase-tag-no-content">Empty</span></td> -->
      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}
