{% extends "layout.html" %}
{% set title = 'Locations' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block breadcrumbs %}
  {{
    govukBreadcrumbs({
      items: [
        {
          href: "/",
          text: data['training-provider-name']
        }
      ]
    })
  }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <!-- <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Locations applicants can choose</h2>
      <p>Each location has a name, address and a code. Applicants use the name to choose a training location on their UCAS application form.</p>

      <p>When an applicant searches by location we use the address of each location to determine how far away each course is from them.</p>

      {% set schools = data['schools'] %}
    </div>
  </div> -->

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>In this section, you can add and edit information about your locations.</p>

      <div class="govuk-inset-text">
        <p>By ‘locations’ we mean the places that a candidate can select when making their application - choosing from the list that will appear on the course page in Find and on the UCAS application form.</p>

        <p><a href="#">Guidance on setting up your locations</a></p>
      </div>

      {{ govukWarningText({
        html: "You are limited to 37 locations by UCAS Apply",
        iconFallbackText: "Warning"
      }) }}

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for school in schools %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="/location/{{ school.code }}" class="govuk-!-font-weight-bold">{{ school.name }}</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <p class="add-top-margin">
        <a href="/location/start" class="govuk-button">Add a location</a>
      </p>
    </div>
  </div>
{% endblock %}
