{% extends "layout.html" %}
{% set title = school.name or 'Add a location' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block breadcrumbs %}{{ macros.breadcrumbs(breadcrumbItems([
  {
    href: "/locations",
    text: 'Locations'
  }
]))}}{% endblock %}

{% block content %}
  {% if showErrors %}
    {% set errors = [
      {
        id: code + '-location-confirm',
        href: '#checkbox-part-1',
        text: 'Please confirm that candidates can pick this location when they apply'
      }
    ] %}

    {{ govukErrorSummary({
      titleText: "We couldn’t save this location",
      errorList: errors
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  {% set editHtml %}
  <form action="/location/{{ code }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ macros.textbox(code + '-name', '<h2 class="govuk-heading-m">Name</h2>', null, 'govuk-!-width-full', null, errors) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Type of location</h2>
      {% set fields = [
          {
            name: 'A specific place',
            text: 'For example a school, college or university'
          },
          {
            name: 'An area representing many schools',
            text: 'For example a town, city or county'
          }
        ]
      %}

      {{ macros.radioGroup(code + '-location-type', fields) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Address</h2>
      {{ macros.textbox(code + '-address', 'Building and street', null, 'govuk-!-width-full', null, errors) }}
      {{ macros.textbox(code + '-town', 'Town or city', null, 'form-control', null, errors) }}
      {{ macros.textbox(code + '-county', 'County', null, 'form-control', null, errors) }}
      {{ macros.textbox(code + '-postcode', 'Postcode', null, 'form-control-small', null, errors) }}

      {{ macros.select(code + '-ucas-region', 'Region of UK', [
        { name: 'London' },
        { name: 'South East' },
        { name: 'South West' },
        { name: 'Wales' },
        { name: 'West Midlands' },
        { name: 'East Midlands' },
        { name: 'Eastern' },
        { name: 'North West' },
        { name: 'Yorkshire and the Humber' },
        { name: 'North East' },
        { name: 'Scotland' },
        { name: 'Northern Ireland' },
        { name: 'No region' }
      ])}}

      {% if isNew %}
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l" />

        {% set fields = [
            {
              name: 'I confirm that candidates can choose this as a place of training when completing the UCAS application form'
            }
          ]
        %}

        {{ macros.checkboxGroup(code + '-location-confirm', fields, errors) }}

        <input type="submit" class="govuk-button" value="Save" />
      {% else %}
        <input type="submit" class="govuk-button" value="Save and publish changes" />
        <p>
          <a href="/locations">Cancel changes</a>
        </p>
      {% endif %}
    </div>
  </form>
  {% endset %}

  {% if isNew %}
    {{ editHtml | safe }}
  {% else %}
    {% set coursesHtml %}
      <table class="govuk-table app-table--vertical-align-middle ucas-info-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header subject-col" style="width: 380px">Course</th>
            <th class="govuk-table__header status-col" style="width: 160px">Status</th>
            <th class="govuk-table__header published-col">Is it on <abbr title="Find postgraduate teacher training" style="text-decoration: underline; text-decoration-style: dotted;">Find</abbr>?</th>
            <th class="govuk-table__header applications-col">Applications</th>
            <th class="govuk-table__header type-col">Vacancies</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for course in courses %}
            {% include "includes/_courses-table-row.html" %}
          {% endfor %}
        </tbody>
      </table>
    {% endset %}

    {% set historyHtml %}
      <!-- <h2 class="govuk-heading-l govuk-!-margin-top-6 govuk-!-margin-bottom-8">2020&thinsp;–&thinsp;2021 cycle</h2>
      <ul class="timeline">
        <li class="edition">
          <ul class="edition-timeline">
            <div class="timeline-day-wrapper">
              <li class="timeline-day">
                <h3 class="govuk-heading-m">15 January 2019</h3>
                <ul class="events">
                  <li class="event">
                    <h4 class="govuk-heading-s">Published</h4>
                    <span class="govuk-body-s metadata">7:03pm by Jane Doe</span>
                  </li>
                </ul>
              </li>
              <li class="timeline-day">
                <h3 class="govuk-heading-m">14 April 2019</h3>
                <ul class="events">
                  <li class="event">
                    <h4 class="govuk-heading-s">Rolled over from previous cycle</h4>
                    <span class="govuk-body-s metadata">10:25pm by Department for Education</span>
                  </li>
                </ul>
              </li>
            </div>
          </ul>
        </li>
      </ul> -->

      <ul class="timeline">
        <li class="edition">
          <ul class="edition-timeline">
            <div class="timeline-day-wrapper">
              <li class="timeline-day">
                <h3 class="govuk-heading-m timeline-day-heading">14 January 2019</h3>
                <ul class="events">
                  <li class="event">
                    <h4 class="govuk-heading-l">Renamed to Main Site</h4>
                    <span class="govuk-body-s metadata">10:25pm by Jane Doe</span>
                  </li>
                </ul>
              </li>
              <li class="timeline-day">
                <h3 class="govuk-heading-m timeline-day-heading">15 December 2018</h3>
                <ul class="events">
                  <li class="event">
                    <h4 class="govuk-heading-s">Removed from 8 courses</h4>
                    <span class="govuk-body-s metadata">10:25pm by Jane Doe</span>
                  </li>
                </ul>
              </li>
              <li class="timeline-day">
                <h3 class="govuk-heading-m timeline-day-heading">13 December 2018</h3>
                <ul class="events">
                  <li class="event">
                    <h4 class="govuk-heading-s">Added to 7 courses</h4>
                    <span class="govuk-body-s metadata">10:25pm by Jane Doe</span>
                  </li>
                </ul>
              </li>
              <li class="timeline-day">
                <h3 class="govuk-heading-m timeline-day-heading">3 November 2018</h3>
                <ul class="events">
                  <li class="event">
                    <h4 class="govuk-heading-s">Added to course Primary (X100)</h4>
                    <span class="govuk-body-s metadata">10:25pm by Jane Doe</span>
                  </li>
                </ul>
              </li>
              <li class="timeline-day">
                <h3 class="govuk-heading-m timeline-day-heading">10 October 2018</h3>
                <ul class="events">
                  <li class="event">
                    <h4 class="govuk-heading-l">Pool Hayes School added</h4>
                    <span class="govuk-body-s metadata">7:03pm by Jane Doe</span>
                  </li>
                </ul>
              </li>
            </div>
          </ul>
        </li>
      </ul>
    {% endset %}

    <div class="course-tabs">
      {{ govukTabs({
        items: [
          {
            label: 'Edit location',
            id: "edit",
            panel: {
              html: editHtml
            }
          },
          {
            label: 'Courses' | safe,
            id: "courses",
            panel: {
              html: coursesHtml
            }
          },
          {
            label: 'History',
            id: "history",
            panel: {
              html: historyHtml
            }
          }
        ]
      }) }}
    </div>
  {% endif %}
{% endblock %}
