{% extends "layout.html" %}
{% set title = 'Publish teacher training courses' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}


  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <ul class="govuk-list">
        <li><a href="/">{{ data['training-provider-name'] }}</a></li>
        <li><a href="/schools">Schools</a></li>
        <li><a href="/organisation">Organisation</a></li>
      </ul>
    </div>
  </div>


{% endblock %}
