{% extends "layout.html" %}
{% set title = 'Publish teacher training courses' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">
    {{ title }}
  </h1>
  <div class="grid-row">
    <div class="column-two-thirds">


      <ul class="list">
        <li><a href="/courses">Courses</a></li>
        <li><a href="/schools">Schools</a></li>
        <li><a href="/organisation">Organisation</a></li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
