{% extends "layout.html" %}
{% block pageTitle %}Users{% endblock %}
{% block backLink %}{{ macros.backLink('/cycles' if data['rolled-over'] else '/') }}{% endblock %}

{% block content %}
  {% set message %}
    {% if showMessage %}
      <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1" style="margin-bottom: 60px">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0 success-summary-heading" id="success-summary-heading-example-1">
          DfE has received your request to give access to {{ data['request-first-name']}} {{ data['request-last-name'] }}.
        </h3>
        <p>
          They will receive sign-up instructions if their account is approved.
        </p>
      </div>
    {% endif %}
  {% endset %}

  {{ macros.orgHeading('Manage users', message) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>These users are able to manage your courses.</p>
      <div class="govuk-grid">
    <div class="govuk-grid-column-two-third">
      <h1 class="govuk-heading-xl">{{title}}</h1>
      {{govukButton({
        text: 'Invite user',
        href: '/users/new'
      })}}
      <div class="app-application-card">
        <div>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="/users/show">Ross Anderson</a></h2>
          <p class="govuk-!-margin-bottom-1">ross.anderson@titan.org.uk</p>
          <p class="govuk-!-font-size-16 govuk-caption-m govuk-!-margin-bottom-0">Aston Manor Academy and Titan Partnership Ltd</p>
        </div>
      </div>
      <div class="app-application-card">
        <div>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="/users/show">Hermione Granger</a></h2>
          <p class="govuk-!-margin-bottom-1">hermione.granger@wizardschool.com</p>
          <p class="govuk-!-font-size-16 govuk-caption-m govuk-!-margin-bottom-0">Somerset SCITT consortium and one more</p>
        <div>
      </div>
    </div>
  </div>
    </div>
  </div>


{% endblock %}
