{% extends "layout.html" %}
{% set title = 'Manage Notifications: Updates to courses as an accredited body' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
  text: "Notifications",
  href: "/notifications"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/notifications-enabled-2" method="post" class="form">
    <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-8">
        <span class="govuk-caption-xl">Manage notifications</span>
        Changes to courses as an accredited body
      </h1>
    </legend>
    {% set fields = [
      {
        name: 'Get email notifications about changes to courses'
      },
      {
        name: 'Don’t get email notifications'
      }
    ]
    %}
    {{ macros.radioGroup('ab-notifications', fields) }}
    <h2 class="govuk-heading-m govuk-!-margin-top-4">
      Who should the notifications be sent to?
    </h2>
    <label class="govuk-label" for="event-name">
    Email address
    </label>
    <input class="govuk-input govuk-input govuk-input--width-20" id="system-notify-email-2" name="system-notify-email-2" value="{{ data['system-notify-email-2'] }}" type="text">
    <h2 class="govuk-heading-m govuk-!-margin-top-6">
      How often should the notifications be sent? 
    </h2>
    <div class="govuk-radios govuk-!-margin-top-6 govuk-!-margin-bottom-8">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="frequency-2-1" name="frequency-2" type="radio" value="Each time a change is made" {{ checked("frequency-2", "Each time a change is made") }}>
        <label class="govuk-label govuk-radios__label" for="frequency-2-1">
        Each time a change is made (Recommended)
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="frequency-2-2" name="frequency-2" type="radio" value="Daily digest" {{ checked("frequency-2", "Daily digest") }}>
        <label class="govuk-label govuk-radios__label" for="frequency-2-2">
        Daily digest
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="frequency-2-3" name="frequency-2" type="radio" value="Weekly digest" {{ checked("frequency-2", "Weekly digest") }}>
        <label class="govuk-label govuk-radios__label" for="frequency-2-3">
        Weekly digest
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="frequency-2-4" name="frequency-2" type="radio" value="Monthly digest" {{ checked("frequency-2", "Monthly digest") }}>
        <label class="govuk-label govuk-radios__label" for="frequency-2-4">
        Monthly digest
        </label>
      </div>
    </div>
    {{ macros.checkboxGroup('agree-to-share', [{ name: 'I give permission to receive email notifications from Publish teacher training courses ' }], false) }}
    <div class="form-group add-double-bottom-margin">
      <input type="submit" class="govuk-button" value="Save">
    </div>
    <p>
      <a href="#">Cancel changes</a>
    </p>
  </div>
</div>
{% endblock %}
