{% extends "layout.html" %}
{% set title = 'New features coming to Publish' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink('/') }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Here’s a list of new features we plan to introduce to Publish teacher training courses in the coming months. This list is only a guide and may change.</p>

      <h2 class="govuk-heading-l">Recently released</h2>

      <p>You can now:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>edit course vacancies</li>
        <li>edit a location name and address</li>
        <li>request a new course or location using a Google Form</li>
      </ul>

      <h2 class="govuk-heading-l">May to June 2019</h2>

      <p>You’ll be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change locations assigned to a course</li>
        <li>add a new location</li>
        <li>edit the UCAS Apply eligibility requirements for a course</li>
        <li>edit the outcome of a course</li>
      </ul>

      <h2 class="govuk-heading-l">July to September 2019</h2>

      <p>You’ll be able to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>rollover and prepare your courses for the next cycle</li>
        <li>edit all aspects of a course</li>
        <li>add a new course</li>
      </ul>

      <h2 class="govuk-heading-l">Later</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>Improvements to locations to make courses easier to Find</li>
      </ul>
    </div>
  </div>
{% endblock %}
