{% extends "layout.html" %}
{% set title = 'New features for accredited bodies' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<div class="body-text">
			<h1 class="govuk-heading-xl">
				{{ title }}
			</h1>
			<p>We have recently introduced two new features to further support you.</p>
			<h2 class="govuk-heading-m">
				Notifications
			</h2>
			<p>Receive email notifications about changes to courses that you're the accredited body for.</p> 
			
			<a href="/notifications" class="govuk-body">Subscribe to notifications</a>
			
			<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
			
			<h2 class="govuk-heading-m">
				Courses as an accredited body
			</h2>
			<p>Use this section to:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>see who lists you as their accredited body</li>
				<li>see which courses you’re the accredited body for</li>
			</ul>
			<a href="#" class="govuk-body">View courses as an accredited body</a>
		</div>
	</div>
</div>
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
			<a href="/" role="button" draggable="false" class="govuk-button govuk-!-margin-top-8">Continue to Publish</a>
	</div>
</div>
{% endblock %}
