{% extends "layout.html" %}
{% set title = 'Manage notifications' %}
{% set navActive = 'notifications' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/" method="post" class="form">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-8">
            <span class="govuk-caption-xl">Notifications for accredited bodies</span>
            Changes to courses
          </h1>
        </legend>

        <div class="govuk-!-margin-bottom-6">
          <p>We'll tell you when a training provider:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>publishes a new course on Find postgraduate teacher training</li>
				    <li>makes a change to an existing course</li>
				    <li>withdraws a course</li>
				    <li>confirms a course has no vacancies</li>
          </ul>
        </div>

        {{ govukCheckboxes({
          name: "notifications",
          fieldset: {
            legend: {
              text: "Which organisations would you like to recieve email notifications about?",
              classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
            }
          },
          items: [
            {
              text: "Academies Enterprise Trust: Eastern",
              value: "value1",
              checked: checked("notifications", "value1")
            },
            {
              text: "Oakham Alliance",
              value: "value2",
              checked: checked("notifications", "value2")
            },
            {
              text: "Temple Newsam Learning Partnership",
              value: "value3",
              checked: checked("notifications", "value3")
            }
          ]
        }) }}

      <input type="submit" class="govuk-button govuk-!-margin-bottom-7 govuk-!-margin-top-2" value="Save">
    </form>
    <p>
      <a href="/">Cancel changes</a>
    </p>
  </div>
</div>
{% endblock %}
