{% extends "layout.html" %}
{% set title = 'Notifications' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "University of Warwick",
  href: "/"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="body-text">
      <div class="dm-alert dm-alert--success">
        <h2 class="dm-alert__title">
          {{ data['system-notify-email'] }} will now recieve notifications.
        </h2>
      </div>
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>
      <h2 class="govuk-heading-m">
        Changes to courses as an accredited body
      </h2>
      <p>You'll receive notifications for courses that you're the accredited body for.</p> 
			<p>You'll receive a notification:</p>
			<ul class="govuk-list govuk-list--bullet">
				<li>if there are any changes to a course’s basic details</li>
				<li>when a course is created</li>
				<li>when a course is published</li>
				<li>when a course is withdrawn</li>
				<li>if all vacancies are filled for a course</li>
				<li>if a course’s accredited body changes</li>
			</ul>
      {# <a href="/manage-notifications" class="govuk-body">Subscribe to this notification</a> #}
      <table class="govuk-table ucas-info-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header subject-col" style="width: 55%">Who are the notifications sent to?</th>
            <th class="govuk-table__header status-col" style="width: 25%">Frequency</th>
            <th class="govuk-table__header status-col"></th>
            {# <th class="govuk-table__header status-col"></th> #}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {{ data['system-notify-email'] }}
            </td>
            <td class="govuk-table__cell">
              {{ data['frequency'] }}
            </td>
            <td class="govuk-table__cell" style="text-align:right">
              <a href="/manage-notifications">Change</a>
            </td>
            {# <td class="govuk-table__cell">
              <a href="/notifications">Remove</a>
            </td> #}
          </tr>
        </tbody>
      </table>
      <a href="/manage-notifications-2" class="govuk-body">Add another recipient</a>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <h2 class="govuk-heading-m">
        System notifications
      </h2>
      <p>You'll receieve notifications related to your account and the Publish teacher training courses service.</p>
      <a href="/manage-notifications" class="govuk-body">Subscribe to this notification</a>
      {# 
      <table class="govuk-table ucas-info-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header subject-col" style="width: 60%">Email</th>
            <th class="govuk-table__header status-col" style="width: 25%">Frequency</th>
            <th class="govuk-table__header status-col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              jesse.yuen@digital.education.gov.uk
            </td>
            <td class="govuk-table__cell">
              Daily
            </td>
            <td class="govuk-table__cell" style="text-align: right">
              <a href="/manage-notifications">Manage</a>
            </td>
          </tr>
        </tbody>
      </table>
      #}
    </div>
  </div>
</div>
{% endblock %}
