{% extends "layout.html" %}
{% block page_title %}Organisation{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs"></div>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{ data['training-provider-name'] }}</span>
    Organisation details
  </h1>

  <p>
    <b>{{ data['training-provider-name'] }}</b><br />
    {{ data['address-line-1'] }}<br />
    {{ data['town'] }}<br />
    {{ data['postcode'] }}
  </p>

  <p>
    <a href="#">admissions@stmartinscollege.net</a><br />
    <a href="#">https://www.stmartinscollege.net</a>
  </p>

  <p>Courses accredited by University of Sussex</p>

  <p>
    <a href="/your-organisation">Edit organisation</a>
  </p>
</main>

{% endblock %}
