{% extends "layout.html" %}
{% block page_title %}{{ data['training-provider-name'] }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs">
    <ol>
      {% if value('multi-organisation') %}<li><a href="/">Organisations</a></li>{% endif %}
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">{{ data['training-provider-name'] }}</h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large remove-top-margin">Step 1. Your organisation</h2>

      <p>Use this section to:</p>
      <ul class="list list-bullet">
        <li>write about your organisation</li>
        <li>set your contact details</li>
        <li>publish this information on all course pages</li>
      </ul>

      <p>
        {% if data['about-your-organisation-publish-state'] == 'draft' %}
          <span class="phase-tag phase-tag-small phase-tag-draft">Draft</span>
        {% elseif data['about-your-organisation-publish-state'] == 'published' %}
          <span class="phase-tag phase-tag-small phase-tag-published">Published</span>
        {% else %}
          <span class="phase-tag phase-tag-small phase-tag-no-content">Empty</span>
        {% endif %}
        <a href="/about-your-organisation">Fill-in your organisation information</a>
      </p>
    </div>
  </div>
  <hr />

  <!-- <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large remove-top-margin">Step 2. Locations</h2>
      <p>Give the address, type of location and name of each place applicants can choose when they apply.</p>
      <p>When an applicant searches by location we use the address of each training location to calculate the distance to them.</p>
      <p>
        <a href="/locations">Fill-in details about your training locations</a>
      </p>
    </div>
  </div>
  <hr /> -->

  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">
        Step 2. Courses
      </h2>

      <p>Use this section to:</p>
      <ul class="list list-bullet">
        <li>create, preview and publish courses</li>
        <li>copy content between courses</li>
      </ul>

      <p>Make sure you preview each course before you publish it, to see how it will look online to applicants.</p>
      <p>Applicants can only see and apply to published courses.</p>
    </div>
  </div>

  {% if data['ucasCourses'].length > 0 %}
    {% for accrediting in data['accreditors'] %}
      {% if data['accreditors'][0]['name'] != data['training-provider-name'] %}
        <h3 class="heading-medium">
          <span style="color: #777; font-weight: normal">Accredited provider</span><br />
          {{ accrediting.name }}
        </h3>
      {% endif %}
      <div class="body-text">
        <table class="ucas-info-table">
          <thead>
            <tr>
              <th class="subject-col">Course</th>
              <th class="type-col">Type</th>
              <th class="status-col" style="width: 100px">Status</th>
            </tr>
          </thead>
          <tbody>
            {% set subjectName = '' %}
            {% for course in data['ucasCourses'] %}
              {% if course.accrediting == accrediting.name %}
                <tr>
                  <td>
                    {% if (loop.index != 4 and loop.index != 7) %}
                      <a href="/course/{{ data['provider-code'] }}/{{ course.programmeCode }}">{{ course.name }} ({{ course.programmeCode }})</a>
                    {% else %}
                      <a href="/course-not-running/{{ data['provider-code'] }}/{{ course.programmeCode }}">{{ course.name }} ({{ course.programmeCode }})</a>
                    {% endif %}
                    </span>
                  </td>
                  <td>{{ course.options }}</td>
                  <td>
                    {% if (loop.index != 4 and loop.index != 7) %}
                      {% if data[course.programmeCode + '-publish-state'] == 'draft' %}
                        <span class="phase-tag phase-tag-small phase-tag-draft">Draft</span>
                      {% elseif data[course.programmeCode + '-publish-state'] == 'published' %}
                        <span class="phase-tag phase-tag-small phase-tag-published">Published</span>
                      {% else %}
                        <span class="phase-tag phase-tag-small phase-tag-no-content">Empty</span>
                      {% endif %}
                    {% else %}
                      <span class="phase-tag phase-tag-small phase-tag-not-running">Not running</span>
                    {% endif %}
                  </td>
                </tr>
                {% set subjectName = course.name %}
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endfor %}
  {% endif %}

  <p class="add-top-margin">
    <a href="/new/start" class="button">Add a new course</a>
  </p>
  <hr />

  <h2 class="heading-large">Request access for someone</h2>
  <p>You can request a DfE Sign-in account for others who manage your courses.</p>
  <p>
    <a href="/request-access">Request access for someone</a>
  </p>
</main>

{% endblock %}
