{% extends "layout.html" %}
{% set title = "Organisation" %}

{% block content %}
  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">{{ data['training-provider-name'] }}</span>
    Organisation details
  </h1>

  <p>
    <b>{{ data['training-provider-name'] }}</b><br />
    {{ data['address-line-1'] }}<br />
    {{ data['town'] }}<br />
    {{ data['postcode'] }}
  </p>

  <p>
    <a href="#">{{ data['email'] }}</a><br />
    <a href="#">{{ data['website'] }}</a>
  </p>

  <p>Courses accredited by University of Sussex</p>


{% endblock %}
