{% extends "preview-layout.html" %}
{% block pageTitle %}Preview{% endblock %}
{% block backLink %}{{ macros.backLink('/about-your-organisation', 'Back to organisation information') }}{% endblock %}

{% block content %}
  <div class="status-box add-top-margin">
    <p>This is a preview of your organisation information. It will display at the bottom of each course.</p>
    <p class="remove-bottom-margin">Preview a course to see a complete page.</p>
  </div>

  <h1 class="govuk-heading-xl" style="margin-top: 1.25em; margin-bottom: 0.55556em">
    About your organisation
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="course-contents">
        <h2 class="govuk-heading-m" id="section-about-provider">About the training provider</h2>
        {{ macros.previewPart('about-organisation', true) }}

        {% if not accrediting.selfAccrediting %}
          {% if data[accrediting.slug + '-about-accrediting-provider'] %}
            <h3 class="govuk-heading-s">About {{ accrediting.name }}</h3>
            {{ macros.previewPart(accrediting.slug + '-about-accrediting-provider', true) }}
          {% endif %}
        {% endif %}

        <h3 class="govuk-heading-s">Training with a disability</h3>
        {{ macros.previewPart('training-with-a-disability', true) }}

        <h2 class="govuk-heading-m" id="section-contact">Contact details</h2>

        <dl class="aligned">
          <dt>Email:</dt>
          <dd><a href="#">{{ data['email'] }}</a></dd>
          <dt>Telephone:</dt>
          <dd>{{ data['telephone'] }}</dd>
          <dt>Website:</dt>
          <dd><a href="{{ data['website'] }}">{{ data['website'] }}</a></dd>
          <dt>Address:</dt>
          <dd>
            {{ data['training-provider-name'] }}<br />
            {{ data['address-line-1'] }}<br />
            {{ data['town'] }}<br />
            {{ data['postcode'] }}
          </dd>
        </dl>
      </div>
    </div>
  </div>


{% endblock %}
