{% extends "preview-layout.html" %}
{% block page_title %}Preview{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  {% if previewingTemplate %}
    <a href="/template/{{ template.slug }}" class="link-back">Back to template</a>

    <div class="status-box add-top-margin">
      This is a preview of a template: {{ template.name }}
    </div>
  {% else %}
    <a href="/course/{{ accrediting.slug }}/{{ course.programmeCode }}" class="link-back">Back to course</a>

    <div class="status-box add-top-margin">
      This is a preview of a course: {{ course.name }} ({{ course.programmeCode }}).
    </div>
  {% endif %}

  <h1 class="heading-xlarge" style="margin-top: 1.25em; margin-bottom: 0.55556em">
    {{ course.name }} with {{ data['training-provider-name'] }}
    {% if not accrediting.selfAccrediting %}<span class="heading-secondary">Accredited by {{ accrediting.name }}</span>{% endif %}
  </h1>

  <dl class="aligned" style="margin-top: 60px;">
    <dt>Course offered:</dt>
    <dd>
      {% if previewingTemplate %}
        Varies depending on course
      {% else %}
        {{ course.options[0] }}
      {% endif %}
    </dd>
    <dt>Qualification:</dt>
    <dd>
      {% if previewingTemplate %}
        Varies depending on course
      {% else %}
        <details role="group">
          {% if 'PGCE' in course.options[0] %}
            <summary style="margin-bottom: 0;" role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">PGCE with QTS</span></summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                <p>A postgraduate certificate in education (PGCE) with qualified teacher status (QTS) allows you to teach in England, Scotland, Wales and Northern Ireland. It’s also recognised internationally.</p>
                <p>Many PGCE courses include credits that count toward a Master’s degree.</p>
            </div>
          {% else %}
            <summary style="margin-bottom: 0;" role="button" aria-controls="details-content-0" aria-expanded="true"><span class="summary">QTS</span></summary>

            <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                <p>Qualified teacher status (QTS) allows you to teach in state schools in England.</p>
                <p>If you want to teach in the rest of the UK or internationally, consider the qualification PGCE (postgraduate certificate in education) with QTS instead.</p>
            </div>
          {% endif %}
        </details>
      {% endif %}
    </dd>
    <dt>Course length:</dt>
    <dd>
      {% if previewingTemplate %}
        Varies depending on course
      {% else %}
        {{ data[prefix + '-duration'] or '1 year' }}
        {% if 'full' in course.options[0] %}
          full time
        {% else %}
          part time
        {% endif %}
      {% endif %}
    </dd>
    <dt>Date you can apply from:</dt>
    <dd>26 October 2018</dd>
    <dt>Website:</dt>
    <dd>
      {% if (data[subject.slug + '-' + accrediting.slug + '-course-website']) %}
        <a href="{{ data[subject.slug + '-' + accrediting.slug + '-course-website'] }}">{{ data[subject.slug + '-' + accrediting.slug + '-course-website'] }}</a>
      {% else %}
        <a href="{{ data[subject.slug + '-' + accrediting.slug + '-course-website'] }}">{{ data['website'] }}</a>
      {% endif %}
    </dd>
  </dl>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="course-contents">
        <h2 class="heading-small">Contents</h2>
        <ul class="list">
          <li><a href="#section-about">About the course</a></li>
          <li><a href="#section-entry">Requirements</a></li>
          <li><a href="#section-schools">How school placements work</a></li>
          {% if data[prefix + '-interview-process'] %}
            <li><a href="#section-interview">Interview process</a></li>
          {% endif %}
          {% if course.salaried %}
            <li><a href="#section-salary">Salary</a></li>
          {% else %}
            <li><a href="#section-fees">Fees</a></li>
          {% endif %}
          <li><a href="#section-financial-support">Financial support</a></li>
          <li><a href="#section-about-provider">About the training provider</a></li>
          <li><a href="#section-provider">Contact details</a></li>
          <li><a href="#section-apply">Apply</a></li>
        </ul>

        <h2 class="heading-medium" id="section-about">About the course</h2>
        {{ macros.previewPart(prefix + '-about-this-course') }}

        <h2 class="heading-medium" id="section-entry">Requirements</h2>

        <h3 class="heading-small">Qualifications</h3>
        {{ macros.previewPart(prefix + '-qualifications-required') }}

        {% if data[prefix + '-personal-qualities'] %}
          <h3 class="heading-small">Personal qualities</h3>
          {{ macros.previewPart(prefix + '-personal-qualities') }}
        {% endif %}

        {% if data[prefix + '-other-requirements'] %}
          <h3 class="heading-small">Other requirements</h3>
          {{ macros.previewPart(prefix + '-other-requirements') }}
        {% endif %}

        <h2 class="heading-medium" id="section-schools">How school placements work</h2>
        {{ macros.previewPart(prefix + '-placement-school-policy') }}

        {% if data[prefix + '-interview-process'] %}
          <h2 class="heading-medium" id="section-interview">Interview process</h2>
          {{ macros.previewPart(prefix + '-interview-process') }}
        {% endif %}

        {% if course.salaried %}
          <h2 class="heading-medium" id="section-salary">Salary</h2>
          {{ macros.previewPart(prefix + '-salary-details') }}
        {% else %}
          <h2 class="heading-medium" id="section-fees">Fees</h2>
          <p>The course fees for 2018/2019 are as follows:</p>
          <div class="body-text">
            <table>
              <tbody>
                <tr class="visually-hidden">
                  <th>Student type</th>
                  <th>Fees to pay</th>
                </tr>
                <tr>
                  <td>UK students</td>
                  <td>£{{ data[prefix + '-fee'] }}</td>
                </tr>
                <tr>
                  <td>EU students</td>
                  <td>£{{ data[prefix + '-fee'] }}</td>
                </tr>
                {% if data[prefix + '-fee-international'] %}
                <tr>
                  <td>International students</td>
                  <td>£{{ data[prefix + '-fee-international'] }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>

          {% if data[prefix + '-fee-details'] %}
            {{ macros.previewPart(prefix + '-fee-details') }}
          {% endif %}
        {% endif %}

        <h2 class="heading-medium" id="section-financial-support">Financial support</h3>
        <p>Not available in this prototype.</p>

        <h2 class="heading-medium" id="section-about-provider">About the training provider</h2>
        {{ macros.previewPart('about-organisation', true) }}

        {% if not accrediting.selfAccrediting %}
          {% if data[accrediting.slug + '-about-accrediting-provider'] %}
            <h3 class="heading-small">About {{ accrediting.name }}</h3>
            {{ macros.previewPart(accrediting.slug + '-about-accrediting-provider', true) }}
          {% endif %}
        {% endif %}

        <h3 class="heading-small">Training with a disability</h3>
        {{ macros.previewPart('training-with-a-disability', true) }}

        <h2 class="heading-medium" id="section-contact">Contact details</h2>

        <dl class="aligned">
          <dt>Email:</dt>
          <dd><a href="#">{{ data['email'] }}</a></dd>
          <dt>Telephone:</dt>
          <dd>{{ data['telephone'] }}</dd>
          <dt>Website:</dt>
          <dd><a href="{{ data['website'] }}">{{ data['website'] }}</a></dd>
          <dt>Address:</dt>
          <dd>
            {{ data['training-provider-name'] }}<br />
            {{ data['address-line-1'] }}<br />
            {{ data['town'] }}<br />
            {{ data['postcode'] }}
          </dd>
        </dl>

        <h2 class="heading-medium" id="section-apply">Apply</h2>

        <a href="#" class="button">Apply</a>
      </div>
    </div>
  </div>
</main>

{% endblock %}
