{% extends "preview-layout.html" %}
{% block page_title %}Your courses{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <a href="/course/{{ accrediting.slug }}/{{ subject.slug }}" class="link-back">Back to course</a>

  <h1 class="heading-xlarge" style="margin-top: 1.25em; margin-bottom: 0.55556em">
    {{ subject.name }} at {{ data['training-provider-name'] }}
    {% if not accrediting.selfAccrediting %}<span class="heading-secondary">Accredited by {{ accrediting.name }}</span>{% endif %}
  </h1>

  <!-- <dl class="aligned" style="margin-top: 60px;">
    <dt>Website:</dt>
    <dd>
      {% if (data[subject.slug + '-' + accrediting.slug + '-course-website']) %}
        <a href="{{ data[subject.slug + '-' + accrediting.slug + '-course-website'] }}">{{ data[subject.slug + '-' + accrediting.slug + '-course-website'] }}</a>
      {% else %}
        <a href="{{ data[subject.slug + '-' + accrediting.slug + '-course-website'] }}">{{ data['website'] }}</a>
      {% endif %}
    </dd>
    <dt>Courses offered:</dt>
    <dd>
      <ul class="list">
        {% for option in subject.folded_course.options %}
          <li>{{ option }}</li>
        {% endfor %}
      </ul>
    </dd>
  </dl> -->

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="course-contents">
        <h2 class="heading-medium">Contents</h2>
        <ul class="list">
          <li><a href="#course-options">Courses offered</a></li>
          <li><a href="#section-entry">Requirements</a></li>
          <li><a href="#section-financial-support">Financial support</a></li>
          <li><a href="#section-about">About the training provider</a></li>
          <li><a href="#section-contact">Contact details</a></li>
          <li><a href="#section-apply">Apply</a></li>
        </ul>

        <h2 class="heading-large" id="course-options">Courses offered</h2>
        {% for option in subject.folded_course.options %}
          <h3 class="heading-medium remove-bottom-margin" id="section-option-{{ loop.index }}">{{ option }}</h3>
          <details role="group" class="add-bottom-margin">
              {% if 'PGCE' in option %}
                <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Postgraduate certificate in education with qualified teacher status (PGCE with QTS)</span></summary>

                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                    <p>A postgraduate certificate in education (PGCE) with qualified teacher status (QTS) allows you to teach in England, Scotland, Wales and Northern Ireland.</p>
                    <p>This qualification is also recognised internationally.</p>
                    <p>Many PGCE courses include credits that count toward a Master’s degree.</p>
                </div>
              {% else %}
                <summary role="button" aria-controls="details-content-0" aria-expanded="true"><span class="summary">Qualified teacher status (QTS)</span></summary>

                <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="false">
                    <p>Qualified teacher status (QTS) allows you to teach in state schools in England.</p>
                    <p>If you want to teach in the rest of the UK or internationally, consider a course that gives you the qualification 'postgraduate certificate in education with qualified teacher status' instead.</p>
                </div>
              {% endif %}
          </details>

          <dl class="aligned" style="margin-bottom: 30px">
            {% if (data[subject.slug + '-' + accrediting.slug + '-' + loop.index + '-course-website']) %}
            <dt>Website:</dt>
            <dd>
              <a href="{{ data[subject.slug + '-' + accrediting.slug + '-' + loop.index +'-course-website'] }}">{{ data[subject.slug + '-' + accrediting.slug + '-' + loop.index + '-course-website'] }}</a>
            </dd>
            {% endif %}
            <dt>Duration:</dt>
            <dd>{{ data[subject.slug + '-' + accrediting.slug + '-' + loop.index + '-duration'] }}</dd>
          </dl>

          <h4 class="heading-small" id="section-about">About the course</h4>
          {{ macros.previewPart(subject.slug + '-' + accrediting.slug + '-' + loop.index + '-about-this-course') }}

          <h4 class="heading-small">Fees</h4>
          <p>The course fees for 2018/2019 are as follows:</p>
          <div class="body-text">
            <table>
              <tbody>
                <tr class="visually-hidden">
                  <th>Student type</th>
                  <th>Fees to pay</th>
                </tr>
                <tr>
                  <td>UK students</td>
                  <td>£{{ data[subject.slug + '-' + accrediting.slug + '-' + loop.index + '-fee'] }}</td>
                </tr>
                <tr>
                  <td>EU students</td>
                  <td>£{{ data[subject.slug + '-' + accrediting.slug + '-' + loop.index + '-fee'] }}</td>
                </tr>
                {% if data[subject.slug + '-' + accrediting.slug + '-' + loop.index + '-fee-international'] %}
                <tr>
                  <td>International students</td>
                  <td>£{{ data[subject.slug + '-' + accrediting.slug + '-' + loop.index + '-fee-international'] }}</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>

          {% if data[subject.slug + '-' + accrediting.slug + '-' + loop.index + '-interview-process'] %}
            <h4 class="heading-small">Interview process</h4>
            {{ macros.previewPart(subject.slug + '-' + accrediting.slug + '-' + loop.index + '-interview-process') }}
          {% endif %}

          <h4 class="heading-small">How school placements work</h4>
          {{ macros.previewPart(subject.slug + '-' + accrediting.slug + '-' + loop.index + '-placement-school-policy') }}
        {% endfor %}

        <h2 class="heading-large" id="section-entry">Requirements</h2>

        <h3 class="heading-medium">Qualifications</h3>
        {{ macros.previewPart(subject.slug + '-' + accrediting.slug + '-qualifications-required') }}

        {% if data[subject.slug + '-' + accrediting.slug + '-personal-qualities'] %}
          <h3 class="heading-medium">Personal qualities</h3>
          {{ macros.previewPart(subject.slug + '-' + accrediting.slug + '-personal-qualities') }}
        {% endif %}

        {% if data[subject.slug + '-' + accrediting.slug + '-other-requirements'] %}
          <h3 class="heading-medium">Other requirements</h3>
          {{ macros.previewPart(subject.slug + '-' + accrediting.slug + '-other-requirements') }}
        {% endif %}

        <h2 class="heading-large" id="section-financial-support">Financial support</h3>
        <p>Not available in this prototype yet.</p>

        <h2 class="heading-large" id="section-about-provider">About the training provider</h2>
        {{ macros.previewPart(subject.slug + '-' + accrediting.slug + '-about-organisation') }}

        {% if not accrediting.selfAccrediting %}
          {% if data[subject.slug + '-' + accrediting.slug + '-about-accrediting-provider'] %}
            <h3 class="heading-medium">About the accrediting provider</h3>
            {{ macros.previewPart(subject.slug + '-' + accrediting.slug + '-about-accrediting-provider') }}
          {% endif %}
        {% endif %}

        <h3 class="heading-medium">Training with a disability</h3>
        {{ macros.previewPart(subject.slug + '-' + accrediting.slug + '-training-with-a-disability') }}

        <h2 class="heading-large" id="section-contact">Contact details</h2>

        <dl class="aligned">
          <dt>Email:</dt>
          <dd><a href="#">{{ data['email'] }}</a></dd>
          <dt>Telephone:</dt>
          <dd>{{ data['telephone'] }}</dd>
          <dt>Website:</dt>
          <dd><a href="{{ data['website'] }}">{{ data['website'] }}</a></dd>
          <dt>Address:</dt>
          <dd>
            {{ data['training-provider-name'] }}<br />
            {{ data['address-line-1'] }}<br />
            {{ data['town'] }}<br />
            {{ data['postcode'] }}
          </dd>
        </dl>

        <h2 class="heading-large" id="section-apply">Apply</h2>

        <a href="#" class="button">Apply</a>
      </div>
    </div>
  </div>
</main>

{% endblock %}
