{% extends "preview-layout.html" %}
{% block page_title %}Your courses{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <a href="/course/{{ subject.slug }}" class="link-back">Back to course</a>

  <h1 class="heading-large" style="margin-top: 1.25em; margin-bottom: 0.55556em">
    {{ subject.name }} at {{ data['training-provider-name'] }}
  </h1>

  <dl class="aligned" style="margin-top: 60px; margin-bottom: 30px">
    <dt>Website:</dt>
    <dd>
      {% if (data[subject.slug + '-course-website']) %}
        <a href="{{ data[subject.slug + '-course-website'] }}">{{ data[subject.slug + '-course-website'] }}</a>
      {% else %}
        Course website is missing
      {% endif %}
    </dd>
    <dt>Date you can apply from:</dt>
    <dd>26 October 2018</dd>
    <dt>Study options:</dt>
    <dd>
      <ul class="list">
        <li>PGCE with QTS, 1 year full time</li>
        <li>PGCE with QTS, 1 year full time with salary</li>
        <li>QTS, 1 year full time</li>
        <li>QTS, 1 year full time with salary</li>
      </ul>
    </dd>
  </dl>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="course-contents">
        <h2 class="heading-small">Contents</h2>
        <ul class="list">
          <li><a href="#section-about">About the course</a></li>
          <li><a href="#section-entry">Requirements</a></li>
          <li><a href="#section-qualification-options">Qualification options</a></li>
          <li><a href="#section-salary-options">Salary</a></li>
          <li><a href="#section-fees">Fees</a></li>
          <li><a href="#section-financial-support">Financial support</a></li>
          <li><a href="#section-schools">Schools</a></li>
          <li><a href="#section-about-provider">About the training provider</a></li>
          <li><a href="#section-contact">Contact details</a></li>
          <li><a href="#section-apply">Apply</a></li>
        </ul>

        <h2 class="heading-medium" id="section-about">About the course</h2>
        {{ macros.previewPart(subject.slug + '-about-this-course') }}

        <h2 class="heading-medium" id="section-entry">Requirements</h2>

        <h3 class="heading-small">Qualifications</h3>
        {{ macros.previewPart(subject.slug + '-qualifications-required') }}

        <h3 class="heading-small">Other requirements</h3>
        {{ macros.previewPart(subject.slug + '-other-requirements') }}

        <h2 class="heading-medium" id="section-qualification-options">Qualification options</h2>

        <p>You can choose to apply for one of two qualifications with this course.</p>

        <h3 class="heading-small">PGCE with QTS course</h3>
        <p>
          With a postgraduate certificate in education (PGCE) with qualified teacher status (QTS) you’ll be able to teach in England, Scotland, Wales and Northern Ireland. This qualification is also recognised internationally.
        </p>

        <h3 class="heading-small">QTS only course</h3>
        <p>Qualified teacher status (QTS) allows you to teach in state schools in England. If you want to teach in the rest of the UK or internationally, then you’ll need a PGCE.</p>

        <h2 class="heading-medium" id="section-salary-options">Earn a salary while you train</h2>

        <p>You can choose to apply to earn a salary of £{{ data[subject.slug + '-salary'] }} for this course.</p>

        {{ macros.previewPart(subject.slug + '-salaried') }}

        <h2 class="heading-medium" id="section-fees">Fees</h3>

        <p>The course fees for 2018/2019 are as follows:</p>

        {% if (data[subject.slug + '-pgce-with-qts-qual-fee']) %}
        <h3 class="heading-small">Fees for PGCE with QTS course</h3>
        <div class="body-text">
          <table>
            <tbody>
              <tr class="visually-hidden">
                <th>Student type</th>
                <th>Fees to pay</th>
              </tr>
              <tr>
                <td>UK students</td>
                <td>£{{ data[subject.slug + '-pgce-with-qts-qual-fee'] }}</td>
              </tr>
              <tr>
                <td>EU students</td>
                <td>£{{ data[subject.slug + '-pgce-with-qts-qual-fee'] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        {% endif %}

        {% if (data[subject.slug + '-qts-qual-fee']) %}
        <h3 class="heading-small">Fees for QTS only course</h3>
        <div class="body-text">
          <table>
            <tbody>
              <tr class="visually-hidden">
                <th>Student type</th>
                <th>Fees to pay</th>
              </tr>
              <tr>
                <td>UK students</td>
                <td>£{{ data[subject.slug + '-qts-qual-fee'] }}</td>
              </tr>
              <tr>
                <td>EU students</td>
                <td>£{{ data[subject.slug + '-qts-qual-fee'] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        {% endif %}

        <h2 class="heading-medium" id="section-financial-support">Financial support</h3>
        <p>Not available in this prototype yet.</p>

        <h2 class="heading-medium" id="section-schools">Schools</h3>
        <p></p>

        {% set schools = data['schools'] %}

        <ul class="list">
          {% for school in schools %}
          <li>
            <h3 class="heading-small">
              {{ school.name }}
            </h3>
            <a href="#">https://www.school-website.com</a>
            <p>{{ school.description }}</p>
          </li>
          {% endfor %}
        </ul>

        <h2 class="heading-medium" id="section-about-provider">About the training provider</h2>

        <h3 class="heading-small">Training with a disability</h3>
        {{ macros.previewPart(subject.slug + '-training-with-a-disability') }}

        <h3 class="heading-small">Interview process</h3>
        {{ macros.previewPart(subject.slug + '-interview-process') }}

        <h2 class="heading-medium" id="section-contact">Contact details</h2>

        <dl class="aligned">
          <dt>Email:</dt>
          <dd><a href="#">{{ data['email'] }}</a></dd>
          <dt>Telephone:</dt>
          <dd>{{ data['telephone'] }}</dd>
          <dt>Website:</dt>
          <dd><a href="{{ data['website'] }}">{{ data['website'] }}</a></dd>
          <dt>Address:</dt>
          <dd>
            {{ data['training-provider-name'] }}<br />
            {{ data['address-line-1'] }}<br />
            {{ data['town'] }}<br />
            {{ data['postcode'] }}
          </dd>
        </dl>

        <h2 class="heading-medium" id="section-apply">Apply</h2>

        <a href="#" class="button">Apply</a>
      </div>
    </div>
  </div>
</main>

{% endblock %}
