{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="govuk-heading-xl">
        Manage teacher training courses prototype
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/history">Design history</a>
        </li>
        <li>
          <a href="https://github.com/fofr/manage-courses-prototype">Github respository</a>
        </li>
        <li>
          <a href="https://dfedigital.atlassian.net/wiki/spaces/BaT/pages/319258632/Manage+courses+designs">Designs in confluence</a>
        </li>
      </ul>

      <h2 class="govuk-heading-l">Exploratory designs</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/courses">Courses with tabs</a>
        </li>
        <li>
          <a href="/onboarding">Original onboarding</a>
        </li>
        <li>
          <a href="/new/title">Experimental wizard</a>
        </li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
