{% extends "layout.html" %}
{% set title = "Request access for someone" %}
{% set backLink = "/cycles" if data['rolled-over'] else "/" %}

{% block content %}
  {% set message %}
    {% if showMessage %}
      <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1" style="margin-bottom: 60px">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0 success-summary-heading" id="success-summary-heading-example-1">
          DfE has received your request to give access to {{ data['request-first-name']}} {{ data['request-last-name'] }}.
        </h3>
        <p>
          They will receive sign-up instructions if their account is approved.
        </p>
      </div>
    {% endif %}
  {% endset %}

  {{ macros.orgHeading('Request access for someone', message) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>You can request a DfE Sign-in account for others who manage your courses.</p>

      <form action="/request-access" method="post">
        <legend>
          <h2 class="govuk-heading-m">Request an account for:</h2>
        </legend>
        {{ macros.textbox('request-first-name', 'First name') }}
        {{ macros.textbox('request-last-name', 'Last name') }}
        {{ macros.textbox('request-email', 'Email address') }}

        <!-- <p>What access should this user have?</p> -->
        {% set fields = [
            {
              name: 'Access to the same organisations as me'
            },
            {
              name: 'Access to ' + data['training-provider-name']
            }
          ]
        %}

        {# macros.radioGroup('request-scope', fields) #}

        {{ macros.textbox('request-organisation', 'Their organisation') }}
        {{ macros.textareaBasic('request-reason', 'Reason they need access', 2) }}
        <input type="submit" class="govuk-button" value="Request access">
      </form>
    </div>
  </div>


{% endblock %}
