{% extends "layout.html" %}
{% set title = "Prepare for the next cycle" %}
{% if data["from"] == "cycles" %}
  {% set backLink = "/cycles" %}
{% endif %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prepare for the next cycle
      </h1>

      <p>Your courses, locations and details have been copied.</p>

      <p>Courses for the next cycle will be published on 1 September 2021.</p>

      <p>Before then, you can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>add new courses</li>
        <li>delete courses</li>
        <li>edit the details of your courses</li>
      </ul>

      <h2 class="govuk-heading-m">New for the 2022 to 2023 cycle</h2>

      <p>All applications will be made via Apply for teaching training, not UCAS.</p>

      <p>You will need to confirm:</p>

      <ol class="govuk-list govuk-list--number">
        <li>degree requirements</li>
        <li>GCSE requirements</li>
        <li>whether you can sponsor visas</li>
        <li>locations of school placements</li>
      </ol>

      <hr class="govuk-section-break govuk-section-break--m" />

      <a href="/cycles" class="govuk-button">Continue</a>
    </div>
  </div>
{% endblock %}
