{% extends "layout.html" %}
{% block page_title %}Organisation{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs"></div>

  <h1 class="heading-xlarge">
    <span class="heading-secondary">{{ data['training-provider-name'] }}</span>
    Schools
  </h1>

  {% set schools = data['schools'] %}

  <ul class="list">
    {% for school in schools %}
    <li>
      <h3 class="heading-medium remove-bottom-margin">
        {{ school.name }}
      </h3>
      <p>{{ school.address }}<br />Training location code: {{ school.code }}</p>
    </li>
    {% endfor %}
  </ul>
</main>

{% endblock %}
