{% extends "layout.html" %}
{% block page_title %}Location{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs">
    <ol>
      <li><a href="/">{{ data['training-provider-name']}}</a></li>
      <li><a href="/locations">Locations</a></li>
    </ol>
  </div>

  <h1 class="heading-xlarge">
    School autocomplete
  </h1>

  <label for="my-autocomplete">Choose a school by name or URN number</label>
  <div id="my-autocomplete-container"></div>

  <form action="/locations" class="grid-row">
    <input type="submit" class="button" value="Save" />
  </form>
</main>
{% endblock %}

{% block page_scripts %}
<script src="/public/javascripts/schools.js"></script>
<script>
  var createSimpleEngine = function (values) {
    return function (query, syncResults) {
      var matches = values
        .filter(function(r) {
          return r.toLowerCase().indexOf(query.toLowerCase()) !== -1
        })
        .slice(0, 10)
      syncResults(matches)
    }
  }

  accessibleAutocomplete({
    element: document.querySelector('#my-autocomplete-container'),
    id: 'my-autocomplete', // To match it to the existing <label>.
    source: createSimpleEngine(autocomplete_options)
  })
</script>
{% endblock %}
