{% extends "email-layout.html" %}
{% block page_title %}Sign in{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/we-imported" method="post">
        <legend>
          <h1 class="govuk-heading-xl">
            Sign in
          </h1>
        </legend>
        <div class="form-group">
          <label class="form-label" for="email">
            Email
          </label>
          <input class="form-control" id="email" type="text" name="email">
        </div>

        <div class="form-group">
          <label class="form-label" for="password">
            Password
          </label>
          <input class="form-control" id="password" type="password" name="password">
        </div>

        <input type="submit" class="button" value="Sign in">
      </form>
    </div>
  </div>
</main>

{% endblock %}
