{% extends "layout.html" %}
{% block pageTitle %}Sign in{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form>
        <legend>
          <h1 class="govuk-heading-xl">
            Where do students spend their time?
          </h1>
        </legend>

        <p class="govuk-body-l">We use this information to help candidates find<br />courses close to them.</p>

        {{ macros.textbox('uni-days', 'Days spent on University campus', 'Liverpool John Moores University')}}

        {{ macros.textbox('school-days', 'Days spent at their ‘home’ school')}}

        {{ macros.textbox('placement-school-days', 'Days spent at placement school(s)')}}

        <input type="submit" class="govuk-button" value="Save">
      </form>
    </div>
  </div>


{% endblock %}
