{% extends "layout.html" %}
{% set title = 'UCAS Apply preferences' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block breadcrumbs %}
  {{
    govukBreadcrumbs({
      items: [
        {
          href: "/",
          text: data['training-provider-name']
        }
      ]
    })
  }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    {{ title }}
  </h1>

  <div class="govuk-grid-row add-top-margin">
    <div class="govuk-grid-column-two-thirds">
      <p>These are UCAS Teacher Training (UTT) Apply preferences that relate to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what happens when you receive an application</li>
        <li>what you need to do after accepting an application</li>
      </ul>

      <p>Your preferences are listed below. <a href="#">Get in touch with the Becoming a Teacher team</a> to change any of them.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l" />

      <h2 class="govuk-heading-m">Which letter will successful applicants receive?</h2>

      <p>Successful candidates will receive the following email from UCAS:</p>

      <div class="govuk-inset-text">
        <p>
          {{ data['training-provider-name'] }} will assume you are taking up your
          place, and will be sending you joining instructions before you
          start your training programme.
        </p>
      </div>

      <p>In UCAS this is known as the “No response” type of letter, with the code:&nbsp;GT12</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l" />

      <h2 class="govuk-heading-m">Receive email alerts for new applications?</h2>

      <p class="govuk-inset-text">Yes. Emails are sent to <a href="#">janedoe@myorg.co.uk</a> as soon as new applications are received.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l" />

      <h2 class="govuk-heading-m">How should applicants be sorted in your outstanding decisions list (ODL)?</h2>

      <p class="govuk-inset-text">Alphabetically</p>

      <p>You will find your outstanding decisions list in the applicant data section of UCAS web-link.</p>

      <p>There are outstanding decisions lists for applicants:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>awaiting a decision from you (On-demand ODL)</li>
        <li>who will be rejected by default over the next 7 days (Weekly ODL)</li>
        <li>who have accepted conditional offers but are awaiting confirmation decisions (Confirmation ODL)</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l" />

      <h2 class="govuk-heading-m">What type of Star J (*J) return is needed?</h2>

      <p class="govuk-inset-text">Flat file</p>

      <p>Star J (or *J) is a report that must be returned to the Higher Education Statistics Agency (HESA) at the end of each recruitment cycle. It contains personal information of each accepted applicant.</p>

      <p>The return is available either as a flat file or as a UCAS link.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l" />

      <h2 class="govuk-heading-m">Sending statistical information about each applicant to your training provider (Star X)</h2>

      <p class="govuk-inset-text">Send information. Statistical data will be sent to: <a href="#">janedoe@myorg.co.uk</a></p>

      <p>You can choose to send extra statistical information about each applicant to your training provider.</p>
    </div>
  </div>
{% endblock %}
