{% extends "layout.html" %}
{% block page_title %}Courses imported{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="breadcrumbs"></div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="govuk-heading-xl">
        We’ve imported your training courses from UCAS
      </h1>

      <p>We found {{ data['ucasCourses'].length }} courses belonging to {{ data['training-provider-name'] }}.</p>

      <p>Before you can publish your courses we need you to add some further details.</p>

      <p class="add-double-bottom-margin">To add courses or change factual course information you’ll need to continue to use UCAS web-link. Your changes on UCAS will be automatically imported here and we’ll let you know when they’re ready.</p>

      <div class="form-group">
        <a href="/courses" class="govuk-button">Continue</a>
      </div>
    </div>
  </div>

</main>

{% endblock %}
