{% extends "layout.html" %}
{% set title = 'Organisations' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
  <div class="breadcrumbs"></div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <ul class="govuk-list">
        <li>
          <h2 class="govuk-heading-m remove-top-margin remove-bottom-margin">
            <a href="/courses">{{ data['training-provider-name']}}</a>
          </h2>
          <p>{{ data['ucasCourses'].length }} courses</p>
        </li>
        <!-- <li>
          <h2 class="govuk-heading-m remove-top-margin remove-bottom-margin">
            <a href="/courses">Astra SCITT</a>
          </h2>
          <p>24 courses</p>
        </li> -->
        <li>
          <h2 class="govuk-heading-m remove-top-margin remove-bottom-margin">
            <a href="/courses">Dr Challoner’s Grammar School</a>
          </h2>
          <p>12 courses</p>
        </li>
      </ul>
    </div>
  </div>
</main>

{% endblock %}
