{% extends "layout.html" %}
{% set title = "Training with your organisation" %}
{% set backLink = "/about-your-organisation" %}

{% block content %}
  <form action="{{ backLink }}" method="post">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{{ data["training-provider-name"] }}</span>
      {{ title }}
    </h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Tell applicants why they should choose to train with you. Say:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>who you are</li>
          <li>who you work with</li>
        </ul>
        <p class="govuk-body">You could mention:
        <ul class="govuk-list govuk-list--bullet">
          <li>your key values</li>
          <li>your specialisms</li>
          <li>your past achievements (eg student successes, Ofsted ratings)</li>
        </ul>
        <p class="govuk-body">Be specific with any claims you make, and support them with evidence. For example:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>don’t say “our students are some of the happiest in the country”</li>
          <li>do say “the Times Educational Supplement ranked our students as 4th happiest in the country”</li>
        </ul>

        {{ govukCharacterCount({
          label: {
            text: "Training with your organisation",
            classes: "govuk-label--s"
          },
          name: "about-organisation",
          id: "about-organisation",
          value: data["about-organisation"],
          maxwords: 250,
          rows: 14
        }) }}

        {% if not data["self_accrediting"] %}
          <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

          <h2 id="about-{{ a.slug }}" class="govuk-heading-l">About your accredited bodies</h2>
          <p>Tell applicants about {{ "each" if data["accreditors"].length > 1 else "your" }} accredited body – you could mention their academic specialities and achievements. Be specific with the claims you make, and support with them evidence.</p>

          {% for a in data["accreditors"] %}
            {{ govukCharacterCount({
              label: {
                text: "About " + a.name + " (optional)",
                classes: "govuk-label--s"
              },
              name: a.slug + "-about-accrediting-provider",
              id: a.slug + "-about-accrediting-provider",
              value: data[a.slug + "-about-accrediting-provider"],
              maxwords: 100,
              rows: 8
            }) }}
          {% endfor %}
        {% endif %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save"
          }) }}
          <a class="govuk-link" href="/about-your-organisation">Cancel changes</a>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="app-status-box govuk-!-margin-bottom-6">
          {{ macros.formatting() }}
        </div>
      </div>
    </div>
  </form>
{% endblock %}
