{% extends "layout.njk" %}
{% set title = "Contact details" %}
{% set backLink = "/about-your-organisation" %}

{% block content %}
  <form action="{{ backLink }}" method="post">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">{{ data["training-provider-name"] }}</span>
      {{ title }}
    </h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukInput({
          label: {
            classes: "govuk-label--m",
            text: "Email address"
          },
          hint: {
            text: "Give an email address that applicants can use to contact you"
          },
          classes: "govuk-!-width-two-thirds",
          type: "email",
          id: "email",
          name: "email",
          value: data["email"]
        }) }}

        {{ govukInput({
          label: {
            classes: "govuk-label--m",
            text: "Telephone number"
          },
          hint: {
            text: "Give a telephone number that applicants can use to call you"
          },
          classes: "govuk-input--width-10",
          type: "tel",
          id: "telephone",
          name: "telephone",
          value: data["telephone"]
        }) }}

        {{ govukInput({
          label: {
            classes: "govuk-label--m",
            text: "Website"
          },
          hint: {
            text: "Add a link to the initial teacher training or course pages of your website"
          },
          type: "url",
          id: "website",
          name: "website",
          value: data["website"]
        }) }}

        <h2 class="govuk-heading-m" id="contact-address">Contact address</h2>
        {{ govukInput({
          label: {
            html: "Building and street <span class=\"govuk-visually-hidden\">line 1 of 2</span>"
          },
          autocomplete: "address-line1",
          id: "address-line1",
          name: "address-line1",
          value: data["address-line1"]
        }) }}

        {{ govukInput({
          label: {
            html: "<span class=\"govuk-visually-hidden\">Building and street line 2 of 2</span>"
          },
          autocomplete: "address-line2",
          id: "address-line2",
          name: "address-line2",
          value: data["address-line2"]
        }) }}

        {{ govukInput({
          label: {
            text: "Town or city"
          },
          classes: "govuk-!-width-two-thirds",
          autocomplete: "address-level2",
          id: "address-level2",
          name: "address-level2",
          value: data["address-level2"]
        }) }}

        {{ govukInput({
          label: {
            text: "County"
          },
          classes: "govuk-!-width-two-thirds",
          autocomplete: "address-level1",
          id: "address-level1",
          name: "address-level1",
          value: data["address-level1"]
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          autocomplete: "postal-code",
          id: "postal-code",
          name: "postal-code",
          value: data["postal-code"]
        }) }}

        <p class="govuk-body">Changes will appear on Find postgraduate teacher training within 2 hours.</p>

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Save"
          }) }}
          <a class="govuk-link" href="/about-your-organisation">Cancel changes</a>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
