{% extends "layout.html" %}
{% set title = 'Contact details' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}

<a href="/about-your-organisation" class="link-back">Back</a>

{% include "about-your-organisation/_errors.html" %}

<h1 class="govuk-heading-xl">
  <span class="heading-secondary">{{ data['training-provider-name'] }}</span>
  {{ title }}
</h1>

  <form action="/about-your-organisation" method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ macros.textbox('email-address', 'Email address', 'Give an email address that applicants can use to contact you', 'form-control', null, errors) }}
        {{ macros.textbox('telephone-number', 'Telephone number', 'Give a telephone number that applicants can use to call you', 'form-control', null, errors) }}
        {{ macros.textbox('website', 'Website', 'Add a link to the initial teacher training or course pages of your website', 'form-control-full', null, errors) }}

        <h2 class="govuk-heading-m" id="contact-address">Contact address</h2>
        {{ macros.textbox('building-and-street', 'Building and street', null, 'form-control-full', null, errors) }}
        {{ macros.textbox('building-and-street-2', null, null, 'form-control-full', null, errors) }}

        {{ macros.textbox('organisation-town-or-city', 'Town or city', null, 'form-control', null, errors) }}
        {{ macros.textbox('county', 'County', null, 'form-control', null, errors) }}
        {{ macros.textbox('postcode', 'Postcode', null, 'form-control-small', null, errors) }}
      </div>
    </div>

    <div class="add-double-bottom-margin">
      <input type="submit" class="govuk-button" value="Save" />
    </div>

    <a href="/about-your-organisation">Cancel changes</a>
  </form>


{% endblock %}
