{% extends "layout.html" %}
{% set title = 'Contact details' %}
{% block page_title %}{{ title }}{% endblock %}

{% block content %}
<main id="content" role="main">
  {% include "includes/phase_banner_beta.html" %}
<a href="/about-your-organisation" class="link-back">Back</a>

{% include "about-your-organisation/_errors.html" %}

<h1 class="heading-xlarge">
  <span class="heading-secondary">{{ data['training-provider-name'] }}</span>
  {{ title }}
</h1>

  <form action="/about-your-organisation" method="post">
    <div class="grid-row">
      <div class="column-two-thirds">
        {{ macros.textbox('email-address', 'Email address', 'Applicants will use this email address to ask about your courses', 'form-control', null, errors) }}
        {{ macros.textbox('telephone-number', 'Telephone number', 'Applicants will use this number to call you about your courses', 'form-control', null, errors) }}
        {{ macros.textbox('website', 'Website', 'The website applicants should visit for more information about your courses', 'form-control-full', null, errors) }}
      </div>
    </div>

    <div class="add-double-bottom-margin">
      <input type="submit" class="button" value="Save" />
    </div>

    <a href="/about-your-organisation">Cancel changes</a>
  </form>
</main>

{% endblock %}
