{% extends "layout.html" %}
{% set title = 'Edit ‘About your organisation’' %}
{% block pageTitle %}{{ title }}{% endblock %}
{% block backLink %}{{ macros.backLink('/about-your-organisation') }}{% endblock %}

{% block content %}
{% include "about-your-organisation/_errors.html" %}

<h1 class="govuk-heading-xl">
  {{ title }}
</h1>

  <form action="/about-your-organisation" method="post">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l remove-top-margin">About your organisation</h2>

        <p>This is your chance to tell applicants why they should choose to train with you. You could describe any advantages and special features of you as a training provider.</p>

        <p>You must be specific and factual with any claims you make, and support them with evidence. For example:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>don’t say “our students are some of the happiest in the country”</li>
          <li>do say “the Times Educational Supplement ranked our students as 4th happiest in the country”</li>
        </ul>
        {{ macros.textarea('about-organisation', 'Training with you', 14, '', 250, errors) }}

        {% if not data['self_accrediting'] %}
          {% if data['accreditors'].length > 1 %}
            <h2 class="govuk-heading-l">
              About your accredited providers
            </h2>
            <p>Describe advantages and special features of each accredited provider. You must be specific and factual with any claims you make, and support them with evidence.</p>
          {% else %}
            <h2 class="govuk-heading-l">
              About your accredited provider
            </h2>
            <p>Describe advantages and special features of your accredited provider. You must be specific and factual with any claims you make, and support them with evidence.</p>
          {% endif %}

          {% for a in data['accreditors'] %}
            {{ macros.textarea(a.slug + '-about-accrediting-provider', 'About ' + a.name + ' (optional)', 8, '', 100) }}
          {% endfor %}
        {% endif %}

        <h3 class="govuk-heading-l remove-top-margin">Training with disabilities and other needs</h3>
        <p>Say how you support candidates with disabilities and other needs. This could include candidates with:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>dyslexia</li>
          <li>physical, hearing and visual impairments</li>
          <li>mental health conditions</li>
        </ul>
        <p>If accessibility varies between locations, give details. It’s also useful to candidates to know how you’ve accommodated others with specific access needs in the past.</p>

        {{ macros.textarea('training-with-a-disability', 'Training with disabilities and other needs', 14, '', 250, errors) }}
      </div>
      <div class="govuk-grid-column-one-third">
        {{ macros.formattingBox() }}
      </div>
    </div>

    <div class="add-double-bottom-margin">
      <input type="submit" class="govuk-button" value="Save" />
    </div>

    <a href="/about-your-organisation">Cancel changes</a>
  </form>


{% endblock %}
