{% extends "layout.html" %}
{% set title = "About your organisation" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: breadcrumbItems([{
      text: title
    }])
  }) }}
{% endblock %}

{% block content %}
  {% set message %}
    {% if showMessage %}
      <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
        <h3 class="govuk-heading-m govuk-!-margin-bottom-0 success-summary-heading" id="success-summary-heading-example-1">
          Your changes have been saved
        </h3>
      </div>
    {% endif %}
  {% endset %}

  {% if data["about-your-organisation-show-publish-errors"] and errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: "We couldn’t publish this because some information was missing",
      errorList: errors
    }) }}
  {% endif %}

  {% if justPublished %}
    <div class="success-summary" role="alert" aria-labelledby="success-summary-heading-example-1" tabindex="-1">
      <h3 class="govuk-heading-m govuk-!-margin-bottom-0 success-summary-heading" id="success-summary-heading-example-1">
        Your changes have been published
      </h3>
    </div>
  {% endif %}

  <h1 class="govuk-heading-xl">
    <span class="govuk-caption-xl">
      {% if data["next-cycle"] %}
        Next cycle (2022 to 2023)
      {% else %}
        Current cycle (2021 to 2022)
      {% endif %}
    </span>
    {{ title }}
  </h1>

  <div class="govuk-grid-row add-top-margin">
    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-0">
        <a href="/about-your-organisation/contact">Contact details</a>
      </h3>

      {% set contactAddressHtml %}
        {% if data["building-and-street"] or data["building-and-street-2"] or data["town-or-city"] or data["county"] or data["postcode"] %}
          {% if data["building-and-street"] %}
            {{ data["building-and-street"] }}<br />
          {% endif %}
          {% if data["building-and-street-2"] %}
            {{ data["building-and-street-2"] }}<br />
          {% endif %}
          {% if data["town-or-city"] %}
            {{ data["town-or-city"] }}<br />
          {% endif %}
          {% if data["county"] %}
            {{ data["county"] }}<br />
          {% endif %}
          {% if data["postcode"] %}
            {{ data["postcode"] }}<br />
          {% endif %}
        {% else %}
          Empty
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Email address"
          },
          value: {
            text: value("email") or "Empty",
            classes: "govuk-summary-list__value--empty" if not value("email")
          }
        }, {
          key: {
            text: "Telephone number"
          },
          value: {
            text: value("telephone") or "Empty",
            classes: "govuk-summary-list__value--empty" if not value("telephone")
          }
        }, {
          key: {
            text: "Website"
          },
          value: {
            text: value("website") or "Empty",
            classes: "govuk-summary-list__value--empty" if not value("website")
          }
        }, {
          key: {
            text: "Contact address"
          },
          value: {
            html: contactAddressHtml,
            classes: "govuk-summary-list__value--empty" if not value("building-and-street")
          }
        }]
      }) }}

      <h3 class="govuk-heading-m govuk-!-font-size-27">
        <a href="/about-your-organisation/about">About your organisation</a>
      </h3>

      <dl class="govuk-summary-list">
        {{ macros.coursePart('about-organisation', 'About your organisation', errors) }}
        {% if not data["self_accrediting"] %}
          {% for a in data["accreditors"] %}
            {{ macros.coursePart(a.slug + '-about-accrediting-provider', 'About ' + a.name + ' (optional)') }}
          {% endfor %}
        {% endif %}
        {{ macros.coursePart('training-with-a-disability', 'Training with disabilities and other needs', errors) }}
      </dl>
    </div>
    <div class="govuk-grid-column-one-third">
      {% set publishState = publishState or data["about-your-organisation-publish-state"] or 'new' %}
      {{ macros.aboutYourOrgPublish(publishState, data["about-your-organisation-published-before"], '/publish/about-your-organisation') }}
    </div>
  </div>
{% endblock %}
