{% extends "layout.njk" %}
{% set title = "Visa sponsorship" %}
{% set backLink = "/about-your-organisation" %}

{% block content %}
  <form action="{{ backLink }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">{{ data["training-provider-name"] }}</span>
        {{ title }}
      </h1>

      <p class="govuk-bodu">If you’re unsure if your courses can sponsor visas, check the <a href="https://www.gov.uk/government/publications/register-of-licensed-sponsors-students" class="govuk-link">Register of Student sponsors</a> and <a href="https://www.gov.uk/government/publications/register-of-licensed-sponsors-workers" class="govuk-link">Register of Worker and Temporary Worker licensed sponsors</a>.</p>

      <p class="govuk-body">Find out how to <a href="https://www.gov.uk/guidance/recruit-trainee-teachers-from-overseas-accredited-itt-providers#recruit-by-becoming-a-visa-sponsor" class="govuk-link">become a visa sponsor</a>.</p>

      {% set studentVisaRadioName = "canSponsorStudentVisa" %}
      {% set skilledWorkerVisaRadioName = "canSponsorSkilledWorkerVisa" %}

      {{ govukRadios({
        name: studentVisaRadioName,
        fieldset: {
          legend: {
            text: "Can candidates get a sponsored Student visa for your fee-paying courses?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [{
          value: "true",
          text: "Yes",
          checked: (data[studentVisaRadioName] === "true")
        }, {
          value: "false",
          text: "No",
          checked: (data[studentVisaRadioName] === "false")
        }]
      }) }}

      {{ govukRadios({
        name: skilledWorkerVisaRadioName,
        fieldset: {
          legend: {
            text: "Can candidates get a sponsored Skilled Worker visa for your salaried courses?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [{
          value: "true",
          text: "Yes",
          checked: (data[skilledWorkerVisaRadioName] === "true")
        }, {
          value: "some",
          text: "Only for some salaried courses",
          checked: (data[skilledWorkerVisaRadioName] === "some")
        }, {
          value: "false",
          text: "No, or not applicable",
          checked: (data[skilledWorkerVisaRadioName] === "false")
        }]
      }) }}

      {{ govukButton({
        text: "Save"
      }) }}
      <p class="govuk-body"><a href="{{ backLink }}">Cancel changes</a></p>
    </div>
  </form>
{% endblock %}
