{% extends "layout.html" %}
{% set title = "How do you want to add placement schools?" %}
{% set backLink = referrer or paths.back %}

{% block content %}
  <form action="{{ referrer or paths.next }}" method="post" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        idPrefix: "add-placements-answer",
        name: "add-placements-answer",
        fieldset: {
          legend: {
            html: "<span class=\"govuk-caption-xl\">Locations</span>" + title,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [{
          value: "upload",
          text: "Upload a list of Unique reference numbers (URNs)",
          checked: checked(("placements-display"), "list"),
          label: {
            classes: "govuk-label--s"
          },
          hint: {
            text: "Lorem ipsum CSV lorem ipsum URNs"
          }
        }, {
          value: "add",
          text: "Add each school individually",
          checked: checked(("placements-display"), "area"),
          label: {
            classes: "govuk-label--s"
          },
          hint: {
            text: "Lorem ipsum"
          }
        }]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Save changes" if referrer else "Save and continue"
        }) }}
        <p class="govuk-body"><a href="{{ paths.back }}">Cancel</a></p>
      </div>
    </div>
  </form>
{% endblock %}
