{% extends "layouts/main.njk" %}

{% set primaryNavId = "schools" %}

{% if hasCourses %}
  {% set title = "You cannot remove this school" %}
{% else %}
  {% set title = "Are you sure you want to remove this school?" %}
{% endif %}

{% set caption = location.name %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {% if hasCourses %}

          <p class="govuk-body">{{ location.name }} is a school for courses run by {{ organisation.name }}.</p>
          <p class="govuk-body">To remove {{ location.name }}, you must first remove the school from those courses.</p>

        {% else %}

          {{ govukButton({
            text: "Remove school",
            classes: "govuk-button--warning"
          }) }}

        {% endif %}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
