{% extends "_layout.njk" %}

{% set primaryNavId = "locations" %}

{% if location %}
  {% set title = location.name %}
{% else %}
  {% set title = "Add location" %}
{% endif %}

{% set caption = data.currentCycle.code | getCycleLabel %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/page-heading.njk" %}

      {% set addressHtml %}
        <p class="govuk-body">
          {% if location.address.addressLine1.length %}
            {{ location.address.addressLine1 }}<br>
          {% endif %}
          {% if location.address.addressLine2.length %}
            {{ location.address.addressLine2 }}<br>
          {% endif %}
          {% if location.address.town.length %}
            {{ location.address.town }}<br>
          {% endif %}
          {% if location.address.county.length %}
            {{ location.address.county }}<br>
          {% endif %}
          {% if location.address.postcode.length %}
            {{ location.address.postcode }}<br>
          {% endif %}
        </p>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: location.name
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Location code"
            },
            value: {
              text: location.code
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "location code"
                }
              ]
            }
          },
          {
            key: {
              text: "Unique reference number (URN)"
            },
            value: {
              text: location.urn
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "unique reference number (URN)"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: addressHtml
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          }
        ]
      }) }}

      <p class="govuk-body">
        <a class="govuk-link app-link--destructive" href="{{ actions.delete }}">Delete location</a>
      </p>

    </div>
  </div>

{% endblock %}
