{% extends "layout.html" %}
{% set title = "Locations" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: breadcrumbItems({
      text: "Locations"
    })
  }) }}
{% endblock %}

{% block content %}
  {% set justCreatedHtml %}
    <h3 class="govuk-notification-banner__heading">Your location has been added.</h3>
    <p class="govuk-body">Before candidates can pick this location, you must assign it to one or more courses. You can do this when adding or editing courses.</p>
  {% endset %}
  {{ govukNotificationBanner({
    html: justCreatedHtml,
    type: "success"
  }) if justCreated }}

  {{ govukNotificationBanner({
    text: "Your changes have been published.",
    type: "success"
  }) if justEdited }}

  {{ govukNotificationBanner({
    text: data.uploadedLocations.length + " new locations added.",
    type: "success"
  }) if justUploaded }}

  <h1 class="govuk-heading-xl">
    {% if data["next-cycle"] %}<span class="govuk-caption-xl">Next cycle (2022 to  2023)</span>{% endif %}
    {{ title }}
  </h1>

  <div class="govuk-!-width-two-thirds">
    <p class="govuk-body">Most candidates search for courses by location. Adding the locations where candidates may train improves the visibility of your courses on Find.</p>
    {{ govukInsetText({
      text: "There is no longer a limit on the number of locations you can add."
    }) }}
  </div>

  {% set buttonHtml %}
    <div class="govuk-button-group">
      {{ govukButton({
        text: "Add a new location",
        href: "/location/start"
      }) }}

      <a class="govuk-link govuk-link--no-visited-state" href="/location/upload">Upload location data</a>
    </div>
  {% endset %}

  {% macro locationsTable(locations, caption) %}
    {% set type = "school" if locations == schoolLocations else "centre" %}
    {% set heading = "Placement schools" if type == "school" else "Training centres" %}
    {% set item = "placement school" if type == "school" else "training centre" %}
    <hr class="govuk-section-break govuk-section-break--l">
    {% if locations.length > 0 %}
      <section class="app-table-container" tabindex="0" aria-labelledby="{{ type }}-caption">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m" id="{{ type }}-caption">{{ heading }}</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" width="40%" scope="col">Name</th>
              <th class="govuk-table__header" width="10%" scope="col">URN</th>
              <th class="govuk-table__header" width="60%" scope="col">Address</th>
              <th class="govuk-table__header" scope="col">Actions</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for location in locations %}
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="row">{{ location.name }}</th>
              <td class="govuk-table__cell">{{ location.urn }}</td>
              <td class="govuk-table__cell">
                {{- location["address-line1"] + ", " if location["address-line1"] -}}
                {{- location["address-line2"] + ", " if location["address-line2"] -}}
                {{- location["address-level2"] + ", " if location["address-level2"] -}}
                {{- location["address-level1"] + ", " if location["address-level1"] -}}
                {{- location["postal-code"] if location["postal-code"] -}}
              </td>
              <td class="govuk-table__cell app-govuk-table__cell--actions">
                <a class="govuk-link govuk-link--no-visited-state" href="/location/{{ location.code or location.urn }}">Edit</a>
                <a class="govuk-link app-link--destructive" href="#">Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </section>
      {{ govukButton({
        text: "Add a " + item,
        href: "/location/start?type=" + type
      }) }}
    {% else %}
      <div class="govuk-!-width-two-thirds">
        <h2 class="govuk-heading-m">{{ heading }}</h2>
        {% if type == "school" %}
          <p class="govuk-body">Depending on how you organise your placements, you can choose to show individual schools, or the areas in which these schools sit within.</p>
          {{ govukButton({
            text: "Set up placement schools",
            href: "#"
          }) }}
        {% else %}
          <p class="govuk-body">Training centres are locations where academic training takes place.</p>
          {{ govukButton({
            text: "Add a " + item,
            href: "/location/start?type=" + type
          }) }}
        {% endif %}
      </div>
    {% endif %}
  {% endmacro %}

  {{ locationsTable(schoolLocations) }}

  {{ locationsTable(centerLocations) }}
{% endblock %}
