{% extends "layout.html" %}
{% set title = "Locations" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: breadcrumbItems({
      text: "Locations"
    })
  }) }}
{% endblock %}

{% macro locationsTable(locations, caption) %}
  <table class="govuk-table">
    {% if caption %}
      <caption class="govuk-table__caption govuk-table__caption--m">{{ caption }}</caption>
    {% endif %}
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" width="40%" scope="col">Name (URN)</th>
        <th class="govuk-table__header" width="60%" scope="col">Address</th>
        <th class="govuk-table__header" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for location in locations %}
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">
            {{ location.name }}
            <span class="govuk-!-font-weight-regular app-!-colour-muted">({{ location.urn }})</span>
          </th>
          <td class="govuk-table__cell">
            {{- location["address-line1"] + ", " if location["address-line1"] -}}
            {{- location["address-line2"] + ", " if location["address-line2"] -}}
            {{- location["address-level2"] + ", " if location["address-level2"] -}}
            {{- location["address-level1"] + ", " if location["address-level1"] -}}
            {{- location["postal-code"] if location["postal-code"] -}}
          </td>
          <td class="govuk-table__cell app-govuk-table__cell--actions">
            <a class="govuk-link govuk-link--no-visited-state" href="/location/{{ location.code or location.urn }}?referrer=/locations#{{ type }}">Edit</a>
            <a class="govuk-link app-link--destructive" href="#">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}

{% block content %}
  {{ govukNotificationBanner({
    text: "Your location has been added.",
    type: "success"
  }) if justCreated }}

  {{ govukNotificationBanner({
    text: "Your changes have been published.",
    type: "success"
  }) if justEdited }}

  {{ govukNotificationBanner({
    text: data.uploadedLocations.length + " new locations added.",
    type: "success"
  }) if justUploaded }}

  <h1 class="govuk-heading-xl">
    {% if data["next-cycle"] %}<span class="govuk-caption-xl">Next cycle (2022 to 2023)</span>{% endif %}
    {{ title }}
  </h1>

  <div class="govuk-!-width-two-thirds">
    <p class="govuk-body">Most candidates search for courses by location. Adding locations improves the visibility of your courses on Find.</p>
  </div>

  {% set placementSchoolsHtml %}
    <h2 class="govuk-heading-l">Placement schools</h2>
    {% if data["placements-policy"] and schoolLocations.length > 0 %}
      <h3 class="govuk-heading-m">School placement settings</h3>
      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-8 govuk-!-width-two-thirds",
        rows: [{
          key: {
            text: "Placement schools are assigned to each course"
          },
          value: {
            text: "Yes" if data["placements-display"] == "list" else "No"
          },
          actions: {
            items: [{
              href: "/locations/placements-display?referrer=/locations#school",
              text: "Change",
              visuallyHiddenText: "how placements are displayed"
            }]
          }
        }, {
          key: {
            text: "Candidates select a school when they apply"
          },
          value: {
            text: "Yes" if data["placements-policy"] == "hosted" else "No"
          },
          actions: {
            items: [{
              href: "/locations/placements-policy?referrer=/locations#school",
              text: "Change",
              visuallyHiddenText: "placements policy"
            }]
          }
        }]
      }) }}

      {{ locationsTable(schoolLocations, "Schools") }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Add a new placement school",
          href: "/location/start?type=school"
        }) }}
        <a class="govuk-link govuk-link--no-visited-state" href="/location/upload">Upload schools CSV</a>
      </div>
    {% else %}
      <div class="govuk-!-width-two-thirds">
        <p class="govuk-body">A placement school is a location where candidates may be placed during their training.</p>
        <p class="govuk-body">Before adding placement schools, you can decide:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>whether to show individual addresses or only the areas schools are located</li>
          <li>if candidates can select a school when making an application</li>
        </ul>

        {{ govukButton({
          text: "Set up placement schools",
          href: "/locations/placements-display"
        }) }}
      </div>
    {% endif %}
  {% endset %}

  {% set trainingCentresHtml %}
    <h2 class="govuk-heading-l">Training centres</h2>
    {% if centerLocations.length > 0 %}
      {{ locationsTable(centerLocations) }}
    {% else %}
      <div class="govuk-!-width-two-thirds">
        <p class="govuk-body">A training centre is a location where academic or ‘centre-based’ training takes place.</p>
      </div>
    {% endif %}

    {{ govukButton({
      text: "Add a new training centre",
      href: "/location/start?type=centre"
    }) }}
  {% endset %}

  {{ govukTabs({
    classes: "app-tabs app-tabs--locations govuk-!-margin-top-8",
    items: [{
      label: "Placement schools",
      id: "school",
      panel: {
        html: placementSchoolsHtml
      }
    }, {
      label: "Training centres",
      id: "centre",
      panel: {
        html: trainingCentresHtml
      }
    }]
  }) }}
{% endblock %}
