{% extends "layout.njk" %}
{% set title = "Locations" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: breadcrumbItems({
      text: "Locations"
    })
  }) }}
{% endblock %}

{% macro locationsTable(locations, caption) %}
  {% if locations.length > 0 %}
    <table class="govuk-table">
      <caption class="govuk-visually-hidden">{{ caption }} locations</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" width="40%" scope="col">Name (URN)</th>
          <th class="govuk-table__header" width="60%" scope="col">Address</th>
          <th class="govuk-table__header" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for location in locations %}
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="row">
              {{ location.name }}
              <span class="govuk-!-font-weight-regular app-!-colour-muted">({{ location.urn }})</span>
            </th>
            <td class="govuk-table__cell">
              {{- location["address-line1"] + ", " if location["address-line1"] -}}
              {{- location["address-line2"] + ", " if location["address-line2"] -}}
              {{- location["address-level2"] + ", " if location["address-level2"] -}}
              {{- location["address-level1"] + ", " if location["address-level1"] -}}
              {{- location["postal-code"] if location["postal-code"] -}}
            </td>
            <td class="govuk-table__cell app-govuk-table__cell--actions">
              <a class="govuk-link govuk-link--no-visited-state" href="/location/{{ location.code or location.urn }}">Edit</a>
              <a class="govuk-link app-link--destructive" href="#">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="govuk-body">No {{ caption }} locations added.</p>
  {% endif %}
{% endmacro %}

{% block content %}
  {{ govukNotificationBanner({
    text: "Your location has been added.",
    type: "success"
  }) if justCreated }}

  {{ govukNotificationBanner({
    text: "Your changes have been published.",
    type: "success"
  }) if justEdited }}

  {{ govukNotificationBanner({
    text: data.uploadedLocations.length + " new locations added.",
    type: "success"
  }) if justUploaded }}

  <h1 class="govuk-heading-xl">
    {% if data["next-cycle"] %}<span class="govuk-caption-xl">Next cycle (2022 to 2023)</span>{% endif %}
    {{ title }}
  </h1>

  <div class="govuk-!-width-two-thirds">
    <p class="govuk-body-l">Most candidates search for courses by location. Add your locations to improve the visibility of your courses on Find.</p>
  </div>

  {% set placementSchoolsHtml %}
    <h2 class="govuk-heading-l">Placement schools</h2>
    <p class="govuk-body">Add the schools where candidates may be placed.</p>

    {% if data["placements-display"] and schoolLocations.length > 0 %}
      <div class="govuk-!-width-two-thirds">
        <div class="govuk-inset-text">
          <h3 class="govuk-heading-m">
            {% if data["placements-display"] == "list" %}
              You’ve chosen to show precise placement locations{{ " and allow candidates to choose one when they apply" if data["placements-policy"] == "hosted" }}
            {% else %}
              You’ve chosen to show only the general areas where placements can be offered
            {% endif %}
          </h3>
          {% if data["placements-display"] == "list" %}
            <p class="govuk-body">You can assign placement schools to courses from your individual course pages.</p>
          {% else %}
            <p class="govuk-body">Based on the school locations you have added, courses will show the following areas:</p>
            <div class="app-status-box">
              <p class="govuk-body govuk-!-margin-bottom-0">Bradford, Leeds and Wakefield.</p>
            </div>
          {% endif %}
          <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/locations/placements-display">Update placement school settings</a></p>
        </div>
      </div>

      {{ locationsTable(schoolLocations, "Placement school") }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Add a new placement school",
          href: "/location/start?type=school"
        }) }}
        <a class="govuk-link govuk-link--no-visited-state" href="/locations/upload">Upload school data</a>
      </div>
    {% else %}
      <div class="govuk-!-width-two-thirds">
        <p class="govuk-body">You can choose whether to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>show precise placement locations or only the general area</li>
          <li>allow candidates to choose a placement school</li>
        </ul>

        {{ govukButton({
          text: "Set up placement schools",
          href: "/locations/placements-display"
        }) }}
      </div>
    {% endif %}
  {% endset %}

  {% set trainingCentresHtml %}
    <h2 class="govuk-heading-l">Training centres</h2>
    <p class="govuk-body">Add the locations where academic or ‘centre-based’ training takes place.</p>

    {% if centerLocations.length > 0 %}
      {{ locationsTable(centerLocations, "Training centre") }}
    {% endif %}

    {{ govukButton({
      text: "Add a new training centre",
      href: "/location/start?type=centre"
    }) }}
  {% endset %}

  {{ govukTabs({
    classes: "app-tabs app-tabs--locations govuk-!-margin-top-8",
    items: [{
      label: "Placement schools",
      id: "school",
      panel: {
        html: placementSchoolsHtml
      }
    }, {
      label: "Training centres",
      id: "centre",
      panel: {
        html: trainingCentresHtml
      }
    }]
  }) }}
{% endblock %}
