{% extends "_layout.njk" %}

{% set primaryNavId = "locations" %}

{% set title = "TITLE" %}
{% set caption = "Add location" %}

{% block pageTitle %}
  {{ "Error: " if errors.length }}{{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "_includes/error-summary.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        {% include "_includes/page-heading-legend.njk" %}
      {% endset %}

      <form action="{{ actions.save }}" method="post" accept-charset="utf-8" novalidate>

        {{ govukRadios({
          idPrefix: "location-type",
          name: "location[type]",
          fieldset: {
            legend: {
              html: headingHtml
            }
          },
          errorMessage: errors | getErrorMessage("location-type"),
          items: [
            {
              value: "school",
              text: "A school"
            },
            {
              value: "other",
              text: "Another address"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
