{% extends "layout.njk" %}
{% set title = "Upload school data" %}
{% set backLink = referrer or "/locations" %}

{% block content %}
  <form action="/locations/upload-review" method="get" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Locations</span>
        {{ title }}
      </h1>

      <p class="govuk-body">Add multiple locations by uploading a file containing school unique reference numbers (URNs).</p>

      <p class="govuk-body"><a class="govuk-link" href="upload-template.csv" type="text/csv" download="upload-template.csv">Download, fill in and upload this template as a CSV file</a>.</p>

      <p class="govuk-body">You'll then be able to review the locations before confirming them.</p>

      {{ govukFileUpload({
        id: "file-upload",
        name: "file-upload",
        label: {
          text: "Upload CSV file",
          classes: "govuk-label--m"
        }
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "Upload file and continue"
        }) }}

        <a class="govuk-link" href="{{ backLink }}">Cancel</a>
      </div>
    </div>
  </form>
{% endblock %}
