{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "_components/autocomplete/macro.njk"           import appAutocompleteFromInput %}
{% from "_components/autocomplete/macro.njk"           import appAutocompleteFromSelect %}
{% from "_components/badge/macro.njk"                  import appBadge %}
{% from "_components/banner/macro.njk"                 import appBanner %}
{% from "_components/filter/macro.njk"                 import appFilter %}
{% from "_components/footer/macro.njk"                 import appFooter %}
{% from "_components/metric/macro.njk"                 import appMetric %}
{% from "_components/organisation-actions/macro.njk"  import appOrganisationActions %}
{% from "_components/organisation-switcher/macro.njk"  import appOrganisationSwitcher %}
{% from "_components/page-header-actions/macro.njk"    import appPageHeaderActions %}
{% from "_components/pagination/macro.njk"             import appPagination %}
{% from "_components/primary-navigation/macro.njk"     import appPrimaryNavigation %}
{% from "_components/search/macro.njk"                 import appSearch %}
{% from "_components/sub-navigation/macro.njk"         import appSubNavigation %}
{% from "_components/summary-card/macro.njk"           import appSummaryCard %}
{% from "_components/timeline/macro.njk"               import appTimeline %}

{% block pageTitle %}
  {{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    productName: serviceName,
    containerClasses: "govuk-width-container",
    navigationClasses: "govuk-header__navigation--end",
    navigation: [
      {
        href: "/account",
        text: "Your account",
        active: headerNavId == "account"
      },
      {
        href: "/sign-out",
        text: "Sign out"
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.',
    classes: "govuk-width-container" + (" govuk-phase-banner--no-border-bottom" if passport.user.organisations.length == 1 and isRollover == "false" and headerNavId != "account")
  }) }}

  {% if passport.user.organisations.length > 1 or isRollover == "true" %}
    {% set organisationHtml %}
      {{ passport.organisation.name }} {% if isRollover == "true" %}<span class="govuk-hint">– {{ cycleId | getCycleLabel }}</span>{% endif %}
    {% endset %}

    {% if not hideOrganisationSwitcher %}
      {{ appOrganisationActions({
        html: organisationHtml,
        actions: {
          items: [
            {
              text: "Change organisation",
              href: "/organisations/cycles/" + cycleId
            } if passport.user.organisations.length > 1,
            {
              text: "Change recruitment cycle",
              href: "/organisations/" + passport.organisation.id + "/cycles"
            } if isRollover == "true"
          ] | removeEmpty
        },
        classes: "govuk-width-container"
      }) }}
    {% endif %}
  {% endif %}

  {% if not hidePrimaryNavigation %}
    {{ appPrimaryNavigation({
      items: [
        {
          href: baseUrl + "/courses",
          text: "Courses",
          active: primaryNavId == "courses"
        },
        {
          href: baseUrl + "/schools",
          text: "Schools",
          active: primaryNavId == "schools"
        },
        {
          href: baseUrl + "/study-sites",
          text: "Study sites",
          active: primaryNavId == "studySites"
        },
        {
          href: baseUrl + "/users",
          text: "Users",
          active: primaryNavId == "users"
        },
        {
          href: baseUrl + "/training-partners",
          text: "Training partners",
          active: primaryNavId == "trainingPartners"
        } if passport.organisation.isAccreditedBody,
        {
          href: baseUrl + "/accredited-providers",
          text: "Accredited providers",
          active: primaryNavId == "accreditedProviders"
        } if not passport.organisation.isAccreditedBody,
        {
          href: baseUrl + "/details",
          text: "Organisation details",
          active: primaryNavId == "settings"
        },
        {
          href: baseUrl + "/details",
          text: "Change recruitment cycle",
          active: primaryNavId == "settings",
          classes: "app-primary-navigation__item--align-right"
        } if 1 == 0
      ]
    }) }}
  {% endif %}
{% endblock %}

{% block footer %}
  {% include "_includes/footer.njk" %}
{% endblock %}
