{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "govuk/components/back-link/macro.njk"           import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"         import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/cookie-banner/macro.njk"       import govukCookieBanner %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "govuk/components/inset-text/macro.njk"          import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"        import govukPhaseBanner %}
{% from "govuk/components/skip-link/macro.njk"           import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}

{% from "_components/advice/macro.njk"                   import appAdvice %}
{% from "_components/footer/macro.njk"                   import appFooter %}

{% block pageTitle %}
  {{ title + " - " if title }}{{ caption + " - " if caption }}{{ serviceName }} - GOV.UK
{% endblock %}

{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    productName: serviceName,
    containerClasses: "govuk-width-container",
    navigationClasses: "govuk-header__navigation--end",
    navigation: [
      {
        href: "/account",
        text: "Your account",
        active: headerNavId == "account"
      },
      {
        href: "/sign-out",
        text: "Sign out"
      }
    ]
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.',
    classes: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {% block pageNavigation %}
    {{ govukBackLink({
      text: backLinkText or "Back",
      href: backLink
    }) if backLink }}
  {% endblock %}
{% endblock %}

{% block footer %}
  {% include "_includes/footer.njk" %}
{% endblock %}

{% block bodyStart %}

{% endblock %}

{% block bodyEnd %}
  </div>
  {% block scripts %}
    {{ data | log }}
    {{ super() }}
    {% include "_includes/scripts.njk" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
